/* Global Styles */

html, body {
    height: 100%;
}
body { font-family: Helvetica,Arial,sans-serif; color: #555; font-size: 12px; }
input:focus,select:focus,textarea:focus,button:focus {outline: none;}
.vertical_middle{vertical-align: middle !important;}
.CommonTable{margin-top: 20px;}
.CommonTable .tableHeader{padding: 0px !important;}
.CommonTable .tableHeader .tableHeadingTitle{height: 40px; vertical-align: middle; padding: 8px;}
.CommonTable thead tr th{padding: 4px;}
.CommonTable tbody tr td{padding: 0px !important;vertical-align: middle !important;}
.CommonTable .form-control{border-radius: 0px ; border: 0px; background:#f4fafd;}
.CommonTable .inputBorder{border: 1px solid #ddd; border-radius: 3px; height:30px; padding-right: 1px 5px;}
.CommonTable .form-control{font-size: 11px;}
.CommonTable .FieldWidth{width: 60px;}
.border_top{border-top:2px solid #bbb;}
.border_left{border-left:2px solid #eee!important;}
.border_top0{border-top: 0px!important;}

.pageSpinner{width: 100%; height: 100%; z-index:99999; display: none; position: fixed; background: #222; opacity: 0.5; background-image:url("../images/loading-blue.gif"); background-repeat: no-repeat; background-size:50px; background-position: center;}

.table{font-size: 12px;}
input, select, textarea, .form-control{font-size: 12px;}
.paddingtop5{padding-top: 5px !important;}
.paddingtop8{padding-top: 8px !important;}
.paddingtop6{padding-top: 6px !important;}
.paddingtop7{padding-top: 7px !important;}
.paddingtop11{padding-top: 11px !important;}
.paddingtop0{padding-top: 0px !important;}
.paddingtop10{padding-top: 10px !important;}
.padding0{padding: 0px;}
.margin0{margin: 0px;}
.padding5{padding: 5px;}
.padding5r{padding-right:5px;}
.padding5l{padding-left:5px;}
.padding5t{padding-top:5px;}
.padding5lr{padding-left:5px; padding-right: 5px;}
.fontBold{font-weight: bold;}
.margin5tb{margin-top: 5px; margin-bottom: 5px;}
.margin5t{margin-top: 5px; }
.margin4t{margin-top: 4px; }
.margin50r{margin-right: 50px !important;}
.marginnegative4t{margin-top: -4px !important; }
.marginnegative9t{margin-top: -9px !important; }
.margin8t{margin-top: 8px !important; }
.margin5b{margin-bottom: 5px;}
.margin10t{margin-top: 10px;}
.margin5lr{margin-left: 5px; margin-right: 5px;}
.checkboxGroup input[type="checkbox"]{margin:0 5px; float: left;}
.checkboxGroup label{float: left;}
.radioGroup input[type="radio"]{margin:0 5px; float: left;}
.radioGroup label{float: left;}
.rowBackground{background: #eee;}
.red{color:#e21414;}
.white{color:#fff;}
.green{color:#009688;}
.cursor{cursor: pointer;}
.helpIcon{font-size: 14px; color:#fff;}
.backtotop{padding-right  : 15px; color:#fff;}
ul li{list-style: none;}
.popup_innerHeader{background:#eee; padding:7px 10px; margin: 5px 0px;}
.notificationIcons{margin:8px 10px; color:#5bb1dc;}
.notificationIcons > span{cursor: pointer;}
.notificationIcons > span .glyphicon{margin-bottom:4px;}

.loginContainer{width: 40%; left: 30%; border: 1px solid #ddd; padding: 10px 30px; position: absolute; top: 150px; float: left; box-shadow: 0 0 10px #999;}
.PageNavigation{width: 100%; background:#5bb1dc; clear: both; float: left; }
.PageNavigation ul{padding-left: 10px;}
.PageNavigation li{list-style: none; float: left; padding:5px 10px;}
.PageNavigation li a{color: #fff; text-decoration: none;}
.PageNavigation > li{position: relative;}
.PageNavigation li > ul{position: absolute; z-index: 1; margin:2px 0; background: #fff; box-shadow: 0px 0px 1px #888888; display: none; padding:10px; width: 140px;}
.PageNavigation li:hover  ul{display: block; transition: width 2s, height 4s; z-index: 15;}
.PageNavigation li > ul li{clear: both; padding:5px 10px; border-bottom: 1px solid #f5f5f5; width: 100%;}
.PageNavigation li > ul li:last-child{border-bottom: 0px;}
.PageNavigation li > ul li a{color: #555; cursor: pointer;}
.PageNavigation li > ul li a:hover{color: #999;}


.PageformHeader{width: 96%; transition: 0.5s;}

.panel-default{border: 0; margin-bottom: 0px;}
.panel-body{padding: 0;}
.CDHeaderSection{width: 100%; margin-top: 10px;}
.PDFview{background: #adadad; float: left; width: 100%;}
.PDFview > span{width:98%; margin:10px 1%; padding:20px 0; float: left; min-height: 96%; background: #fff;}
.CDHeaderSection .fieldTitle{padding:8px; font-weight: bold;}
.CDHeaderSection .FieldGroup{padding: 5px 0; width: 100%; float: left;}
.innerSectionHeader{background:#5bb1dc; padding:7px 10px; color: #fff; border-radius:2px;}
th.innerSectionHeader{padding: 8px!important; vertical-align: middle!important;}


.CIinformation .infoSection .innerSectionHeader{border-radius: 0px;}
.CIinformation .infoSection .innerSectionRow{ height:40px; width: 100%; padding: 5px 7px; border:1px solid #eee; border-top: 0px; border-left: 0px;}
.CIinformation .infoSection:first-child .innerSectionRow{border-left:1px solid #eee;}

.home3 .CDHeaderSection .FieldGroup{padding: 2px;}
.home3 .CDHeaderSection .fieldTitle{padding: 2px;}


.LoanTermsTable{margin-top:20px; float: left; }
.LoanTermsTable table{ border-bottom: 1px solid #ddd;}
.LoanTermsTable>thead>tr>th{padding:3px;}
.LoanTermsTable .tableHeadingTitle{background: #5bb1dc; font-size: 14px; color: #fff; padding:3px 15px; vertical-align: middle;}
.LoanTermsTable tr > td{border-right: 1px solid #eee;}
.LoanTermsTable tr > td:last-child{border-right: 0px;}

.loanTermsList > li{list-style:disc; width: 100%; clear: both; padding: 5px; }
.ListChain li{list-style:disc; width: 100%; clear: both; padding: 5px; }
.LoanCostsRightTable .table{font-size: 11px;}
.LoanCostsRightTable .table th{padding:0 8px; height: 33px; vertical-align:inherit; text-align: center;}
.LoanCostsRightTable .form-control{font-size: 11px;}
.LoanCostsSection .innerSectionHeader{font-size: 11px; min-width:43px; word-wrap: break-word;}
.LoanCostsSection .innerSectionMainHeader{padding: 5px!important; background:#2280af;}
.LoanCostsSection .FeeInfo{width: 15%;}
.LoanCostsSection .FeePaid{width: 12%;}
.LoanCostsSection .BPatClosing, .LoanCostsSection .BPbeforeClosing, .LoanCostsSection .SPatClosing, .LoanCostsSection .SPbeforeClosing, .LoanCostsSection .PaidByOther{width:11%;}
.LoanCostsSection .PaidByLender{width: 3%;}
.LoanCostsSection .incInApr, .LoanCostsSection .incRegZ{width:6%;}
.LoanCostsSection .DeleteIcons{width: 3%;}
.LoanCostsSection .input-group-addon{padding: 6px;}


.InsuranceSection .innerSectionHeader{max-width: 76px;}

.OtherCostsRightTable .table{font-size: 11px;}
.OtherCostsRightTable .table th{padding:0 8px; height: 33px; vertical-align:inherit; text-align: center;}



.tableQuestion{width: 100%; float: left;}
.tableQuestion span{background:#eee; padding:5px 20px; margin-top: -5px; margin-bottom: -8px; float: left; width:100%;}

.footer{background-color:#555; padding:0px 0px;color:#ffffff; right: 0; width:100%; z-index: 2; position: fixed; bottom: 0px; zoom:;}
.footer footer{padding:3px 10px;}

.openSlidebtn{background: #aaa; width: 100%; cursor: pointer; padding: 5px; position: absolute; left: 0; top:6px;}
.openSlidebtn:hover{background: #eee;}
.SidebarBtns .openSlidebtn.glyphicon{color: #555;}
.SidebarBtns{width:4%; transition: opacity 0.3s; height:100%; text-align: center; float: left; position: fixed; left: 0; top:82px; border-right: 1px solid #ddd; z-index:1; background: #555; padding: 8px 1px 8px 2px; padding-top: 30px;}
.SidebarBtns .pageno{font-weight: bold; width: 100%; float: left; padding: 5px 7px; color: #eee; cursor: pointer; padding-right: 0px;}
.SidebarBtns .pageHead{padding-left: 2px;}
.SidebarBtns .pageno.pageHead .noTitle{width: 100%; padding-top: 2px; color: #e49319;}
.SidebarBtns .pageHead span.glyphicon{color: #e49319; width: 18px; font-size: 11px;}
.SidebarBtns .active, .SidebarBtns .active .glyphicon{color:#0087ff;}
.SidebarBtns .pageno .noTitle{padding-top:8px; font-size:10px; letter-spacing: 1px;}
.SidebarBtns .glyphicon{color: #eee; padding-right:1px;}
.SidebarBtns a{cursor: pointer;}
.SidebarNavHead{width: 100%; float: left; outline: none;}
.SidebarBtnsHead{width: 100%; float: left; outline: none;}
.sidenav #doctype{background-color: #fff; font-weight: bold; padding: 5px 15px; text-align: center;}
.SidebarBtnsHead .tooltip.right{z-index:1; position: fixed;}
.SidebarBtnsHead > #IconsList{width: 75%;}
.iconTooltip{cursor: pointer;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top:82px;
    left: 0;
    background-color:#555;
    overflow: hidden;
    transition: 0.5s;
    padding-top:5px;
}
.sidenav .pagenumber.active{color: #0aacec;}
.sidenav .pagenumber {
    padding: 8px;
    text-decoration: none;
    font-size:14px;
    color: #ccc;
    display: block;
    transition: 0.3s;
    border-bottom:1px solid #666;
    cursor: pointer;
}

.sidenav .pagenumber:hover, .offcanvas .pagenumber:focus{
    color: #0aacec;
}

.sidenav .closebtn {
    position: absolute;
    top:8px;
    right:5px;
    font-size:20px;
    margin-left: 50px;
    border-bottom: 0px;
}
#transparent{position: fixed;width:100%; display: none; height: 100%; transition: 0.5s; background: #000;opacity: 0.5; top:82px; z-index: 1;}
.modal-body .fieldTitle{padding:8px; font-weight: bold;}

#ClosingDisclosureQ .modal-lg{width: 1100px;}
#ClosingDisclosureQ .modal-body{float: left;width: 100%;}
#ClosingDisclosureQ .modal-footer{clear: both; margin-top: 20px;}
#ClosingInformationQ{margin-top: 15px;}
#TransactionInformationQ{margin-top: 15px;}

.modal-footer{clear: both; margin-top:10px;}

.calenderInput{border-right: 0px;}
.calenderBtn{height: 30px; padding: 5px 7px;}
/*.modal-header{padding:5px;}*/
.margin2btb{margin-bottom: 2px;}
.form-control{height:30px;padding:6px 1px 6px 3px;}
.input-group .form-control{z-index: 0;}

.AddSection{float: left; margin: 10px 0; cursor: pointer;}
.required{color:red;}
.tableInsideHeader{background:#f7f7f7; padding: 5px 10px; color:#337ab7; }
.RemoveSection{cursor: pointer;}
#cashtoCloseModal .fieldTitle{padding: 5px 0; border-right:1px solid #5bb1dc; min-height: 35px; font-weight: normal;}
#cashtoCloseModal .fieldValue{padding: 5px 15px;}
#cashtoCloseModal .fieldValue input{height: 25px;}
.finalFooterValues{background: #5bb1dc; padding:5px 15px; color: #fff; font-weight: bold;}

.LabelText{margin-top: 5px;padding:0px; font-weight: bold;}
.LabelValue{margin-bottom: 5px;padding:0px;}
.ValueText{margin-top: 10px;padding:0px; font-weight: bold;}
.ValueValue{margin-bottom: 5px;padding:0px;}
.ausTrash{float: right;margin: -6px -35px 0px 0px;}

#xmlView{position: absolute; z-index: 5; background: #fff; width: 100%; overflow:auto; padding: 20px 50px!important;}
#xmlView .closeXml{float: right; position: absolute; top: 10px; right: 10px; font-size: 16px;}
#xmlView .downloadXML{float: right; position: absolute; top: 10px; right: 35px; font-size: 16px;}
#xmlView #xmlViewerId{width: 75%;}
#xmlView .Element{border-left: 0px;}
#xmlView .Element .Clickable{padding-right: 10px;}

#ucdXmlView{position: absolute; z-index: 5; background: #fff; width: 100%; overflow:auto; padding: 20px 50px!important;}
#ucdXmlView .closeXml{float: right; position: absolute; top: 10px; right: 10px; font-size: 16px;}
#ucdXmlView .downloadXML{float: right; position: absolute; top: 10px; right: 35px; font-size: 16px;}
#ucdXmlView #ucdXmlViewerId{width: 75%;}
#ucdXmlView .Element{border-left: 0px;}
#ucdXmlView .Element .Clickable{padding-right: 10px;}

.IconsList ul{float: left;}
#IconsList.sapling-list .sapling-item{padding-left: 0px;}
#IconsList.sapling-list .sapling-item:before{display: none;}
#IconsList.sapling-list li{padding-left:0px;}
.SidebarBtns #IconsList.sapling-list .pageHead{padding-left: 2px!important;}
.SidebarBtns #IconsList.sapling-list .pageno{padding-left:3px;}
.marginleft0{margin-left: 0px !important;}
.width100{width: 100px !important;}
.width75{width: 75px !important;}
.marginleft20n{margin-left: -20px !important;}
.marginleft100n{margin-left: -100px !important;}
.marginleft45n{margin-left: -45px !important;}
.width58{width: 58px !important;}
.paddingleft2{padding-left: 2px !important;}
