<div class="bodySection col-sm-12 padding0" style="position: relative; ">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn glyphicon glyphicon-chevron-left" onclick="closeNav()"></a>
  <div class="form-group col-sm-12">
                    <select id="doctype" class="form-control">
                        <option value="CD" selected>Closing Disclosure</option>
                        <option value="LE">Loan Estimate</option>
                    </select>
   </div>
  <a href="" class="active">Page 1</a>
  <a href="">Page 2</a>
  <a href="">Page 3</a>
  <a href="">Page 4</a>
</div>
 <div id="transparent"></div>
<div class="SidebarBtns" side-bar-width>
	<div class="glyphicon glyphicon-chevron-right openSlidebtn" onclick="openNav();"></div>
	<span class="pageno" style="font-size:14px;"  data-toggle="tooltip" data-placement="right" title="Closing Disclosure">
		<span class="pull-left" >CD</span>
	</span>
	<span class="pageno active" data-toggle="tooltip" data-placement="right" title="Page1">
		<span class="glyphicon glyphicon-file pull-left"></span> 
		<span class="pull-left noTitle">1</span>
	</span>
	<span class="pageno" data-toggle="tooltip" data-placement="right" title="Page2">
		<span class="glyphicon glyphicon-file pull-left"></span> 
		<span class="pull-left noTitle">2</span>
	</span>
	<span class="pageno" data-toggle="tooltip" data-placement="right" title="Page3">
		<span class="glyphicon glyphicon-file pull-left"></span> 
		<span class="pull-left noTitle">3</span>
	</span>
	<span class="pageno" data-toggle="tooltip" data-placement="right" title="Page4">
		<span class="glyphicon glyphicon-file pull-left"></span> 
		<span class="pull-left noTitle">4</span>
	</span>
</div>
<div class="col-lg-12 PageformHeader padding0" pdf-width>
    
    <div class="panel panel-default">
			<div class="panel-body" dynamic-height style="overflow: auto;">
	            <div class="PDFview Page1">
	            	<span>
			            <div ng-include='"templates/cdClosingInfoTable.html"'></div>
			            <div ng-include='"templates/cdLoanTermsTable.html"'></div>
			            <div ng-include='"templates/cdProjectedPayments.html"'></div>
			            <div ng-include='"templates/cdCostsatClosing.html"'></div>
	           	 	</span>
	            </div>
              <div class="PDFview Page2">
                <span>
                  <div ng-include='"templates/cdLoanCosts.html"'></div>
                  <div ng-include='"templates/cdOtherCosts.html"'></div>
                </span>
              </div>
		    </div>
	    </div>

</div>
<div id="carousel" style="display: none;">
            <object data="CD_6830011016.pdf" type="application/pdf" data-caption="original"></object>
</div>
</div>
<div class="modal fade" id="BorrowerTransaction" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Borrower</h4>
        </div>
        <div class="modal-body">
              <div class="row margin5tb">
                  <div class=" col-sm-12">
                  <div class="col-sm-5 fieldTitle">Borrower Name</div>
                  <div class="col-sm-7 padding0">
                    <div class="col-sm-6">
                      <input type="text" placeholder="First Name" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.borrowerDisplayName" class="form-control">
                    </div>
                    <div class="col-sm-6">
                      <input type="text"  class="form-control"  placeholder="Middle Name">
                    </div>
                    <div class="col-sm-6 margin5tb">
                      <input type="text"  class="form-control"  placeholder="Last Name">
                    </div>
                    
                  </div>
                </div>
              </div>
          		<div class="row margin5tb">
          			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Borrower Address Street</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.addressLineText" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Borrower Address City</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.cityName" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Borrower Address State</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.stateCode" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Borrower Address Zip</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.postalCode" class="form-control"></div>
	        		</div>
        		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Property</h4>
        </div>
        <div class="modal-body">
          		<div class="row margin5tb">
          			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Property Address Street</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.closingInformation.property.addressLineText" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Property Address City</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.closingInformation.property.cityName" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Property Address State</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.closingInformation.property.stateCode" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Property Address Zip</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.closingInformation.property.postalCode" class="form-control"></div>
	        		</div>
        		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="SellerTransaction" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Property</h4>
        </div>
        <div class="modal-body">
              <div class="row margin5tb">
                  <div class=" col-sm-12">
                  <div class="col-sm-5 fieldTitle">Seller Name</div>
                  <div class="col-sm-7 padding0">
                    <div class="col-sm-6">
                      <input type="text" placeholder="First Name" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.sellerDisplayName" class="form-control">
                    </div>
                    <div class="col-sm-6">
                      <input type="text"  class="form-control"  placeholder="Middle Name">
                    </div>
                    <div class="col-sm-6 margin5tb">
                      <input type="text"  class="form-control"  placeholder="Last Name">
                    </div>
                    
                  </div>
                </div>
              </div>
          		<div class="row margin5tb">
          			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Seller Address Street</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.sellerAddress.addressLineText" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Seller Address City</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.sellerAddress.cityName" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Seller Address State</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.sellerAddress.stateCode" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Seller Address Zip</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.sellerAddress.postalCode" class="form-control"></div>
	        		</div>
        		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="LenderTransaction" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Property</h4>
        </div>
        <div class="modal-body">
              <div class="row margin5tb">
                  <div class=" col-sm-12">
                  <div class="col-sm-5 fieldTitle">Lender Name</div>
                  <div class="col-sm-7 padding0">
                    <div class="col-sm-6">
                      <input type="text" placeholder="First Name" ng-model="transformData.pageOne.transactionInformation.borrowerAddress.lenderDisplayName" class="form-control">
                    </div>
                    <div class="col-sm-6">
                      <input type="text"  class="form-control"  placeholder="Middle Name">
                    </div>
                    <div class="col-sm-6 margin5tb">
                      <input type="text"  class="form-control"  placeholder="Last Name">
                    </div>
                    
                  </div>
                </div>
              </div>
          		<div class="row margin5tb">
          			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Lender Address Street</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.lenderAddress.addressLineText" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Lender Address City</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.lenderAddress.cityName" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Lender Address State</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.lenderAddress.stateCode" class="form-control"></div>
	        		</div>
        		</div>
        		<div class="row margin5tb">
        			<div class=" col-sm-12">
	        			<div class="col-sm-5 fieldTitle">Lender Address Zip</div>
	        			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.transactionInformation.lenderAddress.postalCode" class="form-control"></div>
	        		</div>
        		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="ClosingDisclosureQ" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content" ng-include='"templates/closingDisclosureWizard.html"'>
        
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="PurposeType" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purpose Type</h4>
        </div>
        <div class="modal-body">
              <div class="row margin5tb" style="margin-bottom: 10px;">
                <div class=" col-sm-12">
                    <div class="col-sm-6  radioGroup"> <input type="radio" name="type" checked> <strong> Closing Disclosure</strong></div>
                    <div class="col-sm-6  radioGroup"> <input type="radio"  name="type"> <strong> Loan Estimate </strong></div>
                </div>

            </div>
             
            <div class="row margin5tb">
              <div class=" col-sm-12">
                <div class="col-sm-9">
                    <select class="form-control">
                      <option>Purchase</option>
                      <option>Refinance</option>
                      <option>HomeEquity</option>
                    </select>
                  </div>
              </div>
            </div>
            
            
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="loadfile" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">File Format</h4>
        </div>
        <div class="modal-body">
               <p>Please select correct file format (Accepts only XML Format)</p>
           </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

  <script type="text/javascript">
  $(document).ready(function(){
	    $(".pageno").tooltip();   
	});


  function pdfViewer() {
            $("#carousel").pdfSlider();
        }

  </script>