<div class="bodySection col-sm-12 padding0" style="position: relative; ">
  
   <div id="transparent"></div>
  
</div>

  
<div class="modal fade" id="SelectTransaction" role="dialog"  data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
       <div class="modal-header">
          <h4 class="modal-title">Select transaction</h4>
        </div>
        <div class="modal-body">
               <div class="row margin5tb" style="margin-bottom: 10px;">
                <div class=" col-sm-12">
                  <div class="col-sm-12  radioGroup margin5tb"> <input type="radio" name="transaction" checked="checked"> <strong>Start New Transaction</strong></div>
                  <div class="col-sm-12  radioGroup  margin5tb"> <input type="radio"  name="transaction"> <strong>Open Existing Transaction</strong></div>
                  <div class="col-sm-12  radioGroup  margin5tb"> <input type="radio"  name="transaction"> <strong>Upload File</strong></div>
                  <div class="col-sm-12  radioGroup  margin5tb"> <input type="radio"  name="transaction"> <strong>Upload Closing Disclosure PDF</strong></div>
                  <div class="col-sm-12  radioGroup  margin5tb"> <input type="radio"  name="transaction"> <strong>Search Transactions</strong></div>
                </div>
              </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  data-dismiss="modal" data-toggle="modal" data-target="#ChooseFormType">OK</button>          
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='login.html'">Log Out</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="ChooseFormType" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
       <div class="modal-header">
          <h4 class="modal-title">Choose Form type and Loan purpose Type</h4>
        </div>
        <div class="modal-body">
               <div class="row margin5tb" style="margin-bottom: 10px;">
                <div class=" col-sm-12">
                  <div class="col-sm-12 popup_innerHeader"><strong>Choose one radio button for the Loan Purpose for the transaction</strong></div>
                  <div class="col-sm-6  radioGroup margin5tb"> <input type="radio" name="purpose" checked> <strong>Purchase</strong></div>
                  <div class="col-sm-6  radioGroup  margin5tb"> <input type="radio"  name="purpose"> <strong>Refinance</strong></div>
                </div>
                <div class=" col-sm-12">
                  <div class="col-sm-12 popup_innerHeader"><strong>Choose one radio button for the Document Type</strong></div>
                  <div class="col-sm-6  radioGroup margin5tb"> <input type="radio" name="Document"> <strong>Loan Estimate</strong></div>
                  <div class="col-sm-6  radioGroup  margin5tb"> <input type="radio"  name="Document" checked> <strong>Closing Disclosure</strong></div>
                </div>
                <div class=" col-sm-12">
                  <div class="col-sm-12 popup_innerHeader"><strong>Choose one radio button for the Form</strong></div>
                  <div class="col-sm-4  radioGroup margin5tb"> <input type="radio" name="Form" checked> <strong>Standard</strong></div>
                  <div class="col-sm-4  radioGroup  margin5tb"> <input type="radio"  name="Form"> <strong>Alternate</strong></div>
                  <div class="col-sm-4  radioGroup  margin5tb"> <input type="radio"  name="Form"> <strong>Seller Only</strong></div>
                </div>
              </div>

</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"  onclick="window.location.href='index.html'">OK</button>          
          <button type="button" class="btn btn-default">Clear</button>
        </div>
      </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function(){
        $('#SelectTransaction').modal('show');
    });
</script>
 

  