<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 00:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
	<link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='css/actualize.css'>
  <link href="css/pdf_viewer.css" rel="stylesheet"/>
  <link href="css/pdfSlider.css" rel="stylesheet">
  <link href="css/treeView.css" rel="stylesheet">
  <link href="css/XMLDisplay.css" rel="stylesheet">
  <link href="css/jquery.custom-scrollbar.css" rel="stylesheet">
	<script src="js/externalLib/jQuery/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="js/externalLib/angular/angular.js"></script>
	<script src="js/externalLib/angular/angular-route.js"></script>
  <script src="js/externalLib/angular/angular-sanitize.min.js"></script>
	<script src="js/externalLib/bootstrap/bootstrap.min.js"></script>
  <script src="js/externalLib/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="js/externalLib/vkbeautify.0.9.beta.js"></script>
  <script src="js/externalLib/treeView/jquery.sapling.js"></script>
  <script src="js/externalLib/slider/jquery.custom-scrollbar.js"></script>
  <script src="js/externalLib/xmlviewer/XMLDisplay.js"></script>
  <script src="js/externalLib/angular/xml2json.js"></script>
  
  
  <script>document.write("<script type='text/javascript' src='js/app.js?v=" + new Date().getTime() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/common/directive.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/staticData/staticData.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/FileSaver.js?v=" + Date.now() + "'><\/script>");</script>
    <!-- Services -->
  <script>document.write("<script type='text/javascript' src='js/services/apiService.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/services/closingdisclosure/cdServices.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/services/loanestimate/leServices.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/services/loginService.js?v=" + Date.now() + "'><\/script>");</script>

    <!-- Controllers -->
  <script>document.write("<script type='text/javascript' src='js/controllers/homeController.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/controllers/closingdisclosure/cdcontroller.js?v=" + Date.now() + "'><\/script>");</script>
  <script>document.write("<script type='text/javascript' src='js/controllers/loanestimate/leController.js?v=" + Date.now() + "'><\/script>");</script>

   <!-- Pdf scripts -->
  <script type="text/javascript">
      var isIE = '-ms-scroll-limit' in document.documentElement.style && '-ms-ime-align' in document.documentElement.style;
      if (isIE == true){
         document.write("<script type='text/javascript' src='js/externalLib/pdfViewer/pdf.js'><\/script>");
         document.write("<script type='text/javascript' src='js/externalLib/pdfViewer/pdf_viewer.js'><\/script>");
      } else {
          document.write("<script type='text/javascript' src='js/externalLib/pdfViewer/pdfSlider.js'><\/script>");
      }

      function openNav() {
          $("#mySidenav").width("15%");
          $(".SidebarBtns").hide();
          $(".PageformHeader").css("left","15%");
          $(".PageformHeader").width("85%");
      }

      function closeNav() {
          $("#mySidenav").width("0");
          $(".SidebarBtns").show();
          $(".PageformHeader").width("96%");
          $(".PageformHeader").css("left","4%");
      }
  </script>
</head>
<body ng-app="actualizeWebApp" key-capture>
  <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;">
      <div style="z-index:2;" header-width data-ng-controller="menuCtrl">
          <div ng-include='"templates/header.html"'></div>
      </div>
      <div style="top:80px; clear:both;">
          <div ng-view></div>
      </div>
          <div class="footer" ng-include='"templates/footer.html"'></div>
  </div>
  <div class="pageSpinner" id="spinner"></div>

  <!-- File menu popup-->
  <div class="modal fade" id="ChooseFormType" role="dialog" data-keyboard="false" data-backdrop="static" data-ng-controller="fileMenuCtrl">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Choose Form type and Loan purpose Type</h4>
        </div>
        <div class="modal-body">
          <div class="row margin5tb" style="margin-bottom: 10px;">
            <div class=" col-sm-12" ng-show="transactionType == 'new'">
              <div class="col-sm-12 popup_innerHeader">
                <strong>Choose one radio button for the Loan Purpose for the transaction</strong>
              </div>
              <div class="col-sm-6  radioGroup margin5tb">
                <input type="radio" name="purpose" ng-model="purposeType" value="purchase" ng-change="purposeTypeChange()">
                <strong>Purchase</strong>
              </div>
              <div class="col-sm-6  radioGroup  margin5tb">
                <input type="radio"  name="purpose" ng-model="purposeType" value="refinance" ng-change="purposeTypeChange()">
                <strong>Refinance</strong>
              </div>
            </div>
            <div class=" col-sm-12">
              <div class="col-sm-12 popup_innerHeader">
                <strong>Choose one radio button for the Document Type</strong>
              </div>
              <div class="col-sm-6  radioGroup margin5tb">
                <input type="radio" name="Document" ng-model="documentType" value="loanestimate">
                <strong>Loan Estimate</strong>
              </div>
              <div class="col-sm-6  radioGroup  margin5tb">
                <input type="radio"  name="Document" ng-model="documentType" value="closingdisclosure">
                <strong>Closing Disclosure</strong>
              </div>
            </div>
            <div class=" col-sm-12" ng-show="transactionType == 'new'">
              <div class="col-sm-12 popup_innerHeader">
                <strong>Choose one radio button for the Form</strong>
              </div>
              <div class="col-sm-6  radioGroup margin5tb">
                <input type="radio" name="Form" ng-model="formType" value="standard">
                <strong>Standard</strong>
              </div>
              <div class="col-sm-6  radioGroup  margin5tb">
                <input type="radio"  name="Form" ng-model="formType" value="alternate" ng-disabled="transactionType == 'new' && purposeType == 'purchase'">
                <strong>Alternate</strong>
              </div>
              <!-- <div class="col-sm-4  radioGroup  margin5tb">
                <input type="radio"  name="Form" ng-model="formType" value="selleronly">
                <strong>Seller Only</strong>
              </div> -->
            </div>
            <div class=" col-sm-12" ng-show="transactionType != 'new'">
              <div class="col-sm-12 popup_innerHeader">
                <strong>Choose file</strong>
              </div>
              <div class="col-sm-8  radioGroup margin5tb">
                <input type="file" name="uploadfile" id="uploadfile" accept=".xml,.txt" file-model="uploadfile">
              </div>
              <div class="col-sm-8  radioGroup margin5tb" ng-show="fileerror">
                <label style="color: red;">{{fileerror}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="modal fade" id="ChooseEmbeddedPDF" role="dialog" data-keyboard="false" data-backdrop="static" data-ng-controller="viewMenuCtrl">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{xmlTitle}}</h4>
        </div>
        <div class="modal-body">
           <div class="col-sm-12 row margin5tb">
              <div class="col-sm-8">Do you want embedded PDF </div>
              <div class="col-sm-4">
                <select class="form-control" ng-model="embeddedPDF" ng-options="option.id as option.name for option in dropDownBooleanOptions">
                </select>
              </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="generateXMLPDF(xmlTitle)">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>