<div class="col-sm-12">
	<h4>Adjustable Payment (AP) Table </h4>
	<span  class="col-sm-12 padding0">
        <table class="table table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <td class="col-sm-3">
		        	Interest Only Payments?
		        </td>
		        <td class="col-sm-1 text-center">
		        	<label>Yes</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> 
		        			<span class="pull-left margin5tb">For your first</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb">Payments</span>
		        	 </span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Optional Payments?
		        </td>
		        <td class=" text-center">
		        	<label>No</label>
		        </td>
		        <td>
		        	
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Step Payments?
		        </td>
		        <td class=" text-center">
		        	<label>No</label>
		        </td>
		        <td>
		        	
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Seasonal Payments
		        </td>
		        <td class=" text-center">
		        	<label>Yes</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> 
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb"> to</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb">each year</span>
		        	 </span>
		        </td>
		      </tr>
		       <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong> Monthly Principal and Interest Payments</strong>
		        </td>
		       </tr>
		      <tr>
		        <td colspan="2">
		        	First Change / Amount  
		        </td>
		        <td>
		        	<span class="col-sm-12"> 
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb">payment</span>
		        	 </span>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Subsequent Changes  
		        </td>
		        <td>
		        	<span class="col-sm-12">No Subsequent Changes</span>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Maximum Payment   
		        </td>
		        <td>
		        	<span class="col-sm-12"> 
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			<span class="pull-left margin5tb">payment</span>
		        	 </span>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('EscrowAccount')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('AirTable')">Next</a></span>
	</div>	
</div>
