<div class="col-sm-12">
	<h4>Escrow Account</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanDisclosures table-bordered margin5tb"  style="border:0px;">
        	  <tr>
		        <th class="innerSectionHeader col-sm-3">Escrow Account:</th>
		        <th class="innerSectionHeader col-sm-3">
		        	<span class="pull-left margin5lr"><input type="radio" name=""></span> 
		        	<span class="pull-left margin5tb">Is Present in Transaction</span>
		        </th>
		        <th class="innerSectionHeader">
		        	<span class="pull-left margin5lr"><input type="radio" name=""></span> 
		        	<span class="pull-left margin5tb">NO Escrow Account In Transaction</span>
		        </th>
		      </tr>
		      <tr>
		        <td>
		        	Escrowed Property Costs over Year 1
		        </td>
		        <td>
		        	<label>$0</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> Escrowed Property Costs includes </span>
		        	<a class="col-sm-12">list out all items in the Section G that are included in Escrows </a>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Non-Escrowed Property Costs over Year 1
		        </td>
		        <td>
		        	<input type="text" class="form-control" name="">
		        </td>
		        <td>
		        	<span class="col-sm-12"> Non Escrowed Property Costs Includes </span>
		        	<a class="col-sm-12">list out all items with the Not Escrowed Indicator from ETIA </a>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Initial Escrow Payment  
		        </td>
		        <td>
		        	<label>$0</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> A cushion for the escrow account see </span>
		        	<a class="col-sm-12">Section G. Initial Escrow At Closing </a>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Monthly Escrow Payment  
		        </td>
		        <td>
		        	<label>$0</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> The amount included in your total monthly payment, see </span>
		        	<a class="col-sm-12">Projected Payments  </a>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Identify the reason for No Escrow Account 
		        </td>
		        <td colspan="2">
		        	<span class="col-sm-12">
		        			<span class="pull-left"><input type="checkbox" name=""></span>
		        			<span class="col-sm-11 pull-left margin5tb">
		        				The Borrower Declined to escrow property costs
		        			</span>
		        	</span>
		        	<span class="col-sm-12">
		        			<span class="pull-left"><input type="checkbox" name=""></span>
		        			<span class="col-sm-11 pull-left margin5tb">
		        				The Lender does not offer Escrow Account
		        			</span>
		        	</span>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('LoanDisclosures')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('ApTable')">Next</a></span>
	</div>	
</div>
