<div class="col-sm-12">
	<h4>Adjustable Interest Rate (AIR) Table</h4>
	<span  class="col-sm-12 padding0">
        <table class="table table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <td class="col-sm-3">
		        	Index + Margin
		        </td>
		        <td>
		        	<span class="col-sm-12 margin5tb"> 
		        			<span class="pull-left col-sm-2">
		        				<select class="form-control"><option>LIBOR</option></select>
		        			</span>
		        			<span class="pull-left margin5tb">+</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name=""></span>
		        			
		        	 </span>
		        	 <span class="col-sm-12 margin5tb">
		        	 		<span class="pull-left margin5tb">Index Description:</span>
		        	 		<span class="pull-left col-sm-2"><input type="text" class="form-control" value="My Index For Pricing" name=""></span>
		        	 </span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Initial Interest Rate
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">3.257%</span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Minimum / Maximum Interest Rate
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">3.257%</span>
		        	<span class="pull-left margin5lr"> Floor Rate </span>
		        	<span class="pull-left margin5lr"> 4.258%</span>
		        	<span class="pull-left margin5lr">Life Time Cap Rate</span>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong> Change Frequency</strong>
		        </td>
		       </tr>
		      <tr>
		        <td>
		        	First Change
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">Beginning of </span>
		        	<span class="pull-left margin5lr"> 13 </span>
		        	<span class="pull-left margin5lr"> months </span>
		        </td>
		      </tr>
		       <tr>
		        <td>
		        	Subsequent Change 
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">Every </span>
		        	<span class="pull-left margin5lr"> 36 </span>
		        	<span class="pull-left margin5lr">   months after first change  </span>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong>Limits on Interest Rate Changes</strong>
		        </td>
		       </tr>

		      <tr>
		        <td>
		        	First Change
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">2.000% </span>
		        </td>
		      </tr>
		       <tr>
		        <td>
		        	Subsequent Change 
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">2.000% </span>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12">
			<br></br>
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('ApTable')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanCals')">Next</a></span>
	</div>	
</div>
