<div class="col-sm-12">
	<h4>Adjustable Payment (AP) Table </h4>
	<span  class="col-sm-12 padding0">
        <table class="table table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <td class="col-sm-3">
		        	<label>Interest Only Payments?</label>
		        </td>
		        <td class="col-sm-1 text-center">
		        	<label>{{cdformdata.loanDetail.interestOnlyIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
                  <ul class="loanTermsList" ng-show="cdformdata.loanDetail.interestOnlyIndicator">
		        	<li>
		        		<span class="pull-left margin5tb">For your first</span>
		        		<span class="pull-left col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="cdformdata.interestOnly.interestOnlyTermMonthsCount" ng-disabled="true">
		        		</span>
		        		<span class="pull-left margin5tb">Payments</span>
		        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Optional Payments?</label>
		        </td>
		        <td class=" text-center">
		        	<label>{{cdformdata.payment.paymentRule.paymentOptionIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
		            <ul class="loanTermsList" ng-show="cdformdata.payment.paymentRule.paymentOptionIndicator">
		        		<li>    
		           			<span class="pull-left margin5tb">For your first</span>
	        				<span class="pull-left col-sm-2">
	        					<input type="text" class="form-control" name="" ng-model="cdformdata.payment.paymentRule.totalOptionalPaymentCount" ng-disabled="true">
	        				</span>
	        				<span class="pull-left margin5tb">Payments</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Step Payments?</label>
		        </td>
		        <td class=" text-center">
		            <span>
		        		<label>{{stepPaymentIndicator ? 'Yes' : 'No'}}</label>
		        	</span>
		        </td>
		        <td>
					<ul class="loanTermsList" ng-show="stepPaymentIndicator">
			        	<li>
			        		<span class="pull-left margin5tb">For your first</span>
			        		<span class="pull-left col-sm-2">
			        			<input type="text" class="form-control" name="" ng-model="cdformdata.payment.paymentRule.totalStepPaymentCount" ng-disabled="true">
			        		</span>
			        		<span class="pull-left margin5tb">Payments</span>
			        	</li>
		        	</ul>

		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Seasonal Payments</label>
		        </td>
		        <td class=" text-center">
		        	<label>{{cdformdata.loanDetail.seasonalPaymentFeatureIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.seasonalPaymentFeatureIndicator">
			        	<li> 
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="cdformdata.payment.paymentRule.seasonalPaymentPeriodStartMonth" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb"> to</span>
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="cdformdata.payment.paymentRule.seasonalPaymentPeriodEndMonth" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb">each year</span>
			        	</li>
		        	</ul>
		        </td>
		      </tr>
		       <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong> Monthly Principal and Interest Payments</strong>
		        </td>
		       </tr>
		      <tr>
		        <td colspan="2">
		        	First Change / Amount  
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-switch="cdformdata.loanInformation.amortizationType">
			        	<li ng-if="cdformdata.loanDetail.interestOnlyIndicator && cdformdata.loanInformation.amortizationType=='Fixed'">
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        				</div>
		        			</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{cdformdata.interestOnly.interestOnlyTermMonthsCount ? (cdformdata.interestOnly.interestOnlyTermMonthsCount -0) + 1 : '' }}" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb">payment</span>
			        	</li>
			        	<li ng-if="cdformdata.loanDetail.interestOnlyIndicator && cdformdata.loanInformation.amortizationType!='Fixed'"> 
			        		<span class="pull-left col-sm-2">
			        			<div class="input-group">
									<span class="input-group-addon input-default">$</span>
			        				<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPerChangeMinimumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
			        			</div>
			        		</span>
			        		<span class="pull-left margin5tb"> - </span>			        			
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        				</div>
		        			</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount" ng-disabled="true"></span>
		        			<span class="pull-left margin5tb">payment</span>
			        	</li>
			        	<li ng-if="!cdformdata.loanDetail.interestOnlyIndicator"> 
			        		<span class="pull-left col-sm-3">
			        			<div class="input-group">
									<span class="input-group-addon input-default">$</span>
			        				<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
			        			</div>
			        		</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount" ng-disabled="true"></span>
		        			<span class="pull-left margin5tb">payment</span>
			        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Subsequent Changes  
		        </td>
		        <td>
		            <ul class="loanTermsList">
		        	<li>
		        	<span class="col-sm-12" ng-show="!cdformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount">No Subsequent Changes</span>

		        	<span class="col-sm-12" ng-show="cdformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount">
		        	    <span class="pull-left margin5tb">Every</span>
		        		<span class="pull-left col-sm-2">
		        			<input type="text" class="form-control" name="" value="{{cdformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount/12 | round}}" ng-disabled="true">
		        		</span>
		        		<span class="pull-left margin5tb">Years</span>
		        	</span>
		        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Maximum Payment   
		        </td>
		        <td>
		            <ul class="loanTermsList">
		        	<li ng-if="cdformdata.loanDetail.interestOnlyIndicator && cdformdata.loanInformation.amortizationType=='Fixed'">
	        			<span class="pull-left col-sm-2">
	        				<div class="input-group">
								<span class="input-group-addon input-default">$</span>
	        					<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
	        				</div>
	        			</span>
	        			<span class="pull-left margin5tb"> at the</span>
	        			<span class="pull-left col-sm-2">
	        					<input type="text" class="form-control" name="" value="{{cdformdata.interestOnly.interestOnlyTermMonthsCount ? (cdformdata.interestOnly.interestOnlyTermMonthsCount -0) + 1 : '' }}" ng-disabled="true">
	        				</span>
	        			<span class="pull-left margin5tb">payment</span>
		        	 </li>
		        	 <li ng-if="!cdformdata.loanDetail.interestOnlyIndicator || cdformdata.loanInformation.amortizationType!='Fixed'">
	        			<span class="pull-left col-sm-2">
	        				<div class="input-group">
								<span class="input-group-addon input-default">$</span>
	        					<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmount" decimal-digits-with-number-format>
	        				</div>
       					</span>
	        			<span class="pull-left margin5tb"> at the</span>
	        			<span class="pull-left col-sm-2">
	        				<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveMonthsCount"></span>
	        			<span class="pull-left margin5tb">payment</span>
		        	 </li>
		        	 </ul>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left">
			<a class="btn btn-default" ng-show="cdformdata.loanDetail.interestRateIncreaseIndicator==true" ng-click="changeTab('AirTable')">Back</a>
			<a class="btn btn-default" ng-show="cdformdata.loanDetail.interestRateIncreaseIndicator==false" ng-click="changeTab('LoanDisclosures')">Back</a>
			</span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanCals')">Next</a></span>
	</div>	
</div>
