<div class="col-sm-12">
	<h4>Calculating Cash to Close</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-2" style="height:30px;"></th>
		        <th class="innerSectionHeader">Loan Estimate</th>
		        <th class="innerSectionHeader">Final Amount</th>
		        <th class="innerSectionHeader">Did This Change?</th>
		        <th class="innerSectionHeader col-sm-5">Change Reason
		        	<button class="pull-right btn btn-warning" data-toggle="modal" data-target="#cashtoCloseModal">Cash to Close Calculator</button>
		        </th>   
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Loan Amount
		        </td>
		        <td>
		        	<div class="input-group">
							<span class="input-group-addon input-default">$</span>
				        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
				    </div>
				        </td>
		        <td>
		        	${{cdformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>This amount (increased or decreased), ensure the word increased or decreased </li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType != 'alternate'">
		        <td>
		        	Total Closing Costs (J)
		        </td>
		        <td>
		        	<div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See Total Loan Costs (D) And Total Other Costs (I)</li>
		        		<li>Increase exceeds legal limits by </li>
		        		<li>See Lender credits  on page 2 for credit of excess amount.</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Total Closing Costs (J)
		        </td>
		        <td>
		        	<div class="input-group">
					<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See Total Loan Costs (D) And Total Other Costs (I)</li>
		        		<li>Increase exceeds legal limits by </li>
		        		<li>See Lender credits  on page 2 for credit of excess amount.</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Closing Costs Paid Before Closing
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemFinalAmount | number:2 }}
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show=" cdformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>You paid these closing costs before closing</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Closing Costs Financed (Paid from your Loan Amount)
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
			        </div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
                    <ul class="ListChain" ng-show="cdformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>You included these closing costs in the loan amount, which you (increased or decreased) the loan amount</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        <td>
		        	Down Payment /  Funds from Borrower
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemAmountChangedIndicator == true ">
		        		<li>You (increased or decreased) this payment. See Details in Section K.</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Deposit
		        </td>
		        <td>
		        <div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>You (increased or decreased) this payment. See Details in Section L</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Funds For Borrower
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemFinalAmount" negative-digits>
		        	</div>
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>Your available funds from the loan amount have (increased or decreased)</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Seller Credit
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        </div>
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See Seller Credits in Section L</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Adjustments and Other Credits
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        </div>	
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        </div>	
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See Details in Section K and L</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Total Payments and Payoffs (K)
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        </div>	
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemFinalAmount" negative-digits>
		        </div>
		        </td>
		        <td>
		        	{{true == cdformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="cdformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See requirements to the left for al specified bullet verbiage.</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<strong>Cash To Close</strong>
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}
		        </td>
		        <td>
		        	${{cdformdata.cashToCloses.cashToCloseTotal[1].integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td colspan="2">
		        	<span ng-show="loanBasicInfo.loanFormType == 'alternate'">Closing Costs Financed (Paid from your Loan Amount)
			        	<span class="col-sm-5 pull-right">
			        		<div class="input-group">
								<span class="input-group-addon input-default">$</span>
					        	<input type="text" class="form-control" name="" ng-model="cdformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
					        </div>
					    </span>
		        	</span>
		        </td>
		      </tr>
		</table>
			
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('TotalClosingCosts')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('SummariesofTransaction_K')">Next</a></span>
	</div>
</div>

<div class="modal fade" id="cashtoCloseModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title col-sm-6">Cash to Close Calculator- {{FormType}} {{LoanType}}</h4>
        <h4 class="modal-title col-sm-5">Results</h4>
      </div>

      <div class="modal-body">
           <div class="margin5tb padding0 col-sm-6" >
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Total Closing Costs (J)</div>
                <div class="col-sm-6 fieldValue">${{cdformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Loan Amount</div>
                <div class="col-sm-6 fieldValue">
                   ${{cdformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
                </div>
              </div>
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Closing Costs Paid Before Closing</div>
                <div class="col-sm-6 fieldValue">${{cdformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              <!-- <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Loan Amount includes any assumed or taken subject to</div>
                <div class="col-sm-6 fieldValue">$0</div>
              </div> -->
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Sales Price</div>
                <div class="col-sm-6">
                    <div class="input-group" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="cdformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format>
                    </div>
                     <div class="input-group" ng-show="loanBasicInfo.loanPurposeType == 'refinance'">
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="cdformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format disabled>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard' && loanBasicInfo.loanPurposeType == 'refinance'">
                <div class="col-sm-6 fieldTitle">Payoffs and Payments</div>
                <div class="col-sm-6">
                    <div class="input-group" >
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="payoffsAndPaymentsTotalAmount" decimal-digits-with-number-format>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Deposit</div>
                <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon input-default" style="color: red;">$ -</span>
                          <input type="text" class="form-control padding0" name="" ng-model="cdformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemFinalAmount" negative-digits>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Seller Credits</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon input-default" style="color: red;">$ -</span>
                    <input type="text" class="form-control" name="" ng-model="cdformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemFinalAmount" negative-digits>
                  </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Total Payoffs and Payments</div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <span class="input-group-addon input-default" style="color: red;">$ -</span>
                  <input type="text" class="form-control" name="" ng-model="cdformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemFinalAmount" negative-digits>
                  </div>
                </div>
              </div>
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Adjustments and Other Credits</div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <span class="input-group-addon input-default">$</span>
                  <input type="text" class="form-control" name="" ng-model="cdformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
                  </div>
                </div>
              </div>
      	</div>
      	<div class="col-sm-6 margin5tb">
      		<table class="table table-bordered table-striped">
      			<tr>
      				<th class="innerSectionHeader">Results CCC table</th>
      				<th class="innerSectionHeader">Amount</th>
      			</tr>
      			<tr>
      				<td>Closing Costs Paid Before Closing</td>
      				<td>-$0.00</td>
      			</tr>
      			<tr>
      				<td>Closing Costs Financed (Paid from your Loan Amount)</td>
      				<td>-$0.00</td>
      			</tr>
      			<tr>
      				<td>Down Payment/Funds from Borrower</td>
      				<td>$35,652.00</td>
      			</tr>
      			<tr>
      				<td>Deposit</td>
      				<td>-$1500.00</td>
      			</tr>
      			<tr>
      				<td>Funds for Borrower</td>
      				<td>$0.00</td>
      			</tr>
      			<tr>
      				<td>Seller Credits</td>
      				<td>-$3,500.00</td>
      			</tr>
      			<tr>
      				<td>Adjustments and Other Credits</td>
      				<td>$0.00</td>
      			</tr>
      			<tr>
      				<td>Cash to Close</td>
      				<td>-$0,000.00</td>
      			</tr>
      		</table>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="calculateCash()">Calculate Cash to Close</button>
        <button type="button" class="btn btn-default" ng-click="clearCalculations()">Clear Editable Values</button>
      </div>
    </div>
  </div>
</div>
</div>
