<div class="col-sm-12">
	<input type="file" name="ucdXml" id="UCDXMLFILE" ng-hide="true" onchange="angular.element(this).scope().fileNameChanged(this);this.value=null; return false;" accept=".xml">
	<input type="file" name="trid_import_text" id="trid_import_text" ng-hide="true" onchange="angular.element(this).scope().importTextFile(this);this.value=null; return false;" accept=".txt">
	<h4>Closing Information</h4>
	<div class="col-sm-6">
		<h5 class="innerSectionHeader">General Closing Information</h5>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Date Issued</div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0"><input type="text" name="dateIssued" id="dateIssued" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageOne.closingInformation.dateIssued" is-open="isDateIssued" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date Issued" disabled />
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued = !isDateIssued"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Closing Date</div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0">
				<input type="text" name="closingDate" id="closingDate" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageOne.closingInformation.closingDate" is-open="isClosingDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Closing Date" disabled/>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isClosingDate = !isClosingDate"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Disbursement Date</div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0">
				<input type="text" name="disbursementDate" id="disbursementDate" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageOne.closingInformation.disbursementDate" is-open="isDisbursementDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Disbursement Date" disabled/>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDisbursementDate = !isDisbursementDate"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Settlement Agent</div>
			<div class="col-sm-7">
				
					<input type="text" ng-model="transformData.pageOne.closingInformation.settlementAgent" class="form-control">
				
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">File #</div>
			<div class="col-sm-7"><input type="text" ng-model="transformData.pageOne.closingInformation.fileNo" class="form-control"></div>
		</div>
	</div>

		<div class="col-sm-6">
				<h5 class="innerSectionHeader">Property Information</h5>
				 <div class="row">
				 	 <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Choose One</div>
		              	<div class="col-sm-7 radioGroup">
		              		<span class="col-sm-6 padding0"><input type="radio" name="property" checked>Street Address</span>
		              		<span class="col-sm-6 padding0"><input type="radio" name="property">Legal Description</span>
		              	</div>
		             </div>
		          </div>
		          <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Street Address</div>
		              <div class="col-sm-7"><input type="text" ng-model="property.addressLineText" class="form-control"></div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Legal Description</div>
		              <div class="col-sm-7">
		              <textarea ng-model="property.addressLineText" class="form-control"></textarea>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">City</div>
		              <div class="col-sm-7"><input type="text" ng-model="property.cityName" class="form-control"></div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">State</div>
		              <div class="col-sm-7">
		                  <select ng-model="property.stateCode" class="form-control">
		                      <option>VA</option>
		                  </select>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Postal Code</div>
		              <div class="col-sm-7"><input type="text" ng-model="property.postalCode" class="form-control"></div>
		            </div>
		          </div>
		</div>
		<div class="col-sm-6">
				<h5 class="innerSectionHeader">Price Information</h5>
				 <div class="row">
				 	 <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Sales Price</div>
		              	<div class="col-sm-7 radioGroup">
		              		<input type="text" class="form-control">
		              	</div>
		             </div>
		          </div>
		          <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Personal Property Included?</div>
		              <div class="col-sm-3">
		              		<select class="form-control"><option>Yes</option><option>Yes</option></select>
		              </div>
		            </div>
		          </div>
		          
		</div>
		<div class="col-sm-6">
				<h5 class="innerSectionHeader">Value Information</h5>
				 <div class="row">
				 	 <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Choose either “Appraised Property Value” or “Estimated Property Value”</div>
		              	<div class="col-sm-7">
		              		<select class="form-control">
		              			<option>Appraised Property Value</option>
		              		</select>
		              	</div>
		             </div>
		          </div>
		          <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Property Value Method Used </div>
		              <div class="col-sm-7">
		              		<select class="form-control">
		              			<option>AVM</option>
		              		</select>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Amount of Value</div>
		              <div class="col-sm-7">
		              		<select class="form-control">
		              			<option>$0</option>
		              		</select>
		              </div>
		            </div>
		          </div>
		          
		</div>
	</div>