<div class="col-sm-12">
	<input type="file" name="ucdXml" id="UCDXMLFILE" ng-hide="true" onchange="angular.element(this).scope().fileNameChanged(this);this.value=null; return false;" accept=".xml">
	<input type="file" name="trid_import_text" id="trid_import_text" ng-hide="true" onchange="angular.element(this).scope().importTextFile(this);this.value=null; return false;" accept=".txt">
	<h4>Closing Information</h4>
	<div class="col-sm-6">
		<h5 class="innerSectionHeader">General Closing Information</h5>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Date Issued</div>
			<!--<div class="col-sm-7">
			    <span class="col-sm-10 padding0">{{cdformdata.closingInformation.dateIssued | date : dateFormat}}
				</span>
			</div> -->
			<div class="col-sm-7">
				<span class="col-sm-10 padding0">
				<input type="text" name="dateIssued" id="dateIssued" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="cdformdata.closingInformation.dateIssued" is-open="isDateIssued" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.closingInformation.dateIssued" close-text="Close" placeholder="Date Issued" disabled/>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued = !isDateIssued"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Closing Date <span class="required">*</span></div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0">
				<input type="text" name="closingDate" id="closingDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="cdformdata.closingInformationDetail.closingDate" is-open="isClosingDate" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.closingInformation.dateIssued" close-text="Close" placeholder="Closing Date" disabled/>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isClosingDate = !isClosingDate"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Disbursement Date <span class="required">*</span></div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0">
				<input type="text" name="disbursementDate" id="disbursementDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="cdformdata.closingInformationDetail.disbursementDate" is-open="isDisbursementDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Disbursement Date" disabled/>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDisbursementDate = !isDisbursementDate"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">
				Settlement Agent Name<span class="required">*</span>
				(organization)
			</div>
			<div class="col-sm-7">
				<input type="text" ng-model="cdformdata.contactInformation.settlementAgent.organizationName" class="form-control">
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">
				File # <span class="required">*</span><br>
				(settlement Agent Number)
			</div>
			<div class="col-sm-7"><input type="text" ng-model="cdformdata.closingInformationDetail.closingAgentOrderNumberIdentifier" class="form-control"></div>
		</div>
	</div>

		<div class="col-sm-6">
				<h5 class="innerSectionHeader">Property Information</h5>
				 <div class="row">
				 	 <div class=" col-sm-12">
		              	<div class="col-sm-5 fieldTitle">Choose One</div>
		              	<div class="col-sm-7 radioGroup">
		              		<span class="col-sm-6 padding0">
		              		<input type="radio" name="property"  ng-value="false" ng-model="cdformdata.closingInformation.property.legalDescription" ng-click="checkRadio()">Street Address</span>
		              		<span class="col-sm-6 padding0"><input type="radio" name="property" ng-model="cdformdata.closingInformation.property.legalDescription"  ng-value="true" ng-click="checkRadio()">Legal Description</span>
		              	</div>
		             </div>
		          </div>
		          <div class="row margin5tb" ng-show="cdformdata.closingInformation.property.legalDescription == false">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Street Address</div>
		              <div class="col-sm-7"><input type="text" ng-model="cdformdata.closingInformation.property.addressLineText" class="form-control"></div>
		            </div>
		          </div>
		          <div class="row margin5tb" ng-show="cdformdata.closingInformation.property.legalDescription == true">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Legal Description</div>
		              <div class="col-sm-7">
		              <textarea ng-model="cdformdata.closingInformation.property.unparsedLegalDescription" class="form-control" maxlength="265"></textarea>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">City</div>
		              <div class="col-sm-7"><input type="text" ng-model="cdformdata.closingInformation.property.cityName" class="form-control"></div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">State</div>
		              <div class="col-sm-7">
		                  <select ng-model="cdformdata.closingInformation.property.stateCode" class="form-control">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		                  </select>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Postal Code <span class="required">*</span></div>
		              <div class="col-sm-7"><input type="text" ng-model="cdformdata.closingInformation.property.postalCode" class="form-control" zipcode-format></div>
		            </div>
		          </div>
		</div>
		<div class="col-sm-6" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
				<h5 class="innerSectionHeader">Price Information (Purchase Only)</h5>
				    <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Personal Property Included?</div>
			              <div class="col-sm-3">
			              		<select class="form-control" ng-model="cdformdata.salesContractDetail.personalPropertyIndicator"
			              		ng-options="option.id as option.name for option in dropDownBooleanOptions">
	                            </select>
			              </div>
		           	 </div>
		          	</div>
				 <div class="row" ng-show="cdformdata.salesContractDetail.personalPropertyIndicator == false">
				 	 <div class=" col-sm-12">
					    <div class="col-sm-5 fieldTitle">Sales Price (Purchase Only)</div>
		              	<div class="col-sm-7 radioGroup">
						   	 <div class="input-group">
  								<span class="input-group-addon input-default">$</span>
		        				<input type="text" class="form-control" ng-model="cdformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format>
		        			</div>
						</div>
		             </div>
		          </div>
		          <div class="row" ng-show="cdformdata.salesContractDetail.personalPropertyIndicator == true">
				 	 <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Real Property Price</div>
		              	<div class="col-sm-7 radioGroup">
						   	<div class="input-group">
  								<span class="input-group-addon input-default">$</span>
		        				<input type="text" class="form-control" ng-model="cdformdata.salesContractDetail.realPropertyAmount" decimal-digits-with-number-format>
		        			</div>
						</div>
		             </div>
		          </div>
		</div>
		<div class="col-sm-6" ng-show="loanBasicInfo.loanPurposeType != 'purchase'">
				<h5 class="innerSectionHeader">Value Information</h5>
				 <div class="row">
				 	 <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Choose either “Appraised Property Value” or “Estimated Property Value”</div>
		              	<div class="col-sm-7">
		              		<select class="form-control" ng-model="cdformdata.closingInformation.propertyValuationDetail.propertyValue">
		              			<option value="Appraised">Appraised Property Value</option>
		              			<option value="Estimated">Estimated Property Value</option>
		              		</select>
		              	</div>
		             </div>
		          </div>
		          <div class="row margin5tb" ng-show="cdformdata.closingInformation.propertyValuationDetail.propertyValue=='Appraised'">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Property Value Method Used </div>
		              <div class="col-sm-7">
		              		<select class="form-control" ng-model="cdformdata.closingInformation.propertyValuationDetail.propertyValuationMethodType"
		              		ng-options="propertyValuationMethodType.value as propertyValuationMethodType.name for propertyValuationMethodType in propertyValuationMethodTypes">
		              		</select>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb" ng-show="cdformdata.closingInformation.propertyValuationDetail.propertyValue=='Appraised'">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">If, Other is the property Value Method Used provide the description</div>
		              <div class="col-sm-7">
		              		<input class="form-control" ng-disabled="cdformdata.closingInformation.propertyValuationDetail.propertyValuationMethodType != 'Other'" ng-model="cdformdata.closingInformation.propertyValuationDetail.propertyValuationMethodTypeOtherDescription" />
		              </div>
		            </div>
                   </div>
		          <div class="row margin5tb">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Amount of Value</div>
		              <div class="col-sm-7">
		              		<div class="input-group">
		  						<span class="input-group-addon input-default">$</span>
				        		<input class="form-control" ng-show="cdformdata.closingInformation.propertyValuationDetail.propertyValue=='Appraised'" ng-model="cdformdata.closingInformation.propertyValuationDetail.propertyValuationAmount"></input>
				        		<input class="form-control" ng-show="cdformdata.closingInformation.propertyValuationDetail.propertyValue=='Estimated'"  ng-model="cdformdata.closingInformation.propertyValuationDetail.propertyEstimatedValueAmount"></input>
				        	</div>
		              </div>
		            </div>
		          </div>   
		</div>
		<div class="col-sm-12 margin10t">
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('transInfo')">Next</a></span>
		</div>
		
	</div>