<div class="col-sm-12">
	<h4>Contact Information</h4>
		<span class="col-sm-12 padding0 CIinformation">
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Organization
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Name</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Street Address</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12" >City</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">State Code</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Postal Code</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">NMLS ID</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">State License ID</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">License Authority Level Type</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">License Issuing Authority Name</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">License Issue Date</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Issuing Agency URL</span>
				</div>
			</div>
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Lender
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.lender.organizationName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.address.addressLineText">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.lender.address.cityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select ng-model="cdformdata.contactInformation.property.stateCode" class="form-control" ng-model="cdformdata.contactInformation.lender.address.stateCode">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  zipcode-format ng-model="cdformdata.contactInformation.lender.address.postalCode">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.organizationLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" disabled>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.lender.organizationLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.organizationLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					
					<actualize-input name="lenderorganizationLicenseIssueDate" id="lenderorganizationLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.lender.organizationLicenseDetail.licenseIssueDate" is-open="isLenderorganizationLicenseIssueDate" min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isLenderorganizationLicenseIssueDate = !isLenderorganizationLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.organizationLicenseDetail.identifierOwnerURI" value="mmousebanker@fed.org">
				</div>
			</div>
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Mortgage Broker
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.mortagageBroker.organizationName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.address.addressLineText">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.address.cityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select ng-model="cdformdata.contactInformation.mortagageBroker.stateCode" class="form-control" ng-model="cdformdata.contactInformation.mortagageBroker.address.stateCode">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  zipcode-format ng-model="cdformdata.contactInformation.mortagageBroker.address.postalCode">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.organizationLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" disabled>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.mortagageBroker.organizationLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.organizationLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="mortagageBrokerorganizationLicenseIssueDate" id="mortagageBrokerorganizationLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.mortagageBroker.organizationLicenseDetail.licenseIssueDate" is-open="isMortagageBrokerorganizationLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isMortagageBrokerorganizationLicenseIssueDate = !isMortagageBrokerorganizationLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.organizationLicenseDetail.identifierOwnerURI" value="mmousebanker@fed.org">
				</div>
			</div>
			<div class="col-sm-2 padding0 infoSection" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Real Estate Broker (B)
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.realEstateBrokerB.organizationName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.address.addressLineText">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.address.cityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.realEstateBrokerB.address.stateCode">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  zipcode-format ng-model="cdformdata.contactInformation.realEstateBrokerB.address.postalCode">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  disabled>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.organizationLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.realEstateBrokerB.organizationLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.realEstateBrokerB.organizationLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					
					<actualize-input name="realEstateBrokerBorganizationLicenseIssueDate" id="realEstateBrokerBorganizationLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.realEstateBrokerB.organizationLicenseDetail.licenseIssueDate" is-open="isRealEstateBrokerBorganizationLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isRealEstateBrokerBorganizationLicenseIssueDate = !isRealEstateBrokerBorganizationLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.realEstateBrokerB.organizationLicenseDetail.identifierOwnerURI">
				</div>
			</div>
			<div class="col-sm-2 padding0 infoSection" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Real Estate Broker (S)
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.realEstateBrokerS.organizationName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.address.addressLineText">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.address.cityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.realEstateBrokerS.address.stateCode">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  zipcode-format ng-model="cdformdata.contactInformation.realEstateBrokerS.address.postalCode">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  disabled>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.organizationLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.realEstateBrokerS.organizationLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.realEstateBrokerS.organizationLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="realEstateBrokerSorganizationLicenseIssueDate" id="realEstateBrokerSorganizationLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.realEstateBrokerS.organizationLicenseDetail.licenseIssueDate" is-open="isRealEstateBrokerSorganizationLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isRealEstateBrokerSorganizationLicenseIssueDate = !isRealEstateBrokerSorganizationLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.realEstateBrokerS.organizationLicenseDetail.identifierOwnerURI">
				</div>
			</div>
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Settlement Agent
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.settlementAgent.organizationName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.address.addressLineText">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.address.cityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.settlementAgent.address.stateCode">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  zipcode-format ng-model="cdformdata.contactInformation.settlementAgent.address.postalCode">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" disabled>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.organizationLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.settlementAgent.organizationLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.settlementAgent.organizationLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="settlementAgentorganizationLicenseIssueDate" id="settlementAgentorganizationLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.settlementAgent.organizationLicenseDetail.licenseIssueDate" is-open="isSettlementAgentorganizationLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isSettlementAgentorganizationLicenseIssueDate = !isSettlementAgentorganizationLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name=""  ng-model="cdformdata.contactInformation.settlementAgent.organizationLicenseDetail.identifierOwnerURI">
				</div>
			</div>
		</span>

		<span class="col-sm-12 padding0 CIinformation margin10t">
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Individual Contact
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">First Name</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Middle Name</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Last Name</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Suffix</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Email ID</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Phone</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">NMLS ID</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">State License ID</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">License Authority Level Type</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">License Issuing Authority Name</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">License Issue Date</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="margin5tb col-sm-12">Issuing Agency URL</span>
				</div>
			</div>
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Lender
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.name.firstName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.name.middleName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.name.lastName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.name.suffixName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.individualEmail">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.individualPhone">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.individualLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.individualLicenseDetail.licenseIdentifier" ng-disabled="true">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.lender.individualLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.individualLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					
					<actualize-input name="lenderindividualLicenseIssueDate" id="lenderindividualLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.lender.individualLicenseDetail.licenseIssueDate" is-open="isLenderindividualLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isLenderindividualLicenseIssueDate = !isLenderindividualLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.lender.individualLicenseDetail.identifierOwnerURI">
				</div>
			</div>
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Mortgage Broker
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.name.firstName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.name.middleName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.name.lastName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.name.suffixName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.individualEmail">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.individualPhone">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.individualLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.individualLicenseDetail.licenseIdentifier" ng-disabled="true">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.mortagageBroker.individualLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.individualLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="mortagageBrokerindividualLicenseIssueDate" id="mortagageBrokerindividualLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.mortagageBroker.individualLicenseDetail.licenseIssueDate" is-open="isMortagageBrokerindividualLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isMortagageBrokerindividualLicenseIssueDate = !isMortagageBrokerindividualLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.mortagageBroker.individualLicenseDetail.identifierOwnerURI">
				</div>
			</div>
			<div class="col-sm-2 padding0 infoSection" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Real Estate Broker (B)
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.name.firstName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.name.middleName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.name.lastName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.name.suffixName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualEmail">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualPhone">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualLicenseDetail.licenseIdentifier" ng-disabled="true">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="realEstateBrokerBindividualLicenseIssueDate" id="realEstateBrokerBindividualLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualLicenseDetail.licenseIssueDate" is-open="isRealEstateBrokerBindividualLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isRealEstateBrokerBindividualLicenseIssueDate = !isRealEstateBrokerBindividualLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerB.individualLicenseDetail.identifierOwnerURI">
				</div>
			</div>
			<div class="col-sm-2 padding0 infoSection" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Real Estate Broker (S)
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.name.firstName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.name.middleName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.name.lastName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.name.suffixName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualEmail">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualPhone">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualLicenseDetail.licenseIdentifier" ng-disabled="true">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="realEstateBrokerSindividualLicenseIssueDate" id="realEstateBrokerSindividualLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualLicenseDetail.licenseIssueDate" is-open="isRealEstateBrokerSindividualLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isRealEstateBrokerSindividualLicenseIssueDate = !isRealEstateBrokerSindividualLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.realEstateBrokerS.individualLicenseDetail.identifierOwnerURI">
				</div>
			</div>
			<div class="padding0 infoSection" ng-class="{'col-sm-2': loanBasicInfo.loanPurposeType != 'refinance', 'col-sm-3': loanBasicInfo.loanPurposeType == 'refinance' }">
				<div class="col-sm-12 padding0 innerSectionHeader">
					Settlement Agent
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.name.firstName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.name.middleName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.name.lastName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.name.suffixName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.individualEmail">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.individualPhone">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.individualLicenseDetail.licenseIdentifier" ng-disabled="true">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.individualLicenseDetail.licenseIdentifier">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<select class="form-control" ng-model="cdformdata.contactInformation.settlementAgent.individualLicenseDetail.licenseAuthorityLevelType">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="lALT in licenseAuthorityLevelTypes" value="{{lALT.value}}">{{lALT.name}}</option>
		            </select>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.individualLicenseDetail.licenseIssuingAuthorityName">
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<span class="col-sm-10 padding0">
					<actualize-input name="settlementAgentindividualLicenseIssueDate" id="settlementAgentindividualLicenseIssueDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.contactInformation.settlementAgent.individualLicenseDetail.licenseIssueDate" is-open="isSettlementAgentindividualLicenseIssueDate"  min-date="01/01/1980" max-date="12/31/2045" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                	</actualize-input>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isSettlementAgentindividualLicenseIssueDate = !isSettlementAgentindividualLicenseIssueDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
				</div>
				<div class="col-sm-12 padding0 innerSectionRow">
					<input type="text" class="form-control padding0" name="" ng-model="cdformdata.contactInformation.settlementAgent.individualLicenseDetail.identifierOwnerURI">
				</div>
			</div>

		</span>
			<div class="col-sm-12 margin10t">
				<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('LoanCals')">Back</a></span>
				<!-- <span class="pull-right">
					<a class="btn btn-primary" ng-click="changeTab('loanterms')">Next</a>
				</span> -->
			</div>			
</div>			