<div class="col-sm-12">
	<h4>Estimated Taxes, Insurance & Assessments</h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <tbody>
		      <tr>
		        <td rowspan="4" class="innerSectionHeader col-sm-2" style="vertical-align: middle;"><label>Estimated Taxes, Insurance and Assessment</label></td>
		        <td class="innerSectionHeader col-sm-2">
		        	
		        </td>
		        <td class="innerSectionHeader col-sm-3">
		        	<label>ETIA Items</label>
		        </td>
		        <td class="innerSectionHeader col-sm-3">
		        	<label>Other Description  (if applicable)</label>
		        </td>
		        <td class="innerSectionHeader col-sm-2">
		        	<label>In Escrow?</label>
		        </td>
		      </tr>
		      <tr>
		      		<td rowspan="3"  style="vertical-align: middle;"><label>$ goes here A month</label></td>
		      		<td>
			        	<span class="pull-left margin5tb">Property Taxes</span>
			        	<span class="col-sm-1 pull-right"><input type="checkbox" name=""></span>
		      		</td>
		      		<td class="text-center">
		      			<label> -- </label>
		      		</td>
		      		<td>
		      			<select class="form-control">
		      				<option>Yes</option>
		      				<option>No</option>
		      			</select>
		      		</td>

		      </tr>
		      <tr>
		      		<td>
			        	<span class="pull-left margin5tb">Homeowners Insurance</span>
			        	<span class="col-sm-1 pull-right"><input type="checkbox" name=""></span>
		      		</td>
		      		<td class="text-center">
		      			<label> -- </label>
		      		</td>
		      		<td>
		      			<select class="form-control">
		      				<option>Yes</option>
		      				<option>No</option>
		      			</select>
		      		</td>

		      </tr>
		       <tr>
		      		<td>
			        	<select class="form-control">
		      				<option>Homeowners Association Dues</option>
		      			</select>
		      		</td>
		      		<td class="text-center">
		      			<input type="text" class="form-control" disabled name="">
		      		</td>
		      		<td>
		      			<select class="form-control">
		      				<option>Yes</option>
		      				<option>No</option>
		      			</select>
		      		</td>

		      </tr>
		    </tbody>
		</table>
	</span>
</div>