<div class="col-sm-12">
	<h4>Estimated Taxes, Insurance & Assessments</h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <tbody>
		      <tr>
		        <td rowspan="{{cdformdata.etiaSection.etiaValues.length + 1}}" class="innerSectionHeader col-sm-2" style="vertical-align: middle;"><label>Estimated Taxes, Insurance and Assessment</label></td>
		        <td class="innerSectionHeader col-sm-2">
		        	
		        </td>
		        <td class="innerSectionHeader col-sm-3">
		        	<label>ETIA Items</label>
		        </td>
		        <td class="innerSectionHeader col-sm-3">
		        	<label>Other Description  (if applicable)
		        	</label>
		        	<help-verbiage name="CD_CheckBoxOthers_Help" title="help_tooltip_text"></help-verbiage>
		        </td>
		        <td class="innerSectionHeader col-sm-2">
		        	<label>In Escrow? </label>
		        	<help-verbiage name="CD_InEscrow_Help" title="help_tooltip_text"></help-verbiage>
		        	</label>
		        </td>
		        <td class="innerSectionHeader col-sm-2">
		        	<label>Delete / Clear</label>
		        </td>
		      </tr>
		      <tr ng-repeat="etia in cdformdata.etiaSection.etiaValues track by $index">
		      		<td rowspan="{{cdformdata.etiaSection.etiaValues.length}}" style="vertical-align: middle;" ng-if="$index==0">
		      			<label style="font-size: 14px;">$ {{cdformdata.etiaSection.projectedPaymentEstimatedTaxesInsuranceAssessmentTotalAmount | number:2}} </label>
		      			<br/><b>A month </b>
		      			<help-verbiage name="CD_amountpermonth_Help" title="help_tooltip_text"></help-verbiage>
		      		</td>
		      		<td ng-if="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='PropertyTaxes'">
			        	<span class="pull-left margin5tb">Property Taxes</span>
			        	<help-verbiage name="CD_PropertyTaxesHomeownersInsurance_Help" title="help_tooltip_text"></help-verbiage>
			        	<span class="col-sm-1 pull-right"><input type="checkbox" name="" ng-checked="cdformdata.etiaSection.propertyTaxesCheck" ng-model="cdformdata.etiaSection.propertyTaxesCheck" ng-disabled="etia.insuranceTaxCheck"></span>
		      		</td>
		      		<td ng-if="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='HomeownersInsurance'">
			        	<span class="pull-left margin5tb">Homeowners Insurance
			    	 	</span>
			    	 	<help-verbiage name="CD_PropertyTaxesHomeownersInsurance_Help" title="help_tooltip_text"></help-verbiage>
			        	<span class="col-sm-1 pull-right"><input type="checkbox" name="" ng-checked="cdformdata.etiaSection.HomeownersInsuranceCheck" ng-model="cdformdata.etiaSection.HomeownersInsuranceCheck" ng-disabled="etia.insuranceTaxCheck"></span>
		      		</td>
		      		<td ng-if="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='PropertyTaxes' &&
		      		etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='HomeownersInsurance'">
			        	<select class="form-control" ng-model="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType" ng-change="updateETIAComponentTypes(etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType, $index)">
			        		<option value="">Select</option>
		      				<option ng-repeat="ETIAComponentType in ETIAComponentTypes" value="{{ETIAComponentType.value}}" ng-disabled="ETIAComponentType.disabled">{{ETIAComponentType.name}}</option>
		      			</select>
		      		</td>
		      		<td class="text-center" ng-if="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='PropertyTaxes' ||
		      		etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='HomeownersInsurance'">
		      			<label> -- </label>
		      		</td>
		      		<td class="text-center" ng-if="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='Other'">
		      			<input type="text" class="form-control" name="" ng-model="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentTypeOtherDescription">
		      		</td>
		      		<td class="text-center" ng-if="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='Other' && etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='PropertyTaxes' &&
		      		etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='HomeownersInsurance'">
		      			<input type="text" class="form-control" name="" ng-disabled="true">
		      		</td>
		      		<td>
		      			<select class="form-control" ng-options="option.id as option.name for option in escrowDropDownBooleanOptions" ng-model="etia.projectedPaymentEscrowedType" ng-disabled="true" ng-show="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='PropertyTaxes' ||
		      		etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType=='HomeownersInsurance'">
		      				<option value="" selected>Select</option>
		      			</select>
		      			<select class="form-control" ng-options="option.id as option.name for option in escrowDropDownBooleanOptions" ng-model="etia.projectedPaymentEscrowedType" ng-disabled="true" ng-show="etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='PropertyTaxes' &&
		      		etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType!='HomeownersInsurance'">
		      				<option value="" selected>Select</option>
		      			</select>
		      		</td>
		      		<td>
		      			<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete"  ng-disabled="$index == 0" ng-show ="$index>1" ng-click="removeETIAComponent(etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType,$index)"></span>
		      			<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-show ="$index>1" ng-click="clearETIAComponent(etia.projectedPaymentEstimatedTaxesInsuranceAssessmentComponentType,$index)"></span>
					</td>

		      </tr>
		    </tbody>
		</table>
		<div class="AddSection col-sm-12 text-center"><span ng-click="addETIAComponent()"><a>+ Add Additional Item</a>
		<help-verbiage name="CD_AddAdditionalItem_Help" title="help_tooltip_text"></help-verbiage></span></div>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('projectedPayments')">Back</a></span>
			<span class="pull-right">
			<a class="btn btn-primary" ng-click="changeTab('TotalClosingCosts')">Next</a>
			</span>
	</div>
</div>