<!-- <div class="bodySection col-sm-12 padding0" style="position: relative; ">
  
<div class="container">
  <h4>Online Help Verbiage</h4>
</div>

<div class="table-responsive"> 
 -->
         
  <table class="bodySection col-sm-12 padding0 table" id="helpGeneralInformation">
    <thead>
      <tr >
        <th class="col col-sm-2">Page Name</th>
        <th class="col col-sm-2">Web User Interface</th>
        <th class="col col-sm-8">Help Verbiage</th>
     </tr>
    </thead>
    <tbody>
      <tr >
        <td class="col col-sm-2">General Information</td>
        <td class="col col-sm-2">
        		<button type="button" class="btn btn-info btn-xs btn-blockactive col-sm-12" data-toggle="collapse" data-target="#DateIssued">Date Issued <span class="glyphicon glyphicon-arrow-right" style="margin-left:100;"></span></button>
        </td>
        <td class="col col-sm-8">
            <div id="DateIssued" class="collapse">
    				<strong>The date the integrated disclosure was mailed or delivered to the borrower as reflected on a single instance of the integrated disclosure document.</strong>
    				<ul style="list-style-type:circle">
    					<li>• Must be in a format of DD/MM/YYYY or use the calendar icon to choose the date. </li>
    					<li>• There is no constraint on this date as a user may need to create a .xml file to submit to an investor to generate an integrated closing disclosure document from the past</li>
    					<li>• Is a Required field</li>
    				</ul>
  			</div>
  		</td>
      </tr>
      <tr >
        <td class="col col-sm-2"></td>
        <td class="col col-sm-2">
        		<button type="button" class="btn btn-info btn-xs btn-blockactive col-sm-12" data-toggle="collapse" data-target="#ClosingDate">Closing Date <span class="glyphicon glyphicon-arrow-right" style="margin-left:100;"></span></button>
        </td>
        <td class="col col-sm-8">
            <div id="ClosingDate" class="collapse">
    				The date the closing documents were fully executed and the borrower becomes contractually responsible for the debt. Depending on the location (wet-sign, dry-sign, table-funded and/or escrow state) of the loan closing, the Closing Date may be the same date as either the Document Preparation Date and/or the Execution Date and/or the Recorded Date.
    				
    					• This date is defaulted to 5 days after the issue date if conducting data entry.  Otherwise, the date will be rendered per the information in the upload process will be displayed 
    					• Must be in a format of DD/MM/YYYY or use the calendar icon to choose the date.
    					•	There is no constraint on this date as a user may need to create a .xml file to submit to an investor to generate an integrated closing disclosure document from the past.
    					• Is a Required field
    				</ul>
  			</div>
  		</td>
      </tr>
      <tr >
        <td class="col col-sm-2"></td>
        <td class="col col-sm-2">
        		<button type="button" class="btn btn-info btn-xs btn-blockactive col-sm-12" data-toggle="collapse" data-target="#DisbursementDate">Disbursement  Date
        		<span class="glyphicon glyphicon-arrow-right" style="margin-left:80;"></span></button>
        </td>
        <td class="col col-sm-8">
            <div id="DisbursementDate" class="collapse">
    				<p><strong>The date the loan funds are disbursed to the borrower or another party on the borrower's behalf.</strong></p>
    				<ul style="list-style-type:circle">
    					<li>• Must be in a format of DD/MM/YYYY or use the calendar icon to choose the date. </li>
    					<li>• Constraint on the date as it cannot be a date prior to the issue date or the closing date.</li>
    					<li>• Is a Required field</li>
    				</ul>
  			</div>
  		</td>
      </tr>
      <tr >
        <td class="col col-sm-2"></td>
        <td class="col col-sm-2">
        		<button type="button" class="btn btn-info btn-xs btn-blockactive col-sm-12" data-toggle="collapse" data-target="#LenderName">Lender Name
        		<span class="glyphicon glyphicon-arrow-right" style="margin-left:80;"></span></button>
        </td>
        <td class="col col-sm-8">
            <div id="LenderName" class="collapse">
    				Name of the creditor extending the estimated cost for obtaining a loan for real property.
  			</div>
  		</td>
      </tr>
    </tbody>
    <button type="button" class="btn btn-info btn-block" style="width:90%;"data-toggle="collapse" data-target="#demosample"  ng-click="iscollapsed = iscollapsed + 1" ng-init="iscollapsed=0" > Address <span class="pull-right glyphicon glyphicon-hand-right" ng-show="iscollapsed%2==0" ></span>
  <span class="pull-right glyphicon glyphicon-hand-down" ng-show="iscollapsed%2==1"></span></button>
<div id="demosample" class="collapse" style="width:90%;">
  In any transaction, the subject property location must be made clear and concise on the Closing Disclosure, thus the user interface provides two options: <br>
• Street Address <br>
• Legal Description <br>
The function requires that a radio button is chosen to indicate one or the other as this field is required.

  </div>
  </table>



<!-- </div>
</div> -->

  