<div class="col-sm-12">
	<h4>Loan Terms </h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-4 innerSectionHeader" colspan="2">Loan Terms</th>
		        <th  class="col-sm-8 innerSectionHeader" colspan="2">
		        	<span>Does this change after closing?</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>Loan Amount <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<input class="form-control" ng-model="cdformdata.loanTerms.loanAmount.noteAmount"></input>
		        	</div>
		        </td>
		        <td class="col-sm-1">
		        	<select class="form-control pull-left" ng-model="cdformdata.loanInformation.negativeAmoritzationIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanInformation.negativeAmoritzationIndicator == true">
		        		<li><span class="pull-left margin5tb"> Can go as high as </span> <span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.loanAmount.negativeAmortizationMaximumLoanBalanceAmount"></span></li>
		        		<li> <span class="pull-left margin5tb"> Can increase until year </span> <span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.loanAmount.negativeAmortizationLimitMonthsCount"></span></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Interest Rate <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">%</span>
		        		<input class="form-control" ng-model="cdformdata.loanTerms.interestRate.noteRatePercent" decimal-places>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanTerms.interestRate.interestRateIncreaseIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList">
		        		<li ng-show="cdformdata.loanTerms.interestRate.interestRateIncreaseIndicator == true">
		        			<span class="col-sm-12">
		        			<span class="pull-left margin5tb">Adjusts every</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="cdformdata.loanTerms.interestRate.perChangeRateAdjustmentFrequencyMonthsCount" class="form-control" name="" only-digits>
		        			</span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" ng-model="cdformdata.loanTerms.interestRate.firstRateChangeMonthsCount" name="" only-digits>
		        			</span>
		        			</span>
		        		</li>
		        		<li ng-show="cdformdata.loanTerms.interestRate.interestRateIncreaseIndicator == true">
		        			<span class="col-sm-12">
		        			<span class="pull-left margin5tb"> Can go as high as</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="cdformdata.loanTerms.interestRate.ceilingRatePercent" class="form-control" name="">
		        			</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="cdformdata.loanTerms.interestRate.ceilingRatePercentEarliestEffectiveMonthsCount" class="form-control" name="">
		        			</span>
		        			</span>
		        		</li>
		        		<li>
		        			<span class="pull-left col-sm-7 margin5tb">Provide Current Rate Set Date</span>
		        			<span class="col-sm-5">
			        			<span class="col-sm-8 padding0">
									<input type="text" name="interestRateSetDate" id="interestRateSetDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" is-open="isInterestRateSetDate" datepicker-options="dateOptions" ng-model="cdformdata.loanTerms.interestRate.currentRateSetDate" close-text="Close" placeholder="Date" disabled/>
								</span>
				      			<span class="input-group-btn col-sm-2 padding0">
				        			<button type="button" class="btn btn-default calenderBtn" ng-click="isInterestRateSetDate = !isInterestRateSetDate"><i class="glyphicon glyphicon-calendar"></i></button>
				        		</span>
			        		</span>
		        		</li>
		        		<li>
		        			<span class="col-sm-7 margin5tb">Provide the Loan price quote</span> 
		        			<span class="col-sm-3">
		        				<input type="text" class="form-control" name="">
		        			</span>
		        		</li>
		        		<li>
		        			<span class="col-sm-7 margin5tb">Provide the APOR</span> 
		        			<span class="col-sm-3">
		        				<input type="text" class="form-control" name="">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Temporary buydown</label></td>
		        <td>
		        	
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownTemporarySubsidyFundingIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanTerms.temporaryBuydown.buydownTemporarySubsidyFundingIndicator == true">
		        		<li> <span class="pull-left margin5tb">What is the Rate as reflected without the Buydown?</span> 
		        			<span class="col-sm-2 pull-right"><input  ng-model="cdformdata.loanTerms.temporaryBuydown.buydownInitialEffectiveInterestRatePercent" type="text" class="form-control" name=""></span> 
		        			</li>
		        		<li><span class="pull-left margin5tb">Is the buydown reflected on the Note</span> 
		        			<span class="col-sm-2 pull-right">
		        			<select class="form-control pull-left" ng-model="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
			        	    </select>
			        	   </span> 
		        			</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb">Provide the rate the borrower will pay after the buydown is applied</span> 
		        			<span class="col-sm-2 pull-right"><input type="text" class="form-control" name=""></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb">Provide the Time interval in months between the interest rate increases during the buydown period</span> 
		        			<span class="col-sm-2 pull-right"><input type="text" class="form-control" name=""></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb">Provide the total number of months which the buydown is in affect</span> 
		        			<span class="col-sm-2 pull-right"><input type="text" class="form-control" name=""></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb">Provide the amount by which the interest rate can increase at each adjustment within the buydown period</span> 
		        			<span class="col-sm-2 pull-right"><input type="text" class="form-control" name=""></span> </li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Principal & Interest Payment Amount <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<input class="form-control" ng-model="cdformdata.loanTerms.principalInterest.amount" decimal-places>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanTerms.principalInterest.paymentIncreaseIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>        	
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanTerms.principalInterest.paymentIncreaseIndicator == true">
		        		<li> <span class="pull-left margin5tb">Adjusts every</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.principalInterest.perChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount"></span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.principalInterest.firstPrincipalAndInterestPaymentChangeMonthsCount"></span></li>
		        		<li><span class="pull-left margin5tb"> Can go as high as</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.principalInterest.principalAndInterestPaymentMaximumAmount"></span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.principalInterest.principalAndInterestPaymentMaximumAmountEarliestEffectiveMonthsCount"></span></li>
		        	</ul>
		        </td>
		      </tr>
		      
		      <tr>
		        <td><label>Prepayment Penalty</label></td>
		        <td><label></label></td>
		        <td  style="padding-right: 0px;">
		        	
		        	<select class="form-control pull-left" ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyIndicator" style="margin-top:5px;width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyIndicator == true">
		        		<li> <span class="pull-left margin5tb">As high as</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyMaximumLifeOfLoanAmount"></span> 
		        			<span class="pull-left margin5tb">if you pay off the loan  in the first</span>
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyExpirationMonthsCount"></span>
		        			<span class="pull-left margin5tb">years</span>
		        			</li>
		        		
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Balloon Payment</label></td>
		        <td><label></label></td>
		        <td>
		        	<select class="form-control pull-left"  ng-model="cdformdata.loanTerms.balloonPayment.balloonIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanTerms.balloonPayment.balloonIndicator == true">
		        		<li> <span class="pull-left margin5tb">You will have to pay</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.balloonPayment.balloonPaymentAmount"></span> 
		        			<span class="pull-left margin5tb">at the end of year</span>
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.loanMaturityPeriodCount"></span>
		        			</li>
		        		
		        	</ul>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
	<div class="col-sm-12">
			<br></br>
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('loanInfo')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('projectedPayments')">Next</a></span>
	</div>
</div>