<div class="col-sm-12">
	<h4>Loan Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section A. Origination Charge</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="2">${{cdformdata.closingCostDetailsLoanCosts.ocTotalAmount | number:2}}</th>
			  </tr>
		     <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Information</th>
		        <th class="innerSectionHeader col-sm-2">Fee Paid To Info</th>
		        <th class="innerSectionHeader">Borrower Paid AT Closing</th>
		        <th class="innerSectionHeader">Borrower Paid BEFORE Closing</th>

		        <th ng-hide="loanBasicInfo.loanPurposeType == 'refinance'"  class="innerSectionHeader">Seller Paid AT Closing</th>
		        <th ng-hide="loanBasicInfo.loanPurposeType == 'refinance'" class="innerSectionHeader">Seller Paid BEFORE Closing</th>
		        <th class="innerSectionHeader">Paid By OTHER</th>
		        <th class="innerSectionHeader">Paid By Lender</th>
		        <th class="innerSectionHeader">Include in APR?</th>
		        <th class="innerSectionHeader">Included in Reg Z?</th>
		        <th class="innerSectionHeader">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="originationCharge in cdformdata.closingCostDetailsLoanCosts.originationCharges">		      	
		        <td ng-show="originationCharge.feeType == 'LoanDiscountPoints'">
		        	<span class="col-sm-3 padding0">
		        	 <input type="text" class="form-control" ng-model="originationCharge.feeTotalPercent"> 
		        	</span>
		        	<span class="margin5tb col-sm-9">{{originationCharge.displayLabel}}</span>
		        </td>
		        <td ng-show="originationCharge.feeType != 'LoanDiscountPoints'">
		        	<span class="col-sm-12 margin5tb padding0">Label Name</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="originationCharge.displayLabel" > 
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Valid Value</span>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="originationCharge.feeType">
	              			<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		    </select> 
		        	</span>
		        	<span ng-hide="originationCharge.feeType!='Other'" class="col-sm-12 padding0">
			        	<span class="col-sm-12 margin5tb padding0">Description</span>
			        	<span class="col-sm-12 padding0">
			        	  <input type="text" class="form-control padding0" name="originationCharge.feeTypeOtherDescription">
			        	</span>
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-3 padding0 margin5tb">Type</span>
		        	<span class="col-sm-9 padding0">
		        		<select class="form-control padding0" ng-model="originationCharge.feePaidToType">
		        		    <option value="" selected>Select</option>
             			    <option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	    </select>
		        	</span>
		        	<span ng-hide="originationCharge.feePaidToType!='Other'" class="col-sm-12 padding0">
			        	<span class="col-sm-12 margin5tb padding0">Description</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control padding0" name="originationCharge.feePaidToTypeOtherDescription">
			        	</span>
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Full Name</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="originationCharge.feePaidToFullName">
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.bpAtClosing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.bpB4Closing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.spAtClosing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.spB4Closing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.paidByOthers" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="originationCharge.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-remove iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-show="$index != 0" ng-disabled="$index == 0" ng-click="deleteOC($index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-click="clearOC($index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addOrganizationCharges()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section B. Services Borrower Did Not Shop For</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="2">${{cdformdata.closingCostDetailsLoanCosts.sbDidNotShopTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Information</th>
		        <th class="innerSectionHeader">Fee Paid To Info</th>
		        <th class="innerSectionHeader">Borrower Paid AT Closing</th>
		        <th class="innerSectionHeader">Borrower Paid BEFORE Closing</th>
		        <th class="innerSectionHeader" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">Seller Paid AT Closing</th>
		        <th class="innerSectionHeader" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">Seller Paid BEFORE Closing</th>
		        <th class="innerSectionHeader">Paid By OTHER</th>
		        <th class="innerSectionHeader">Paid By Lender</th>
		        <th class="innerSectionHeader">Include in APR?</th>
		        <th class="innerSectionHeader">Included in Reg Z?</th>
		        <th class="innerSectionHeader">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="sbDidNotShopFor in cdformdata.closingCostDetailsLoanCosts.sbDidNotShopFors">		      	
		        <td>
		        	<span class="col-sm-12 margin5tb padding0">Label Name</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="sbDidNotShopFor.displayLabel"> 
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Valid Value</span>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="sbDidNotShopFor.feeType">
	              			<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		    </select>
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Description</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control padding0" ng-disabled="sbDidNotShopFor.feeType!='Other'" name="" ng-model="sbDidNotShopFor.feeTypeOtherDescription">
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-3 padding0 margin5tb">Type</span>
		        	<span class="col-sm-9">
		        		<select class="form-control padding0" ng-model="sbDidNotShopFor.feePaidToType">
		        		    <option value="" selected>Select</option>
             			    <option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Description</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control padding0" ng-disabled="sbDidNotShopFor.feePaidToType!='Other'" name="sbDidNotShopFor.feePaidToTypeOtherDescription">
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Full Name</span>
		        	<input type="text" class="form-control padding0" name="" >
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.bpAtClosing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.bpB4Closing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.spAtClosing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.spB4Closing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.paidByOthers" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="sbDidNotShopFor.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-remove iconTooltip red margin5tb" data-toggle="tooltip" title="Delete" ng-click="deleteSDidNot($index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb" data-toggle="tooltip" title="Clear" ng-click="clearSDidNot($index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidNotShopFor()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section C. Services Borrower Did Shop For</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="2">${{cdformdata.closingCostDetailsLoanCosts.sbDidShopTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Information</th>
		        <th class="innerSectionHeader">Fee Paid To Info</th>
		        <th class="innerSectionHeader">Borrower Paid AT Closing</th>
		        <th class="innerSectionHeader">Borrower Paid BEFORE Closing</th>
		        <th class="innerSectionHeader" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">Seller Paid AT Closing</th>
		        <th class="innerSectionHeader" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">Seller Paid BEFORE Closing</th>
		        <th class="innerSectionHeader">Paid By OTHER</th>
		        <th class="innerSectionHeader">Paid By Lender</th>
		        <th class="innerSectionHeader">Include in APR?</th>
		        <th class="innerSectionHeader">Included in Reg Z?</th>
		        <th class="innerSectionHeader">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="sbDidShopFor in cdformdata.closingCostDetailsLoanCosts.sbDidShopFors">		 	<td>
		        	<span class="col-sm-12 margin5tb padding0">Label Name</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control"> 
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Valid Value</span>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="sbDidShopFor.feeType">
              			<option value="" selected>Select</option>
             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		</select> 
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Description</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control padding0" name="" ng-disabled="sbDidShopFor.feeType!='Other'" name="sbDidShopFor.feeTypeOtherDescription" name="sbDidShopFor."> 
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-3 padding0 margin5tb">Type</span>
		        	<span class="col-sm-9">
		        		<select class="form-control padding0" ng-model="sbDidShopFor.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Description</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control padding0" ng-disabled="sbDidShopFor.feePaidToType!='Other'" name="sbDidShopFor.feePaidToTypeOtherDescription">
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Full Name</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="sbDidShopFor.feePaidToFullName">
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.bpAtClosing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.bpB4Closing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.spAtClosing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group" ng-hide="loanBasicInfo.loanPurposeType == 'refinance'">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.spB4Closing" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.paidByOthers" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="sbDidShopFor.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-remove iconTooltip red margin5tb" data-toggle="tooltip" title="Delete" ng-click="deleteSDid($index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb" data-toggle="tooltip" title="Clear" ng-click="clearSDid($index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidShopFor()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-6 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader col-sm-7">Section D. Total Loan Costs (Borrower Paid)</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">${{cdformdata.closingCostDetailsLoanCosts.tlCostsTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <td>
		        	Loan Costs Subtotal (A+B+C)
		        </td>
		        <td class="text-center">
		        	${{cdformdata.closingCostDetailsLoanCosts.tlCosts.bpAtClosing | number:2}}
		        </td>
		        <td class="text-center">
		        	${{cdformdata.closingCostDetailsLoanCosts.tlCosts.bpB4Closing | number:2}}
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('CostsAtClosing')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('OtherCosts')">Next</a></span>
	</div>
</div>
 <script type="text/javascript">
  $(document).ready(function(){
	    $(".iconTooltip").tooltip();   
	});
  </script>
