<div class="col-sm-12">
	<h4>Loan Information</h4>
	<div class="col-sm-12">
	<h5 class="innerSectionHeader">Loan Period, Type and Position</h5>
	<div class="col-sm-4">
		<div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Loan Term</div>
            <div class="col-sm-7">
                <span class="col-sm-6 padding0 margin5tb">Period type</span>
                <span class="col-sm-6 padding0"><select  class="form-control" ng-model="cdformdata.loanInformation.loanMaturityPeriodType"><option>Months</option></select></span>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Loan Type</div>
            <div class="col-sm-7">
              	<select  class="form-control" ng-model="cdformdata.loanInformation.mortgageType" ng-change="otherchange(cdformdata.loanInformation.mortgageType)"><option ng-repeat="mt in mortgageType" value="{{mt}}">{{mt}}</option></select>

            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Lender Loan Identifier </div>
            <div class="col-sm-7" ng-repeat="loanIdentifier in cdformdata.loanInformation.loanIdentifiers" ng-if="loanIdentifier.loanIdentifierType=='LenderLoan'">
              	<input type="text" class="form-control" name="lenderLoanIdentifier"
              	ng-model="loanIdentifier.loanIdentifier">
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">AUS type</div>
            <div class="col-sm-7">
              	<select  class="form-control"><option ng-repeat="ausType in ausTypes" value="{{ausType}}">{{ausType}}</option></select>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">AUS Identifier</div>
            <div class="col-sm-7">
              	<input type="text" class="form-control" name="">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
	    	<div class="row col-sm-12 margin5tb padding0">
	            <div class="col-sm-6">
	            	<div class="col-sm-7 padding0 fieldTitle">No. Years</div>
	            	<div class="col-sm-5 padding0"><input type="text" class="form-control" name=""></div>
	            </div>
	            <div class="col-sm-6 padding0">
	            	<div class="col-sm-8 padding0 fieldTitle">No. Months</div>
	            	<div class="col-sm-4 padding0"><input type="text" class="form-control" name=""></div>
	            </div>
	        </div>
			<div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">Other Description</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="otherdescription" ng-model="cdformdata.loanInformation.mortgageTypeOtherDescription" disabled="disabled">
				</div>
			</div>
			<div class="row col-sm-12 margin5tb padding0">
	            <div class="col-sm-6" >
	            	<div class="col-sm-4 padding0 fieldTitle">MIC#</div>
	            	<div class="col-sm-8 padding0"><input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.miCertificateIdentifier" ></div>
	            </div>
	            <div class="col-sm-6 padding0">
	            	<div class="col-sm-12 padding0" ng-repeat="loanIdentifier in cdformdata.loanInformation.loanIdentifiers" ng-if="loanIdentifier.loanIdentifierType=='MERS_MIN'">
		            	<div class="col-sm-8 padding0 fieldTitle">MERS MIN ID:</div>
		            	<div class="col-sm-4 padding0"><input type="text" class="form-control" ng-model="loanIdentifier.loanIdentifier"></div>
	            	</div>
	            	<div class="col-sm-12 padding0">
		            	<div class="col-sm-8 padding0 fieldTitle">Appraisal ID:</div>
		            	<div class="col-sm-4 padding0"><input type="text" class="form-control" name=""></div>
	            	</div>
	            </div>
	        </div>
	        <div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">AUS Type</div>
				<div class="col-sm-7">
					<select  class="form-control"><option ng-repeat="ausType in ausTypes" value="{{ausType}}">{{ausType}}</option></select>
				</div>
			</div>
			<div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">AUS Identifier</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="">
				</div>
			</div>

		</div>
		<div class="col-sm-4">
			<div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">Purpose</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.purpose" disabled>
				</div>
			</div>
			 <div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">Lien Position</div>
				<div class="col-sm-7">
					<select  class="form-control" ng-model="cdformdata.loanInformation.lienPriorityType"><option ng-repeat="lpt in lienPriorityType" value="{{lpt.name}}">{{lpt.id}}</option></select>
				</div>
			</div>
			 <div class="FieldGroup">
				<div class="col-sm-7 fieldTitle">Manual Underwriting Flag</div>
				<div class="col-sm-5">
					<select  class="form-control" ng-model="cdformdata.loanInformation.loanManualUnderwritingIndicator"><option>Yes</option><option>No</option></select>
				</div>
			</div>
			<div class="FieldGroup">
				<div class="col-sm-7 fieldTitle"></div>
				<div class="col-sm-5">
				</div>
			</div>
			<div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">AUS Type</div>
				<div class="col-sm-7">
					<select  class="form-control"><option ng-repeat="ausType in ausTypes" value="{{ausType}}">{{ausType}}</option></select>
				</div>
			</div>
			<div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">AUS Identifier</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" name="">
				</div>
			</div>
		</div>
		</div>
		<div class="AddSection col-sm-12"><a>+ Add Additional Automated Underwriting System Names and Identifiers</a></div>

		<div class="col-sm-12">
				<h5 class="innerSectionHeader">Product Description and Information</h5>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-5 fieldTitle">Product Description</div>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.integratedDisclosureLoanProductDescription">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-5 fieldTitle">Amortization Type</div>
						<div class="col-sm-7">
							<select  class="form-control" ng-model="cdformdata.loanInformation.amortizationType"><option ng-repeat="at in amortizationType" value="{{at.name}}">{{at.id}}</option></select>
						</div>
					</div>
				</div>
			<div class="col-sm-12 tableInsideHeader">
				Adjustment Information  (close -)
			</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of months for the fixed period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the life of loan Cap Rate</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of months first change period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the first change interest rate limit</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of months subsequent change period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the subsequent change interest rate limit</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
            <div class="col-sm-12 tableInsideHeader">
				Construction Information
			</div>    
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Is this transaction a construction loan?</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-7 fieldTitle">What type of Contraction Loan?</div>
						<div class="col-sm-5 padding0">
					        <select  class="form-control"><option>Construction Only</option></select>
				        </div>
					</div>
				</div>
			<div class="col-sm-12 tableInsideHeader">
				Home Equity Loan Information
			</div>  
			     <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Is the Loan a Home Equity Loan</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
				</div>
			<div class="col-sm-12 tableInsideHeader">
				Interest Only Information
			</div>    
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does this loan have an interest only feature?</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If Yes, what is the interest only period?</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
			<div class="col-sm-12 tableInsideHeader">
				Negative Amortization
			</div>    
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does this loan have a Negative Amortization Feature?</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-7 fieldTitle">Indicate if neg am is scheduled or potential:</div>
						<div class="col-sm-5 padding0">
					        <select  class="form-control"><option>Scheduled</option></select>
				        </div>
					</div>
				</div>
			<div class="col-sm-12 tableInsideHeader">
				Other Loan Product Features
			</div> 
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does the loan have a seasonal payment feature</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-6 fieldTitle">If yes, provide the start and end months</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
				        <div class="col-sm-2 fieldTitle" style="text-align: center;">
				        to 
				        </div>
				        <div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does the loan have a Step payment feature</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If yes, provide the no. of months in which the Step feature will be in affect</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does the loan have an optional payment feature</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control"><option>Yes</option><option>No</option></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If yes, provide the no. of months in which the Optional payment will be in affect</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="">
						</div>
					</div>
				</div>
		</div>

</div>