<div class="col-sm-12">
	<h4>Loan Terms </h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-4 innerSectionHeader" colspan="2">Loan Terms</th>
		        <th  class="col-sm-8 innerSectionHeader" colspan="2">
		        	<span>Does this change after closing?</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>Loan Amount <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<actualize-input ng-model="cdformdata.termsOfLoan.noteAmount" name="noteAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                		</actualize-input>
		        	</div>
		        </td>
		        <td class="col-sm-1">
		        	<select class="form-control pull-left" ng-model="cdformdata.loanDetail.negativeAmortizationIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.negativeAmortizationIndicator">
		        		<li><span class="pull-left margin5tb col-sm-5"> Can go as high as </span> 
							<span class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon input-default">$</span>
									<input type="text" class="form-control" name="" ng-model="cdformdata.negativeAmortization.negativeAmortizationMaximumLoanBalanceAmount" decimal-digits-with-number-format ng-disabled="true">
								</div>
							</span>
						</li>
						<li> <span class="pull-left margin5tb col-sm-5"> Can increase until year </span> <span class="col-sm-4"><input type="text" class="form-control" name="" value="{{(cdformdata.negativeAmortization.negativeAmortizationLimitMonthsCount ? cdformdata.negativeAmortization.negativeAmortizationLimitMonthsCount/12 : '') | ceil}}" ng-disabled="true"></span></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Interest Rate <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  							<actualize-input ng-model="cdformdata.termsOfLoan.noteRatePercent" name="noteRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                				</actualize-input>
  							<span class="input-group-addon input-default">%</span>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanDetail.interestRateIncreaseIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList">
		        		<li ng-show="cdformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-4 padding0">Adjusts every</span> 
		        			<span class="col-sm-2">
		        				<input type="text" value="{{(cdformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount ? cdformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount/12 : '') | round}}" class="form-control" name="" ng-disabled="true">
		        			</span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" value="{{(cdformdata.interestRateAdjustment.firstRateChangeMonthsCount ? cdformdata.interestRateAdjustment.firstRateChangeMonthsCount/12+1 : '') | ceil}}" name="" ng-disabled="true">
		        			</span>
		        		</li>
		        		<li ng-show="cdformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-4 padding0">Can go as high as</span> 
		        			<span class="col-sm-3">
							<div class="input-group">								
		        				<input type="text" ng-model="cdformdata.interestRateAdjustment.ceilingRatePercent" class="form-control" name="" percentage-format ng-disabled="true">
								<span class="input-group-addon input-default">%</span>
							</div>
		        			</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="cdformdata.interestRateAdjustment.ceilingRatePercentEarliestEffectiveYearCount" class="form-control" name="" only-digits maxlength="2" ng-keyup="interestRateYearToMonthsAdjustment()" ng-blur="interestRateYearToMonthsAdjustment()">
		        			</span>
		        		</li>
		        		<li>
		        			<span class="pull-left margin5tb col-sm-4 padding0">Provide Current Rate Set Date <span class="required">*</span></span>
		        			<span class="col-sm-5">
			        			<span class="col-sm-7 padding0">
									<input type="text" name="interestRateSetDate" id="interestRateSetDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" is-open="isInterestRateSetDate" datepicker-options="dateOptions" ng-model="cdformdata.closingInformationDetail.currentRateSetDate" close-text="Close" placeholder="Current Rate Set Date format : MM/DD/YYYY" actualize-date/>
								</span>
				      			<span class="input-group-btn col-sm-2 padding0">
				        			<button type="button" class="btn btn-default calenderBtn" ng-click="isInterestRateSetDate = !isInterestRateSetDate"><i class="glyphicon glyphicon-calendar"></i></button>
				        		</span>
			        		</span>
		        		</li>
		        		<li>
		        			<span class="col-sm-7 margin5tb col-sm-4 padding0">Provide the Loan price quote <span class="required">*</span></span> 
		        			<span class="col-sm-4">
		        				<div class="input-group">	
		        					<input type="text" class="form-control" name="" ng-model="cdformdata.loanProduct.loanPriceQuoteInterestRatePercent" percentage-format>
		        					<span class="input-group-addon input-default">%</span>
		        				</div>
		        			</span>
		        		</li>
		        		<li>
		        			<span class="col-sm-7 margin5tb col-sm-4 padding0">Provide the APOR <span class="required">*</span></span> 
		        			<span class="col-sm-4">
		        				<div class="input-group">	
		        					<input type="text" class="form-control" name="" ng-model="cdformdata.loanCalculationsQualifiedMortgage.qualifiedMortgage.averagePrimeOfferRatePercent" percentage-format>
		        					<span class="input-group-addon input-default">%</span>
		        					</div>
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Temporary buydown <span class="required">*</span></label></td>
		        <td>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="temporaryChange()">
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator == true">
		        		
		        		<li><span class="pull-left margin5tb">Is the buydown reflected on the Note</span> 
		        			<span class="col-sm-2">
		        			<select class="form-control pull-left" ng-model="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator"ng-change="temporaryBuydownChange()" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        			<option value="" selected="selected">Select</option>
			        	    </select>
			        	   </span> 
		        		</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true">						    
							<span class="pull-left margin5tb">What is the Rate as reflected without the Buydown?</span> 
		        			<span class="col-sm-3">
								<div class="input-group">
									<actualize-input ng-model="cdformdata.interestRateAdjustment.ceilingRatePercent" name="ceilingRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                				</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
		        		</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the rate the borrower will pay after the buydown is applied</span> 
		        			<span class="col-sm-3 pull-right">
								<div class="input-group">
									<input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownInitialEffectiveInterestRatePercent" percentage-format>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
						</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the Time interval in months between the interest rate increases during the buydown period</span> 
		        			<span class="col-sm-3 pull-right"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownChangeFrequencyMonthsCount" only-digits maxlength="3"></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the total number of months which the buydown is in affect</span> 
		        			<span class="col-sm-3 pull-right"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownDurationMonthsCount" only-digits maxlength="3"></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the amount by which the interest rate can increase at each adjustment within the buydown period</span> 
		        			<span class="col-sm-3 pull-right">
								<div class="input-group">
									<input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownIncreaseRatePercent" percentage-format>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
						</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Principal & Interest Payment Amount <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<input class="form-control" ng-model="cdformdata.payment.paymentRule.initialPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanDetail.paymentIncreaseIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="principalAndInterestChange()">
		        	</select>        	
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.paymentIncreaseIndicator == true">
		        		<li> <span class="pull-left margin5tb">Adjusts every</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" value="{{(cdformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount ? cdformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount/12 : '') | round}}" maxlength="3" ng-disabled="true"></span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" value="{{(cdformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount ? cdformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount/12 : '') | ceil}}" maxlength="3" ng-disabled="true"></span></li>
		        		<li><span class="pull-left margin5tb"> Can go as high as</span> 
		        			<span class="col-sm-3">
		        			<div class="input-group">
								<span class="input-group-addon input-default">$</span>
								<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmount" decimal-digits-with-number-format>
							</div>
							</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveYearCount" only-digits maxlength="2" ng-keyup="principleInterestRateYearToMonthsAdjustment()" ng-blur="principleInterestRateYearToMonthsAdjustment()">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>	
		      <tr style="">
		        <td><label>Payment Frequency Type <span class="required">*</span></label></td>
		        <td>
		        	<select class="form-control pull-left col-sm-7" ng-model="cdformdata.payment.paymentRule.paymentFrequencyType" style="width:100px;">
			        	<option value="" selected>Select</option>
			        	<option ng-repeat="pFTyp in paymentFrequencyTypes" value="{{pFTyp.value}}">{{pFTyp.name}}</option>
		        	</select>
		        </td>
		        <td>        	
		        </td>
		        <td>
		        </td>
		      </tr>		      
		      <tr> 
		        <td><label>Prepayment Penalty <span class="required">*</span></label></td>
		        <td><label></label></td>
		        <td  style="padding-right: 0px;">
		        	
		        	<select class="form-control pull-left" ng-model="cdformdata.loanDetail.prepaymentPenaltyIndicator" style="margin-top:5px;width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="prepaymentPenaltyChange()">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.prepaymentPenaltyIndicator == true">
		        		<li> <span class="pull-left margin5tb">As high as</span> 
		        			<span class="col-sm-3">
		        				<div class="input-group">
		        					<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyMaximumLifeOfLoanAmount" decimal-digits-with-number-format>
		        				</div>
		        				</span>
		        					<span class="pull-left margin5tb">if you pay off the loan  in the first</span>
		        					<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyExpirationInYears" only-digits maxlength="3"></span>
		        				<span class="pull-left margin5tb">years</span>
		        		</li>
			         </ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Balloon Payment <span class="required">*</span></label></td>
		        <td><label></label></td>
		        <td>
		        	<select class="form-control pull-left"  ng-model="cdformdata.loanDetail.balloonIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.balloonIndicator == true">
		        		<li> <span class="pull-left margin5tb">You will have to pay</span> 
		        			<span class="col-sm-3">
			        			<div class="input-group">
			        					<span class="input-group-addon input-default">$</span>
			        					<input type="text" class="form-control" name="" ng-model="cdformdata.loanDetail.balloonPaymentAmount" decimal-digits-with-number-format>
			        			</div>
		        			</span>
		        			<span class="pull-left margin5tb">at the end of year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{(cdformdata.maturityRule.loanMaturityPeriodCount ? cdformdata.maturityRule.loanMaturityPeriodCount/12 : '') | round}}" maxlength="3" ng-disabled="true">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
<div class="col-sm-12 margin10t">
			<span class="col-sm-4" style="text-align: left;"><a class="btn btn-default" ng-click="changeTab('loanInfo')">Back</a></span>
			<span class="col-sm-4" style="text-align:center;"><a class="btn btn-success" ng-click="calculatePayments()">Calculate</a></span>
			<span class="col-sm-4" style="text-align: right;"><a class="btn btn-primary" ng-click="changeTab('LoanCosts')">Next</a></span>
	</div>
</div>