<div class="col-sm-12">
	<h4>Loan Information</h4>
	<div class="col-sm-12">
	<h5 class="innerSectionHeader">Loan Period, Type and Position</h5>
	<div class="col-sm-12 row">
		<div class="col-sm-4">
			<div class="col-sm-5 fieldTitle">Loan Term:</div>
			<div class="col-sm-7">
                <span class="col-sm-6 padding0 margin5tb">Period type</span>
                <span class="col-sm-6 padding0">
                	<select  class="form-control" ng-model="cdformdata.loanInformation.loanMaturityPeriodType">
                		<option ng-repeat="loanPeriodType in loanPeriodTypes" value="{{loanPeriodType.value}}">{{loanPeriodType.name}}</option>
                	</select>
                </span>
            </div>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-6">
            	<div class="col-sm-7 padding0 fieldTitle">No. Years</div>
            	<div class="col-sm-5 padding0">
            		<input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.loanTermYears">
            	</div>
            </div>
            <div class="col-sm-6 padding0">
            	<div class="col-sm-8 padding0 fieldTitle">No. Months</div>
            	<div class="col-sm-4 padding0">
            		<input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.loanTermMonths">
            	</div>
            </div>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-5 fieldTitle">Purpose:</div>
			<div class="col-sm-7">
				<input type="text" class="form-control" style="text-transform:capitalize;" ng-model="cdformdata.loanInformation.purpose" ng-disabled="true">
			</div>
		</div>
	</div>
	<div class="col-sm-12 row margin5tb">
		<div class="col-sm-4">
			<div class="col-sm-5 fieldTitle">Loan Type:</div>
            <div class="col-sm-7">
              	<select  class="form-control" ng-model="cdformdata.loanInformation.mortgageType">
              		<option value="" selected>Select</option>
              		<option ng-repeat="loanType in loanTypes" value="{{loanType.value}}">{{loanType.name}}</option>
              	</select>

            </div>
		</div>
		<div class="col-sm-4">
			<div class="FieldGroup" ng-show="cdformdata.loanInformation.mortgageType=='Other'">
				<div class="col-sm-5 fieldTitle">Other Description:</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="loanTypeOtherDescription" ng-model="cdformdata.loanInformation.mortgageTypeOtherDescription">
				</div>
			</div>
			<div class="FieldGroup" ng-show="cdformdata.loanInformation.mortgageType!='Other'">
				<div class="col-sm-5 fieldTitle">Other Description:</div>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="loanTypeOtherDescription" ng-disabled="true">
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="FieldGroup">
				<div class="col-sm-5 fieldTitle">Lien Position</div>
				<div class="col-sm-7">
					<select  class="form-control" ng-model="cdformdata.loanInformation.lienPriorityType">
						<option value="" selected>Select</option>
						<option ng-repeat="lienPriorityType in lienPriorityTypes" value="{{lienPriorityType.value}}">{{lienPriorityType.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 row margin5tb">
		<div class="col-sm-4">
			<div class="col-sm-5 fieldTitle">Lender Loan Identifier: </div>
            <div class="col-sm-7" ng-repeat="loanIdentifier in cdformdata.loanInformation.loanIdentifiers" ng-if="loanIdentifier.loanIdentifierType=='LenderLoan'">
              	<input type="text" class="form-control" name="lenderLoanIdentifier"
              	ng-model="loanIdentifier.loanIdentifier">
            </div>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-6" >
            	<div class="col-sm-4 padding0 fieldTitle">MIC#</div>
            	<div class="col-sm-8 padding0"><input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.miCertificateIdentifier" ></div>
            </div>
            <div class="col-sm-6 padding0">
            	<div class="col-sm-12 padding0" ng-repeat="loanIdentifier in cdformdata.loanInformation.loanIdentifiers" ng-if="loanIdentifier.loanIdentifierType=='MERS_MIN'">
	            	<div class="col-sm-8 padding0 fieldTitle">MERS MIN ID:</div>
	            	<div class="col-sm-4 padding0"><input type="text" class="form-control" ng-model="loanIdentifier.loanIdentifier"></div>
            	</div>
            	<div class="col-sm-12 padding0">
	            	<div class="col-sm-8 padding0 fieldTitle">Appraisal ID:</div>
	            	<div class="col-sm-4 padding0"><input type="text" class="form-control" name=""></div>
            	</div>
            </div>
		</div>
		<div class="col-sm-4">
			<div class="FieldGroup">
				<div class="col-sm-7 fieldTitle">Manual Underwriting Flag</div>
				<div class="col-sm-5">
					<select  class="form-control" ng-model="cdformdata.loanInformation.loanManualUnderwritingIndicator"ng-options="option.id as option.name for option in dropDownBooleanOptions">
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 row margin5tb">
		<div class="col-sm-4" ng-repeat="automatedUnderwriting in cdformdata.loanInformation.automatedUnderwritings">
			<div class="row col-sm-12">
				<div class="col-sm-5 fieldTitle">AUS Type</div>
				<div class="col-sm-7">
					<select  class="form-control" ng-model="automatedUnderwriting.automatedUnderwritingSystemType">
	              		<option value="" selected>Select</option>
	                	<option ng-repeat="ausType in ausTypes" value="{{ausType.value}}">{{ausType.name}}</option>
	          		</select>
				</div>
			</div>
			<div class="row col-sm-12">
				<div class="FieldGroup">
					<div class="col-sm-5 fieldTitle">AUS Identifier</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" name="" ng-model="automatedUnderwriting.automatedUnderwritingCaseIdentifier">
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
		<div class="col-sm-12" ng-show="cdformdata.loanInformation.automatedUnderwritings.length<9" ><span class="AddSection" ng-click="addAusTypeIdentifier()"><a>+ Add Additional Automated Underwriting System Names and Identifiers</a></span></div>

		<div class="col-sm-12">
				<h5 class="innerSectionHeader">Product Description and Information</h5>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-5 fieldTitle">Product Description</div>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="" ng-model="cdformdata.loanInformation.integratedDisclosureLoanProductDescription">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-5 fieldTitle">Amortization Type</div>
						<div class="col-sm-7">
							<select  class="form-control" ng-model="cdformdata.loanInformation.amortizationType">
								<option value="" selected>Select</option>
								<option ng-repeat="amortizationType in amortizationTypes" value="{{amortizationType.value}}">{{amortizationType.name}}</option>
							</select>
						</div>
					</div>
				</div>
			<div class="col-sm-12" ng-show="cdformdata.loanInformation.amortizationType!='Fixed'">
			<div class="col-sm-12 tableInsideHeader">
				Adjustment Information (close-)
			</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of months for the fixed period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="fixedPeriodMonths" ng-blur="changeProductInfo()" ng-model="cdformdata.loanInformation.productAdjustmentInformation.fixedPeriodMonths">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the life of loan Cap Rate</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="loanCapRate" ng-model="cdformdata.loanInformation.productAdjustmentInformation.loanCapRate">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of months first change period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="firstChangePeriodMonths" ng-blur="changeProductInfo()" ng-model="cdformdata.loanInformation.productAdjustmentInformation.firstChangePeriodMonths">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the first change interest rate limit</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="firstChangeInterestRateLimit" ng-model="cdformdata.loanInformation.productAdjustmentInformation.firstChangeInterestRateLimit">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of months subsequent change period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="subsequentChangePeriodMonths" ng-blur="changeProductInfo()" ng-model="cdformdata.loanInformation.productAdjustmentInformation.subsequentChangePeriodMonths">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the subsequent change interest rate limit</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="subsequentChangeInterestRateLimit" ng-model="cdformdata.loanInformation.productAdjustmentInformation.subsequentChangeInterestRateLimit">
						</div>
					</div>
				</div>
				<div class="col-sm-6" ng-show="cdformdata.loanInformation.amortizationType == 'Step'">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If Amortization Type is Step, Provide the Total Step Count</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="subsequentChangeInterestRateLimit" ng-model="cdformdata.loanInformation.productAdjustmentInformation.subsequentChangeInterestRateLimit">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
	            <div class="col-sm-12 tableInsideHeader">
					Construction Information
				</div>
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Is this transaction a construction loan?</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.constructionLoan" ng-options="option.id as option.name for option in dropDownBooleanOptions">
					        </select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-7 fieldTitle">What type of Construction Loan?</div>
						<div class="col-sm-5 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.constructionLoanType" ng-disabled="cdformdata.loanInformation.constructionLoan == false">
					        	<option value="" selected>Select</option>
					        	<option ng-repeat="constructionLoanType in constructionLoanTypes" value="{{constructionLoanType.value}}">{{constructionLoanType.name}}</option>
					        </select>
				        </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
			<div class="col-sm-12 tableInsideHeader">
				Home Equity Loan Information
			</div>  
			     <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Is the Loan a Home Equity Loan</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-disabled="cdformdata.loanInformation.purpose=='Purchase' || cdformdata.loanInformation.purpose=='purchase'" ng-model="cdformdata.loanInformation.integratedDisclosureHomeEquityLoanIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions"></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
				</div>
			</div>
			<div class="col-sm-12">
			<div class="col-sm-12 tableInsideHeader">
				Interest Only Information
			</div>    
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does this loan have an interest only feature?</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.interestOnlyIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions"></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If Yes, what is the interest only period?</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" ng-model="cdformdata.loanInformation.interestOnlyTermMonthsCount" ng-disabled="cdformdata.loanInformation.interestOnlyIndicator == false">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
			<div class="col-sm-12 tableInsideHeader">
				Negative Amortization
			</div>    
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does this loan have a Negative Amortization Feature?</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.negativeAmoritzationIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions"></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-7 fieldTitle">Indicate if neg am is scheduled or potential:</div>
						<div class="col-sm-5 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.negativeAmortizationType" ng-disabled="cdformdata.loanInformation.negativeAmoritzationIndicator == false">
					        	<option value="" selected>Select</option>
					        	<option ng-repeat="negativeAmortizationType in negativeAmortizationTypes" value="{{negativeAmortizationType.value}}">{{negativeAmortizationType.name}}</option>
					        </select>
				        </div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
			<div class="col-sm-12 tableInsideHeader">
				Other Loan Product Features
			</div> 
			    <div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does the loan have a seasonal payment feature</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.seasonalPaymentFeatureIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions"></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-6 fieldTitle">If yes, provide the start and end months</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-disabled="cdformdata.loanInformation.seasonalPaymentFeatureIndicator == false">
					        	<option value="" selected>Select</option>
					        	<option ng-repeat="calendarMonth in calendarMonths" value="{{calendarMonth}}">{{calendarMonth}}</option>
					        </select>
				        </div>
				        <div class="col-sm-2 fieldTitle" style="text-align: center;">
				        to 
				        </div>
				        <div class="col-sm-2 padding0">
					        <select  class="form-control" ng-disabled="cdformdata.loanInformation.seasonalPaymentFeatureIndicator == false">
					        	<option value="" selected>Select</option>
					        	<option ng-repeat="calendarMonth in calendarMonths" value="{{calendarMonth}}">{{calendarMonth}}</option>
					        </select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does the loan have a Step payment feature</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.stepPaymentsFeatureIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions"></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If yes, provide the no. of months in which the Step feature will be in affect</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="" ng-disabled="cdformdata.loanInformation.stepPaymentsFeatureIndicator==false">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does the loan have an optional payment feature</div>
						<div class="col-sm-2 padding0">
					        <select  class="form-control" ng-model="cdformdata.loanInformation.optionalPaymentsFeatureIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions"></select>
				        </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If yes, provide the no. of months in which the Optional payment will be in affect</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="" ng-disabled="cdformdata.loanInformation.optionalPaymentsFeatureIndicator==false">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<br></br>
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('transInfo')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('loanterms')">Next</a></span>
		</div>		
</div>