<div class="col-sm-12">
	<h4>Loan Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section A. Origination Charge</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">{{cdformdata.closingCostDetailsLoanCosts.ocTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="originationCharge in cdformdata.closingCostDetailsLoanCosts.originationCharges">
		        <td ng-show="originationCharge.feeType == 'LoanDiscountPoints'">
		        	<span class="col-sm-2 padding0"><input type="text" class="form-control" ng-model="originationCharge.feeTotalPercent"> </span>
		        	<span class="margin5tb col-sm-10">% of Loan Amount Points</span>
		        </td>
		        <td ng-show="originationCharge.feeType != 'LoanDiscountPoints'">
		        	<input type="text" class="form-control padding0" name="" ng-model="originationCharge.displayLabel">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.feeType">
              			<option value="" selected>Select</option>
             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" ng-disabled="originationCharge.feeType!='Other'" name="originationCharge.feePaidToTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="originationCharge.feePaidToFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" only-digits name="" ng-model="originationCharge.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" only-digits name="" ng-model="originationCharge.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" only-digits name="" ng-model="originationCharge.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" only-digits name="" ng-model="originationCharge.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" only-digits name="" ng-model="originationCharge.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="originationCharge.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addOrganizationCharges()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section B. Services Borrower Did Not Shop For</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">{{cdformdata.closingCostDetailsLoanCosts.sbDidNotShopTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="sbDidNotShopFor in cdformdata.closingCostDetailsLoanCosts.sbDidNotShopFors">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="sbDidNotShopFor.displayLabel">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.feeType">
              			<option value="" selected>Select</option>
             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="sbDidNotShopFor.feeType!='Other'" name="sbDidNotShopFor.feePaidToTypeOtherDescription" name="sbDidNotShopFor.feePaidToTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="sbDidNotShopFor.feePaidToFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidNotShopFor.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidNotShopFor.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidNotShopFor.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidNotShopFor.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidNotShopFor.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="sbDidNotShopFor.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidNotShopFor()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section C. Services Borrower Did Shop For</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">{{cdformdata.closingCostDetailsLoanCosts.sbDidShopTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="sbDidShopFor in cdformdata.closingCostDetailsLoanCosts.sbDidShopFors">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="sbDidShopFor.displayLabel">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.feeType">
              			<option value="" selected>Select</option>
             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="sbDidShopFor.feeType!='Other'" name="sbDidShopFor.feePaidToTypeOtherDescription" name="sbDidShopFor.feePaidToTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="sbDidShopFor.feePaidToFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidShopFor.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidShopFor.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidShopFor.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidShopFor.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="sbDidShopFor.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="sbDidShopFor.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidShopFor()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-6 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader col-sm-7">Section D. Total Loan Costs (Borrower Paid)</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">{{cdformdata.closingCostDetailsLoanCosts.tlCostsTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <td>
		        	Loan Costs Subtotal (A+B+C)
		        </td>
		        <td class="text-center">
		        	{{cdformdata.closingCostDetailsLoanCosts.tlCosts.bpAtClosing | number:2}}
		        </td>
		        <td class="text-center">
		        	{{cdformdata.closingCostDetailsLoanCosts.tlCosts.bpB4Closing | number:2}}
		        </td>
		      </tr>
		</table>
	</span>


</div>
