<div class="col-sm-12">
	<h4>Loan Terms </h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-4 innerSectionHeader" colspan="2">Loan Terms</th>
		        <th  class="col-sm-8 innerSectionHeader" colspan="2">
		        	<span>Does this change after closing?</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>Loan Amount <span class="required">*</span> 
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span style="width: 500px;"> 
			           	 <p>Enter the value of the loan or upload the amount through a template or file.</p>
			           	 <ul><li>Format is an amount 9.2</li>
			           	 <li>The amount will be either the Note amount which is the amount to be repaid as disclosed on the note -  If the Interest rate and note amount are known at consummation (OR)</li>
			           	 <li>The Fully indexed principal and interest amount which is the dollar amount of the principal and interest payment when calculated using the loan amount and fully-indexed interest rate (in place of Note Interest Rate) to arrive at full amortization during the loan term.  If the Interest Rate and Note amount are NOT known at consummation.</li>
			           	 <li>The system defaults the yes/no drop-down box to NO for the question “Does this change after closing?” using the information from the product description section (negative amortization indicator = false is no in the drop down).</li>
			           	 <li>The User may change the yes/no drop down </li>
			           	 <li>User May enter in the Dollar amount the bullet stating “Can go as high as” for the loan amount maximum limit, otherwise it will pull from the product description section under negative amortization. </li>
			           	 <li>User May enter the number of months in the text box next to the Statement “Can Increase Until Year” for the second bullet, or the system will pull in the values from the product description section under Negative amortization.</li></ul>
			          </span>
			 </span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<actualize-input ng-model="cdformdata.termsOfLoan.noteAmount" name="noteAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                		</actualize-input>
		        	</div>
		        </td>
		        <td class="col-sm-1">
		        	<select class="form-control pull-left" ng-model="cdformdata.loanDetail.negativeAmortizationIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.negativeAmortizationIndicator">
		        		<li><span class="pull-left margin5tb col-sm-5"> Can go as high as </span> 
							<span class="col-sm-4">
								<div class="input-group">
									<span class="input-group-addon input-default">$</span>
									<input type="text" class="form-control" name="" ng-model="cdformdata.negativeAmortization.negativeAmortizationMaximumLoanBalanceAmount" decimal-digits-with-number-format ng-disabled="true">
								</div>
							</span>
						</li>
						<li> <span class="pull-left margin5tb col-sm-5"> Can increase until year </span> <span class="col-sm-4"><input type="text" class="form-control" name="" value="{{(cdformdata.negativeAmortization.negativeAmortizationLimitMonthsCount ? cdformdata.negativeAmortization.negativeAmortizationLimitMonthsCount/12 : '') | ceil}}" ng-disabled="true"></span></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Interest Rate <span class="required">*</span>
		        	<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span style="width: 700px;"> 
				           	 <p>Enter or Upload the interest rate as it will be disclosed on the note or the Fully Disclosed Index Rate.</p>
				           	 <ul><li>If manually entered interest rate, the system defaults for the question “Does this change after closing?” Yes | No drop-down box to NO until the user completes the Product Description section.
				           	 <ul>
				           	 	<li>If the Amortization Type in the product description section is equal to Fixed, then the “Does this change after closing?” remains No</li>
				           	 	<li>If the Amortization Type in the product description section is NOT Equal to Fixed, then the “Does this change after closing?” changes to Yes with additional bullet points to be filled in using the information from the Product Description section, however these fields are editable by the user.</li>
				           	 	<li>The following fields must have values if the Amortization Type is NOT fixed: </li>
				           	 	<ul><li>Adjusts every   ______  years starting in year______ -  Provide the number of Years for the adjustment AND the year in which the adjustment will start plus one month because interest changes in arrears.  So if the interest rate is due to change in month 60 (aka 5 years) then the form needs to state in year 6 because the payment will actually change in year 6.</li>
				           	 	<li>Can go as high as  _____ in year ________  - The can go as high as statement is the ceiling rate for the life of the loan, then in year again is the year in which the ceiling will be reached. </li></ul>
				           	 </ul></li>
				           	 <li>Regardless of Amortization Type the user must provide the values for; current rate set date, the loan price quote and the Average Prime Offer Rate (APOR) in the 3 text boxes allotted for the values.</li>
				           	 <ul>
				           	 	<li>Current Rate Set Date is the Date on which the interest rate for the loan was set by the lender for the final time before closing.</li>
				           	 	<li>Loan Price Quote is the mortgage loan interest rate for which the price quote is calculated.</li>
				           	 	<li>The APOR is an annual percentage rate that is derived from average interest rates, points, and other loan pricing terms currently offered to consumers by a representative sample of creditors for mortgage transactions that have low-risk pricing characteristics. The Federal Reserve Board publishes average prime offer rates for a broad range of types of transactions in a table updated at least weekly. This rate is used in determining Higher Priced Mortgage Loans (HPML).</li>
				           	 </ul>
				           	 </ul>
				          </span>
				 </span>
		        </label></td>
		        <td>
		        	<div class="input-group">
  							<actualize-input ng-model="cdformdata.termsOfLoan.noteRatePercent" name="noteRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format" ng-disabled="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator" ng-show="cdformdata.loanInformation.amortizationType!='GraduatedPaymentARM' && cdformdata.loanInformation.amortizationType!='AdjustableRate' && !cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator">
                			</actualize-input>
            				<actualize-input ng-model="cdformdata.termsOfLoan.disclosedFullyIndexedRatePercent" name="noteRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format" ng-disabled="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator" ng-show="cdformdata.loanInformation.amortizationType=='GraduatedPaymentARM' || cdformdata.loanInformation.amortizationType=='AdjustableRate' && !cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator">
            				</actualize-input>
            				<actualize-input ng-model="cdformdata.loanTerms.temporaryBuydown.buydownInitialEffectiveInterestRatePercent" name="noteRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format" ng-disabled="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator" ng-show="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator">
            				</actualize-input>

  							<span class="input-group-addon input-default">%</span>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanDetail.interestRateIncreaseIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList">
		        		<li ng-show="cdformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-4 padding0">Adjusts every</span> 
		        			<span class="col-sm-2">
		        				<input type="text" value="{{(cdformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount ? cdformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount/12 : '') | round}}" class="form-control" name="" ng-disabled="true">
		        			</span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" value="{{(cdformdata.interestRateAdjustment.firstRateChangeMonthsCount ? cdformdata.interestRateAdjustment.firstRateChangeMonthsCount/12+1 : '') | ceil}}" name="" ng-disabled="true">
		        			</span>
		        		</li>
		        		<li ng-show="cdformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-4 padding0">Can go as high as</span> 
		        			<span class="col-sm-3">
							<div class="input-group">								
		        				<input type="text" ng-model="cdformdata.interestRateAdjustment.ceilingRatePercent" class="form-control" name="" percentage-format ng-disabled="true">
								<span class="input-group-addon input-default">%</span>
							</div>
		        			</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="cdformdata.interestRateAdjustment.ceilingRatePercentEarliestEffectiveYearCount" class="form-control" name="" only-digits maxlength="2" ng-keyup="interestRateYearToMonthsAdjustment()" ng-blur="interestRateYearToMonthsAdjustment()">
		        			</span>
		        		</li>
		        		<li>
		        			<span class="pull-left margin5tb col-sm-4 padding0">Provide Current Rate Set Date <span class="required">*</span></span>
		        			<span class="col-sm-5">
			        			<span class="col-sm-7 padding0">
									<actualize-input name="interestRateSetDate" id="interestRateSetDate" dateFormat="{{dateFormat}}" ng-model="cdformdata.closingInformationDetail.currentRateSetDate" is-open="isInterestRateSetDate" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date" placeholder="MM/DD/YYYY"  dependencies="actualize-date" type="date">
                					</actualize-input>
								</span>
				      			<span class="input-group-btn col-sm-2 padding0">
				        			<button type="button" class="btn btn-default calenderBtn" ng-click="isInterestRateSetDate = !isInterestRateSetDate"><i class="glyphicon glyphicon-calendar"></i></button>
				        		</span>
			        		</span>
		        		</li>
		        		<li>
		        			<span class="col-sm-7 margin5tb col-sm-4 padding0">Provide the Loan price quote <span class="required">*</span></span> 
		        			<span class="col-sm-4">
		        				<div class="input-group">	
		        					<actualize-input ng-model="cdformdata.loanProduct.loanPriceQuoteInterestRatePercent" name="loanPriceQuoteInterestRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                					</actualize-input>
		        					<span class="input-group-addon input-default">%</span>
		        				</div>
		        			</span>
		        		</li>
		        		<li>
		        			<span class="col-sm-7 margin5tb col-sm-4 padding0">Provide the APOR <span class="required">*</span></span> 
		        			<span class="col-sm-4">
		        				<div class="input-group">	
		        					<actualize-input ng-model="cdformdata.loanCalculationsQualifiedMortgage.qualifiedMortgage.averagePrimeOfferRatePercent" name="averagePrimeOfferRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                					</actualize-input>
		        					<span class="input-group-addon input-default">%</span>
		        					</div>
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Temporary buydown <span class="required">*</span>
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span style="width: 500px;"> 
			           	 <p>The temporary buydown information is only needed when the buydown is listed within the NOTE itself.  The Drop-down must be edited by the user, it will default to NO automatically and the use may change to yes.  If the user changes the default value to yes then additional information will be required dependent upon answers additional information may be needed.</p>
			           	 <p>If changed to YES, then provide</p>
			           	 <ul><li>Is the buydown reflected on the Note, If NO nothing else is needed.</li></ul>
			           	 <p>If yes</p>
			           	 <ul>
			           	 	<li>What is the Rate as reflected without the Buydown? There is a text box in which the user must input the note rate that would be reflected in the note if there was not a buydown that the user may provide in the text box</li>
			           	 	<li>Provide the rate the borrower will pay after the buydown is applied – this will a rate percent value in the text box.</li>
			           	 	<li>Provide the Time interval in months between the interest rate increases during the buydown period this will be a numeric value in which the user will enter the value in the text box.</li>
			           	 	<li>Provide the total number of months which the buydown is in affect which the user will input into the text box.</li>
			           	 	<li>Provide the amount by which the interest rate can increase at each adjustment within the buydown period.</li>
			           	 </ul>
			          </span>
			 </span></label></td>
		        <td>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="temporaryChange()">
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.buydownTemporarySubsidyFundingIndicator == true">
		        		
		        		<li><span class="pull-left margin5tb">Is the buydown reflected on the Note</span> 
		        			<span class="col-sm-2">
		        			<select class="form-control pull-left" ng-model="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator"ng-change="temporaryBuydownChange()" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        			<option value="" selected="selected">Select</option>
			        	    </select>
			        	   </span> 
		        		</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true">						    
							<span class="pull-left margin5tb">What is the Rate as reflected without the Buydown?</span> 
		        			<span class="col-sm-3">
								<div class="input-group">
									<actualize-input ng-model="cdformdata.termsOfLoan.noteRatePercent" name="ceilingRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                				</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
		        		</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the rate the borrower will pay after the buydown is applied</span> 
		        			<span class="col-sm-3 pull-right">
								<div class="input-group">
									<actualize-input ng-model="cdformdata.loanTerms.temporaryBuydown.buydownInitialEffectiveInterestRatePercent" name="buydownInitialEffectiveInterestRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                					</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
						</li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the Time interval in months between the interest rate increases during the buydown period</span> 
		        			<span class="col-sm-3 pull-right"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownChangeFrequencyMonthsCount" only-digits maxlength="3"></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the total number of months which the buydown is in affect</span> 
		        			<span class="col-sm-3 pull-right"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.temporaryBuydown.buydownDurationMonthsCount" only-digits maxlength="3"></span> </li>
		        		<li ng-show="cdformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the amount by which the interest rate can increase at each adjustment within the buydown period</span> 
		        			<span class="col-sm-3 pull-right">
								<div class="input-group">
									
									<actualize-input ng-model="cdformdata.loanTerms.temporaryBuydown.buydownIncreaseRatePercent" name="buydownIncreaseRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                					</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
						</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Principal & Interest Payment Amount <span class="required">*</span>
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span style="width: 500px;"> 
			           	 <p>The P&I payment is required to be filled-in, calculated by the calculate button on the user interface, or upload through a template/ xml file/ PDF file.</p>
			           	 <ul><li>The drop down will indicate yes or no; this is always defaulted to NO if manual data entry.</li>
			           	 <li>The drop is also driven by the information input in to the product description section.</li></ul>
			           	 <p>If yes, amortization type is NOT equal to Fixed then the user will provide the following information either through entry of information in the product description section or can manually enter the information into the User interface for this row:</p>
			           	 <ul>
			           	 	<li>Adjusts every ________ years starting in year______;</li>
			           	 	<li>Can go as high as   ________ in year_______;</li>
			           	 </ul>
			          </span>
			 </span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<actualize-input ng-model="cdformdata.payment.paymentRule.initialPrincipalAndInterestPaymentAmount" name="initialPrincipalAndInterestPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                		</actualize-input>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="cdformdata.loanDetail.paymentIncreaseIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>        	
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.paymentIncreaseIndicator == true">
		        		<li> <span class="pull-left margin5tb">Adjusts every</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" value="{{(cdformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount ? cdformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount/12 : '') | round}}" maxlength="3" ng-disabled="true"></span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" value="{{(cdformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount ? cdformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount/12 : '') | ceil}}" maxlength="3" ng-disabled="true"></span></li>
		        		<li><span class="pull-left margin5tb"> Can go as high as</span> 
		        			<span class="col-sm-3">
		        			<div class="input-group">
								<span class="input-group-addon input-default">$</span>
								<actualize-input ng-model="cdformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmount" name="principalAndInterestPaymentMaximumAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                				</actualize-input>
							</div>
							</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="cdformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveYearCount" only-digits maxlength="2" ng-keyup="principleInterestRateYearToMonthsAdjustment()" ng-blur="principleInterestRateYearToMonthsAdjustment()">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>	
		      <tr style="">
		        <td><label>Payment Frequency Type <span class="required">*</span>
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span style="width: 500px;"> 
				           	 <p>In all transactions, the user must provide the payment frequency which specifies the frequency of the mortgage payment through a list of enumerated values that will be used to calculate the payment.
				           	 <ul><li>
				           	 Enumerated Values are: Annual | At Maturity | Biweekly | Monthly | Quarterly | Semiannual | Semimonthly | Weekly</p>
				           	 </li></ul>
				          </span>
				 </span></label></td>
		        <td>
		        	<select class="form-control pull-left col-sm-7" ng-model="cdformdata.payment.paymentRule.paymentFrequencyType" style="width:100px;">
			        	<option value="" selected>Select</option>
			        	<option ng-repeat="pFTyp in paymentFrequencyTypes" value="{{pFTyp.value}}">{{pFTyp.name}}</option>
		        	</select>
		        </td>
		        <td>        	
		        </td>
		        <td>
		        </td>
		      </tr>		      
		      <tr> 
		        <td><label>Prepayment Penalty <span class="required">*</span>
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span style="width: 500px;"> 
			           	 <p>For the question, can this change after closing there is a drop-down box that Indicates whether the prepayment penalty can change after closing.</p>
			           	 <ul><li>The default is set to NO.</li>
			           	 <li>The user may change to YES, which triggers the ability to see the bullet points required by the CFPB Know before You Owe regulation that indicates the highest amount of the prepayment penalty and the last scheduled year in which the prepayment penalty would be in affect noting that this amount is provided to the borrower as a disclosure.</li></ul>
			          </span>
			 </span></label></td>
		        <td><label></label></td>
		        <td  style="padding-right: 0px;">
		        	
		        	<select class="form-control pull-left" ng-model="cdformdata.loanDetail.prepaymentPenaltyIndicator" style="margin-top:5px;width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="prepaymentPenaltyChange()">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.prepaymentPenaltyIndicator == true">
		        		<li> <span class="pull-left margin5tb">As high as</span> 
		        			<span class="col-sm-3">
		        				<div class="input-group">
		        					<span class="input-group-addon input-default">$</span>
		        					<actualize-input ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyMaximumLifeOfLoanAmount" name="prepaymentPenaltyMaximumLifeOfLoanAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                				</actualize-input>
		        				</div>
		        				</span>
		        					<span class="pull-left margin5tb">if you pay off the loan  in the first</span>
		        					<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="cdformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyExpirationInYears" only-digits maxlength="3"></span>
		        				<span class="pull-left margin5tb">years</span>
		        		</li>
			         </ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Balloon Payment <span class="required">*</span>
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span style="width: 500px;"> 
			           	 <p>For the question, can this change after closing, there is a drop-down box that Indicates whether the balloon payment, if one exists, can change after closing.</p>
			           	 <ul><li>The default is NO.</li>
			           	 <li>If YES, indicate how much will need to be paid via a text box and the year the balloon payment will be due in full.</li></ul>
			          </span>
			 </span></label></td>
		        <td><label></label></td>
		        <td>
		        	<select class="form-control pull-left"  ng-model="cdformdata.loanDetail.balloonIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="cdformdata.loanDetail.balloonIndicator == true">
		        		<li> <span class="pull-left margin5tb">You will have to pay</span> 
		        			<span class="col-sm-3">
			        			<div class="input-group">
			        					<span class="input-group-addon input-default">$</span>
			        					<input type="text" class="form-control" name="" ng-model="cdformdata.loanDetail.balloonPaymentAmount" decimal-digits-with-number-format>
			        			</div>
		        			</span>
		        			<span class="pull-left margin5tb">at the end of year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{(cdformdata.maturityRule.loanMaturityPeriodCount ? cdformdata.maturityRule.loanMaturityPeriodCount/12 : '') | round}}" maxlength="3" ng-disabled="true">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
<div class="col-sm-12 margin10t">
			<span class="col-sm-4" style="text-align: left;"><a class="btn btn-default" ng-click="changeTab('loanInfo')">Back</a></span>
			<span class="col-sm-4" style="text-align:center;"><a class="btn btn-success" ng-click="calculatePayments()">Calculate</a></span>
			<span class="col-sm-4" style="text-align: right;"><a class="btn btn-primary" ng-click="changeTab('LoanCosts')">Next</a></span>
	</div>
</div>