<div class="col-sm-12">
	<h4>Other Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section E. Taxes and Other Government Fees</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Amount</th>
		      </tr>
		      <tr ng-repeat="tOGovtFee in cdformdata.closingCostDetailsOtherCosts.tOGovtFeesList" ng-if="tOGovtFee.feeType =='RecordingFeeForDeed' || tOGovtFee.feeType=='RecordingFeeForMortgage'">
		        <td>
		        	<span class="margin5tb col-sm-12 padding0">{{tOGovtFee.displayLabel}}</span>
		        </td>
		        <td style="width:8%">
		        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feeType" ng-disabled="true">
		        </td>
		        <td style="width:8%">
		        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feeActualTotalAmount" only-digits ng-keyup="">
		        </td>
                <td style="border:0px">
		        	
		        </td>
                <td style="border:0px">
		        	
		        </td>
		        <th class="innerSectionHeader innerSectionMainHeader text-center"  style=" border:0px" colspan="2" ng-if="tOGovtFee.feeType=='RecordingFeeForMortgage'">
		        	${{cdformdata.closingCostDetailsOtherCosts.tOGovtFeesTotalAmount | number:2}}
		        </th>
                <td style="border:0px" ng-if="tOGovtFee.feeType!='RecordingFeeForMortgage'">
		        	
		        </td>
		      </tr>
		<!--</table>
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">-->
			 
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		      </tr>
		      <tr ng-repeat="tOGovtFee in cdformdata.closingCostDetailsOtherCosts.tOGovtFeesList" ng-if="tOGovtFee.feeType !='RecordingFeeForDeed' && tOGovtFee.feeType!='RecordingFeeForMortgage'">
		        <td ng-if="tOGovtFee.feeType == 'RecordingFeeTotal'">
		        	<span class="margin5tb col-sm-12">{{tOGovtFee.displayLabel}}</span>
		        </td>
		        <td ng-if="tOGovtFee.feeType != 'RecordingFeeTotal'">
		        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.displayLabel">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="tOGovtFee.feeType" ng-disabled="tOGovtFee.feeType == 'RecordingFeeTotal'">
              		<option value="" selected>Select</option>
             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="tOGovtFee.feeType!='Other'" name="tOGovtFee.feePaidToTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feePaidToFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="tOGovtFee.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="tOGovtFee.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="tOGovtFee.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="tOGovtFee.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="tOGovtFee.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="tOGovtFee.paidByOthers">
		        </td>
		       <td class="text-center">
		        	<input type="checkbox" name="" ng-model="tOGovtFee.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addtOGovtFeesList()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb InsuranceSection"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section F. Prepaids	</th>
				<th colspan="3" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">${{cdformdata.closingCostDetailsOtherCosts.prepaidsTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Paid From Date</th>
                <th class="innerSectionHeader">Paid Through Date</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="prepaidsList in cdformdata.closingCostDetailsOtherCosts.prepaidsList | filter:{prepaidItemType : 'PrepaidInterest'}" >
		        <td>
		        	<span class="margin5tb col-sm-12 padding0">Prepaid Interest</span>
		        	<span class="col-sm-5 padding0"><input type="text" class="form-control padding0" placeholder="Per Diem Amount" name="" ng-model="prepaidsList.prepaidItemPerDiemAmount"/></span>
		        	<span class=" col-sm-7 padding0" style="padding-left:5px;">
			        	<select class="form-control" ng-model="prepaidsList.prepaidItemPerDiemCalculationMethodType">
				        	<option value="" selected>Select</option>
				        	<option value="360">360</option>
				        	<option value="365">365</option>
				        	<option value="365Or366">365 Or 366</option>
			        	</select>
		        	</span>
		        </td>
		        <td class="col-sm-1 padding0">
		        	<select class="form-control padding0" ng-model="prepaidsList.prepaidItemType" ng-disabled="true">
              			<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem}}">{{prepaidItem}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemPaidFromDate">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemPaidThroughDate">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
 		        		<option value="" selected>Select</option>
              			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
 		        	</select>
		        </td>

		         <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpAtClosing">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpB4Closing">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spB4Closing">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
 		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
 		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
 		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
 		        	</select>
		        </td>
		      </tr>
		      
		</table>

		<table class="table LoanCostsSection table-bordered margin5tb InsuranceSection"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
                <th class="innerSectionHeader">No of Months</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="prepaidsList in cdformdata.closingCostDetailsOtherCosts.prepaidsList | filter:{prepaidItemType : 'HomeownersInsurancePremium'} ">
		        <td>
		        	<span class="margin5tb col-sm-10">Homeowners Insurance Premium</span>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.prepaidItemType"  ng-disabled="true">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem}}">{{prepaidItem}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="prepaidsList.prepaidItemType!='Other'" ng-model="prepaidsList.prepaidItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName">
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>

		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in cdformdata.closingCostDetailsOtherCosts.prepaidsList | filter:{prepaidItemType : 'MortgageInsurancePremium'} ">
		        <td>
		        	<span class="margin5tb col-sm-10">Mortgage Insurance Premium</span>
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.prepaidItemType"  ng-disabled="true">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem}}">{{prepaidItem}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="prepaidsList.prepaidItemType!='Other'" ng-model="prepaidsList.prepaidItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName">
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>

		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in cdformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.displayLabelText == 'Property Taxes'">
		        <td>
		        	<span class="margin5tb col-sm-10">Property Taxes</span>
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.prepaidItemType">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem}}">{{prepaidItem}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="prepaidsList.prepaidItemType!='Other'" ng-model="prepaidsList.prepaidItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName">
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>

		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
              <tr ng-repeat="prepaidsList in cdformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType!='HomeownersInsurancePremium' && prepaidsList.prepaidItemType!='MortgageInsurancePremium' && prepaidsList.prepaidItemType!='PrepaidInterest' && prepaidsList.displayLabelText!='Property Taxes'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.displayLabelText">
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.prepaidItemType">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem}}">{{prepaidItem}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="prepaidsList.prepaidItemType!='Other'" ng-model="prepaidsList.prepaidItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount">
		        </td>
		         <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName">
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>

		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="prepaidsList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>

		<span class="AddSection" ng-click="addprepaidsList()">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section G. Escrows</th>
				<th colspan="4" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">${{cdformdata.closingCostDetailsOtherCosts.iEPatClosingTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Monthly Amount</th>
		        <th class="innerSectionHeader">No.of Months</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="iEPatClosingList in cdformdata.closingCostDetailsOtherCosts.iEPatClosingList | filter :{escrowItemType:'HomeownersInsurance'}">
		        <td>
		        	<span class="margin5tb col-sm-10">Homeowners Insurance</span>
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.escrowItemType"  ng-disabled="true">
              		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes track by $index" value="{{escrowItemType}}">{{escrowItemType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="iEPatClosingList.escrowItemType!='Other'" ng-model="iEPatClosingList.escrowItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowMonthlyPaymentAmount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowCollectedNumberOfMonthsCount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" >
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="iEPatClosingList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		      <tr ng-repeat="iEPatClosingList in cdformdata.closingCostDetailsOtherCosts.iEPatClosingList | filter :{escrowItemType:'MortgageInsurance'}">
		        <td>
		        	<span class="margin5tb col-sm-10">Mortgage Insurance</span>
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.escrowItemType"  ng-disabled="true">
              		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes track by $index" value="{{escrowItemType}}">{{escrowItemType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="iEPatClosingList.escrowItemType!='Other'" ng-model="iEPatClosingList.escrowItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowMonthlyPaymentAmount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowCollectedNumberOfMonthsCount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" >
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="iEPatClosingList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		      <tr ng-repeat="iEPatClosingList in cdformdata.closingCostDetailsOtherCosts.iEPatClosingList | filter :{displayLabel: 'Property Taxes'}">
		        <td>
		        	<span class="margin5tb col-sm-10">Property Taxes</span>
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.escrowItemType">
              		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes track by $index" value="{{escrowItemType}}">{{escrowItemType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="iEPatClosingList.escrowItemType!='Other'" ng-model="iEPatClosingList.escrowItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowMonthlyPaymentAmount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowCollectedNumberOfMonthsCount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" >
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="iEPatClosingList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		      <tr ng-repeat="iEPatClosingList in cdformdata.closingCostDetailsOtherCosts.iEPatClosingList" ng-if="iEPatClosingList.escrowItemType != 'HomeownersInsurance' && iEPatClosingList.escrowItemType != 'MortgageInsurance' && iEPatClosingList.displayLabel != 'Property Taxes'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.displayLabel">
		        </td>
		         <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.escrowItemType">
              		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes track by $index" value="{{escrowItemType}}">{{escrowItemType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="iEPatClosingList.escrowItemType!='Other'" ng-model="iEPatClosingList.escrowItemTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowMonthlyPaymentAmount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="iEPatClosingList.escrowCollectedNumberOfMonthsCount">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" >
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="iEPatClosingList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="iEPatClosingList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="iEPatClosingList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addiEPatClosingList()">
			<a>+ Add Additional lines</a>
		</span>
	</span>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section H. Other	</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">${{cdformdata.closingCostDetailsOtherCosts.otherTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Optional Fee?</th>
                <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr ng-repeat="otherCostsList in cdformdata.closingCostDetailsOtherCosts.otherCostsList">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.displayLabel">
		        </td>
		       <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.feeType">
              		<option value="" selected>Select</option>
             			<option ng-repeat="feeType in feeTypes track by $index" value="{{feeType}}">{{feeType}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-disabled="otherCostsList.feeType!='Other'" name="otherCostsList.feePaidToTypeOtherDescription">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.feePaidToFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="otherCostsList.bpAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="otherCostsList.bpB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="otherCostsList.spAtClosing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="otherCostsList.spB4Closing">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="otherCostsList.paidByOthers">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="otherCostsList.lenderStatus">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.optionalCostIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addotherCostsList()">
			<a>+ Add Additional lines</a>
		</span>
	</span>
	<span  class="col-sm-6 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader col-sm-7">Section I. Total Other Costs (Borrower Paid)</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">${{cdformdata.closingCostDetailsOtherCosts.totalOtherCostsTotalAmount | number:2 }}</th>
			  </tr>
		      <tr>
		        <td>
		        	Other Costs Subtotal (E + F + G + H)
		        </td>
		        <td class="text-center">
		        	${{cdformdata.closingCostDetailsOtherCosts.totalOtherCosts.bpAtClosing | number:2}}
		        </td>
		        <td class="text-center">
		        	${{cdformdata.closingCostDetailsOtherCosts.totalOtherCosts.bpB4Closing  | number:2}}
		        </td>
		      </tr>
		</table>
	</span>


</div>



