<div class="col-sm-12">
	<h4>Other Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section E. Taxes and Other Government Fees</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Amount</th>
		        <!--<th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>-->
		      </tr>
		      <tr>
		        <td style="width:8%">
		        	<span class="margin5tb col-sm-10">Recording Fees</span>
		        </td>
		        <td style="width:8%">
		        	<input type="text" class="form-control padding0" name="" value="Recording fee for Deeds">
		        </td>
		        <td style="width:8%">
		        	<input type="text" class="form-control padding0" name="" value="$50">
		        </td>
                <td style="border:0px">
		        	
		        </td>
                <td style="border:0px">
		        	
		        </td>
                <td style="border:0px">
		        	
		        </td>
                <td style="border:0px">
		        	
		        </td>
                <td style="border:0px">
		        	
		        </td>
                <td style=" border:0px">
		        	
		        </td>
                <td style=" border:0px">
		        	
		        </td>
		        
		      </tr>
		      <tr>
		        <td>
		        	<span class="margin5tb col-sm-10">Recording Fees</span>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" value="Recording fee for Mortgage">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" value="$150" >
		        </td>
                <td style=" border:0px">
		        	
		        </td>
                <td style=" border:0px">
		        	
		        </td>
                <td style=" border:0px">
		        	
		        </td>
                <td  style="border:0px">
		        	
		        </td>
                <td class="innerSectionHeader innerSectionMainHeader text-center"  style=" border:0px" colspan="2">
		        	$1760.31
		        </td>
                <td style="width:15%; border:0px">
		        	
		        </td>
                <td style="width:15%; border:0px">
		        	
		        </td>
                <td style="width:15%; border:0px">
		        	
		        </td>
		       
		      </tr>
		<!--</table>
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">-->
			 
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		       
		      </tr>
		      <tr>
		        <td>
		        	<span class="margin5tb col-sm-10">Recording Fees Total</span>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Estimated Property Value</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Estimated Property Value</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        
		      </tr>
		</table>
		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section F. Prepaids	</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">$0</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Paid From Date</th>
                <th class="innerSectionHeader">Paid Through Date</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr>
		        <td>
		        	<span class="margin5tb col-sm-10">Prepaid Interest</span>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Prepaid Interest</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	
		        </td>
		        <td>
		        	
		        </td>
		        <td>
		        	
		        </td>
		        <td>
		        	
		        </td>
		        <td>
		        
		        </td>
		        <td class="text-center">
		        
		        </td>
		        <td>
		        	
		        </td>
		        <td>
		        
		        </td>
                <td>
		        
		        </td>
		      </tr>
		      
		</table>

<table class="table LoanCostsSection table-bordered margin5tb InsuranceSection"  style="border:0px;">			  
		      <tr>
		        <th class="innerSectionHeader">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
                <th class="innerSectionHeader">No of Months</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr>
		        <td>
		        	<span class="margin5tb col-sm-10">Homeowners Insurance Premium</span>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Estimated Property Value</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
                 <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<span class="margin5tb col-sm-10">Mortgage Insurance Premium</span>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Section G. Escrows</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
                 <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
               <tr>
		        <td>
		        	<span class="margin5tb col-sm-10">Property Taxes</span>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Section G. Escrows</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
                 <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
              <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Section G. Escrows</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
                 <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
		</table>

		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section G. Escrows</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">$0</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Estimated Property Value</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Section G. Escrows</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>
	</span>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section H. Other	</th>
				<th colspan="2" class="border_top0"></th>
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">$0</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label Name</th>
		        <th class="innerSectionHeader">Fee Type</th>
		        <th class="innerSectionHeader">Fee Type Other Description</th>
		        <th class="innerSectionHeader">Full Name (if applicable)</th>
		        <th class="innerSectionHeader">Fee Paid To Type</th>
		        <th class="innerSectionHeader">Brw Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Brw Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid At Closing Amt</th>
		        <th class="innerSectionHeader">Seller Paid Before Closing Amt</th>
		        <th class="innerSectionHeader">Paid By Other Amt</th>
		        <th class="innerSectionHeader">Paid By Lender Flag</th>
		        <th class="innerSectionHeader">Optional Fee?</th>
                <th class="innerSectionHeader">Include in APR Calculation</th>
		        <th class="innerSectionHeader">Include in Reg Z Points/Fee</th>
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Estimated Property Value</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
             			<option value="Estimated">Section G. Escrows</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
                 <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		      </tr>
		</table>
		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>
	</span>
	<span  class="col-sm-6 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader col-sm-7">Section I. Total Other Costs (Borrower Paid)</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center" colspan="2">$12,356.67</th>
			  </tr>
		      <tr>
		        <td>
		        	Other Costs Subtotal (E + F + G + H)
		        </td>
		        <td class="text-center">
		        	$12,256.67
		        </td>
		        <td class="text-center">
		        	$100
		        </td>
		      </tr>
		</table>
	</span>


</div>



