<div class="col-sm-12">
	<h4>Payoffs and Payments</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Paid To Name</th>
		        <th class="innerSectionHeader">Item Description</th>
		        <th class="innerSectionHeader">Paid By Name</th>
		        <th class="innerSectionHeader">Amount</th>
		        <th class="innerSectionHeader">Subject Property Securing Liability?</th>
		        <th class="innerSectionHeader">Prepayment Amount</th>
		        <th class="innerSectionHeader">Partial Payoff Flag</th>   
		      </tr>
		      <tr ng-repeat="liability in cdformdata.payoffsAndPayments.liabilitiesList">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="liability.liabilityHolderFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="liability.liabilityType">
              			<option>Select</option>
              			<option ng-repeat="liabilityType in liabilityTypes" value="{{liabilityType.value}}" ng-disabled="liabilityType.disabled">{{liabilityType.name}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="liability.liabilityHolderFullName" >
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="liability.payoffAmount">
		        </td>
		        <td>
		        	<select  class="form-control padding0" ng-model="liability.liabilitySecuredBySubjectPropertyIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions">
					</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="liability.payoffPrepaymentPenaltyAmount">
		        </td>
		        <td>
              		<select  class="form-control padding0" ng-model="liability.liabilitySecuredBySubjectPropertyIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions">
					</select>
		        </td>
		      </tr>
		      <tr ng-repeat="adjustment in cdformdata.payoffsAndPayments.closingAdjustmentItemList">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="adjustment.paidToEntityFullName">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="adjustment.closingAdjustmentItemType">
              			<option>Select</option>
              			<option ng-repeat="adjustmentType in otherCredits" value="{{adjustmentType.value}}" ng-disabled="adjustmentType.disabled">{{adjustmentType.name}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="adjustment.paidByEntityFullName">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="adjustment.closingAdjustmentItemAmount">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0">
              			<option>Select</option>
              		</select>
		        </td>		        
		      </tr>
		</table>
		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>		
		<table class="table col-sm-12">
		    <tbody>
		      <tr>
		        <td class="col-sm-5"><label>Total Payoffs and Payments</label></td>
		        <td class="col-sm-2"><label class="ng-binding" ng-model="payoffsAndPaymentsTotalAmount">${{payoffsAndPaymentsTotalAmount}}</label></td>
		        <td class="col-sm-5"></td>
		      </tr>
		    </tbody>
		</table>
	</span>
</div>



