<div class="col-sm-12">
	<h4>Payoffs and Payments</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Paid To Name</th>
		        <th class="innerSectionHeader">Item Description</th>
		        <th class="innerSectionHeader">Paid By Name</th>
		        <th class="innerSectionHeader">Amount</th>
		        <th class="innerSectionHeader">Public Propertly Securing Liability?</th>
		        <th class="innerSectionHeader">Prepayment Amount</th>
		        <th class="innerSectionHeader">Partial Payoff Flag</th>   
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
              		</select>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0"><option></option></select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="cdformdata.originationCharge.feeType">
              			<option>Select</option>
              		</select>
		        </td>		        
		      </tr>
		</table>
		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>		
		<table class="table col-sm-12">
		    <tbody>
		      <tr>
		        <td class="col-sm-5"><label>Total Payoffs and Payments</label></td>
		        <td class="col-sm-2"><label class="ng-binding">$152,222.99</label></td>
		        <td class="col-sm-5"></td>
		      </tr>
		    </tbody>
		</table>
	</span>
</div>



