<div class="col-sm-12">
	<h4>Payoffs and Payments</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Indicate either LiabilityOR adjustment</th>
		        <th class="innerSectionHeader col-sm-2">Item Description</th>
		        <th class="innerSectionHeader col-sm-2">Paid To /By Name </th>
		        <th class="innerSectionHeader">Amount</th>
		        <th class="innerSectionHeader"> Liability Secured by the Subject Property?</th>
		        <th class="innerSectionHeader">Is the Liability a partial Payoff?</th>
		        <th class="innerSectionHeader">If Prepayment Penalty, provide  the amount</th>   
		      </tr>
		      <tr ng-repeat="liability in cdformdata.liabilityList track by $index" ng-if="liability.integratedDisclosureSectionType=='PayoffsAndPayments'">
			        <td>
			        	<span class="col-sm-12 ">
				        	<select class="form-control padding0" ng-model="payOffTypeSelection" ng-init="payOffTypeSelection ='Liability'">
		              			<option value="" selected>Select</option>
		              			<option ng-repeat="payOffType in payOffTypes" value="{{payOffType.value}}" ng-disabled="payOffType.disabled">{{payOffType.name}}</option>
		              		</select>
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<button class="btn">Delete Field Info</button>
		              	</span>
			        </td>
			        <td>
			        	<span class="col-sm-12 ">
			        		<strong class="col-sm-12 padding0">Label :</strong>
			        		<input type="text" class="form-control" name="" ng-model="liability.displayLabel">
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<strong class="col-sm-12 padding0">Type :</strong>
		              		<select class="form-control padding0" ng-model="liability.liabilityType">
		              			<option value="" selected>Select</option>
		              			<option ng-repeat="liabilityType in liabilityTypes" value="{{liabilityType.value}}" ng-disabled="liabilityType.disabled">{{liabilityType.name}}</option>
              		        </select>
		              	</span>


			        </td>
			        <td>
			        	<span class="col-sm-12 ">
			        		<strong class="col-sm-12 padding0">Paid TO Full Name :</strong>
			        		<input type="text" class="form-control padding0" name="" ng-model="liability.liabilityHolderFullName">
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<strong class="col-sm-12 padding0">Paid BY Full Name :</strong>
		              		<input type="text" class="form-control padding0" name="" disabled>
		              	</span>

			        	
			        </td>
			        <td>
			        	<input type="text" class="form-control padding0" name="" ng-model="liability.payoffAmount">
			        </td>
			        <td>
			        	<select class="form-control pull-left" ng-model="liability.liabilitySecuredBySubjectPropertyIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
			        </td>
			        <td>
			        	<select class="form-control pull-left" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
			        </td>
			        <td>
			        	<input type="text" class="form-control padding0" name="" ng-model="liability.payoffPrepaymentPenaltyAmount">
			        </td>		        
		      </tr>
		      <tr ng-repeat="adjustment in cdformdata.closingAdjustmentItemList track by $index" ng-if="adjustment.integratedDisclosureSectionType=='PayoffsAndPayments'">
			        <td>
			        	<span class="col-sm-12 ">
				        	<select class="form-control padding0" ng-model="payOffTypeSelection" ng-init="payOffTypeSelection ='Adjustment'">
		              			<option value="" selected>Select</option>
		              			<option ng-repeat="payOffType in payOffTypes" value="{{payOffType.value}}" ng-disabled="payOffType.disabled">{{payOffType.name}}</option>
		              		</select>
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<button class="btn">Delete Field Info</button>
		              	</span>
			        </td>
			        <td>
			        	<span class="col-sm-12 ">
			        		<strong class="col-sm-12 padding0">Label :</strong>
			        		<input type="text" class="form-control" name="" ng-model="adjustment.displayLabel">
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<strong class="col-sm-12 padding0">Type :</strong>
		              		<select class="form-control padding0" ng-model="adjustment.closingAdjustmentItemType">
		              			<option>Select</option>
		              			<option ng-repeat="adjustmentType in otherCredits" value="{{adjustmentType.value}}" ng-disabled="adjustmentType.disabled">{{adjustmentType.name}}</option>
		              		</select>
		              	</span>
			        </td>
			        <td>
			        	<span class="col-sm-12 ">
			        		<strong class="col-sm-12 padding0">Paid TO Full Name :</strong>
			        		<input type="text" class="form-control padding0" name="" ng-model="adjustment.paidToEntityFullName" ng-show="adjustment.paidToEntityFullName!=''">
			        		<input type="text" class="form-control padding0" name="" ng-model="adjustment.paidByIndividualFullName" ng-show="adjustment.paidByIndividualFullName!=''">
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<strong class="col-sm-12 padding0">Paid BY Full Name :</strong>
		              		<input type="text" class="form-control padding0" name="" ng-model="adjustment.paidByEntityFullName">
		              	</span>
			        </td>
			        <td>
			        	<input type="text" class="form-control padding0" name="" ng-model="adjustment.closingAdjustmentItemAmount">
			        </td>
			        <td>
			        	<select class="form-control padding0" disabled><option></option></select>
			        </td>
			        <td>
			        	<select class="form-control padding0" disabled><option></option></select>
			        </td>
			        <td>
			        	<input type="text" class="form-control padding0" name="" disabled>
			        </td>		        
		      </tr>

		</table>
		<span class="AddSection">
			<a>+ Add Additional lines</a>
		</span>		
		<table class="table col-sm-12">
		    <tbody>
		      <tr>
		        <td class="col-sm-5"><label>Total Payoffs and Payments</label></td>
		        <td class="col-sm-2"><label class="ng-binding" ng-model="payoffsAndPaymentsTotalAmount">${{payoffsAndPaymentsTotalAmount}}</label></td>
		        <td class="col-sm-5"></td>
		      </tr>
		    </tbody>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('SummariesofTransaction_N')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanDisclosures')">Next</a></span>
	</div>
</div>



