<div class="col-sm-12">
	<h4>Projected Payments</h4>
	<span class="col-sm-12 LoanTermsTable">
		<div class="margin5tb pull-right" ng-show="cdformdata.projectedPayments.paymentCalculation.length<=3">
			<a class="pull-right cursor" ng-click="addProjectedPayments()">+ Add Additional Columns</a>
			<help-verbiage name="CD_AddAdditionalColumnLink_Help" title="help_tooltip_padding_left"></help-verbiage>
		</div>
		<table class="table" style="margin-top:15px;">
		      <tr>
		        <th class="col-sm-3 innerSectionHeader">Payment Calculations</th>
		        <th class="innerSectionHeader" ng-class="{'col-sm-9': cdformdata.projectedPayments.paymentCalculation.length == 1, 'col-sm-4': cdformdata.projectedPayments.paymentCalculation.length == 2, 'col-sm-3': cdformdata.projectedPayments.paymentCalculation.length == 3, 'col-sm-2': cdformdata.projectedPayments.paymentCalculation.length == 4 }"
		        	ng-repeat="paymentCalculation in cdformdata.projectedPayments.paymentCalculation track by $index">
		        	<span ng-show="paymentCalculation.projectedPaymentCalculationPeriodTermType!='Other'">
			        	<span class="pull-left margin5tb" ng-show="paymentCalculation.projectedPaymentCalculationPeriodStartNumber!=paymentCalculation.projectedPaymentCalculationPeriodEndNumber">Years</span>
			        	<span class="pull-left margin5tb" ng-show="paymentCalculation.projectedPaymentCalculationPeriodStartNumber==paymentCalculation.projectedPaymentCalculationPeriodEndNumber">Year</span>
			        	<span class="col-sm-3" style="padding:0 5px;"><input type="text" class="form-control" name="" ng-model="paymentCalculation.projectedPaymentCalculationPeriodStartNumber" style="text-align: center">
			        	<help-verbiage name="CD_projectedYears_Help" title="help_tooltip_padding" background-color="0,0,0"></help-verbiage>
			        	</span>
			        	<span class="pull-left" style="margin:5px;">-</span>
			        	<span class="col-sm-3" style="padding:0 5px;"><input type="text" class="form-control" name="" ng-model="paymentCalculation.projectedPaymentCalculationPeriodEndNumber" style="text-align: center"></span>
			        	<span class="glyphicon glyphicon-trash iconTooltip red margin5tb pull-right padding0 text-center" title="Delete" ng-show="$index != 0" ng-click="deleteProjectedPayments($index)"></span>
		        	</span>
		        	<span ng-show="paymentCalculation.projectedPaymentCalculationPeriodTermType=='Other' && cdformdata.loanDetail.balloonIndicator">
		        		Final Payment
		        	</span>
		        </th>
		      </tr>
		      <tr>
		        <td><label>Principal &amp; Interest Payment</label></td>
		        <td ng-repeat="principalInterest in cdformdata.projectedPayments.principalInterest track by $index">
		        	<div class="col-sm-6 padding0" style="padding-right:8px;">
		        			<div class="col-sm-12 text-center" style="position:relative;">Minimum	<span class="pull-right" style="right:-10px; position:absolute; top:-2px;">-</span>
							</div>
		        			<div class="input-group">
  								<span class="input-group-addon input-default" ng-style="{ 'padding' : cdformdata.projectedPayments.paymentCalculation.length == 4 ? '3px 6px' : ''}">$</span>
		        				<actualize-input ng-model="principalInterest.projectedPaymentPrincipalAndInterestMinimumPaymentAmount" name="projectedPaymentPrincipalAndInterestMinimumPaymentAmount" max-val="principalInterest.projectedPaymentPrincipalAndInterestMaximumPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format min-and-max-check">
                				</actualize-input>
                				<help-verbiage name="CD_PrincipalInterestPayment_Help" title="help_tooltip_padding_left"></help-verbiage>
		        			</div>
		        	</div>
		        	<div class="col-sm-6 padding0" style="padding-left: 8px;">
		        			<div class="col-sm-12 text-center">Maximum<span class="required" ng-show="$index==0">*</span></div>
		        			<div class="input-group">
  								<span class="input-group-addon input-default" ng-style="{ 'padding' : cdformdata.projectedPayments.paymentCalculation.length == 4 ? '3px 6px' : ''}">$</span>
		        				<actualize-input ng-model="principalInterest.projectedPaymentPrincipalAndInterestMaximumPaymentAmount" name="projectedPaymentPrincipalAndInterestMaximumPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount." min-val="principalInterest.projectedPaymentPrincipalAndInterestMinimumPaymentAmount"  dependencies="decimal-digits-with-number-format min-and-max-check">
                				</actualize-input>
		        			</div>
		        	</div>
		        	<div class="col-sm-12 text-center" style="padding:10px;" ng-show="principalInterest.interestOnlyStatus">Only Interest</div>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Mortgage Insurance</label> 
			        <!--<div class="col-sm-12 padding0 margin5tb">
			        	<span class="col-sm-6 padding0">Is Required?<span class="required">*</span></span> 
			        	<span class="col-sm-6 pull-right">
			        		<select class="form-control" ng-model="cdformdata.loanDetail.miRequiredIndicator"
		              		ng-options="option.id as option.name for option in dropDownBooleanOptions">
			        		</select>
			        	</span>
			        </div>
			        <div ng-show="cdformdata.loanDetail.miRequiredIndicator">
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0">MI Payment Amount</span> 
				        	<span class="col-sm-6 pull-right">
					        	<div class="input-group">
	  								<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
					        		<actualize-input ng-model="cdformdata.projectedPayments.miPaymentAmount" name="miPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
	                				</actualize-input>
					        	</div>
				        	</span> 
				        </div>
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0">Scheduled Termination Date</span> 
				        	<span class="col-sm-6 pull-right">
				        		<span class="col-sm-10 padding0">
				        			<input type="text" name="ScheduledTermDate" id="ScheduledTermDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="cdformdata.projectedPayments.miSTDate" is-open="isScheduledTermDate" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.projectedPayments.miSTDate" close-text="Close" placeholder="MM/DD/YYYY" actualize-date/>
				        		</span>
				        		<span class="input-group-btn col-sm-2 padding0">
		      						<button type="button" class="btn btn-default calenderBtn" ng-click="isScheduledTermDate = !isScheduledTermDate"><i class="glyphicon glyphicon-calendar"></i></button>
		      					</span>
							</span>
				        </div>
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0">MI Company Name</span> 
				        	<span class="col-sm-6 pull-right">
				        		<select class="form-control"
				        		ng-model="cdformdata.miDataDetail.miCompanyNameType">
					        		<option value="" selected>Select</option>
				              		<option ng-repeat="miCompanyNameType in miCompanyNameTypes" value="{{miCompanyNameType.value}}">{{miCompanyNameType.name}}</option>
				        		</select>
				        	</span> 
				        </div>
				        <div class="col-sm-12 padding0 margin5tb" ng-show="cdformdata.miDataDetail.miCompanyNameType=='Other'">
				        	<span class="col-sm-6 padding0">MI Company Name Description</span> 
				        	<span class="col-sm-6 pull-right">
				        		<input type="text" class="form-control" name="" ng-model="cdformdata.miDataDetail.miCompanyNameTypeOtherDescription">
				        	</span> 
				        </div>
			        </div>-->
		        </td>
		        <td ng-repeat="mortgageInsurance in cdformdata.projectedPayments.mortgageInsurance track by $index">
					<div class="input-group">
						<span class="input-group-addon input-default">$</span>
						<actualize-input ng-model="mortgageInsurance.projectedPaymentMIPaymentAmount" name="projectedPaymentMIPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format"></actualize-input>
						
					</div>
  				</td>
		      </tr>
		      <tr>
		        <td><label>Escrow Payment Amount</label> 
		        </td>
		        <td ng-repeat="estimatedEscrow in cdformdata.projectedPayments.estimatedEscrow track by $index">
		        	<div class="input-group">
	  					<span class="input-group-addon input-default">$</span>
			        	<actualize-input ng-model="estimatedEscrow.projectedPaymentEstimatedEscrowPaymentAmount" name="projectedPaymentEstimatedEscrowPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                		</actualize-input>
                		<help-verbiage name="CD_EscrowPaymentAmount_Help" title="help_tooltip_padding_left"></help-verbiage>
			        </div>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label><span class="pull-left margin5tb">Estimated Total</span>
				        		<span class="col-sm-5"><select class="form-control" 
				        		ng-model="cdformdata.projectedPayments.paymentFrequencyType"
				              		ng-options="frequency.value as frequency.name for frequency in paymentFrequencyTypes">
				        		</select>
				        		<help-verbiage name="CD_EstimatedTotalMonthlyPaymentAmount_Help" title="help_tooltip"></help-verbiage>
				        		</span>
				        	<span class="pull-left margin5tb">Payment Amount</span></label>
		        </td>
		        <td ng-repeat="estimatedTotal in cdformdata.projectedPayments.estimatedTotal track by $index">
		        	<div class="col-sm-6">
		        			<div class="col-sm-12 text-center">Minimum</div>
		        			<div class="text-center" ng-show="estimatedTotal.projectedPaymentEstimatedTotalMinimumPaymentAmount!=''">
  							${{estimatedTotal.projectedPaymentEstimatedTotalMinimumPaymentAmount | number:2}}
		        			</div>
		        			<div class="text-center" ng-show="estimatedTotal.projectedPaymentEstimatedTotalMinimumPaymentAmount==''">
  								--
		        			</div>
		        	</div>
		        	<div class="col-sm-6">
		        			<div class="col-sm-12 text-center">Maximum<span class="required" ng-show="$index==0">*</span></div>
		        			<div class="text-center">
							${{estimatedTotal.projectedPaymentEstimatedTotalMaximumPaymentAmount | number:2}}
		        			</div>
		        	</div>	
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="col-sm-4" style="text-align: left;"><a class="btn btn-default" ng-click="changeTab('EscrowAccount')">Back</a></span>
			<span class="col-sm-4" style="text-align:center;"><a class="btn btn-success" ng-click="calculatePayments()">Calculate</a></span>
			<span class="col-sm-4" style="text-align: right;"><a class="btn btn-primary" ng-click="changeTab('ETIAssessments')">Next</a></span>
	</div>
</div>