<div class="col-sm-12">
	<h4>Summaries of Transaction - K. Due from Borrower At Closing</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-10" style="height:30px;">Label Name</th>
		        <th class="innerSectionHeader">Amount</th>
		      </tr>
		      <tr>
		        <td>
		        	Sales Price of Property <span class="required">*</span>
		        </td>
		        <td>
		        	<label>${{salePriceAmount | number:2}}</label>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Sale Price of Personal Property Included in Sale  
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="cdformdata.salesContractDetail.personalPropertyAmount">
		        </div>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Closing Costs Paid At Closing (J) 
		        </td>
		        <td>
		        	<label>${{cdformdata.closingCostsTotal.totalClosingCosts | number:2}}</label>
		        </td>
		      </tr>
		</table>
	</span>

	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader">Liability Name</th>
		        <th class="innerSectionHeader">Valid Value</th>
		        <th class="innerSectionHeader">Description</th>
		        <th class="innerSectionHeader">Full Name Paid to Organization</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		      </tr>
		     <tr ng-repeat="liablitySection in cdformdata.liabilityList track by $index" ng-if="liablitySection.integratedDisclosureSectionType == 'DueFromBorrowerAtClosing'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="liablitySection.displayLabel">  
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="liablitySection.liabilityType" >
			        		<option value="" selected>Select</option>
		      				<option ng-repeat="liabilityType in liabilityTypes" value="{{liabilityType.value}}" ng-disabled="liabilityType.disabled">{{liabilityType.name}}</option>
		      	    </select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" ng-disabled="liablitySection.liabilityType!='Other'" name="" ng-model="liablitySection.liabilityTypeOtherDescription">  
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="liablitySection.liabilityHolderFullName">  
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="liablitySection.payoffAmount">
		        </div>
		        </td>
		      </tr>
		</table>
	</span>
	<h5 class="margin5tb pull-left"><strong>Adjustments</strong></h5>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader">Adjustment  Name</th>
		        <th class="innerSectionHeader">Valid Value</th>
		        <th class="innerSectionHeader">Description</th>
		        <th class="innerSectionHeader">Paid outside of Closing Flag</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		      </tr>
		      <tr ng-repeat="adjustments in cdformdata.closingAdjustmentItemList track by $index" ng-if="adjustments.integratedDisclosureSectionType == 'DueFromBorrowerAtClosing'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="adjustments.displayLabel">  
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="adjustments.closingAdjustmentItemType" >
			        		<option value="" selected>Select</option>
		      				<option ng-repeat="adjustmentType in adjustmentTypes" value="{{adjustmentType.value}}" ng-disabled="adjustmentType.disabled">{{adjustmentType.name}}</option>
		      	    </select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" ng-disabled="adjustments.closingAdjustmentItemType!='Other'" name="" ng-model="adjustments.closingAdjustmentItemTypeOtherDescription">  
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="adjustments.closingAdjustmentItemPaidOutsideOfClosingIndicator">
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="adjustments.closingAdjustmentItemAmount">
		        	</div>
		        </td>
		      </tr>
		</table>
	</span>

	<h5 class="margin5tb pull-left"><strong>Adjustments for Items Paid By Seller in Advance</strong></h5>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader">Prorated Item Name</th>
		        <th class="innerSectionHeader">Valid Value</th>
		        <th class="innerSectionHeader">Description</th>
		        <th class="innerSectionHeader col-sm-2">From Date</th>
		        <th class="innerSectionHeader col-sm-2">To Date</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		      </tr>
		      <tr ng-repeat="adjustmentsPaidBySellerInAdvance in cdformdata.prorationsList | filter: {integratedDisclosureSectionType : 'DueFromBorrowerAtClosing'}" ng-if="adjustmentsPaidBySellerInAdvance.displayLabel =='City/Town Taxes' || adjustmentsPaidBySellerInAdvance.displayLabel =='County Taxes' || adjustmentsPaidBySellerInAdvance.displayLabel =='Assessments'">
		        <td >
		        	<label>{{adjustmentsPaidBySellerInAdvance.displayLabel}}</label>
		        </td>
		        <td>
		        	 
		        </td>
		        <td></td>
		        <td>
		        	<span class="col-sm-10 padding0">
					<input type="text" name="prorationItemPaidFromDate" id="prorationItemPaidFromDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemPaidFromDate" is-open="isProrationItemPaidFromDate" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.closingInformation.dateIssued" close-text="Close" placeholder="Closing Date" disabled/>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isProrationItemPaidFromDate = !isProrationItemPaidFromDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>  
		        </td>
		        <td>
		        	<span class="col-sm-10 padding0">
					<input type="text" name="prorationItemPaidThroughDate" id="prorationItemPaidThroughDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemPaidThroughDate" is-open="isprorationItemPaidThroughDate" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.closingInformation.dateIssued" close-text="Close" placeholder="Closing Date" disabled/>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isprorationItemPaidThroughDate = !isprorationItemPaidThroughDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemAmount">
		        </div>
		        </td>
		      </tr>
		      <tr ng-repeat="adjustmentsPaidBySellerInAdvance in cdformdata.prorationsList | filter: {integratedDisclosureSectionType : 'DueFromBorrowerAtClosing'}" ng-if="adjustmentsPaidBySellerInAdvance.displayLabel !='City/Town Taxes' && adjustmentsPaidBySellerInAdvance.displayLabel !='County Taxes' && adjustmentsPaidBySellerInAdvance.displayLabel !='Assessments'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" 
		        	ng-model="adjustmentsPaidBySellerInAdvance.displayLabel">  
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemType">
                        <option value="" selected>Select</option>
		      		    <option ng-repeat="prorationItemType in prorationItemTypes" value="{{prorationItemType.value}}" ng-disabled="prorationItemType.disabled">{{prorationItemType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" ng-disabled="adjustmentsPaidBySellerInAdvance.prorationItemType!='Other'" name="" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemTypeOtherDescription">
		        </td>
		        <td>
		        	<span class="col-sm-10 padding0">
					<input type="text" name="prorationItemPaidFromDate" id="prorationItemPaidFromDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemPaidFromDate" is-open="isProrationItemPaidFromDate" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.closingInformation.dateIssued" close-text="Close" disabled/>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isProrationItemPaidFromDate = !isProrationItemPaidFromDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>  
		        </td>
		        <td>
		        	<span class="col-sm-10 padding0">
					<input type="text" name="prorationItemPaidThroughDate" id="prorationItemPaidThroughDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemPaidThroughDate" is-open="isprorationItemPaidThroughDate" datepicker-options="dateOptions" ng-required="true" min-date="cdformdata.closingInformation.dateIssued" close-text="Close" disabled/>
					</span>
	      			<span class="input-group-btn col-sm-2 padding0">
	        			<button type="button" class="btn btn-default calenderBtn" ng-click="isprorationItemPaidThroughDate = !isprorationItemPaidThroughDate"><i class="glyphicon glyphicon-calendar"></i></button>
	        		</span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="adjustmentsPaidBySellerInAdvance.prorationItemAmount">
		        </div>
		        </td>
		      </tr>
		</table>
	</span>

	<div class="col-sm-12 finalFooterValues">
		<span class="col-sm-10 text-right">Total for Section K. Due From Borrower At Closing : </span>
		<span class="col-sm-2">${{cdformdata.summariesofTransactions.dueFromBorroweratClosing.dueFromBorrowerAtClosingTotalAmount.integratedDisclosureSectionSummaryDetailModel.integratedDisclosureSectionTotalAmount | number:2}}</span>
	</div>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('CalculatingCashtoClose')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('SummariesofTransaction_L')">Next</a></span>
	</div>
</div>
