<div class="col-sm-12">
	<h4>Summaries of Transaction - N. Due from Seller At Closing</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-10" style="height:30px;">Label Name</th>
		        <th class="innerSectionHeader">Amount</th>
		      </tr>
		      <tr>
		        <td>
		        	Excess Deposit  
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="summariesOfTransaction_NSection.excessDeposit.closingCostFundAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Closing Costs Paid at Closing (J)  
		        </td>
		        <td>
		        	<label>${{summariesOfTransaction_NSection.closingCostsPaidAtClosing | number:2}}</label>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Existing Loan(s) Assumed or Taken Subject To 
		        </td>
		        <td>
		        	<label>${{summariesOfTransaction_NSection.assumedLoanAmount | number:2}}</label>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Payoff of First Mortgage  
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-repeat="dueFromSellerLiability in summariesOfTransaction_NSection.liabilites" ng-if="dueFromSellerLiability.liabilityType=='FirstPositionMortgageLien'" ng-model="dueFromSellerLiability.payoffAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Payoff of Second Mortgage 
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-repeat="dueFromSellerLiability in summariesOfTransaction_NSection.liabilites" ng-if="dueFromSellerLiability.liabilityType=='SecondPositionMortgageLien'" ng-model="dueFromSellerLiability.payoffAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	Seller Credit 
		        </td>
		        <td>
		        	<label>${{summariesOfTransaction_NSection.adjustments[0].closingAdjustmentItemAmount | number:2}}</label>
		        </td>
		      </tr>
		</table>
	</span>

	
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader">Indicate if line item is either a Liability or Adjustment</th>
		        <th class="innerSectionHeader">Label Name</th>
		        <th class="innerSectionHeader">Valid Values</th>
		        <th class="innerSectionHeader">Description</th>
		        <th class="innerSectionHeader">POC Flag</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		      </tr>
		      <tr ng-repeat="dueFromSellerAdjustmentsAndLiability in summariesOfTransaction_NSection.liabilitesAndAdjustments track by $index">
		        <td>
		        	<select class="form-control padding0" ng-model="dueFromSellerAdjustmentsAndLiability.dueFromSellerItemType" ng-change="sotNchange($index)">
              			<option value="" selected>Select</option>
              			<option ng-repeat="liabilityOrAdjustment in liabilityOrAdjustments" value="{{liabilityOrAdjustment.value}}" ng-disabled="liabilityOrAdjustment.disabled">{{liabilityOrAdjustment.name}}</option>
              		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="dueFromSellerAdjustmentsAndLiability.displayLabel">  
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="dueFromSellerAdjustmentsAndLiability.itemType" ng-change="sotNLAchange($index)">
			        	<option value="" selected>Select</option>
			      		<option ng-repeat="lType in sectionNliabilityTypes" value="{{lType.value}}" ng-disabled="lType.disabled" ng-if="dueFromSellerAdjustmentsAndLiability.dueFromSellerItemType == 'Liability'">{{lType.name}}</option>
		              	<option ng-repeat="aType in sectionNadjustmentTypes" value="{{aType.value}}" ng-disabled="aType.disabled" ng-if="dueFromSellerAdjustmentsAndLiability.dueFromSellerItemType == 'Adjustment'">{{aType.name}}</option>
		      		</select>
		        </td>
		        <td>
		        	<input type="text" class="form-control padding0" ng-disabled="dueFromSellerAdjustmentsAndLiability.itemType!='Other'" name="" ng-model="dueFromSellerAdjustmentsAndLiability.otherDescription">  
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="dueFromSellerAdjustmentsAndLiability.pocIndicator">  
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="dueFromSellerAdjustmentsAndLiability.amount" decimal-digits-with-number-format>
		        </div>
		        </td>
		      </tr>
		</table>
	</span>

	<h5 class="margin5tb pull-left"><strong>Adjustments for Items Unpaid By Seller </strong></h5>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader">Prorated Item Name</th>
		        <th class="innerSectionHeader">Valid Value</th>
		        <th class="innerSectionHeader">Description</th>
		        <th class="innerSectionHeader col-sm-2">From Date</th>
		        <th class="innerSectionHeader col-sm-2">To Date</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		      </tr>
		      <tr ng-repeat="adjustmentsUnpaidBySeller in summariesOfTransaction_NSection.adjustmentsUnpaidBySeller">
		        <td>
		        	<label>{{adjustmentsUnpaidBySeller.displayLabel}}</label>
		        </td>
		        <td ng-if="adjustmentsUnpaidBySeller.displayLabel =='City/Town Taxes' || adjustmentsUnpaidBySeller.displayLabel =='County Taxes'">
		        	 
		        </td>
		        <td ng-if="adjustmentsUnpaidBySeller.displayLabel !='City/Town Taxes' && adjustmentsUnpaidBySeller.displayLabel !='County Taxes'">
		        	<label ng-repeat="prorationItemType in prorationItemTypes" ng-if="prorationItemType.value == adjustmentsUnpaidBySeller.prorationItemType">{{prorationItemType.name}}</label>
		        </td>
		        <td>
		        	<label>{{adjustmentsUnpaidBySeller.prorationItemTypeOtherDescription}}</label>
		        </td>
		        <td>
	        		<label>{{adjustmentsUnpaidBySeller.prorationItemPaidFromDate | date:dateFormat}}</label>
		        </td>
		        <td>
	        		<label>{{adjustmentsUnpaidBySeller.prorationItemPaidThroughDate | date:dateFormat}}</label>
		        </td>
		        <td>
		        	<label>${{adjustmentsUnpaidBySeller.prorationItemAmount | number:2}}</label>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 finalFooterValues">
		<span class="col-sm-10 text-right">Total for Section N. Due From Borrower At Closing : </span>
		<span class="col-sm-2">${{summariesOfTransaction_NSection.sectionTotalAmount | number:2}}</span>
	</div>

	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('SummariesofTransaction_M')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanDisclosures')">Next</a></span>
	</div>
</div>
