
<div class="col-sm-12 col-md-12 collg-12">
	<h4>Total Closing Costs</h4>
    <span class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:1px;">
			  <tbody>
               <tr>
                <th style="border:1px solid white;"></th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center col-sm-3" >Borrower Paid</th>
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center col-sm-3">Seller Paid</th>
				<th style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center ng-binding col-sm-3">Paid By Others</th>
			  </tr>
              <tr>
                <th style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center"><strong>Section J. Total Closing Costs</strong></th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">${{cdformdata.closingCostsTotal.totalClosingCosts | number:2}}</th>
				<th colspan="2" style="border:1px solid white;" ></th>
				<th style="border:1px solid white;" ></th>
			  </tr>

               <tr>
                <td style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center"><strong>Closing Costs Subtotal (D + I)</strong></td>
				<td style="border:1px solid white; width: 12.5%;" class="innerSectionHeader innerSectionMainHeader text-center" >${{cdformdata.closingCostsTotal.closingCostsSubtotal.bpAtClosing | number:2}}</td>
				<td style="border:1px solid white; width: 12.5%;" class="innerSectionHeader innerSectionMainHeader text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.bpB4Closing | number:2}}</td>
				<td style="border:1px solid white; width: 12.5%;" class="innerSectionHeader innerSectionMainHeader text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.spAtClosing | number:2}}</td>
                <td  style="border:1px solid white; width: 12.5%;" class="innerSectionHeader innerSectionMainHeader text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.spB4Closing | number:2}}</td>
                <td style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.paidByOthers | number:2}}</td>
			  </tr>

              <tr>
                <td style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">Lender Credits</td>	  	
				<td  style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">
					<span class="margin5tb col-sm-12 padding0">
						<div class="input-group">
							<span class="input-group-addon input-default">$</span>
							<input type="text" class="form-control padding0" name="" ng-model="cdformdata.closingCostsTotal.lenderCredits" negative-digits>
						</div>
					</span>
				</td>
				<td  style="border:1px solid white;" ></td>
				<td  style="border:1px solid white;" ></td>
                <td  style="border:1px solid white;" ></td>
                <td style="border:1px solid white;" ></td>
              </tr>
              <tr>
                <td style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">Lender Credit Tolerance Cure Amount</td>	  	
				<td style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center" >
					<span class="margin5tb col-sm-12 padding0">
						<div class="input-group">
							<span class="input-group-addon input-default">$</span>
							<input type="text" class="form-control padding0" name="" ng-model="cdformdata.closingCostsTotal.lenderCreditToleranceCureAmount" decimal-digits-with-number-format>
						</div>
					</span>
				</td>
				<td  style="border:1px solid white;" ></td>
				<td  style="border:1px solid white;" ></td>
                <td  style="border:1px solid white;" ></td>
                <td  style="border:1px solid white;" ></td>                
			  </tr>
		      
		</tbody></table>		
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('OtherCosts')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('CalculatingCashtoClose')">Next</a></span>
	</div>
</div>



