
<div class="col-sm-12 col-md-12 collg-12">
	<h4>Total Closing Costs</h4>
    <span class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:1px;">
			  <tbody>
               <tr>
                <th colspan="2" style="border:1px solid white;"></th>	  	
				<th colspan="4" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center" >Borrower Paid</th>
				<th colspan="4" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">Seller Paid</th>
				<th colspan="4" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center ng-binding">Paid By Others</th>
			  </tr>
              <tr>
                <th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center"><strong>Section J. Total Closing Costs</strong></th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">$12,345.67</th>
				<th colspan="2" style="border:1px solid white;" ></th>
				<th colspan="2" style="border:1px solid white;" ></th>
                <th colspan="2" style="border:1px solid white;" ></th>
                <th colspan="4" style="border:1px solid white;" ></th>
			  </tr>

               <tr>
                <th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center"><strong>Closing Costs Subtotal (D + I)</strong></th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center" >$12,345.67</th>
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">$12,345.67</th>
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">$12,345.67</th>
                <th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">$12,345.67</th>
                <th colspan="4" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">$12,345.67</th>                
			  </tr>

              <tr>
                <th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">Lender Credits</th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center" >$12,345.67</th>
				<th colspan="2" style="border:1px solid white;" ></th>
				<th colspan="2" style="border:1px solid white;" ></th>
                <th colspan="2" style="border:1px solid white;" ></th>
                <th colspan="4" style="border:1px solid white;" ></th>                
			  </tr>
              <tr>
                <th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center">Lender Credit Tolerance Cure Amount</th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center" >$12,345.67</th>
				<th colspan="2" style="border:1px solid white;" ></th>
				<th colspan="2" style="border:1px solid white;" ></th>
                <th colspan="2" style="border:1px solid white;" ></th>
                <th colspan="4" style="border:1px solid white;" ></th>                
			  </tr>
		      
		</tbody></table>		
	</span>
</div>



