
<div class="col-sm-12 col-md-12 collg-12">
	<h4>Total Closing Costs</h4>
    <span class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:1px;">
			  <tbody>
               <tr>
                <th style="border:1px solid white;"></th>	  	
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center col-sm-3" >Borrower Paid</th>
				<th colspan="2" style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center col-sm-3">Seller Paid</th>
				<th style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center ng-binding col-sm-3">Paid By Others</th>
			  </tr>
              <tr>
                <th style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader text-center"><strong>Section J. Total Closing Costs</strong></th>	  	
				<th colspan="2" style="" class="innerSectionHeader innerSectionMainHeader text-center">${{cdformdata.closingCostsTotal.totalClosingCosts | number:2}}</th>
				<th colspan="2"  ></th>
				<th style="" ></th>
			  </tr>

               <tr>
                <td  class="  text-center"><strong>Closing Costs Subtotal (D + I)</strong></td>
				<td style="width: 12.5%;" class="text-center" >${{cdformdata.closingCostsTotal.closingCostsSubtotal.bpAtClosing | number:2}}</td>
				<td style="width: 12.5%;" class="text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.bpB4Closing | number:2}}</td>
				<td style=" width: 12.5%;" class="  text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.spAtClosing | number:2}}</td>
                <td  style=" width: 12.5%;" class=" text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.spB4Closing | number:2}}</td>
                <td style="" class="text-center">${{cdformdata.closingCostsTotal.closingCostsSubtotal.paidByOthers | number:2}}</td>
			  </tr>
              <tr>
                <td class="text-center"><strong>Lender Credits</strong></td>	  	
				<td  class="text-center">
					<span class="margin5tb col-sm-12 padding0">
						<div class="input-group">
							<span class="input-group-addon input-default">$</span>
							<!-- <input type="text" class="form-control padding0" name="" ng-model="cdformdata.closingCostsTotal.lenderCredits" data-dismiss="modal" data-toggle="modal" data-target="#LedgerCreditConfirmModal" negative-digits> -->
							<input type="text" class="form-control padding0" name="" ng-model="cdformdata.closingCostsTotal.lenderCredits" negative-digits ng-keyup="toleranceCheck()">
							
						</div>

					</span>
					
				</td>
				<td ></td>
				<td ></td>
                <td ></td>
                <td ></td>
              </tr>
              <tr ng-show="toleranceCureDrpdwn==true">
                <td class="text-center"><strong>Is there a tolerance cure amount for this transaction ?</strong></td>	  	
				<td  class="text-center">
					<span class="margin5tb col-sm-12 padding0">
						<select class="form-control padding0" ng-model="toleranceCure"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="toleranceChange()">
		        	    </select>
					</span>
				</td>
				<td ></td>
				<td ></td>
                <td ></td>
                <td ></td>
              </tr>
              <tr ng-show="toleranceCureDrpdwn && toleranceCure">
                <td class="text-center"><strong>Lender Credit Tolerance Cure Amount</strong></td>	  	
				<td class=" text-center" >
					<span class="margin5tb col-sm-12 padding0">
						<div class="input-group">
							<span class="input-group-addon input-default">$</span>
							<input type="text" class="form-control padding0" name="" ng-model="cdformdata.closingCostsTotal.lenderCreditToleranceCureAmount" negative-decimal-digits-with-number-format>
						</div>
					</span>
				</td>
				<td   ></td>
				<td   ></td>
                <td   ></td>
                <td  ></td>                
			  </tr>
		      
		</tbody></table>		
	</span>
	<!-- Modal Start-->
				<!--  <div class="modal fade" id="LedgerCreditConfirmModal" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Tolerance Cure Amount</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row margin5tb" style="margin-bottom: 10px;">
                        <div class="col-sm-12 ">
                          <strong>is there a tolerance cure amount for this transaction ?</strong>
                        </div>
                      </div>
                    </div>
                  
                  <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="toleranceCure=false">No</button>
		                  <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="toleranceCure=true"
		                     >Yes</button>
                    
                  </div>
                  </div>
                </div>
              </div>
            </div> -->
 				<!--Modal End -->
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('OtherCosts')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('CalculatingCashtoClose')">Next</a></span>
	</div>
</div>




