<div class="col-sm-12">
	<h4>Transaction Information</h4>
	<div class="col-sm-12 padding0">
		<h5 class="innerSectionHeader">Borrower Information</h5>
		 <div class="col-sm-6">
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Classification</div>
            <div class="col-sm-7 radioGroup">
              <input type="radio"  value="I" disabled> <label>Individual</label>
              <input type="radio" value="O" disabled> <label>Organization </label>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Type</div>
            <div class="col-sm-7">
                <select placeholder="Organization Name"  class="form-control"><option>Borrower</option></select>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower First Name</div>
            <div class="col-sm-7"><input type="text" placeholder="First Name"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Middle Name</div>
            <div class="col-sm-7"><input type="text" placeholder="Middle Name"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Last Name</div>
            <div class="col-sm-7"><input type="text" placeholder="Last Name"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Suffix</div>
            <div class="col-sm-7"><input type="text" class="form-control"></div>
          </div>        
          
        </div>
        <div class="col-sm-6">
        	<div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Street Address</div>
            <div class="col-sm-7"><input type="text"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">City (Mailing)</div>
            <div class="col-sm-7"><input type="text"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">State (Mailing)</div>
            <div class="col-sm-7"><input type="text"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Postal Code (Mailing)</div>
            <div class="col-sm-7"><input type="text"  class="form-control"></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Country Code (Mailing)</div>
            <div class="col-sm-7"> <select class="form-control"><option>US</option></select></div>
          </div>
        </div>
        <div class="AddSection col-sm-12"><a>+ Add Additional Borrowers</a></div>
	</div>
	<div class="col-sm-6">
		<h5 class="innerSectionHeader">Borrower Information</h5>
		<div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Classification</div>
            <div class="col-sm-7 radioGroup">
              <input type="radio"  value="I" disabled> <label>Individual</label>
              <input type="radio" value="O" disabled> <label>Organization </label>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Type</div>
            <div class="col-sm-7">
                <select placeholder="Organization Name"  class="form-control"><option>Borrower</option></select>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Borrower Name</div>
            <div class="col-sm-7"><input type="text" placeholder="First Name"  class="form-control"></div>
          </div>
	</div>

</div>