  <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;">
      <div style="top:80px; clear:both; overflow: auto;" dynamic-height>
          <div class="PDFview" data-anchor="Page1" style="padding: 0px;">
          	<span dynamic-height-min-page-view>
				<div class="CDHeaderSection col-lg-12">
					<div class="col-sm-12">

						<ul class="nav nav-tabs">
						  <li class="active"><a class="cursor" data-toggle="tab" data-target="#clientContainer" ng-click="newAdminTab('viewClient')">Client List</a></li>
						  <li><a class="cursor" data-toggle="tab" data-target="#groupContainer" ng-click="newAdminTab('viewGroup')">Group List</a></li>
						  <li><a class="cursor" data-toggle="tab" data-target="#investorContainer" ng-click="newAdminTab('viewInvestor')">Investor List</a></li>
						  <li><a class="cursor" data-toggle="tab" data-target="#userContainer" ng-click="newAdminTab('viewUser')">User List</a></li>
						</ul>

						<div class="tab-content">
						  <div id="clientContainer" class="tab-pane fade in active">
						  		<div ng-include='"public/admin/adminClient.html"'></div>
						  </div>
						  <div id="groupContainer" class="tab-pane fade">
						  		<div ng-include='"public/admin/adminGroup.html"'></div>						    	
						  </div>
						  <div id="investorContainer" class="tab-pane fade">
						    	<div ng-include='"public/admin/adminInvestor.html"'></div>
						  </div>
						  <div id="userContainer" class="tab-pane fade">
						    	<div ng-include='"public/admin/adminUser.html"'></div>
						  </div>
						</div>

					</div>
				</div>
          	</span>
          </div>
      </div>
  </div>

  
