  <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;">
      <div style="top:80px; clear:both; overflow: auto;" dynamic-height>
          <div class="PDFview" data-anchor="Page1" style="padding: 0px;">
          	<span dynamic-height-min-page-view>
				<div class="CDHeaderSection col-lg-12">
					<div class="col-sm-12">

						<ul class="nav nav-tabs">
						  <li class="active"><a class="cursor" data-toggle="tab" data-target="#clientContainer">Client List</a></li>
						  <li><a class="cursor" data-toggle="tab" data-target="#investorContainer">Investor List</a></li>
						  <li><a class="cursor" data-toggle="tab" data-target="#userContainer">User List</a></li>
						</ul>

						<div class="tab-content">
						  <div id="clientContainer" class="tab-pane fade in active">
						  	<div class="col-lg-12 col-md-12 col-sm-12" ng-show="viewContent=='viewClient'" style="padding: 0px;">
						    		<div class="col-sm-12">
											<span class="col-sm-6 padding0 pull-right margin5tb margintop30">
												<a class="pull-right margin5lr cursor" ng-click="addClient('addClient')" ng-class="{'active': showTab == 'addClient'}" ><span class="glyphicon glyphicon-plus"></span> Add Client</a>
											</span>
									</div>
									<div class="table-responsive administratorDiv col-sm-12">
									  <table class="table table-bordered table-hover">
									  	<thead class="innerSectionHeader">
										  <tr>
											<th class="col-sm-1"><input type="checkbox"></th>
											<th>Title</th>
											<th>News</th>
											<th class="col-sm-1">Actions</th>
										  </tr>
										</thead>
										
										<tbody>
											<tr ng-repeat="item in clientList">
												<td scope="row"><input type="checkbox"></td>
										       <td>{{item.keycolumn1}}</td>
										       <td>{{item.originkey1}}</td>
										       <td>
													<a href="#"><span class="glyphicon glyphicon-pencil"></span></a> 
													<a href="#"><span class="glyphicon glyphicon-trash"></span></a>
												</td>
										     </tr>
										</tbody>
									  </table>
									  <ul class="pagination pagination-lg pull-right">
										<li><a>&laquo;</a></li>
										<li><a >1</a></li>
										<li><a >2</a></li>
										<li><a >3</a></li>
										<li><a >4</a></li>
										<li><a >5</a></li>
										<li><a >&raquo;</a></li>
									</ul>
									  
									</div>
						  	</div>
						  	<div class="col-lg-12 col-md-12 col-sm-12" ng-show="viewContent=='addClient'" style="padding: 0px;">
							  	<div class="col-lg-12 col-md-12 col-sm-12 innerSectionHeader margin10t">
							  		<span class="col-lg-10 col-md-10 col-sm-10">
								  		<h5 class="col-sm-3 padding0 margin0">Add / Edit Client</h5>
								  	</span>
								  	<span class="col-lg-2 col-md-2 col-sm-2">
								  		<span class="glyphicon glyphicon-remove-circle cursor pull-right margin5lr" style="font-size: 15px;" ng-click="addClient('viewClient')"></span>
								  		<span class="pull-right margin5lr">Save</span>
								  	</span>
							  	</div>
							  	<div class="col-lg-12 col-md-12 col-sm-12">
							  		<h5 class="col-sm-12 padding0 blue">Client Information</h5>
							  	</div>
							  	<div id="ClientInfoContainer" class="col-lg-12 col-md-12 col-sm-12">	
								  	<div class="col-lg-6 col-md-6 col-sm-6">
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Name : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.clientInfo.name" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Address : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.clientInfo.address" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Phone Number : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.clientInfo.pno" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Web Page : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.clientInfo.webPage" >
										  	</div>
									  	</div>
								  	</div>		
								  	<div class="col-lg-6 col-md-6 col-sm-6">
								  			<div class="row">
												<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 PermissionsSelect">
												<h5 class="innerSectionHeader">Granted Permissions</h5>
													<select id="GrantedPermissions" size="6" multiple="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													  <option value="a">Administration</option>
													  <option value="c">OCR</option>
													  <option value="d">Submit to GSE</option>
													</select>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 margintop30">
													<a class="btn btn-default  col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="listbox_moveacross('GrantedPermissions', 'AvailablePermissions')"><strong> <span class="glyphicon glyphicon-chevron-right"></span> </strong></a>
													<a class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12 mt20" ng-click="listbox_moveacross('AvailablePermissions', 'GrantedPermissions')"><strong> <span class="glyphicon glyphicon-chevron-left"></span> </strong></a>
												</div>
												<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 PermissionsSelect">
												<h5 class="innerSectionHeader">Available Permissions</h5>
													<select id="AvailablePermissions" size="6" multiple="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													  <option value="a">Closing Disclosure PDF</option>
													  <option value="c">Loan Estimate PDF</option>
													  <option value="d">USD Validation</option>
													</select>
												</div>

											</div>
								  	</div>	
							  	</div>
							  	<div class="col-lg-12 col-md-12 col-sm-12">
							  		<h5 class="col-sm-12 padding0 blue">Bussiness Contact Information</h5>
							  	</div>
							  	<div id="BusinessContactContainer" class="col-lg-12 col-md-12 col-sm-12">	
								  	<div class="col-lg-6 col-md-6 col-sm-6">
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Name : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.bussContactInfo.name" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Email : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.bussContactInfo.email" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Phone Number : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.bussContactInfo.pno" >
										  	</div>
									  	</div>
								  	</div>		
								  	<div class="col-lg-6 col-md-6 col-sm-6">
								  			<div class="row">
												<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 PermissionsSelect">
												<h5 class="innerSectionHeader">Granted Permissions</h5>
													<select id="GrantedPermissionsBussiness" size="6" multiple="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													  <option value="a">Administration</option>
													  <option value="c">OCR</option>
													  <option value="d">Submit to GSE</option>
													</select>
												</div>
												<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 margintop30">
													<a class="btn btn-default  col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="listbox_moveacross('GrantedPermissionsBussiness', 'AvailablePermissionsBussiness')"><strong> <span class="glyphicon glyphicon-chevron-right"></span> </strong></a>
													<a class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12 mt20" ng-click="listbox_moveacross('AvailablePermissionsBussiness', 'GrantedPermissionsBussiness')"><strong><span class="glyphicon glyphicon-chevron-left"></span></strong></a>
												</div>
												<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 PermissionsSelect">
												<h5 class="innerSectionHeader">Available Permissions</h5>
													<select id="AvailablePermissionsBussiness" size="6" multiple="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
													  <option value="a">Closing Disclosure PDF</option>
													  <option value="c">Loan Estimate PDF</option>
													  <option value="d">USD Validation</option>
													</select>
												</div>

											</div>
								  	</div>	
							  	</div>
							  	<div class="col-lg-12 col-md-12 col-sm-12">
							  		<h5 class="col-sm-12 padding0 blue">Techincal Contact Information</h5>
							  	</div>
							  	<div id="BusinessContactContainer" class="col-lg-12 col-md-12 col-sm-12">	
								  	<div class="col-lg-6 col-md-6 col-sm-6">
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Name : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.techContactInfo.name" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Email : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.techContactInfo.email" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Phone Number : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" class="form-control" name="input" ng-model="addEditClient.techContactInfo.pno" >
										  	</div>
									  	</div>
								  	</div>		
								  	<div class="col-lg-6 col-md-6 col-sm-6">
								  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Client Active : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6" ng-init="clientActiveState='active'">
										  		<input type="radio" id="act" ng-model="clientActiveState" value="active" selected>
										  			<label for="act">Active</label>
										  		</input>
  												<input type="radio" id="inAct" ng-model="clientActiveState" value="inActive">
  													<label for="inAct">In-Active</label>
  												</input>
										  	</div>
									  	</div>
									  	<!-- <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Password Expiration : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<select ng-model="pwdExp" ng-options="x for x in pwdExpList">
												</select>
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Expiration Date : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<input type="text" name="input" ng-model="addEditClient.techContactInfo.email" >
										  	</div>
									  	</div>
									  	<div class="col-lg-12 col-md-12 col-sm-12" style="margin: 5px 0">							  		
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<label>Session Timeout : </label>
										  	</div>
										  	<div class="col-lg-6 col-md-6 col-sm-6">
										  		<select ng-model="sessTOut" ng-options="x for x in sessTOutList">
												</select>
										  	</div>
									  	</div> -->
								  	</div>	
							  	</div>
							  </div>
						  </div>
						  <div id="investorContainer" class="tab-pane fade">
						    <h3>Menu 1</h3>
						    <p>Some content in menu 1.</p>
						  </div>
						  <div id="userContainer" class="tab-pane fade">
						    <h3>Menu 2</h3>
						    <p>Some content in menu 2.</p>
						  </div>
						</div>

					</div>
				</div>
          	</span>
          </div>
      </div>
  </div>

  
