<div class="LoanTermsTable col-sm-12">
	<span class="col-sm-12">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-3 tableHeadingTitle">Loan Terms</th>
		        <th  class="col-sm-2"></th>
		        <th  class="col-sm-7" style="padding-right: 0px;">
		        	<div class="tableQuestion" >
		        		<span>Can this amount increase after closing?</span>
		        	</div>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>Loan Amount</label></td>
		        <td><input class="form-control" ng-model="transformData.pageOne.loanTerms.loanAmount.amount"></input></td>
		        <td>
		        	<select class="form-control pull-left" ng-model="transformData.pageOne.loanTerms.loanAmount.status" style="width:100px;">
		        		<option value="YES">YES</option>
		        		<option value="NO">NO</option>
		        	</select>
		        	<ul class="col-sm-9 pull-right" >
		        		<li ng-repeat="detail in transformData.pageOne.loanTerms.loanAmount.details"><p ng-bind-html="renderHtml(detail)"></p></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Interest Rate</label></td>
		        <td><input class="form-control" ng-model="transformData.pageOne.loanTerms.interestRate.interest"></td>
		        <td><select class="form-control pull-left" ng-model="transformData.pageOne.loanTerms.interestRate.status" style="width:100px;">
		        		<option value="YES">YES</option>
		        		<option value="NO">NO</option>
		        	</select>
		        	<ul class="col-sm-9 pull-right" >
		        		<li ng-repeat="detail in transformData.pageOne.loanTerms.interestRate.details"><p ng-bind-html="renderHtml(detail)"></p></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<p>
			        	<select class="form-control pull-left" ng-model="transformData.pageOne.projectedPayments.estimatedTotalPaymentType" style="width:100px;">
			        		<option value="Annual">Annual</option>
			        		<option value="AtMaturity">AtMaturity</option>
			        		<option value="Biweekly">Biweekly</option>
			        		<option value="Monthly">Monthly</option>
			        		<option value="Quarterly">Quarterly</option>
			        		<option value="Semiannual">Semiannual</option>
			        		<option value="Semimonthly">Semimonthly</option>
			        		<option value="Weekly">Weekly</option>
			        	</select>
		        	<label class="margin5tb"> &nbsp&nbsp Principal & Interest</label>
		        	</p>
		        	<p>
		        		<i>See projected payments below for your Estimated Total {{transformData.pageOne.projectedPayments.estimatedTotalPaymentType}} Payment</i>
		        	</p>
		        </td>
		        <td><input class="form-control"  ng-model="transformData.pageOne.loanTerms.principalInterest.amount"> </td>
		        <td>
		        	<select class="form-control pull-left" style="width:100px;" ng-model="transformData.pageOne.loanTerms.principalInterest.status">
		        		<option value="YES">YES</option>
		        		<option value="NO">NO</option>
		        	</select>
		        	<ul class="col-sm-9 pull-right" >
		        		<li ng-repeat="detail in transformData.pageOne.loanTerms.principalInterest.details"><p ng-bind-html="renderHtml(detail)"></p></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Prepayment Penalty</label></td>
		        <td><label></label></td>
		        <td  style="padding-right: 0px;">
		        	<div class="tableQuestion">
		        		<span style="margin-bottom:0; margin-top:-8px; margin-right: -10px;">
		        		<label>Does the loan have these features? </label></span>
		        	</div>
		        	<select class="form-control pull-left" ng-model="transformData.pageOne.loanTerms.prepaymentPenalty.status" style="margin-top:5px;width:100px;">
		        		<option value="YES">YES</option>
		        		<option value="NO">NO</option>
		        	</select>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Balloon Payment</label></td>
		        <td><label></label></td>
		        <td>
		        	<select class="form-control pull-left"  ng-model="transformData.pageOne.loanTerms.balloonPayment.status" style="width:100px;">
		        		<option value="YES">YES</option>
		        		<option value="NO">NO</option>
		        	</select>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
</div>