<div class="col-sm-12"><h4 class="col-sm-12 margin0">Closing Cost Details</h4>
</div>

<div class="LoanTermsTable CommonTable col-sm-9">
			            	<span class="col-sm-12">
			            		<table class="table table-bordered border_top" style="border-left: 0px;">
								    <thead>
								      <tr>
								        <th class="col-sm-7 tableHeader" colspan="2" rowspan="2" style="border-left: 0px;">
								        	<span class="col-sm-9 tableHeadingTitle">Loan Costs</span>
								        </th>
								        <th  class="col-sm-2 text-center rowBackground" colspan="2">Borrower-Paid</th>
								        <th  class="col-sm-2 text-center rowBackground" colspan="2">Seller-Paid</th>
								        <th  class="col-sm-1 text-center vertical_middle rowBackground" rowspan="2">Paid By others</th>								        
								      </tr>
								      <tr>								        
								        <th  class="rowBackground text-center">At-closing</th>
								        <th  class="rowBackground text-center">Before-closing</th>
								        <th  class="rowBackground text-center">At-closing</th>
								        <th  class="rowBackground text-center">Before-closing</th>
								      </tr>
								      
								    </thead>

								    <tbody>
							    	  <tr class="border_top">
								      	<th class="rowBackground" colspan="2">A. Origination charges</th>
								      	<th class="rowBackground text-center" colspan="2">$649.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      <tr>
								      	<td class="text-center"  style="width: 40px;">01</td>
								        <td><span class="padding5lr">% of Loan Amount</span></td>
								        <td><input class="form-control" value=""/> </td>
								        <td><input class="form-control" value=""/></td>
								        <td><input class="form-control" value=""/></td>
								        <td><input class="form-control" value=""/></td>
								        <td><input class="form-control" value=""/></td>
								      </tr>
								      <tr>
								      	<td class="text-center">02</td>
								        <td>
								        	<span class="col-sm-6 padding0">
									        	<select class="form-control pull-left">
													<option>Commitment Fee</option>
									        		<option>AM Dream Rehab Disbursement Fee</option>
													<option>Application Fee</option>
													<option>Broker Compensation (Borrower paid)</option>
													<option>Broker Compensation (Lender paid)</option>
													<option>Buydown Subsidy</option>
													<option>Construction Admin Fee</option>
													<option>Discount Fee</option>
													<option>Escrow Account Waiver</option>
													<option>HFA Funding Fee Paid to USB</option>
													<option>Lender Escrow Admin Fee</option>
													<option>Loan Level Price Adjustments</option>
													<option>MCC Lender Fee</option>
													<option>NeighborWorks Fee</option>
													
									        	</select>

								        	</span>
								        </td>
								        <td><input class="form-control" value="$140,000"></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">03</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr>
								      	<td class="text-center">04</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr class="border_top">
								      	<th class="rowBackground" colspan="2">B. Services Borrower Did Not Shop For</th>
								      	<th class="rowBackground text-center" colspan="2">$98.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      <tr>
								      	<td class="text-center">01</td>
								        <td><span class="col-sm-6 padding0">
									        	<select class="form-control pull-left">
									        		<option>After Final Inspection</option>
													<option>Appraisal</option>
													<option>Appraisal Fee 2</option>
													<option>Appraisal Progress</option>
													<option>Asbestos Inspection</option>
													<option>Attorney Opinion Trust</option>
													<option>Before Final Inspect</option>
													<option>Bond Participation Fee</option>
													<option>Bond Reservation Fee</option>

									        	</select>
									        </span>
									        <span class="col-sm-1"> to </span>
									        <span class="col-sm-5">
									        	U.S. Bancorp Service Providers, LLC
									        </span>
									        </td>
								        <td><input class="form-control"  value="$80,000"></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">02</td>
								        <td>
								        	<span class="col-sm-6 padding0">
									        	<select class="form-control pull-left">
									        		<option>After Final Inspection</option>
													<option>Appraisal</option>
													<option>Appraisal Fee 2</option>
													<option>Appraisal Progress</option>
													<option>Asbestos Inspection</option>
													<option>Attorney Opinion Trust</option>
													<option>Before Final Inspect</option>
													<option>Bond Participation Fee</option>
													<option>Bond Reservation Fee</option>

									        	</select>
									        </span>
									        <span class="col-sm-1"> to </span>
									        <span class="col-sm-5">
									        	U.S. Bancorp Service Providers, LLC
									        </span>
								        </td>
								        <td><input class="form-control" value="$80,000"></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">03</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr>
								      	<td class="text-center">04</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr class="border_top">
								      	<th class="rowBackground" colspan="2">C. Services Borrower Did Shop For</th>
								      	<th class="rowBackground text-center" colspan="2">$0.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      
								      
								      <tr>
								      	<td class="text-center">01</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">02</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">03</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr>
								      	<td class="text-center">04</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr class="border_top">
								      	<th class="rowBackground" colspan="2">D. TOTAL LOAN COSTS (Borrower-Paid)</th>
								      	<th class="rowBackground text-center" colspan="2">$747.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      <tr>
								      	<td class="text-center">01</td>
								      	<td><span class="padding5lr">Loan Costs Subtotals (A + B + C)</span></td>
								      	<td><input class="form-control" value="$747.00"></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								    </tbody>
								</table>
							</span>
			           	</div>

	<div class="col-sm-3 LoanCostsRightTable">
			<table class="table table-bordered border_top CommonTable" style="margin-top:93px;font-size: 11px;">
					
					   <tbody>
					   	<tr class="border_top">
					      	<th class="col-sm-4"><span>APR Flag</span></th>
					      	<th class="col-sm-4"><span>Regulation Z Flag</span></th>
					      </tr>	
						 <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      </tr>	

					      <tr class="border_top">
					      	<th class="col-sm-4">APR Flag</th>
					      	<th class="col-sm-4">Regulation Z Flag</th>
					      	<th  class="col-sm-4">Fee Paid To</th>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
					      	<td  class="col-sm-4">
						      	<select class="form-control">
						      			<option>Broker</option>
						      			<option>Broker Affiliate</option>
						      			<option>Investor</option>
						      			<option>Lender</option>
						      			<option>Lender Affiliate</option>
						      			<option>Other</option>
						      	</select> 
					      	</td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td  class="col-sm-4"></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td  class="col-sm-4"></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td  class="col-sm-4"></td>
					      </tr>	
					       <tr class="border_top">
					      	<th class="col-sm-4">APR Flag</th>
					      	<th class="col-sm-4">Regulation Z Flag</th>
					      	<th  class="col-sm-4">Fee Paid To</th>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
					      	<td  class="col-sm-4">
						      	<select class="form-control">
						      			<option>Broker</option>
						      			<option>Broker Affiliate</option>
						      			<option>Investor</option>
						      			<option>Lender</option>
						      			<option>Lender Affiliate</option>
						      			<option>Other</option>
						      	</select> 
					      	</td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td  class="col-sm-4"></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td  class="col-sm-4"></td>
					      </tr>	
					      <tr>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
					      	<td  class="col-sm-4"></td>
					      </tr>	
					   </tbody>
			</table>

	</div>