<div class="LoanTermsTable CommonTable col-sm-9 ">
	<span class="col-sm-12">
		<table class="table table-bordered" style="border: 0px;">
		    <thead>
		      <tr>
		        <th class="col-sm-12 tableHeader" colspan="7" style="border-left: 0px; border-right:0px;">
		        	<span class="col-sm-3 tableHeadingTitle">Other Costs</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr class="border_top">
		      	<th class="rowBackground col-sm-7" colspan="2">E. Taxes and Other Government Fees</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesTotalAmount}}</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="padding5 pull-left">{{transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].displayLabel}}</span>
		        	<!--<span class="padding5 pull-left">Deed:</span>
		        	<span class="pull-left padding0"><input class="form-control inputBorder FieldWidth" value=""></span>
		        	<span class="padding5 pull-left">Mortgage:</span>
		        	<span class="pull-left padding0"><input class="form-control inputBorder FieldWidth" value=""></span>-->
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].paidByOthers"/></td>
		      </tr>
		     <tr class="border_top">
		      	<th class="rowBackground" colspan="2">F. Prepaids</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="padding5">
		        		<span class="pull-left margin5tb">
		        			{{transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel}}
		        		</span>
		        	<span class="pull-left padding0" ng-if="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months && transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].fromDate == null">
		        		<span class="pull-left margin5tb"> ( </span>
		        		<span class="col-sm-2 padding0">
		        			<input class="form-control" type="text" name="months" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months">
		        		</span>
		        		<span class="pull-left margin5tb">
		        			) mo. to {{transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].toEntity}}
		        		</span>
		        	</span>
		        	<span ng-if="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months && transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].fromDate != null">
		        		<span class="pull-left margin5tb"> ( </span>
		        		<span class="col-sm-1 padding0">
		        			<input class="form-control" type="text" name="months" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months"> 
		        		</span>
		        		<span class="pull-left margin5tb">) per day from</span> 
		        		<span class="col-sm-2 padding0">
			        		<input type="text" name="prepardDatefromDate_{{$index}}" id="prepardDatefromDate_{{$index}}" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].fromDate" is-open="isDateIssued" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date Issued"/>
			        	</span>
			        	<span class="pull-left">
			        		<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued = !isDateIssued"><i class="glyphicon glyphicon-calendar"></i></button>
		        		</span>
		        		<span class="pull-left margin5tb"> to </span>
		        		<span class="col-sm-2 padding0">
		        			<input type="text" name="prepardDatefromDate_{{$index}}" id="prepardDatetoDate_{{$index}}" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].toDate" is-open="isDateIssued2" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date Issued"/>
		        		</span>
		        		<span class="pull-left">
		        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued2 = !isDateIssued2"><i class="glyphicon glyphicon-calendar"></i></button>
		        		</span>
		        	</span>
		        	</span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].paidByOthers"/></td>
		      </tr>
		     <tr class="border_top">
		      	<th class="rowBackground" colspan="2">G. Initial Escrow Payment at Closing</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td><span ng-show="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel">
		        	<span class="padding5 pull-left col-sm-5">{{transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel}}</span>
					<span class="pull-left padding0 col-sm-2"><input class="form-control inputBorder FieldWidth" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].escrowAmount"></input></span>
	                <span class="pull-left padding0 col-sm-2">per month for</span>
	                <span class="pull-left padding0 col-sm-2"><input class="form-control inputBorder FieldWidth" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].toEntity"></input></span>
	                <span class="pull-left padding0 col-sm-1">mo.</span>
	                </span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].paidByOthers"/></td>
		      </tr>
		      <tr class="border_top">
		      	<th class="rowBackground" colspan="2">H. Other</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.otherTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="padding5 pull-left">{{transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel}}</span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].paidByOthers"/></td>
		      </tr>
		      <tr class="border_top">
		      	<th class="rowBackground" colspan="2">I. TOTAL OTHER COSTS (Borrower-Paid)</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCostsTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr>
		      	<td class="text-center">01</td>
		      	<td><span class="padding5 ">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.displayLabel}}</span></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.bpAtClosing"/></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.bpB4Closing"/></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.spAtClosing"/></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.paidByOthers"/></td>
		      </tr>
		    </tbody>
		</table>
	</span>

	<span class="TotalClosingCosts col-sm-12">
		<table  class="table table-bordered" style="border: 0px;">
			<tr class="border_top">
		      	<th class="rowBackground col-sm-7" colspan="2">J. TOTAL CLOSING COSTS (Borrower-Paid)</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCostsTotalAmount}}</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2"></th>
		      	<th class="col-sm-1"></th>
		    </tr>
		    <tr ng-repeat="i in 2 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="padding5 pull-left">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].displayLabel}}</span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].paidByOthers"/></td>
		      </tr>	
			     
		</table>
	</span>
</div>

<div class="col-sm-3 OtherCostsRightTable">
	<table class="table table-bordered border_top CommonTable" style="margin-top:62px;font-size: 11px;">
		   <tbody>
		   	<tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      </tr>	
			 <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
		      </tr>	
		      
		      <tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      	<th class="col-sm-4">Regulation Z Flag</th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="No"></td>
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="No"></td>
		      	
		      </tr>	
		     
		       <tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      	<th class="col-sm-4">Regulation Z Flag</th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value=""></td>
		      	
		      </tr>	
		      	
		      <tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      	<th class="col-sm-4">Regulation Z Flag</th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
		      	<td class="col-sm-4"><input type="text" class="form-control" name="" value="Yes"></td>
		      	
		      </tr>	
		      
		   </tbody>
	</table>

</div>