<div class="LoanTermsTable CommonTable col-sm-9 ">
	<span class="col-sm-12">
		<table class="table table-bordered" style="border: 0px;">
		    <thead>
		      <tr>
		        <th class="col-sm-12 tableHeader" colspan="7" style="border-left: 0px; border-right:0px;">
		        	<span class="col-sm-3 tableHeadingTitle">Other Costs</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr class="border_top">
		      	<th class="rowBackground col-sm-7" colspan="2">E. Taxes and Other Government Fees</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesTotalAmount}}</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		      	<td ng-if="i == 0">
		      	<span class="padding5 pull-left">{{transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].feeType}}</span>
		        	<span class="padding5 pull-left">Deed:</span>
		        	<span class="pull-left padding0"><input class="form-control inputBorder FieldWidth" value=""></span>
		        	<span class="padding5 pull-left">Mortgage:</span>
		        	<span class="pull-left padding0"><input class="form-control inputBorder FieldWidth" value=""></span>
		        </td>
		        <td  ng-if="i != 0">
		        	<select class="form-control pull-left" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].displayLabel">
			        	<option></option>
						<option>Additional State Recording Fee</option>
						<option>Amendment Modification Fee Deed</option>
						<option>Amendment Modification Fee Mortgage</option>
						<option>Assignment Recording</option>
						<option>Auditor Transfer Fee</option>
						<option>City Transfer Tax</option>
						<option>Conservation Fee</option>
						<option>Conservation Recording Fee</option>
						<option>County Transfer Tax</option>
						<option>Excise/Transfer Tax</option>
						<option>Form Fee Deed</option>
						<option>Georgia Per Loan Fee</option>
						<option>Grantee County Tax</option>
						<option>Grantee State Tax</option>
						<option>Grantor County Tax</option>
						<option>Grantor State Tax</option>
						<option>Index Fee Assignment</option>
						<option>Index Fee Deed</option>
						<option>Index Fee Mortgage</option>
						<option>Index Fee POA</option>
						<option>Index Fee Release</option>
						<option>Intangible Tax</option>
						<option>Land Bank Tax</option>
						<option>Mansion Tax</option>
						<option>Mortgage Registration Recording Fee</option>
						<option>Notorial Archive Fee Mortgage</option>
						<option>Other</option>
						<option>POA Recording Fee</option>
						<option>POA Tax</option>
						<option>Release Recording Fee</option>
						<option>Sales Disclosure Form Fee</option>
						<option>Sales Tax or Surcharge on Title </option>
						<option>State Transfer Tax</option>
					</select>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].paidByOthers"/></td>
		      </tr>
		     <tr class="border_top">
		      	<th class="rowBackground" colspan="2">F. Prepaids</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="padding5">
		        		<span ng-if="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months == null" class="pull-left">
			        		<select class="form-control pull-left" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel">
			        			<option></option>
								<option>City Property Tax</option>
								<option>County Property Tax</option>
								<option>Earthquake Insurance Prem</option>
								<option>Flood Insurance 2 Prem</option>
								<option>Flood Insurance 3 Prem</option>
								<option>Flood Insurance 4 Prem</option>
								<option>Flood Insurance Prem</option>
								<option>Hazard Insurance Prem</option>
								<option>Other</option>
								<option>Other Insurance Premium</option>
								<option>State Property Tax</option>
							</select>
						</span>
						<span ng-if="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months != null" class="pull-left padding5">
							{{transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel}}
						</span>
			        	<span class="pull-left padding0" ng-if="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months && transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].fromDate == null">
			        		<span class="pull-left margin5tb"> ( </span>
			        		<span class="col-sm-2 padding0">
			        			<input class="form-control" type="text" name="months" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months">
			        		</span>
			        		<span class="pull-left margin5tb">
			        			) mo. to {{transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].toEntity}}
			        		</span>
			        	</span>
			        	<span ng-if="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months && transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].fromDate != null">
			        		<span class="pull-left margin5tb"> ( </span>
			        		<span class="col-sm-1 padding0">
			        			<input class="form-control" type="text" name="months" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].months"> 
			        		</span>
			        		<span class="pull-left margin5tb">) per day from</span> 
			        		<span class="col-sm-2 padding0">
				        		<input type="text" name="prepardDatefromDate_{{$index}}" id="prepardDatefromDate_{{$index}}" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].fromDate" is-open="isDateIssued" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date Issued"/>
				        	</span>
				        	<span class="pull-left">
				        		<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued = !isDateIssued"><i class="glyphicon glyphicon-calendar"></i></button>
			        		</span>
			        		<span class="pull-left margin5tb"> to </span>
			        		<span class="col-sm-2 padding0">
			        			<input type="text" name="prepardDatefromDate_{{$index}}" id="prepardDatetoDate_{{$index}}" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].toDate" is-open="isDateIssued2" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Date Issued"/>
			        		</span>
			        		<span class="pull-left">
			        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued2 = !isDateIssued2"><i class="glyphicon glyphicon-calendar"></i></button>
			        		</span>
			        	</span>
		        	</span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].paidByOthers"/></td>
		      </tr>
		     <tr class="border_top">
		      	<th class="rowBackground" colspan="2">G. Initial Escrow Payment at Closing</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="pull-left col-sm-5" ng-if="i<4">{{transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel}}</span>
		        	<span class="pull-left col-sm-5" ng-if="i>3">
		        		<select class="form-control pull-left" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel">
			        		<option></option>
							<option>Annual Assessment Escrows</option>
							<option>City Tax Escrow</option>
							<option>County Tax Escrows</option>
							<option>Earthquake Insurance Escrow</option>
							<option>Flood Insurance 2 Escrow</option>
							<option>Flood Insurance 3 Escrow</option>
							<option>Flood Insurance 4 Escrow</option>
							<option>Flood Insurance Escrow</option>
							<option>Other</option>
							<option>Other Insurance Escrows</option>
							<option>Other Tax Escrows</option>
							<option>School Tax Escrows</option>
						</select>
					</span>
					<span ng-show="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel">
						<span class="pull-left padding0 col-sm-2"><input class="form-control inputBorder FieldWidth" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].escrowAmount"></input></span>
		                <span class="pull-left padding0 col-sm-2">per month for</span>
		                <span class="pull-left padding0 col-sm-2"><input class="form-control inputBorder FieldWidth" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].toEntity"></input></span>
		                <span class="pull-left padding0 col-sm-1">mo.</span>
	                </span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].paidByOthers"/></td>
		      </tr>
		      <tr class="border_top">
		      	<th class="rowBackground" colspan="2">H. Other</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.otherTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr ng-repeat="i in 15 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<select class="form-control pull-left" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel" ng-if="$index < 14">
		        		<option></option>
						<option>Asbestos Inspection</option>
						<option>Chimney Inspection</option>
						<option>Compliance Inspection</option>
						<option>Condo Association Dues</option>
						<option>Condominium Association Special Assessment</option>
						<option>Construction Funds Holdback</option>
						<option>Drywall Inspection</option>
						<option>Foundation Inspection</option>
						<option>Gas Inspection</option>
						<option>Heating Cooling Inspection</option>
						<option>Home Inspection</option>
						<option>Home Warranty (optional)</option>
						<option>Homeowners Association Dues</option>
						<option>Homeowners Association Special Assessment</option>
						<option>Lead Inspection</option>
						<option>Mechanical Inspection</option>
						<option>Mold Inspection</option>
						<option>Municipal Certificate Fee</option>
						<option>Natural Hazard Disclosure Report</option>
						<option>Other</option>
						<option>Pest Inspection</option>
						<option>Plumbing Inspection</option>
						<option>Radon Inspection</option>
						<option>Real Estate Commission Buyers Broker</option>
						<option>Real Estate Commission Sellers Broker</option>
						<option>Rehab Funds</option>
						<option>ReInspection</option>
						<option>Repair Completion Escrow Holdback</option>
						<option>Roof Inspection</option>
						<option>Septic Inspection</option>
						<option>Smoke Inspection</option>
						<option>Structural Inspection</option>
						<option>Survey Fee</option>
						<option>Title - Owners Coverage Premium (Optional)</option>
						<option>Water Inspection</option>
						<option>Well Inspection</option>
					</select>
					<select class="form-control pull-left" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel" ng-if="$index == 14">
		        		<option>Aggregate Adjustment</option>
						<option>Asbestos Inspection</option>
						<option>Chimney Inspection</option>
						<option>Compliance Inspection</option>
						<option>Condo Association Dues</option>
						<option>Condominium Association Special Assessment</option>
						<option>Construction Funds Holdback</option>
						<option>Drywall Inspection</option>
						<option>Foundation Inspection</option>
						<option>Gas Inspection</option>
						<option>Heating Cooling Inspection</option>
						<option>Home Inspection</option>
						<option>Home Warranty (optional)</option>
						<option>Homeowners Association Dues</option>
						<option>Homeowners Association Special Assessment</option>
						<option>Lead Inspection</option>
						<option>Mechanical Inspection</option>
						<option>Mold Inspection</option>
						<option>Municipal Certificate Fee</option>
						<option>Natural Hazard Disclosure Report</option>
						<option>Other</option>
						<option>Pest Inspection</option>
						<option>Plumbing Inspection</option>
						<option>Radon Inspection</option>
						<option>Real Estate Commission Buyers Broker</option>
						<option>Real Estate Commission Sellers Broker</option>
						<option>Rehab Funds</option>
						<option>ReInspection</option>
						<option>Repair Completion Escrow Holdback</option>
						<option>Roof Inspection</option>
						<option>Septic Inspection</option>
						<option>Smoke Inspection</option>
						<option>Structural Inspection</option>
						<option>Survey Fee</option>
						<option>Title - Owners Coverage Premium (Optional)</option>
						<option>Water Inspection</option>
						<option>Well Inspection</option>
					</select>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].paidByOthers"/></td>
		      </tr>
		      <tr class="border_top">
		      	<th class="rowBackground" colspan="2">I. TOTAL OTHER COSTS (Borrower-Paid)</th>
		      	<th class="rowBackground text-center" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCostsTotalAmount}}</th>
		      	<th class="rowBackground text-center" colspan="2"></th>
		      	<th></th>
		      </tr>	
		      <tr>
		      	<td class="text-center">01</td>
		      	<td><span class="padding5 ">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.displayLabel}}</span></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.bpAtClosing"/></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.bpB4Closing"/></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.spAtClosing"/></td>
		      	<td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalOtherCosts.paidByOthers"/></td>
		      </tr>
		    </tbody>
		</table>
	</span>

	<span class="TotalClosingCosts col-sm-12">
		<table  class="table table-bordered" style="border: 0px;">
			<tr class="border_top">
		      	<th class="rowBackground col-sm-7" colspan="2">J. TOTAL CLOSING COSTS (Borrower-Paid)</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCostsTotalAmount}}</th>
		      	<th class="rowBackground text-center col-sm-2" colspan="2"></th>
		      	<th class="col-sm-1"></th>
		    </tr>
		    <tr ng-repeat="i in 2 | range">
		      	<td class="text-center"  style="width: 40px;"><span ng-if="i<9">0</span>{{i+1}}</td>
		        <td>
		        	<span class="padding5 pull-left">{{transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].displayLabel}}</span>
		        </td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].bpAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].bpB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].spAtClosing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].spB4Closing"/></td>
		        <td><input class="form-control" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.totalClosingCosts[i].paidByOthers"/></td>
		      </tr>	
			     
		</table>
	</span>
</div>

<div class="col-sm-3 OtherCostsRightTable">
	<table class="table table-bordered border_top CommonTable" style="margin-top:62px;font-size: 11px;">
		   <tbody>
		   	<tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      </tr>	
			 <tr ng-repeat="i in 14 | range">
		      	<td>
		      		<input type="text" class="form-control" name="tOGovtFeesListFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.tOGovtFeesList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      </tr>	
		      
		      <tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      	<th class="col-sm-4">Regulation Z Flag</th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4">
		      		<input type="text" class="form-control" name="prepaidsListFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      	<td class="col-sm-4">
		      		<input type="text" class="form-control" name="prepaidsListRezFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.prepaidsList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      	
		      </tr>	
		     
		       <tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      	<th class="col-sm-4">Regulation Z Flag</th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4">
		      		<input type="text" class="form-control" name="iEPatClosingListFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      	<td class="col-sm-4">
		      		<input type="text" class="form-control" name="iEPatClosingListRezFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.iEPatClosingList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      	
		      </tr>	
		      	
		      <tr class="border_top">
		      	<th class="col-sm-4">APR Flag</th>
		      	<th class="col-sm-4">Regulation Z Flag</th>
		      </tr>	
		      <tr ng-repeat="i in 14 | range">
		      	<td class="col-sm-4">
		      		<input type="text" class="form-control" name="otherCostsListFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      	<td class="col-sm-4">
		      		<input type="text" class="form-control" name="otherCostsListRezFlag" ng-model="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].aprFlag" ng-value="transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel != null && transformData.pageTwo.closingCostDetailsOtherCosts.otherCostsList[i].displayLabel != '' ? 'Yes' : ''">
		      	</td>
		      </tr>	

		   </tbody>
	</table>

</div>