<div class="LoanTermsTable CommonTable col-sm-12 ">
			            	<span class="col-sm-12">
			            		<table class="table table-bordered" style="border: 0px;">
								    <thead>
								      <tr>
								        <th class="col-sm-12 tableHeader" colspan="7" style="border-left: 0px; border-right:0px;">
								        	<span class="col-sm-3 tableHeadingTitle">Other Costs</span>
								        </th>
								        						        
								      </tr>
								     
								      <tr class="border_top">
								      	<th class="rowBackground" colspan="2">E. Taxes and Other Government Fees</th>
								      	<th class="rowBackground text-center" colspan="2">$0.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								    </thead>

								    <tbody>
								      <tr>
								      	<td class="text-center"  style="width: 40px;">01</td>
								        <td>
								        	<span class="padding5 col-sm-4">Recording Fees</span>
								        	<span class="col-sm-2 padding5">Deed:</span>
								        	<span class="col-sm-2 "><input class="form-control inputBorder" value=""></input></span>
								        	<span class="col-sm-2 padding5">Mortgage:</span>
								        	<span class="col-sm-2 "><input class="form-control inputBorder" value=""></input></span>
								        </td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">02</td>
								        <td>
								        	<span class="padding5 col-sm-5">
									        	Transfer Taxes
								        	</span>
								        	<span class="col-sm-1 padding5"> to </span>
									        <span class="col-sm-6">
									        	<input class="form-control" value=""></input>
									        </span>
								        </td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">03</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr>
								      	<td class="text-center">04</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr class="border_top">
								      	<th class="rowBackground" colspan="2">F. Prepaids</th>
								      	<th class="rowBackground text-center" colspan="2">$98.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      <tr>
								      	<td class="text-center"  style="width: 40px;">01</td>
								        <td>
								        	<span class="padding5 col-sm-4">Recording Fees</span>
								        	<span class="col-sm-2 padding5">Deed:</span>
								        	<span class="col-sm-2 "><input class="form-control inputBorder" value=""></input></span>
								        	<span class="col-sm-2 padding5">Mortgage:</span>
								        	<span class="col-sm-2 "><input class="form-control inputBorder" value=""></input></span>
								        </td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">02</td>
								        <td>
								        	<span class="padding5 col-sm-5">
									        	Transfer Taxes
								        	</span>
								        	<span class="col-sm-1 padding5"> to </span>
									        <span class="col-sm-6">
									        	<input class="form-control" value=""></input>
									        </span>
								        </td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">03</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr>
								      	<td class="text-center">04</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     
								      <tr class="border_top">
								      	<th class="rowBackground" colspan="2">C. Services Borrower Did Shop For</th>
								      	<th class="rowBackground text-center" colspan="2">$0.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      
								      
								      <tr>
								      	<td class="text-center">01</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">02</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr>
								      	<td class="text-center">03</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								     <tr>
								      	<td class="text-center">04</td>
								      	<td></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								      <tr class="border_top">
								      	<th class="rowBackground" colspan="2">D. TOTAL LOAN COSTS (Borrower-Paid)</th>
								      	<th class="rowBackground text-center" colspan="2">$747.00</th>
								      	<th class="rowBackground text-center" colspan="2"></th>
								      	<th></th>
								      </tr>	
								      <tr>
								      	<td class="text-center">01</td>
								      	<td></td>
								      	<td><input class="form-control" value="$747.00"></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								      	<td><input class="form-control" value=""></input></td>
								        <td><input class="form-control" value=""></input></td>
								      </tr>
								    </tbody>
								</table>
							</span>
			           	</div>