<div class="LoanTermsTable col-sm-12">
	<span class="col-sm-12">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-3 tableHeadingTitle">Projected Payments</th>
		        <th  class="col-sm-2"></th>
		        <th  class="col-sm-2"></th>
		        <th  class="col-sm-2"></th>
		        <th  class="col-sm-3"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr class="rowBackground" >
		        <td><label>Payment Calculation</label></td>
		        <td ng-repeat="pc in transformData.pageOne.projectedPayments.paymentCalculation"><label>{{pc}}</label></td>
		      </tr>
		      <tr>
		        <td><label>Principal & Interest</label></td>
		        <td  ng-repeat="pi in transformData.pageOne.projectedPayments.principalInterest track by $index" >
		        	<p ng-if="pi.minValue!='$0'">
		        		<input class="form-control" ng-model="pi.minValue"/>
		        	</p>
		        	<p ng-if="pi.maxValue!='$0'">
		        		<input class="form-control" ng-model="pi.maxValue"/>
		        	</p>
		        	<p ng-if="pi.interestOnly != null">
		        		<labe>{{pi.interestOnly}}</labe>
		        	</p>

		        </td>
		      </tr>
		      <tr>
		        <td><label >Mortgage Insurance</label> 
			        <span class="col-sm-4 padding0 pull-right">
			        	<input class="form-control" placeholder="MI Term">
			        </span>
		        </td>
		        <td  ng-repeat="mi in transformData.pageOne.projectedPayments.mortgageInsurance track by $index" >
		        	<input class="form-control" type="text" ng-model="mi"/>
		        </td>
		      </tr>
		      <tr>
		        <td><label >Estimated Escrow</label> 
			        <div><i>Amount can increase over time</i></div>
		        </td>
		        <td  ng-repeat="ee in transformData.pageOne.projectedPayments.estimatedEscrow track by $index" >
		        	<input class="form-control" ng-model="ee"/>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Estimated Total Monthly Payment</label> 
		        </td>
		        <td  ng-repeat="etp in transformData.pageOne.projectedPayments.estimatedTotalPayment track by $index" >
		        	<input class="form-control" ng-model="etp"/>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Estimated Taxes, Insurance & Assessments</label> 
		        	<div><i>Amount can increase over time See page 4 for details</i></div>
		        </td>
		        <td><label>{{transformData.pageOne.projectedPayments.etia.amount}} &nbsp; {{transformData.pageOne.projectedPayments.etia.frequencyType}}</label></td>
		        <td colspan="3">
		        		<span class="col-sm-6"><label>This estimate includes</label></span> 
		        		<span class="col-sm-6"><label>In escrow?</label></span>
		        		<ul class="col-sm-6">
		        			<li><input type="checkbox" name= "propertyTaxesStatus" ng-model="transformData.pageOne.projectedPayments.etia.propertyTaxesStatus"  ng-true-value="true" ng-false-value="false"> Property Taxes</li>
		        			<li><input type="checkbox" name= "homeownersInsuranceStatus" ng-model="transformData.pageOne.projectedPayments.etia.homeownersInsuranceStatus"  ng-true-value="true" ng-false-value="false"> Homeowners Insurance</li>
		        			<li><input type="checkbox" name= "otherStatus" ng-model="transformData.pageOne.projectedPayments.etia.otherStatus"  ng-true-value="true" ng-false-value="false"> Other:</li>
		        		</ul>
		        		<ul class="col-sm-6">
		        			<li>&nbsp;{{transformData.pageOne.projectedPayments.etia.propertyTaxesInEscrow}}</li>
		        			<li>&nbsp;{{transformData.pageOne.projectedPayments.etia.homeownersInsuranceInEscrow}}</li>
		        			<li>&nbsp;{{transformData.pageOne.projectedPayments.etia.otherInEscrow}}</li>
		        		</ul>
		        	<div class="col-sm-12"><i>See Escrow Account on page 4 for details. You must pay for other property costs separately</i></div>
		        </td>
		        
		      </tr>
		    </tbody>
		</table>
	</span>
</div>