<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="updateActiveTab(0)">&times;</button>
    <h4 class="col-sm-6 pull-left" style="margin:10px 10px;">Closing Disclosure</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <uib-tabset>
            <uib-tab index="{{$index}}" active="activeTab[$index]" ng-click="updateActiveTab($index)"  heading="{{tab.heading}}" ng-repeat="tab in tabs track by $index">
            	<div ng-include='tab.template'></div>
        	</uib-tab>
        </uib-tabset>
    </div>	
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="previous(index)" ng-hide="activeTab[0]=== true">Previous</button>
  <button  ng-click="next(index)" class="btn btn-default" ng-hide="activeTab[5]===true" >Next</button>
  <button  data-dismiss="modal" class="btn btn-default" ng-show="activeTab[5]===true" ng-click="updateActiveTab(0)">Done</button>
</div>