<div role="navigation" id="menuCtrlId">
        <header class="navbar-header col-sm-12">
            <div class="pull-left margin5tb">
			 <img class = "logo" src="images/actualize_logo.png">
            </div>

            <div class="notificationIcons pull-right">
                <span class="pull-right text-center">
                    <span class="glyphicon glyphicon-bell"></span>
                    <span class="col-sm-12">Notification</span>
                </span>
                <span class="pull-right text-center">
                    <span class="glyphicon glyphicon-flag"></span>
                    <span class="col-sm-12">Flag</span>
                </span>
                <span class="pull-right text-center">
                    <span class="glyphicon glyphicon-file"></span>
                    <span class="col-sm-12">Forms</span>
                </span>
            </div>
        </header>
        <nav class="PageNavigation">
            <ul>
                <li>
                    <a href="" class="dir">File</a>
                    <ul>
                        <li><a href="" ng-click="fileNew()">New</a></li>
                        <li><a href="" ng-click="fileOpen()">Open</a></li>
                        <li><a href="" ng-click="importFile()">Import</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="dir">Tools</a>
                    <!-- <ul>
                        <li><a href="#/home" ng-click="closePdfView()">Validate UCD</a></li>
                        <li><a href="#/home" ng-click="closePdfView()">Submit to GSE's</a></li>
                    </ul> -->
                </li>
                <li>
                    <a href="" class="dir">View</a>
                    <ul>
                        <li><a href="" ng-click="generateXML()">XML</a></li>
                        <li ng-show="localStorage.documentType=='closingdisclosure'"><a href="" ng-click="generateUCDXML()">UCDXML</a></li>
                        <li><a href="" ng-click="generatePDF()">PDF</a></li> 
                    </ul>
                </li>
            </ul>
            <div class="pull-right" style="color: #fff; padding-right: 15px; margin-top: -5px; cursor: pointer;" ><a style="color: #fff; text-decoration: none;" ng-click="logout()">Logout</a></div>
        </nav>
    </div>
