<div id="ClosingInformationQ">
		<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle">Closing Date :</div>
		<div class="col-sm-6 fieldTitle">What is the Proposed closing date for the transaction?</div>
		<div class="col-sm-3">
			<span class="col-sm-10 padding0">
			<input type="text" name="closingDate" id="closingDate" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageOne.closingInformation.closingDate" is-open="isClosingDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Closing Date"/>
			</span>
  			<span class="input-group-btn col-sm-2 padding0">
    			<button type="button" class="btn btn-default calenderBtn" ng-click="isClosingDate = !isClosingDate"><i class="glyphicon glyphicon-calendar"></i></button>
    		</span>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle">Disbursement Date :</div>
		<div class="col-sm-6 fieldTitle">What is the proposed disburement date for the transaction?</div>
		<div class="col-sm-3">
			<span class="col-sm-10 padding0">
			<input type="text" name="disbursementDate" id="disbursementDate" class="form-control calenderInput" uib-datepicker-popup="{{format}}" ng-model="transformData.pageOne.closingInformation.disbursementDate" is-open="isDisbursementDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Disbursement Date"/>
			</span>
  			<span class="input-group-btn col-sm-2 padding0">
    			<button type="button" class="btn btn-default calenderBtn" ng-click="isDisbursementDate = !isDisbursementDate"><i class="glyphicon glyphicon-calendar"></i></button>
    		</span>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle">Settlement Agent :</div>
		<div class="col-sm-6 fieldTitle">What is the name of the Settlement Agent's Organization?.</div>
		<div class="col-sm-3"><input type="text" ng-model="transformData.pageOne.closingInformation.settlementAgent" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle">File # :</div>
		<div class="col-sm-6 fieldTitle">Provide the Settlement Agent's File #.</div>
		<div class="col-sm-3"><input type="text" ng-model="transformData.pageOne.closingInformation.fileNo" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle">Property :</div>
		<div class="col-sm-6 fieldTitle">Does the Property being held for collateral have a street address?</div>
		<div class="col-sm-2">
			<select class="form-control pull-left" ng-model="transformData.pageOne.closingInformation.property.isStreeAddress">
        		<option>YES</option>
        		<option>NO</option>
        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.property.isStreeAddress == 'YES'">
		<div class="fontBold col-sm-2 fieldTitle"> </div>
		<div class="col-sm-6 fieldTitle">Street Address</div>
		<div class="col-sm-3"><input type="text" ng-model="transformData.pageOne.closingInformation.property.addressLineText" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.property.isStreeAddress == 'NO'">
		<div class="fontBold col-sm-2 fieldTitle"> </div>
		<div class="col-sm-6 fieldTitle">Lot Number</div>
		<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.property.addressLineText" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">City.</div>
		<div class="col-sm-3"><input type="text" ng-model="transformData.pageOne.closingInformation.property.cityName" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">State.</div>
		<div class="col-sm-3"><select ng-model="transformData.pageOne.closingInformation.property.state" id="state" name="state" class="form-control" ng-options="option.STATE_NAME for option in states track by option.STATE_CODE" ng-change="updateStateValue(transformData.pageOne.closingInformation.property)">
					<option value="">Select state</option>
				</select>
		</div>
	</div>

	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle">Sales Price OR Appraised OR Estimated Property Value</div>
		<div class="col-sm-6 fieldTitle">Does the Property Being held for collateral have a legal description and the Zip code?</div>
		<div class="col-sm-2">
			<select class="form-control pull-left" ng-model="transformData.pageOne.closingInformation.property.isLegalDescription">
        		<option>YES</option>
        		<option>NO</option>
        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.property.isLegalDescription == 'YES'">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Legal Description and Zip Code</div>
		<div class="col-sm-2"><input type="text" ng-model="transformData.pageOne.closingInformation.property.unparsedLegalDescription" class="form-control"></div>
		<div class="col-sm-2"><input type="text" ng-model="transformData.pageOne.closingInformation.property.postalCode" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.property.isLegalDescription == 'NO'">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Zip Code</div>
		<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.property.postalCode" class="form-control"></div>
	</div>
	<div class="FieldGroup col-sm-12 margin2btb">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Is the transaction a Purchase?</div>
		<div class="col-sm-2">
			<select class="form-control pull-left" ng-model="transformData.pageOne.closingInformation.isPurchaseTransaction">
        		<option>YES</option>
        		<option>NO</option>
        	</select>
		</div>
	</div>
	<div ng-show="transformData.pageOne.closingInformation.isPurchaseTransaction == 'YES'">
		<div class="FieldGroup col-sm-12 margin2btb" >
			<div class="fontBold col-sm-2 fieldTitle"></div>
			<div class="col-sm-6 fieldTitle"> Is there Personal Property Itemized in the Sales Contract?</div>
			<div class="col-sm-2">
				<select class="form-control pull-left" ng-model="transformData.pageOne.closingInformation.salesContractDetail.personalPropertyIndicator">
	        		<option>YES</option>
	        		<option>NO</option>
	        	</select>
			</div>
		</div>
		<div ng-show="transformData.pageOne.closingInformation.salesContractDetail.personalPropertyIndicator == 'YES'">
			<div class="FieldGroup col-sm-12 margin2btb">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">Real Property Amount</div>
				<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.salesContractDetail.realPropertyAmount" class="form-control"></div>
			</div>
			<div class="FieldGroup col-sm-12 margin2btb">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">Personal Property Amount</div>
				<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.salesContractDetail.personalPropertyAmount" class="form-control"></div>
			</div>
		</div>
		<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.salesContractDetail.personalPropertyIndicator == 'NO'">
			<div class="fontBold col-sm-2 fieldTitle"></div>
			<div class="col-sm-6 fieldTitle">Sale Contract Amount</div>
			<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.salePrice" class="form-control"></div>
		</div>
	</div>
	<div ng-show="transformData.pageOne.closingInformation.isPurchaseTransaction == 'NO'">
		<div class="FieldGroup col-sm-12 margin2btb" >
			<div class="fontBold col-sm-2 fieldTitle"></div>
			<div class="col-sm-6 fieldTitle"> Was an appraisal complete on the subject property?</div>
			<div class="col-sm-2">
				<select class="form-control pull-left" ng-model="transformData.pageOne.closingInformation.propertyValuationDetail.propertyValuationDetailIndicator">
	        		<option>YES</option>
	        		<option>NO</option>
	        	</select>
			</div>
		</div>
		<div ng-show="transformData.pageOne.closingInformation.propertyValuationDetail.propertyValuationDetailIndicator == 'YES'">
			<div class="FieldGroup col-sm-12 margin2btb">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">Appraisal Method Type</div>
				<div  class="col-sm-3">
					<select class="form-control" ng-model="transformData.pageOne.closingInformation.propertyValuationDetail.PropertyValuationMethodType">
						<option value="">Pelase Select</option>
						<option value="AutomatedValuationModel">Automated Valuation Model</option>
						<option value="DesktopAppraisal">Desktop Appraisal</option>
						<option value="DriveBy">Drive By</option>
						<option value="FullAppraisal">Full Appraisal</option>
						<option value="None">None</option>
						<option value="Other">Other</option>
						<option value="PriorAppraisalUsed">Prior Appraisal Used</option>
					</select>
				</div>
			</div>
			<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.propertyValuationDetail.PropertyValuationMethodType == 'Other'">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">Other Description</div>
				<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.propertyValuationDetail.propertyValuationMethodTypeOtherDescription" class="form-control"></div>
			</div>
			<div class="FieldGroup col-sm-12 margin2btb">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">Property Valuation Amount</div>
				<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.propertyValuationDetail.propertyValuationAmount" class="form-control"></div>
			</div>
		</div>
		<div class="FieldGroup col-sm-12 margin2btb" ng-show="transformData.pageOne.closingInformation.propertyValuationDetail.propertyValuationDetailIndicator == 'NO'">
			<div class="fontBold col-sm-2 fieldTitle"></div>
			<div class="col-sm-6 fieldTitle">Sale Contract Amount</div>
			<div class="col-sm-3"><input type="text"  ng-model="transformData.pageOne.closingInformation.salePrice" class="form-control"></div>
		</div>
	</div>
</div>