<div id="LoanInformationQ">
		          				<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">A. Origination Charges :</div>
			            			<div class="col-sm-6 fieldTitle">Does the transaction have discount Points?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">If Yes, </div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>Set Fee Type</option>
											        		
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the total discount points in percent?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the fee being paid to, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Investor </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Other </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdPartyProvider </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>BrokerAffiliate </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>LenderAffiliate </label></span>
			            				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is the fee being paid to someone other than the Lender?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the Full Name of the organization</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the payment being paid by, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>			            				
			            			</div>
			            		</div>
								<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this payment being paid outside of the closing?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>

			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Does the transaction have another origination charge?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the fee choose from the drop down.</div>
			            			<div class="col-sm-3 padding0">
				            			<select class="form-control pull-left">
											        		<option>mismo enums</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the label for the fee?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the amount of the fee?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the fee being paid to, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Investor </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Other </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdPartyProvider </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>BrokerAffiliate </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>LenderAffiliate </label></span>			            				
			            			</div>
			            		</div> 
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is the fee being paid to someone other than the Lender?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the Full Name of the organization</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the payment being paid by, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>		            				
			            			</div>
			            		</div> 
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this payment being paid outside of the closing?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb " style="margin-bottom:15px;">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"></div>
			            			<div class="col-sm-3 padding0 ">
			            				<span class="glyphicon glyphicon-plus"></span> <span style="cursor:pointer;">Add Another Origination Charge</span>
			            			</div>
			            		</div>
		            		</div>