<div id="LoanInformationQ">
		          				<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">Purpose :</div>
			            			<div class="col-sm-6 fieldTitle">Is this loan a construction loan?</div>
			            			<div class="col-sm-2 padding0">
			            				<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Indicate if the Transaction is Construction ONLY or Contstruction to Permanent Financing</div>
			            			<div class="col-sm-3 padding0">
				            			<select class="form-control pull-left">
											        		<option>Construction</option>
											        		<option>Construction to Permanent Financing</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the construction period in months</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the total term of the construction loan in months</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the Loan Term in months</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" maxlength="3" name="">
				            		</div>
			            		</div>


			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">Seller :</div>
			            			<div class="col-sm-6 fieldTitle">Is the Seller a individual person or an organization?</div>
			            			<div class="col-sm-3 radioGroup">
			            				<input type="radio" > <label>Individual</label>
			            				<input type="radio"> <label>Organization </label>

			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the Seller Name</div>
			            			<div class="col-sm-4 padding0">
				            			<div class="col-sm-6"><input type="text" placeholder="First Name" class="form-control"></div>
				            			<div class="col-sm-6"><input type="text" placeholder="Middle Name" class="form-control"></div>
				            			<div class="col-sm-6 margin5tb"><input type="text" placeholder="Last Name" class="form-control"></div>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the Seller's Mailing Address</div>
			            			<div class="col-sm-4 padding0">
				            			<div class="col-sm-6"><input type="text" placeholder="Mail" class="form-control"></div>
				            			<div class="col-sm-6"><input type="text" placeholder="Address" class="form-control"></div>
				            			<div class="col-sm-6 margin5tb"><input type="text" placeholder="City" class="form-control"></div>
				            			<div class="col-sm-6 margin5tb"><input type="text" placeholder="Postal Code" class="form-control"></div>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb " style="margin-bottom:15px;">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"></div>
			            			<div class="col-sm-3 radioGroup">
			            				<span class="glyphicon glyphicon-plus"></span> <span style="cursor:pointer;">Add Seller</span>
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">Lender :</div>
			            			<div class="col-sm-6 fieldTitle">Provide the Lender's Organization Name</div>
			            			<div class="col-sm-3">
			            				<input type="text" class="form-control">
			            			</div>
			            		</div>
		            		</div>