<div id="LoanInformationQ">
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle">Loan Amount :</div>
		<div class="col-sm-6 fieldTitle">Enter the Transaction's Loan Amount</div>
		<div class="col-sm-3 padding0">
			<input type="text" class="form-control" name="">
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Can this amount increase after closing?</div>
		<div class="col-sm-2 padding0" ng-model="transformData.pageOne.loanTerms.loanAmountIncreaseIndicator">
			<select class="form-control pull-left">
        		<option>YES</option>
        		<option>NO</option>
        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb " ng-show="transformData.pageOne.loanTerms.loanAmountIncreaseIndicator == 'YES'">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-5 fieldTitle padding0 align-middle">
			<span  class="col-sm-6 padding0">Can go as high as </span>
			<span class="col-sm-4">
				<input type="text" class="form-control" name="negativeAmortizationMaximumLoanBalanceAmount" ng-model="transformData.pageOne.loanTerms.negativeAmortizationMaximumLoanBalanceAmount">
			</span>
		</div>
		<div class="col-sm-5 padding0 align-middle">
			<span class="col-sm-6 padding0">Can Increase until year</span>
			<span class="col-sm-4">
				<input type="text" class="form-control" name="negativeAmortizationLimitMonthsCount" ng-model="transformData.pageOne.loanTerms.negativeAmortizationLimitMonthsCount">
			</span>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb " ng-show="transformData.pageOne.loanTerms.loanAmountIncreaseIndicator == 'NO'">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">If No</div>
		<div class="col-sm-2 padding0">
			<input type="button" name="loanAmountIncreaseIndicatorbtn" value="Done"/>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle">Interest Rate :</div>
		<div class="col-sm-6 fieldTitle">Is there a Buydown of the interest rate?</div>
		<div class="col-sm-2 padding0">
			<select class="form-control pull-left" name="BuydownTemporarySubsidyFundingIndicator" ng-model="transformData.pageOne.loanTerms.interestRate.buydownTemporarySubsidyFundingIndicator">
        		<option>YES</option>
        		<option>NO</option>
        	</select>
		</div>
	</div>
	<div ng-show="transformData.pageOne.loanTerms.interestRate.buydownTemporarySubsidyFundingIndicator == 'YES'">
		<div class="FieldGroup col-sm-12 margin5tb ">
			<div class="fontBold col-sm-2 fieldTitle"></div>
			<div class="col-sm-6 fieldTitle"> is the Buydown reflected in the Note?</div>
			<div class="col-sm-2 padding0">
				<select class="form-control pull-left" ng-model="transformData.pageOne.loanTerms.interestRate.gseBuydownReflectedInNoteIndicator">
	        		<option>YES</option>
	        		<option>NO</option>
	        	</select>
			</div>
		</div>
		<div ng-show="transformData.pageOne.loanTerms.interestRate.gseBuydownReflectedInNoteIndicator == 'YES'">
			<div class="FieldGroup col-sm-12 margin5tb ">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">What is the Buydown Initial Effective Interest Rate?</div>
				<div class="col-sm-3 padding0">
					<input type="text" class="form-control" name="buydownInitialEffectiveInterestRatePercent" ng-model="transformData.pageOne.loanTerms.interestRate.buydownInitialEffectiveInterestRatePercent">
				</div>
			</div>
			<div class="FieldGroup col-sm-12 margin5tb ">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">What is the Buydown Change Frequency number of Months Count</div>
				<div class="col-sm-3 padding0">
					<input type="text" class="form-control" name="buydownChangeFrequencyMonthsCount" ng-model="transformData.pageOne.loanTerms.interestRate.buydownChangeFrequencyMonthsCount">
				</div>
			</div>
			<div class="FieldGroup col-sm-12 margin5tb ">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">What is the total number of months during which the buydown is in effect?</div>
				<div class="col-sm-3 padding0">
					<input type="text" class="form-control" name="buydownDurationMonthsCount" ng-model="transformData.pageOne.loanTerms.interestRate.buydownDurationMonthsCount">
				</div>
			</div>
			<div class="FieldGroup col-sm-12 margin5tb ">
				<div class="fontBold col-sm-2 fieldTitle"></div>
				<div class="col-sm-6 fieldTitle">What is the amount by which the interest rate can increase at each adjustment period for the buydown duration?</div>
				<div class="col-sm-3 padding0">
					<input type="text" class="form-control" name="buydownIncreaseRatePercent" ng-model="transformData.pageOne.loanTerms.interestRate.buydownIncreaseRatePercent">
				</div>
			</div>
		</div>
		<div class="FieldGroup col-sm-12 margin5tb "  ng-show="transformData.pageOne.loanTerms.interestRate.gseBuydownReflectedInNoteIndicator == 'NO'">
			<div class="fontBold col-sm-2 fieldTitle"></div>
			<div class="col-sm-6 fieldTitle">Enter the Interest rate value</div>
			<div class="col-sm-3 padding0">
				<input type="text" class="form-control" name="" " ng-model="transformData.pageOne.loanTerms.interestRate.buydownInitialEffectiveInterestRatePercent">
			</div>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Can this amount increase after closing?</div>
		<div class="col-sm-2 padding0">
			<select class="form-control pull-left">
				        		<option>YES</option>
				        		<option>NO</option>
				        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-10 fieldTitle">
			<div class="col-sm-12 margin5tb padding0">
				<span class="col-sm-3 margin5tb padding0"> Adjusts every</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
				<span class="col-sm-3 margin5tb col-sm-offset-1"> years starting in year</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
			</div>
			<div class="col-sm-12 margin5tb padding0">
				<span class="col-sm-3 margin5tb padding0">Can go as high</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
				<span class="col-sm-3 margin5tb col-sm-offset-1">in year</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
			</div>
		</div>
		
	</div>

	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle">P&I Payment :</div>
		<div class="col-sm-6 fieldTitle">Choose the payment frequency from one of the following</div>
		<div class="col-sm-4 checkboxGroup padding0">
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Annual</label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>AtMaturity </label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Biweekly </label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Monthly </label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Quarterly </label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Semiannual </label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Semimonthly </label></span>
			<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Weekly </label></span>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Is this payment amount Interest Only?</div>
		<div class="col-sm-2 padding0">
			<select class="form-control pull-left">
				        		<option>YES</option>
				        		<option>NO</option>
				        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">what is the number of months for the Interest only period.</div>
		<div class="col-sm-3 padding0">
			<input type="text" class="form-control" name="">
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">Can this amount increase after closing?</div>
		<div class="col-sm-2 padding0">
			<select class="form-control pull-left">
				        		<option>YES</option>
				        		<option>NO</option>
				        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-10 fieldTitle">
			<div class="col-sm-12 margin5tb padding0">
				<span class="col-sm-3 margin5tb padding0"> Adjusts every</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
				<span class="col-sm-3 margin5tb col-sm-offset-1"> years starting in year</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
			</div>
			<div class="col-sm-12 margin5tb padding0">
				<span class="col-sm-3 margin5tb padding0">Can go as high</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
				<span class="col-sm-3 margin5tb col-sm-offset-1">in year</span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
			</div>
		</div>
		
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle">Prepayment Penalty :</div>
		<div class="col-sm-6 fieldTitle">Does the transaction have a pre-payment penalty?</div>
		<div class="col-sm-2 padding0">
			<select class="form-control pull-left">
				        		<option>YES</option>
				        		<option>NO</option>
				        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-10 fieldTitle">
			<div class="col-sm-12 margin5tb padding0">
				<span class="col-sm-7 margin5tb padding0">Provide the prepayment penalty maximum amount of </span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
			</div>
			<div class="col-sm-12 margin5tb padding0">
				<span class="col-sm-7 margin5tb padding0">IF the loan is paid off within the first </span>
				<span class="col-sm-2"><input type="text" class="form-control" name=""></span>
				<span class="pull-left margin5tb">Years</span>
			</div>
		</div>
		
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle">Balloon Payment :</div>
		<div class="col-sm-6 fieldTitle">Does the transaction have a balloon payment?</div>
		<div class="col-sm-2 padding0">
			<select class="form-control pull-left">
				        		<option>YES</option>
				        		<option>NO</option>
				        	</select>
		</div>
	</div>
	<div class="FieldGroup col-sm-12 margin5tb ">
		<div class="fontBold col-sm-2 fieldTitle"></div>
		<div class="col-sm-6 fieldTitle">What is the Balloon Payment Amount due at the end of the term?</div>
		<div class="col-sm-3 padding0">
			<input type="text" class="form-control" name="">
		</div>
	</div>
</div>