<div id="ClosingInformationQ">
			          				<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle">Closing Date :</div>
				            			<div class="col-sm-6 fieldTitle">What is the Proposed closing date for the transaction?</div>
				            			<div class="col-sm-3"><input type="date" class="form-control"></div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle">Disbursement Date :</div>
				            			<div class="col-sm-6 fieldTitle">What is the proposed disburement date for the transaction?</div>
				            			<div class="col-sm-3"><input type="text" class="form-control"></div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle">Settlement Agent :</div>
				            			<div class="col-sm-6 fieldTitle">What is the name of the Settlement Agent's Organization?.</div>
				            			<div class="col-sm-3"><input type="text" class="form-control"></div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle">File # :</div>
				            			<div class="col-sm-6 fieldTitle">Provide the Settlement Agent's File #.</div>
				            			<div class="col-sm-3">
				            					<input type="text" class="form-control">
				            			</div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle">Property :</div>
				            			<div class="col-sm-6 fieldTitle">Does the Property being held for collateral have a street address?</div>
				            			<div class="col-sm-2">
				            					<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            			</div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle"> </div>
				            			<div class="col-sm-6 fieldTitle">IF No, Does the Address have a Lot Number</div>
				            			<div class="col-sm-3"><input type="text" class="form-control"></div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle"></div>
				            			<div class="col-sm-6 fieldTitle">Does the Property Being held for collateral have a legal description and the Zip code?</div>
				            			<div class="col-sm-2">
				            					<select class="form-control pull-left" >
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            			</div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle"></div>
				            			<div class="col-sm-6 fieldTitle">IF Yes, Provide the Legal Description and Zip Code</div>
				            			<div class="col-sm-2"><input type="text" class="form-control"></div>
				            			<div class="col-sm-2"><input type="text" class="form-control"></div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle"></div>
				            			<div class="col-sm-6 fieldTitle">IF No,  must Provide the Zip code</div>
				            			<div class="col-sm-3"><input type="text" class="form-control"></div>
				            		</div>
				            		<div class="FieldGroup col-sm-12 margin5tb ">
				            			<div class="fontBold col-sm-2 fieldTitle"></div>
				            			<div class="col-sm-6 fieldTitle">Is the transaction a Purchase?</div>
				            			<div class="col-sm-2">
				            					<select class="form-control pull-left" >
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            			</div>
				            		</div>
			            		</div>