<div class="col-sm-12">
	<h4>Adjustable Interest Rate (AIR) Table</h4>
	<span  class="col-sm-12 padding0">
        <table class="table table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <td class="col-sm-3">
		        	<label ng-show="leformdata.loanInformation.amortizationType !='Step'">Index + Margin</label>
		        	<label ng-show="leformdata.loanInformation.amortizationType =='Step'">Number of Adjustments</label>
		        </td>
		        <td>
		            <span ng-if="leformdata.loanInformation.amortizationType !='Step'">
			        	<span class="col-sm-12 margin5tb"> 
		        			<span class="pull-left col-sm-2">
		        				<select class="form-control" ng-model="leformdata.interestRateAdjustment.indexType">
			        				<option value="" selected>Select</option>
		                            <option ng-repeat="indexType in indexTypes" value="{{indexType.value}}">{{indexType.name}}</option>
		        				</select>
		        			</span>
		        			<span class="pull-left margin5tb">+</span>
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<input type="text" class="form-control" name="" ng-model="leformdata.interestRateAdjustment.marginRatePercent" percentage-format>
									<span class="input-group-addon input-default">%</span>
		        				</div>
		        			</span>		        			
			        	 </span>
			        	 <span class="col-sm-12 margin5tb" ng-show="leformdata.interestRateAdjustment.indexType=='Other'">
			        	 		<span class="pull-left margin5tb"><label>Index Description:</label></span>
			        	 		<span class="pull-left col-sm-2"><input type="text" class="form-control" value="My Index For Pricing" name="" ng-model="leformdata.interestRateAdjustment.indexTypeOtherDescription"></span>
			        	 </span>
		        	 </span>
		        	 <span ng-show="leformdata.loanInformation.amortizationType =='Step'">
	        			<span class="pull-left col-sm-2">
	        				<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.totalStepCount">
	        			</span>
		        	</span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Initial Interest Rate</label>
		        </td>
		        <td>
		        	<!-- <span class="pull-left margin5lr">{{leformdata.termsOfLoan.noteRatePercent | number:2}}%</span> -->
		        	<span class="pull-left col-sm-2">
        				<div class="input-group">
	        				<span ng-show="leformdata.loanInformation.amortizationType !='Step' && leformdata.loanInformation.amortizationType!='GraduatedPaymentARM' && leformdata.loanInformation.amortizationType!='AdjustableRate'">
								<input type="text" class="form-control" name="" ng-disabled="true" ng-model="leformdata.termsOfLoan.noteRatePercent">
						    </span>
						    <span ng-show="leformdata.loanInformation.amortizationType=='GraduatedPaymentARM' || leformdata.loanInformation.amortizationType=='AdjustableRate'">
								<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.termsOfLoan.disclosedFullyIndexedRatePercent">
							</span>
							<span ng-show="leformdata.loanInformation.amortizationType =='Step'">
								<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.termsOfLoan.noteRatePercent">
							</span>
							<span class="input-group-addon input-default">%</span>
        				</div>
	        		</span>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label ng-show="leformdata.interestRateAdjustment.indexType!='Other'">Minimum / Maximum Interest Rate</label>
		        	<label ng-show="leformdata.interestRateAdjustment.indexType=='Other'">Total Step Count</label>
		        </td>
		        <td>
		            <!-- <span ng-show="leformdata.interestRateAdjustment.indexType!='Other'">
			        	<span class="pull-left margin5lr">{{leformdata.interestRateAdjustment.floorRatePercent | number:2}}%</span>
			        	<span class="pull-left margin5lr"> Floor Rate </span>
			        	<span class="pull-left margin5lr"> {{leformdata.interestRateAdjustment.ceilingRatePercent | number:2}}%</span>
			        	<span class="pull-left margin5lr">Life Time Cap Rate</span>
		        	</span>
		        	<span ng-show="leformdata.interestRateAdjustment.indexType=='Other'">
		        	{{leformdata.interestRateAdjustment.totalStepCount}}
		        	</span> -->
		        	<span ng-if="leformdata.loanInformation.amortizationType !='Step'">
			            <span class="pull-left col-sm-2">
	        				<div class="input-group">
								<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.floorRatePercent">
								<span class="input-group-addon input-default">%</span>
	        				</div>
		        		</span>
			        	<span class="pull-left margin5lr margin5t"> Floor Rate </span>
			        	<span class="pull-left col-sm-2">
	        				<div class="input-group">
								<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.ceilingRatePercent">
								<span class="input-group-addon input-default">%</span>
	        				</div>
		        		</span>
			        	<!-- <span class="pull-left margin5lr"> {{leformdata.interestRateAdjustment.ceilingRatePercent | number:2}}%</span> -->
			        	<span class="pull-left margin5lr margin5t">Life Time Cap Rate</span>
		        	</span>
		        	<span ng-if="leformdata.loanInformation.amortizationType =='Step'">
		        	    <span class="pull-left col-sm-2">
	        				<div class="input-group">
		        				<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.termsOfLoan.noteRatePercent">
								<span class="input-group-addon input-default">%</span>
	        				</div>
		        		</span>
		        		<span class="pull-left margin5lr margin5t"> / </span>
		        		<span class="pull-left col-sm-2">
	        				<div class="input-group">
								<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.ceilingRatePercent" >
								<span class="input-group-addon input-default">%</span>
	        				</div>
		        		</span>
		        	</span>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong> Change Frequency</strong>
		        </td>
		       </tr>
		      <tr>
		        <td>
		        	First Change
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">Beginning of </span>
		        	<span class="pull-left margin5lr"><!-- {{leformdata.interestRateAdjustment.firstRateChangeMonthsCount+1}} -->
		        		<div class="input-group">
							<input type="text" class="form-control" name=""  ng-disabled="true" value="{{leformdata.interestRateAdjustment.firstRateChangeMonthsCount ? (leformdata.interestRateAdjustment.firstRateChangeMonthsCount -0) + 1 : '' }}">
						</div>
		        	</span>
		        	<span class="pull-left margin5lr"> months </span>
		        </td>
		      </tr>
		       <tr>
		        <td>
		        	Subsequent Change 
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">Every </span>
		        	<span class="pull-left margin5lr"><!-- {{leformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount}} -->
		                <div class="input-group">
							<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount">
        				</div>
		        	</span>
		        	<span class="pull-left margin5lr"> months after first change</span>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong>Limits on Interest Rate Changes</strong>
		        </td>
		       </tr>

		      <tr>
		        <td>
		        	First Change
		        </td>
		        <td>
		        	<span class="pull-left margin5lr"><!-- {{leformdata.interestRateAdjustment.firstPerChangeMaximumIncreaseRatePercent | number:2}}%  -->
		                <div class="input-group">
							<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.firstPerChangeMaximumIncreaseRatePercent">
							<span class="input-group-addon input-default">%</span>
        				</div>
		        	</span>
		        </td>
		      </tr>
		       <tr>
		        <td>
		        	Subsequent Change 
		        </td>
		        <td>
		        	<span class="pull-left margin5lr">
		        	<!-- {{leformdata.interestRateAdjustment.subsequentPerChangeMaximumIncreaseRatePercent | number:2}}%  -->
		        		<div class="input-group">
							<input type="text" class="form-control" name=""  ng-disabled="true" ng-model="leformdata.interestRateAdjustment.subsequentPerChangeMaximumIncreaseRatePercent">
							<span class="input-group-addon input-default">%</span>
        				</div>
		        	</span>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<!-- <span class="pull-left">
			<a class="btn btn-default" ng-click="changeTab('ApTable')">Back</a></span> -->
			<span class="pull-left">

				<a class="btn btn-default" ng-click="changeTab('LoanDisclosures')">Back</a>
			</span>
			<span class="pull-right">
                <a class="btn btn-primary" ng-show="leformdata.loanDetail.interestOnlyIndicator==true || leformdata.payment.paymentRule.paymentOptionIndicator==true || leformdata.loanInformation.amortizationType=='Step' || leformdata.loanInformation.amortizationType=='GPM' || leformdata.loanInformation.amortizationType=='GraduatedPaymentARM' || leformdata.loanDetail.seasonalPaymentFeatureIndicator==true" ng-click="changeTab('ApTable')">Next</a>

			    <a class="btn btn-primary" ng-show="leformdata.loanDetail.interestOnlyIndicator==false && leformdata.payment.paymentRule.paymentOptionIndicator==false && leformdata.loanInformation.amortizationType !='Step' && leformdata.loanInformation.amortizationType !='GPM' && leformdata.loanInformation.amortizationType !='GraduatedPaymentARM' && leformdata.loanDetail.seasonalPaymentFeatureIndicator==false" ng-click="changeTab('ContactInfo')">Next</a>
			</span>
	</div>	
</div>
