<div class="col-sm-12">
	<h4>Adjustable Payment (AP) Table </h4>
	<span  class="col-sm-12 padding0">
        <table class="table table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <td class="col-sm-3">
		        	<label>Interest Only Payments?</label>
		        </td>
		        <td class="col-sm-1 text-center">
		        	<label>{{leformdata.loanDetail.interestOnlyIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
                  <ul class="loanTermsList" ng-show="leformdata.loanDetail.interestOnlyIndicator">
		        	<li>
		        		<span class="pull-left margin5tb">For your first</span>
		        		<span class="pull-left col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="leformdata.interestOnly.interestOnlyTermMonthsCount" ng-disabled="true">
		        		</span>
		        		<span class="pull-left margin5tb">Payments</span>
		        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Optional Payments?</label>
		        </td>
		        <td class=" text-center">
		        	<label>{{leformdata.payment.paymentRule.paymentOptionIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
		            <ul class="loanTermsList" ng-show="leformdata.payment.paymentRule.paymentOptionIndicator">
		        		<li>    
		           			<span class="pull-left margin5tb">For your first</span>
	        				<span class="pull-left col-sm-2">
	        					<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.totalOptionalPaymentCount" ng-disabled="true">
	        				</span>
	        				<span class="pull-left margin5tb">Payments</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Step Payments?</label>
		        </td>
		        <td class=" text-center">
		            <span>
		        		<label>{{stepPaymentIndicator ? 'Yes' : 'No'}}</label>
		        	</span>
		        </td>
		        <td>
					<ul class="loanTermsList" ng-show="stepPaymentIndicator">
			        	<li>
			        		<span class="pull-left margin5tb">For your first</span>
			        		<span class="pull-left col-sm-2">
			        			<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.totalStepPaymentCount" ng-disabled="true">
			        		</span>
			        		<span class="pull-left margin5tb">Payments</span>
			        	</li>
		        	</ul>

		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Seasonal Payments</label>
		        </td>
		        <td class=" text-center">
		        	<label>{{leformdata.loanDetail.seasonalPaymentFeatureIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.seasonalPaymentFeatureIndicator">
			        	<li> 
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.seasonalPaymentPeriodStartMonth" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb"> to</span>
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.seasonalPaymentPeriodEndMonth" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb">each year</span>
			        	</li>
		        	</ul>
		        </td>
		      </tr>
		       <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong> Monthly Principal and Interest Payments</strong>
		        </td>
		       </tr>
		      <tr>
		        <td colspan="2">
		        	First Change / Amount  
		        </td>
		        <td>
		        	 <ul class="loanTermsList" ng-switch="leformdata.loanInformation.amortizationType">
			        	<li ng-if="leformdata.loanDetail.interestOnlyIndicator && leformdata.loanInformation.amortizationType=='Fixed'">
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        				</div>
		        			</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{leformdata.interestOnly.interestOnlyTermMonthsCount ? (leformdata.interestOnly.interestOnlyTermMonthsCount -0) + 1 : '' }}" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb">payment</span>
			        	</li>
			        	<li ng-if="leformdata.loanDetail.interestOnlyIndicator && leformdata.loanInformation.amortizationType!='Fixed'"> 
			        		<span class="pull-left col-sm-2">
			        			<div class="input-group">
									<span class="input-group-addon input-default">$</span>
			        				<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMinimumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
			        			</div>
			        		</span>
			        		<span class="pull-left margin5tb"> - </span>			        			
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        				</div>
		        			</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount" ng-disabled="true"></span>
		        			<span class="pull-left margin5tb">payment</span>
			        	</li>
			        	<li ng-if="!leformdata.loanDetail.interestOnlyIndicator"> 
			        		<span class="pull-left col-sm-3">
			        			<div class="input-group">
									<span class="input-group-addon input-default">$</span>
			        				<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
			        			</div>
			        		</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2"><input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount" ng-disabled="true"></span>
		        			<span class="pull-left margin5tb">payment</span>
			        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Subsequent Changes  
		        </td>
		        <td>
		            <ul class="loanTermsList">
		            <li ng-if="leformdata.loanDetail.interestOnlyIndicator && leformdata.loanInformation.amortizationType=='Fixed'">
		        	<span class="col-sm-12">No Subsequent Changes</span>
		        	</li>
		        	<li ng-if="leformdata.loanDetail.interestOnlyIndicator == false || leformdata.loanInformation.amortizationType!='Fixed'">
		        	<span class="col-sm-12" ng-show="!leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount">No Subsequent Changes</span>

		        	<span class="col-sm-12" ng-show="leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount">
		        	    <span class="pull-left margin5tb">Every</span>
		        		<span class="pull-left col-sm-2">
		        			<input type="text" class="form-control" name="" value="{{leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount/12 | round}}" ng-disabled="true">
		        		</span>
		        		<span class="pull-left margin5tb">Years</span>
		        	</span>
		        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Maximum Payment   
		        </td>
		        <td>
		            <!-- <ul class="loanTermsList">
		        	<li>
		        		
	        			<span class="pull-left col-sm-2">
	        			<div class="input-group marginleft15n">
	        			<span class="input-group-addon input-default">$</span>
	        			<input type="text" class="form-control width50" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" ng-disabled="true">
	        			</div>
	        			</span>
	        			
	        			<span class="pull-left margin5tb"> at the</span>
	        			<span class="pull-left col-sm-2"><input type="text" class="form-control width50" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveMonthsCount" ng-disabled="true"></span>
	        			<span class="pull-left margin5tb">payment</span>
		        	 </li>
		        	 </ul> -->
		        	<ul class="loanTermsList">
			        	<li ng-if="leformdata.loanDetail.interestOnlyIndicator && leformdata.loanInformation.amortizationType=='Fixed'">
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        				</div>
		        			</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2">
		        					<input type="text" class="form-control" name="" value="{{leformdata.interestOnly.interestOnlyTermMonthsCount ? (leformdata.interestOnly.interestOnlyTermMonthsCount -0) + 1 : '' }}" ng-disabled="true">
		        				</span>
		        			<span class="pull-left margin5tb">payment</span>
			        	 </li>
			        	 <li ng-if="!leformdata.loanDetail.interestOnlyIndicator || leformdata.loanInformation.amortizationType!='Fixed'">
		        			<span class="pull-left col-sm-2">
		        				<div class="input-group">
									<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmount" decimal-digits-with-number-format>
		        				</div>
	       					</span>
		        			<span class="pull-left margin5tb"> at the</span>
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveMonthsCount" only-digits maxlength="3"></span>
		        			<span class="pull-left margin5tb">payment</span>
			        	 </li>
		        	 </ul>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left">
			    <a class="btn btn-default" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==false" ng-click="changeTab('CalculatingCashtoClose')">Back</a>
			    <a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==true" ng-click="changeTab('AirTable')">Back</a>
			</span>
			<span class="pull-right">
			     <a class="btn btn-primary" ng-click="changeTab('LoanDisclosures')">Next</a>
			</span>
	</div>	
</div>
