<div class="col-sm-12">
	<div class="row col-sm-12">
		<div class="col-sm-6"><h4>Escrow Account</h4></div>
		<div class="col-sm-2 margin10t" ><Span class="margin5lr">Lender ID: {{leformdata.loanInformation.loanIdentifiers[0].loanIdentifier}} </span>
		</div>
		<div class="col-sm-2 margin10t"><span class="margin5lr">Purpose Type: {{LoanType}} </span></div>

		<div class="col-sm-2 margin10t padding0"><span class=""> Applicant Last Name: {{leformdata.transactionInformation.borrowerDetails[0].nameModel.lastName.capitalizeFirstLetter() }}</span></div>
	</div>
	<span  class="col-sm-12 padding0">
        <table class="table LoanDisclosures table-bordered margin5tb"  style="border:0px;">
        	  <tr>
		        <th class="innerSectionHeader col-sm-3">Escrow Account:</th>
		        <th class="innerSectionHeader col-sm-3">
		        	<span class="pull-left margin5lr"><input type="radio" name="transactionStatus" ng-model="leformdata.loanDetail.escrowIndicator" ng-value="true"></span> 
		        	<span class="pull-left margin5tb">Is Present in Transaction</span>
		        </th>
		        <th class="innerSectionHeader">
		        	<span class="pull-left margin5lr"><input type="radio" name="transactionStatus" ng-model="leformdata.loanDetail.escrowIndicator" ng-value="false"></span> 
		        	<span class="pull-left margin5tb">NO Escrow Account In Transaction</span>
		        </th>
		      </tr>
		      <tr ng-show="leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Escrowed Property Costs over Year 1
		        </td>
		        <td>
		        	<label>${{leformdata.integratedDisclosureDetail.firstYearTotalEscrowPaymentAmount | number:2}}</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> Escrowed Property Costs includes </span>
		        	<span class="col-sm-12">{{leformdata.integratedDisclosureDetail.firstYearTotalEscrowPaymentDescription}}</span><!-- Need To check with Section G.IEPAT -->
		        </td>
		      </tr>
		      <tr ng-show="!leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Escrowed Property Costs over Year 1
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control" name="" ng-model="leformdata.integratedDisclosureDetail.firstYearTotalEscrowPaymentAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        	<span class="col-sm-12">User must total up all estimated property costs over year 1</span><!-- Need To check with Section G.IEPAT -->
		        </td>
		      </tr>
		      <tr ng-show="!leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Escrow waiver Fee
		        </td>
		        <td>
		        	<label>${{escrowWaiverFeeAmount | number:2}}</label>
		        	<!-- <label ng-repeat="ShopFors in leformdata.closingCostDetailsLoanCosts.sbDidShopFors" ng-if="ShopFors.feeType=='EscrowWaiverFee' && ShopFors.feeActualTotalAmount!=''">${{ShopFors.feeActualTotalAmount}}</label> -->
		        </td>
		        <td>
		        	<span class="col-sm-12"> Identified On the Closing Costs Details Section in<a ng-click="changeTab('LoanCosts')"> Loan Costs </a></span>
		        </td>
		      </tr>
		      <tr ng-show="leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Non-Escrowed Property Costs over Year 1
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control" name="" ng-model="leformdata.integratedDisclosureDetail.firstYearTotalNonEscrowPaymentAmount" decimal-digits-with-number-format ng-keyup="nonEscrowCalc(leformdata.integratedDisclosureDetail.firstYearTotalNonEscrowPaymentAmount)" ng-blur="nonEscrowCalc(leformdata.integratedDisclosureDetail.firstYearTotalNonEscrowPaymentAmount)">
		        </div>
		        </td>
		        <td>
		        	<span class="col-sm-12"> Non Escrowed Property Costs Includes </span>
		        	<span class="col-sm-12">{{leformdata.integratedDisclosureDetail.firstYearTotalNonEscrowPaymentDescription}}</span>
		        </td>
		      </tr>
		      <tr ng-show="leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Initial Escrow Payment  
		        </td>
		        <td>
		        	<label>${{leformdata.closingCostDetailsOtherCosts.escrowItemsTotalAmount | number:2}}</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> A cushion for the escrow account see </span>
		        	<a class="col-sm-12" ng-click="navigateTo('OtherCosts', 'sectionG_Ecsrow')">Section G. Initial Escrow At Closing </a>
		        </td>
		      </tr>
		      <tr ng-show="leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Monthly Escrow Payment  
		        </td>
		        <td>
		        	<label>${{leformdata.projectedPayments.estimatedEscrow[0].projectedPaymentEstimatedEscrowPaymentAmount | number:2}}</label>
		        </td>
		        <td>
		        	<span class="col-sm-12"> The amount included in your total monthly payment, see </span>
		        	<a class="col-sm-12" ng-click="changeTab('projectedPayments')">Projected Payments  </a>
		        </td>
		      </tr>
		      <tr ng-show="!leformdata.loanDetail.escrowIndicator">
		        <td>
		        	Identify the reason for No Escrow Account
		        </td>
		        <td colspan="2">
		        	<span class="col-sm-12">
		        			<span class="pull-left"><input type="checkbox" name="" ng-model="leformdata.loanDetail.escrowAbsenceReasonType" ng-true-value="'BorrowerDeclined'" ng-false-value="'LenderDoesNotOffer'"></span>
		        			<span class="col-sm-11 pull-left margin5tb">
		        				The Borrower Declined to escrow property costs
		        			</span>
		        	</span>
		        	<span class="col-sm-12">
		        			<span class="pull-left"><input type="checkbox" name="" ng-model="leformdata.loanDetail.escrowAbsenceReasonType" ng-true-value="'LenderDoesNotOffer'" ng-false-value="'BorrowerDeclined'"></span>
		        			<span class="col-sm-11 pull-left margin5tb">
		        				The Lender does not offer Escrow Account
		        			</span>
		        	</span>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('OtherCosts')">Back</a></span>
			<span class="pull-right">
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==true" ng-click="changeTab('projectedPayments')">Next</a>
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator!=true" ng-click="changeTab('projectedPayments')">Next</a>
			</span>
	</div>	
</div>
