<div class="col-sm-12">
	<h4>Adjustable Payment (AP) Table </h4>
	<span  class="col-sm-12 padding0">
        <table class="table table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <td class="col-sm-3">
		        	<label>Interest Only Payments?</label>
		        </td>
		        <td class="col-sm-1 text-center">
		        	<label>{{leformdata.loanDetail.interestOnlyIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
                  <ul class="loanTermsList" ng-show="leformdata.loanDetail.interestOnlyIndicator">
		        	<li>
		        		<span class="pull-left margin5tb">For your first</span>
		        		<span class="pull-left col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="leformdata.interestOnly.interestOnlyTermMonthsCount" ng-disabled="true">
		        		</span>
		        		<span class="pull-left margin5tb">Payments</span>
		        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Optional Payments?</label>
		        </td>
		        <td class=" text-center">
		        	<label>{{leformdata.payment.paymentRule.paymentOptionIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
		            <ul class="loanTermsList" ng-show="leformdata.payment.paymentRule.paymentOptionIndicator">
		        		<li>    
		           			<span class="pull-left margin5tb">For your first</span>
	        				<span class="pull-left col-sm-2">
	        					<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.totalOptionalPaymentCount" ng-disabled="true">
	        				</span>
	        				<span class="pull-left margin5tb">Payments</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Step Payments?</label>
		        </td>
		        <td class=" text-center">
		            <span>
		        		<label>{{stepPaymentIndicator ? 'Yes' : 'No'}}</label>
		        	</span>
		        </td>
		        <td>
					<ul class="loanTermsList" ng-show="stepPaymentIndicator">
			        	<li>
			        		<span class="pull-left margin5tb">For your first</span>
			        		<span class="pull-left col-sm-2">
			        			<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.totalStepPaymentCount" ng-disabled="true">
			        		</span>
			        		<span class="pull-left margin5tb">Payments</span>
			        	</li>
		        	</ul>

		        </td>
		      </tr>
		      <tr>
		        <td>
		        	<label>Seasonal Payments</label>
		        </td>
		        <td class=" text-center">
		        	<label>{{leformdata.loanDetail.seasonalPaymentFeatureIndicator ? 'Yes' : 'No'}}</label>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.seasonalPaymentFeatureIndicator">
			        	<li> 
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.seasonalPaymentPeriodStartMonth" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb"> to</span>
		        			<span class="pull-left col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="leformdata.payment.paymentRule.seasonalPaymentPeriodEndMonth" ng-disabled="true">
		        			</span>
		        			<span class="pull-left margin5tb">each year</span>
			        	</li>
		        	</ul>
		        </td>
		      </tr>
		       <tr>
		        <td colspan="3" class="innerSectionHeader">
		        	<strong> Monthly Principal and Interest Payments</strong>
		        </td>
		       </tr>
		      <tr>
		        <td colspan="2">
		        	First Change / Amount  
		        </td>
		        <td>
		        	<ul class="loanTermsList">
		        	<li> 
	        			<span class="pull-left col-sm-2">
	        			<div class="input-group marginleft15n">
	        			<span class="input-group-addon input-default">$</span>
	        			<input type="text" class="form-control width50" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" ng-disabled="true">
	        			</div>
	        			</span>
	        			<span class="pull-left margin5tb"> at the</span>
	        			<span class="pull-left col-sm-2"><input type="text" class="form-control width50" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount" ng-disabled="true"></span>
	        			<span class="pull-left margin5tb">payment</span>
		        	 </li>
		        	 </ul>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Subsequent Changes  
		        </td>
		        <td>
		            <ul class="loanTermsList">
		        	<li>
		        	<span class="col-sm-12" ng-show="!leformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount">No Subsequent Changes</span>

		        	<span class="col-sm-12" ng-show="leformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount">
		        	    <span class="pull-left margin5tb">Every</span>
		        		<span class="pull-left col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount" ng-disabled="true">
		        		</span>
		        		<span class="pull-left margin5tb">Years</span>
		        	</span>
		        	</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td colspan="2">
		        	Maximum Payment   
		        </td>
		        <td>
		            <ul class="loanTermsList">
		        	<li>
		        		
	        			<span class="pull-left col-sm-2">
	        			<div class="input-group marginleft15n">
	        			<span class="input-group-addon input-default">$</span>
	        			<input type="text" class="form-control width50" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangeMaximumPrincipalAndInterestPaymentAmount" ng-disabled="true">
	        			</div>
	        			</span>
	        			
	        			<span class="pull-left margin5tb"> at the</span>
	        			<span class="pull-left col-sm-2"><input type="text" class="form-control width50" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveMonthsCount" ng-disabled="true"></span>
	        			<span class="pull-left margin5tb">payment</span>
		        	 </li>
		        	 </ul>
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('LoanDisclosures')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('AirTable')">Next</a></span>
	</div>	
</div>
