<div class="col-sm-12"> 
	<!-- <button class="pull-right btn btn-warning" data-toggle="modal" data-target="#cashtoCloseModal" ng-click="resultsCalculator()">Cash to Close Calculator</button> -->
	<h4>Calculating Cash to Close</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb" style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-3" style="height:30px;"></th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Loan Amount
		        	<help-verbiage name="LE_CCCAlternateLoanAmount_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		   
		        <td>
		        	${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}
		        </td>
		        
		      </tr>
		      <tr>
		        <td>
		        	Total Closing Costs (J)
		        	<help-verbiage ng-show="loanBasicInfo.loanFormType == 'standard'" 
		        	name="LE_TotalClosingCosts_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        	<help-verbiage ng-show="loanBasicInfo.loanFormType == 'alternate'" 
		        	name="LE_CCCAlternateTotalClosingCosts_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        	
		        	<span>
		        	${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemEstimatedAmount | number:2}} 
		        	</span>
		        </td>
		       
		      </tr>
		      <!-- <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Closing Costs Paid Before Closing
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		      
		      </tr> -->
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Closing Costs Financed
		        	<help-verbiage ng-show="loanBasicInfo.loanFormType == 'standard'" 
		        	name="LE_ClosingCostsFinanced_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        	<help-verbiage ng-show="loanBasicInfo.loanFormType == 'alternate'" 
		        	name="LE_CCCAlternateClosingCostsFinanced_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
			        </div>
		        </td>
		        
		      </tr>
		      <tr ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        <td>
		        	Down Payment /  Funds from Borrower
		        	<help-verbiage  
		        	name="LE_DownPaymentFundsFromApplicant_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		       
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Deposit
		        	<help-verbiage  
		        	name="LE_Deposit_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>

		        </td>
		        <td>
		        <div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		        
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Funds For Borrower
		        	<help-verbiage  
		        	name="LE_FundsForBorrower_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        	</div>
		        </td>
		      
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Seller Credit
		        	<help-verbiage  
		        	name="LE_SellerCredits_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        </div>
		        </td>
			      
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Adjustments and Other Credits
		        	<help-verbiage  
		        	name="LE_AdjustmentsandOtherCredits_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        </div>	
		        </td>
		       
		      </tr>
		       <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Estimated Total Payoffs  and Payments
		        	<help-verbiage  
		        	name="LE_CCCAlternatePayoffsandPayments_help" 
		        	title="help_tooltip_text">
		        	</help-verbiage>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default" style="color: red;">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemEstimatedAmount" negative-digits>
		        </div>	
		        </td>
		     
		      </tr> 
		        <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
				        <td>
				        	<strong> Estimated Cash To Close </strong>
				        	<input type="checkbox" name="" class="marginleft18" ng-model="leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemPaymentType" ng-true-value="'FromBorrower'" ng-false-value="'ToBorrower'" ng-checked="leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemPaymentType=='FromBorrower'" ng-disabled="true">
		        			<label>From</label>
		        			<input type="checkbox" name="" ng-model="leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemPaymentType" ng-true-value="'ToBorrower'" ng-false-value="'FromBorrower'" ng-checked="leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemPaymentType=='ToBorrower'" ng-disabled="true"><label>To</label>
		        			<strong>Borrower</strong>
				        </td>
				        <td>
				        	${{leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}
				        </td>
		        </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	<strong>Cash To Close</strong>
		        </td>
		        <td>
		        	${{leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}
		        </td>
		      
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      			    <td>Estimated Closing Costs Financed</td>
      			    <td><div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
			        </div></td>
      			</tr>
		</table>
			
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left">
			    <a class="btn btn-default" ng-show="loanBasicInfo.loanFormType=='alternate'" ng-click="changeTab('PayoffsAndPayments')">Back</a>
				<a class="btn btn-default" ng-show="loanBasicInfo.loanFormType !='alternate'" ng-click="changeTab('TotalClosingCosts')">Back</a>
			</span>

			<span class="pull-right" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==true">
				<a class="btn btn-primary" ng-click="changeTab('AirTable')">Next</a>
			</span>
			<span class="pull-right" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==false">
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestOnlyIndicator==true || leformdata.payment.paymentRule.paymentOptionIndicator==true || leformdata.loanInformation.amortizationType=='Step' || leformdata.loanInformation.amortizationType=='GPM' || leformdata.loanInformation.amortizationType=='GraduatedPaymentARM' || leformdata.loanDetail.seasonalPaymentFeatureIndicator==true" ng-click="changeTab('ApTable')">Next</a>

				<a class="btn btn-primary" ng-show="!leformdata.loanDetail.interestOnlyIndicator && !leformdata.payment.paymentRule.paymentOptionIndicator && leformdata.loanInformation.amortizationType !='Step' && leformdata.loanInformation.amortizationType !='GPM' && leformdata.loanInformation.amortizationType !='GraduatedPaymentARM' && !leformdata.loanDetail.seasonalPaymentFeatureIndicator" ng-click="changeTab('LoanDisclosures')">Next</a>
			</span>
			<!-- <span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanDisclosures')">Next</a></span> -->
	</div>
</div>
<div class="modal fade" id="cashtoCloseModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="resultsCalculator()">&times;</button>
        <h4 class="modal-title col-sm-6" ng-show="loanBasicInfo.loanFormType == 'standard'">Cash to Close Calculator- {{FormType}} </h4>
        <h4 class="modal-title col-sm-6" ng-show="loanBasicInfo.loanFormType == 'alternate'">Cash to Close Calculator- {{FormType}} </h4>
        <h4 class="modal-title col-sm-5" >Results</h4>
      </div>

      <div class="modal-body">
           <div class="margin5tb padding0 col-sm-6" >
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Total Closing Costs (J)</div>
                <div class="col-sm-6 fieldValue">${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Total Closing Costs (J)</div>
                <div class="col-sm-6 fieldValue">${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Closing Costs Paid Before Closing</div>
                <div class="col-sm-6 fieldValue">${{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}</div>
              </div>
              
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Loan Amount</div>
                <div class="col-sm-6 fieldValue">
                   ${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Loan Amount includes any assumed or taken subject to</div>
                <div class="col-sm-6 fieldValue">
                   ${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
                </div>
              </div>
              
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Sales Price (Purchase Only)</div>
                <div class="col-sm-6">
                    <div class="input-group" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="leformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format>
                    </div>
                     <div class="input-group" ng-show="loanBasicInfo.loanPurposeType == 'refinance'">
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="leformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format disabled>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard' && loanBasicInfo.loanPurposeType == 'refinance'">
                <div class="col-sm-6 fieldTitle">Payoffs and Payments (Refinance Only)</div>
                <div class="col-sm-6">
                    <div class="input-group" >
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="payoffsAndPaymentsTotalAmount" decimal-digits-with-number-format>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Deposit (Purchase Only)</div>
                <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon input-default">$</span>
                          <input type="text" class="form-control padding0" name="" ng-model="leformdata.depositAmount" negative-digits ng-change="depositChange()"  ng-keyup="depositChange()" ng-blur="depositChange()">
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Seller Credits (Purchase Only)</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon input-default" >$ </span>
                    <input type="text" class="form-control" name="" ng-model="leformdata.sellerCreditsAmount" negative-digits ng-blur="sellerCreditsChange()" ng-keyup="sellerCreditsChange()">
                  </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Total Payoffs and Payments</div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <span class="input-group-addon input-default" style="color: red;">$ -</span>
                  <input type="text" class="form-control" name="" ng-model="leformdata.totalPayoffAmount" negative-digits ng-keyup="totalPayoffChangeCC()">
                  </div>
                </div>
              </div>
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Adjustments and Other Credits</div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <span class="input-group-addon input-default">$</span>
                  <input type="text" class="form-control" name="" ng-model="leformdata.adjustmentsAmount" decimal-digits-with-number-format ng-keyup="adjustmentsAndOtherCreditsChange()">
                  </div>
                </div>
              </div>
      	</div>
      	<div class="col-sm-6 margin5tb" >
      		<table class="table table-bordered table-striped">
      			<tr>
      				<th class="innerSectionHeader" ng-show="loanBasicInfo.loanFormType == 'standard'">Results CCC table</th>
      				<th class="innerSectionHeader" ng-show="loanBasicInfo.loanFormType == 'alternate'">Results </th>
      				<th class="innerSectionHeader">Amount</th>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      			    <td>Loan Amount</td>
      			    <td>${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      				<td>Total Closing Costs(J)</td>
      				<td>${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Total Closing Costs(J)</td>
      				<td>${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Closing Costs Paid Before Closing</td>
      				<td>$-{{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      				<td>Closing Costs Paid Before Closing</td>
      				<td>${{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Closing Costs Financed (Paid from your Loan Amount)</td>
      				<td>${{leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Down Payment/Funds from Borrower</td>
      				<td>${{leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Deposit</td>
      				<td>$-{{leformdata.depositAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Funds for Borrower</td>
      				<td>${{leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Seller Credits</td>
      				<td>$-{{leformdata.sellerCreditsAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      			    <td>Total Payoffs and Payments (K)</td>
      			    <td>${{leformdata.totalPayoffAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Adjustments and Other Credits</td>
      				<td>${{leformdata.adjustmentsAmount | number:2}}</td>
      			</tr>
      			<tr>
      				<td><label>Cash to Close</label></td>
      				<td><label>${{leformdata.totalFinalAmount | number:2}}</label></td>
      			</tr>
      		</table>
      	</div>
      </div>
      <div class="modal-footer">
        <div style="float:left;">
	        <button type="button" class="btn btn-primary" ng-click="calculateCash()">Calculate Cash to Close</button>
	        <button type="button" class="btn btn-default" ng-click="clearCalculations()">Clear Editable Values</button>
        </div>
        <div >
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loadResultsToCCTable()">Load Results to CCC Table</button>
        </div>
      </div>
    </div>
  </div>
</div>