<div class="col-sm-12">
	<h4>Calculating Cash to Close</h4><button class="pull-right btn btn-warning" data-toggle="modal" data-target="#cashtoCloseModal">Cash to Close Calculator</button>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb" style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-3" style="height:30px;"></th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		        <!-- <th class="innerSectionHeader">Final Amount</th>
		        <th class="innerSectionHeader">Did This Change?</th>
		        <th class="innerSectionHeader col-sm-5">Change Reason
		        	<button class="pull-right btn btn-warning" data-toggle="modal" data-target="#cashtoCloseModal">Cash to Close Calculator</button>
		        </th>   
		      </tr> -->
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Loan Amount
		        </td>
		        <!-- <td>
		        	<div class="input-group">
							<span class="input-group-addon input-default">$</span>
				        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
				    </div>
				        </td> -->
		        <td>
		        	${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <!-- <td>
		        	${{true == leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>This amount (increased or decreased), ensure the word increased or decreased </li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr>
		        <td>
		        	Total Closing Costs (J)
		        </td>
		        <td>
		        	<!-- <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div> -->
		        	<!-- <span class="input-group-addon input-default">$</span> -->
		        	<span>
		        	${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}} </span>
		        </td>
		       <!--  <td>
		        	{{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount}}
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See Total Loan Costs (D) And Total Other Costs (I)</li>
		        		<li>Increase exceeds legal limits by </li>
		        		<li>See Lender credits  on page 2 for credit of excess amount.</li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Closing Costs Paid Before Closing
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <!-- <td>
		        	${{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemFinalAmount | number:2 }}
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show=" leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>You paid these closing costs before closing</li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Closing Costs Financed
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
			        </div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
                    <ul class="ListChain" ng-show="leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>You included these closing costs in the loan amount, which you (increased or decreased) the loan amount</li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        <td>
		        	Down Payment /  Funds from Borrower
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemAmountChangedIndicator == true ">
		        		<li>You (increased or decreased) this payment. See Details in Section K.</li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Deposit
		        </td>
		        <td>
		        <div class="input-group">
						<span class="input-group-addon input-default">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <!-- <td>
		        	${{leformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.deposit.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>You (increased or decreased) this payment. See Details in Section L</li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Funds For Borrower
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$ -</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>Your available funds from the loan amount have (increased or decreased)</li>
		        	</ul>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Seller Credit
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$ -</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
			        <!-- <td>
			        	${{leformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
			        </td>
			        <td>
			        	{{true == leformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
			        </td>
			        <td>
			        	<ul class="ListChain" ng-show="leformdata.cashToCloses.sellerCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
			        		<li>See Seller Credits in Section L</li>
			        	</ul>
			        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	Adjustments and Other Credits
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        </div>	
		        </td>
		        <!-- <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        </div>	
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.adjustmentsAndOtherCredits.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See Details in Section K and L</li>
		        	</ul>
		        </td> -->
		      </tr>
		       <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
		        <td>
		        	Estimated Total Payoffs  and Payments
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
		        </div>	
		        </td>
		       <!--  <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        	{{true == leformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemAmountChangedIndicator ? 'Yes' : 'No' }}
		        </td>
		        <td>
		        	<ul class="ListChain" ng-show="leformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemAmountChangedIndicator == true">
		        		<li>See requirements to the left for al specified bullet verbiage.</li>
		        	</ul>
		        </td> -->
		      </tr> 
		       <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
				        <td>
				        	<strong> Estimated Cash To Close </strong>
				        	<strong class="marginleft18">From </strong>
				        	<input type="checkbox" name="" ng-model="leformdata.cashToCloses.fromBorrowerCheckBox">
				        	<strong class="marginleft18">To</strong>
				        	<input type="checkbox" name="" ng-model="leformdata.cashToCloses.toBorrowerCheckBox">
				        	<strong class="marginleft18">Borrower</strong>
				        </td>
				        <td>
				        	${{leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}
				        </td>
		        </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'standard'">
		        <td>
		        	<strong>Cash To Close</strong>
		        </td>
		        <td>
		        	${{leformdata.cashToCloses.cashToCloseTotal[0].integratedDisclosureCashToCloseItemEstimatedAmount | number:2}}
		        </td>
		        <!-- <td>
		        	${{leformdata.cashToCloses.cashToCloseTotal[1].integratedDisclosureCashToCloseItemFinalAmount | number:2}}
		        </td>
		        <td colspan="2">
		        	<span ng-show="loanBasicInfo.loanFormType == 'alternate'">Closing Costs Financed (Paid from your Loan Amount)
			        	<span class="col-sm-5 pull-right">
			        		<div class="input-group">
								<span class="input-group-addon input-default">$</span>
					        	<input type="text" class="form-control" name="" ng-model="leformdata.cashToCloses.totalPayoffsAndPayments.integratedDisclosureCashToCloseItemFinalAmount" decimal-digits-with-number-format>
					        </div>
					    </span>
		        	</span>
		        </td> -->
		      </tr>
		      <tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      			    <td>Estimated Closing Costs Financed</td>
      			    <td><div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemEstimatedAmount" decimal-digits-with-number-format>
			        </div></td>
      			</tr>
		</table>
			
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('TotalClosingCosts')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanDisclosures')">Next</a></span>
	</div>
</div>
<div class="modal fade" id="cashtoCloseModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="resultsCalculator()">&times;</button>
        <h4 class="modal-title col-sm-6" ng-show="loanBasicInfo.loanFormType == 'standard'">Cash to Close Calculator- {{FormType}} </h4>
        <h4 class="modal-title col-sm-6" ng-show="loanBasicInfo.loanFormType == 'alternate'">Cash to Close Calculator- {{FormType}} </h4>
        <h4 class="modal-title col-sm-5" ng-show="results">Results</h4>
      </div>

      <div class="modal-body">
           <div class="margin5tb padding0 col-sm-6" >
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Total Closing Costs (J)</div>
                <div class="col-sm-6 fieldValue">${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Total Closing Costs (J)</div>
                <div class="col-sm-6 fieldValue">-${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Closing Costs Paid Before Closing</div>
                <div class="col-sm-6 fieldValue">${{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</div>
              </div>
              
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Loan Amount</div>
                <div class="col-sm-6 fieldValue">
                   ${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Loan Amount includes any assumed or taken subject to</div>
                <div class="col-sm-6 fieldValue">
                   ${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}
                </div>
              </div>
              
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Sales Price (Purchase Only)</div>
                <div class="col-sm-6">
                    <div class="input-group" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="leformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format>
                    </div>
                     <div class="input-group" ng-show="loanBasicInfo.loanPurposeType == 'refinance'">
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="leformdata.salesContractDetail.saleContractAmount" decimal-digits-with-number-format disabled>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard' && loanBasicInfo.loanPurposeType == 'refinance'">
                <div class="col-sm-6 fieldTitle">Payoffs and Payments (Refinance Only)</div>
                <div class="col-sm-6">
                    <div class="input-group" >
                      <span class="input-group-addon input-default">$</span>
                      <input type="text" class="form-control" name="" ng-model="payoffsAndPaymentsTotalAmount" decimal-digits-with-number-format>
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Deposit (Purchase Only)</div>
                <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon input-default" style="color: red;">$ -</span>
                          <input type="text" class="form-control padding0" name="" ng-model="leformdata.depositAmount" negative-digits ng-change="depositChange()"  ng-keyup="depositChange()" ng-blur="depositChange()">
                    </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'standard'">
                <div class="col-sm-6 fieldTitle">Seller Credits (Purchase Only)</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon input-default" style="color: red;">$ -</span>
                    <input type="text" class="form-control" name="" ng-model="leformdata.sellerCreditsAmount" negative-digits ng-blur="sellerCreditsChange()" ng-keyup="sellerCreditsChange()">
                  </div>
                </div>
              </div>
              <div class=" col-sm-12" ng-show="loanBasicInfo.loanFormType == 'alternate'">
                <div class="col-sm-6 fieldTitle">Total Payoffs and Payments</div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <span class="input-group-addon input-default" style="color: red;">$ -</span>
                  <input type="text" class="form-control" name="" ng-model="leformdata.totalPayoffAmount" negative-digits ng-keyup="totalPayoffChangeCC()">
                  </div>
                </div>
              </div>
              <div class=" col-sm-12">
                <div class="col-sm-6 fieldTitle">Adjustments and Other Credits</div>
                <div class="col-sm-6">
                  <div class="input-group">
                  <span class="input-group-addon input-default">$</span>
                  <input type="text" class="form-control" name="" ng-model="leformdata.adjustmentsAmount" decimal-digits-with-number-format ng-keyup="adjustmentsAndOtherCreditsChange()">
                  </div>
                </div>
              </div>
      	</div>
      	<div class="col-sm-6 margin5tb" >
      		<table class="table table-bordered table-striped">
      			<tr>
      				<th class="innerSectionHeader" ng-show="loanBasicInfo.loanFormType == 'standard'">Results CCC table</th>
      				<th class="innerSectionHeader" ng-show="loanBasicInfo.loanFormType == 'alternate'">Results </th>
      				<th class="innerSectionHeader">Amount</th>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      			    <td>Loan Amount</td>
      			    <td>${{leformdata.cashToCloses.loanAmount.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      				<td>Total Closing Costs(J)</td>
      				<td>-${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Total Closing Costs(J)</td>
      				<td>${{leformdata.cashToCloses.totalClosingCosts.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Closing Costs Paid Before Closing</td>
      				<td>-${{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      				<td>Closing Costs Paid Before Closing</td>
      				<td>${{leformdata.cashToCloses.closingCostsPaidBeforeClosing.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Closing Costs Financed (Paid from your Loan Amount)</td>
      				<td>${{leformdata.cashToCloses.closingCostsFinanced.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Down Payment/Funds from Borrower</td>
      				<td>${{leformdata.cashToCloses.downPayment.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Deposit</td>
      				<td>-${{leformdata.depositAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Funds for Borrower</td>
      				<td>${{leformdata.cashToCloses.fundsForBorrower.integratedDisclosureCashToCloseItemFinalAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Seller Credits</td>
      				<td>-${{leformdata.sellerCreditsAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'alternate'">
      			    <td>Total Payoffs and Payments (K)</td>
      			    <td>-${{leformdata.totalPayoffAmount | number:2}}</td>
      			</tr>
      			<tr ng-show="loanBasicInfo.loanFormType == 'standard'">
      				<td>Adjustments and Other Credits</td>
      				<td>${{leformdata.adjustmentsAmount | number:2}}</td>
      			</tr>
      			<tr>
      				<td><label>Cash to Close</label></td>
      				<td><label>${{leformdata.totalFinalAmount | number:2}}</label></td>
      			</tr>
      		</table>
      	</div>
      </div>
      <div class="modal-footer">
        <div style="float:left;">
	        <button type="button" class="btn btn-primary" ng-click="calculateCash()">Calculate Cash to Close</button>
	        <button type="button" class="btn btn-default" ng-click="clearCalculations()">Clear Editable Values</button>
        </div>
        <div >
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="loadResultsToCCTable()">Load Results to CCC Table</button>
        </div>
      </div>
    </div>
  </div>
</div>