	<div class="col-sm-12"> 
	<input type="file" name="ucdXml" id="UCDXMLFILE" ng-hide="true" onchange="angular.element(this).scope().fileNameChanged(this);this.value=null; return false;" accept=".xml">
	<input type="file" name="trid_import_text" id="trid_import_text" ng-hide="true" onchange="angular.element(this).scope().importTextFile(this);this.value=null; return false;" accept=".txt">
	<h4>Closing Information</h4>
	<div class="col-sm-6">
		<h5 class="innerSectionHeader">Loan Estimate General Information</h5>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle" >Lender Name  
            </div>
			<div class="col-sm-7" class="form-group">
				<actualize-input name="lenderName" id="lenderName" ng-model="leformdata.contactInformation.lender.name.fullName" placeholder="Lender Name" ng-required="true" toolTipPos = "top" dependencies="require-field"></actualize-input>
				<help-verbiage name="LE_lenderName_Help" title="help_tooltip"></help-verbiage>
			</div>
		</div>

		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Date Issued <span class="required">*</span>
			
            </div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0" style=" width:88.33%">
                <actualize-input name="dateIssued" id="dateIssued" dateFormat="{{dateFormat}}" ng-model="leformdata.closingInformation.dateIssued" is-open="isDateIssued" datepicker-options="dateOptions" ng-required="true" toolTipPos = "top" custommessage="Please enter a vaild date." placeholder="Date Issued  format: MM/DD/YYYY"  dependencies="actualize-date" type="date">
                </actualize-input>
                <help-verbiage name="LE_dateIssued_Help"  title="calenderInput"></help-verbiage>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued = !isDateIssued"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
		<div class="FieldGroup">
			<div class="col-sm-5 fieldTitle">Closing Cost Expiration Date <span class="required">*</span></div>
			<div class="col-sm-7">
				<span class="col-sm-10 padding0" style=" width:88.33%">
 
				<actualize-input name="closingCostExpirationDate" id="closingCostExpirationDate" dateFormat="{{dateFormat}}" ng-model="leformdata.integratedDisclosureDetail.integratedDisclosureEstimatedClosingCostsExpirationDatetime" is-open="isDateIssued" datepicker-options="dateOptions" ng-required="true" min-date-var="leformdata.closingInformation.dateIssued" is-open="isDateIssued" toolTipPos = "top" custommessage="Please enter a vaild date. Closing expiration Date cannot occur prior to Issue Date." placeholder="Date Issued  format: MM/DD/YYYY"  dependencies="actualize-date" type="date">
                </actualize-input>
                <help-verbiage name="LE_closingCostExpirationDate_Help"  title="calenderInput"></help-verbiage>
				</span>
      			<span class="input-group-btn col-sm-2 padding0">
        			<button type="button" class="btn btn-default calenderBtn" ng-click="isDateIssued = !isDateIssued"><i class="glyphicon glyphicon-calendar"></i></button>
        		</span>
			</div>
		</div>
	    </div>

		<div class="col-sm-6">
				<h5 class="innerSectionHeader">Property Information</h5>
				 <div class="row">
				 	 <div class=" col-sm-12">
		              	<div class="col-sm-5 fieldTitle">Choose One <help-verbiage name="LE_streetAddress_Help" title="help_tooltip_text"></help-verbiage></div>
		              	<div class="col-sm-7 radioGroup margin10t">
		              		<span class="col-sm-6 padding0">
		              		<input type="radio" name="property"  ng-value="false" ng-model="leformdata.closingInformation.property.legalDescription" ng-click="checkRadio()">Street Address </span>
		              		<span class="col-sm-6 padding0"><input type="radio" name="property" ng-model="leformdata.closingInformation.property.legalDescription"  ng-value="true" ng-click="checkRadio()">Legal Description</span>
		              	</div>
		             </div>
		          </div>
		          <div class="row margin5tb" ng-show="leformdata.closingInformation.property.legalDescription == false">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Street Address</div>
		              <div class="col-sm-7" class="form-group"><input type="text" ng-model="leformdata.closingInformation.property.addressLineText" class="form-control">
		              <help-verbiage name="LE_streetAddress_Help" title="leftTooltip"></help-verbiage>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb" ng-show="leformdata.closingInformation.property.legalDescription == true">
		              <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Legal Description
				        </div>
		              <div class="col-sm-7">
		              <textarea ng-model="leformdata.closingInformation.property.unparsedLegalDescription" class="form-control" maxlength="265"></textarea>
		              <help-verbiage name="LE_LegalDescription_Help" title="leftTooltip"></help-verbiage>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">City</div>
		              <div class="col-sm-7">
		              <input type="text" ng-model="leformdata.closingInformation.property.cityName" class="form-control"> 
		              <help-verbiage name="LE_cityName_Help" title="leftTooltip"></help-verbiage>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">State
		              </div>
		              <div class="col-sm-7 form-group">
		                  <select ng-model="leformdata.closingInformation.property.stateCode" class="form-control">
		                     <option value="" selected>Select</option>
		                     <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
		                  </select>
		                  <help-verbiage name="LE_statecode_Help" title="leftTooltip"></help-verbiage>
		              </div>
		            </div>
		          </div>
		          <div class="row margin5tb">
		            <div class=" col-sm-12">
		              <div class="col-sm-5 fieldTitle">Postal Code 
		              <span class="required">*</span>
				            </div>
		              <div class="col-sm-7">
		              <actualize-input ng-model="leformdata.closingInformation.property.postalCode" name="postalCode" toolTipPos = "top" custommessage="Must be a 5 or 9 digit value"  dependencies="zipcode-format" ></actualize-input>
		              <help-verbiage name="LE_postalCode_Help" title="leftTooltip"></help-verbiage></div>
		              </div>
		            </div>
		          </div>
		</div>
		<div class="col-sm-6"></div>
		<div class="col-sm-6" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
			<h5 class="innerSectionHeader">Price Information (Purchase Only)</h5>
			<div class="row" ng-show="leformdata.salesContractDetail.personalPropertyIndicator == false">
			 	 <div class=" col-sm-12">
				    <div class="col-sm-5 fieldTitle">Sales Price (Purchase Only)</div>
	              	<div class="col-sm-7 radioGroup">
					   	 <div class="input-group">
							<span class="input-group-addon input-default">$</span>
	        				<actualize-input name="saleContractAmount" ng-model="leformdata.salesContractDetail.saleContractAmount" dependencies="decimal-digits-with-number-format" toolTipPos = "top" custommessage="Please enter a valid dollar amount." ></actualize-input>
	        			</div>
	        				<help-verbiage name="LE_salesPrice_Help" title="topTooltip"></help-verbiage>
					</div>
	             </div>
	          </div>
		</div>
		<div class="col-sm-6" ng-show="loanBasicInfo.loanPurposeType == 'refinance'">
				<h5 class="innerSectionHeader">Price Information (Refinance Only)</h5>
				 <div class="row">
				 	 <div class="col-sm-12">
		              	<div class="col-sm-5">
		              		
		              		<select class="form-control" ng-model="leformdata.closingInformation.propertyValuationDetail.propertyValue">
		              			<option value="Appraised">Appraised Property Value</option>
		              			<option value="Estimated">Estimated Property Value</option>
		              		</select>
		              		<help-verbiage name="LE_valueAmountRefinaceTransaction_Help" title="topTooltip"></help-verbiage>
		              	</div>
		              	<div class="col-sm-5">
		              		<div class="input-group">
		  						<span class="input-group-addon input-default">$</span>
				        		<actualize-input ng-show="leformdata.closingInformation.propertyValuationDetail.propertyValue=='Appraised'" ng-model="leformdata.closingInformation.propertyValuationDetail.propertyValuationAmount" toolTipPos = "top" name="propertyValuationAmount" custommessage="Please enter a valid dollar amount." dependencies="decimal-digits-with-number-format"></actualize-input>
				        		<actualize-input ng-show="leformdata.closingInformation.propertyValuationDetail.propertyValue=='Estimated'" ng-model="leformdata.closingInformation.propertyValuationDetail.propertyEstimatedValueAmount" name="propertyEstimatedValueAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount." dependencies="decimal-digits-with-number-format"></actualize-input>
				        		</div>
				        		<help-verbiage name="LE_AmountOfValue_Help" title="topTooltip"></help-verbiage>
				        		
				       
		              </div>
		             </div>
		          </div>
		</div>
		<div class="col-sm-12 margin10t">
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('transInfo')">Next</a></span>
		</div>
		<div id="getXmlStringData" style="visibility: hidden;display: none;">{{xmlStringData}}</div>
	</div>
	<script type="text/javascript">
		$(".helpIcon").tooltip();
	</script>