 <div class="col-sm-12"> 
	<div class="row col-sm-12">
		<div class="col-sm-6"><h4>Comparison</h4></div>
		<div class="col-sm-2 margin10t" ><Span class="margin5lr">Lender ID: {{leformdata.loanInformation.loanIdentifiers[0].loanIdentifier}} </span>
		</div>
		<div class="col-sm-2 margin10t"><span class="margin5lr">Purpose Type: {{LoanType}} </span></div>

		<div class="col-sm-2 margin10t padding0"><span class=""> Applicant Last Name: {{leformdata.transactionInformation.borrowerDetails[0].nameModel.lastName.capitalizeFirstLetter() }}</span></div>
	</div>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-4 innerSectionHeader" colspan="2"> Comparison</th>
		        <th  class="col-sm-4 innerSectionHeader" colspan="1">
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>In 5 Years </label></td>
		        <td>
		        	<div class="input-group">
		        	        <span class="input-group-addon input-default">$</span>
  							<input class="form-control" ng-model="leformdata.integratedDisclosureDetail.fiveYearTotalOfPaymentsComparisonAmount" decimal-digits-with-number-format>
		        	</div>
		        	<div class="input-group margin10t">
		        			<span class="input-group-addon input-default">$</span>
  							<input class="form-control" ng-model="leformdata.integratedDisclosureDetail.fiveYearPrincipalReductionComparisonAmount" decimal-digits-with-number-format>
  							
		        	</div>
		        </td>
		        <td class="col-sm-1">
			        <div>Total you will have paid in principal, interest, mortgage insurance an loan costs
					</div>
					<div class="margin10t margintop30">Principal you will have paid off
					</div>
		        </td>
		      </tr>
		       <tr>
		        <td><label>Annual Percentage Rate (APR) </label></td>
		        <td>
		        	<div class="input-group">
  							<actualize-input name="aprPercent" ng-model="leformdata.loanCalculationsQualifiedMortgage.loanCalculationModel.aprPercent" toolTipPos = "top" dependencies="percentage-format">
                			</actualize-input>
  							<span class="input-group-addon input-default">%</span>
		        	</div>
		        </td>
		        <td class="col-sm-1">
			        <div>Your costs over the loan term expressed as a rate.  This is not your interest rate
					</div>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Total Interest Percentage (TIP) </label></td>
		        <td>
		        	<div class="input-group">
  							<actualize-input name="lefeeSummaryTotalInterestPercent" ng-model="leformdata.loanCalculationsQualifiedMortgage.loanCalculationModel.feeSummaryTotalInterestPercent" toolTipPos = "top" dependencies="percentage-format">
                			</actualize-input>
  							<span class="input-group-addon input-default">%</span>
		        	</div>
		        </td>
		        <td class="col-sm-1">
			        <div>The total amount of interest you will pay over the loan terms as a percentage of your loan amount.
					</div>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
    <div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('ContactInfo')">Back</a></span>
			<span class="col-sm-10"><button class="btn btn-success" style="margin-left: 47%;" ng-click="calculatePayments()">Calculate</button></span>
			<span class="pull-right"><a class="pull-right btn btn-primary" ng-click="changeTab('LeConfReceipt')">Next</a></span>
	</div>
</div>