<div class="col-sm-12">
  <div class="row col-sm-12">
    <div class="col-sm-6"><h4>Confirm Receipt</h4></div>
    <div class="col-sm-2 margin10t" ><Span class="margin5lr">Lender ID: {{leformdata.loanInformation.loanIdentifiers[0].loanIdentifier}} </span>
    </div>
    <div class="col-sm-2 margin10t"><span class="margin5lr">Purpose Type: {{LoanType}} </span></div>

    <div class="col-sm-2 margin10t padding0"><span class=""> Applicant Last Name: {{leformdata.transactionInformation.borrowerDetails[0].nameModel.lastName.capitalizeFirstLetter() }}</span></div>
  </div>
   <span  class="col-sm-12 padding0">
        <table class="table LoanDisclosures table-bordered margin5tb"  style="border:0px;">
          <tr>
              <td class="col-sm-4">
                  <strong> View  </strong>
                  <help-verbiage name="LE_ConfirmReceipt_Help" title="help_tooltip_text"></help-verbiage></td>
            <td>
                 <span class="col-sm-12">
                  <span class="pull-left"><input type="checkbox" name="" ng-model="leformdata.loanEstimateDocDetails.documentSignatureRequiredIndicator" ng-checked="leformdata.loanEstimateDocDetails.documentSignatureRequiredIndicator == true" ng-true-value="true" ng-false-value="false"></span>
                  <span class="col-sm-11 pull-left margin5tb">
                    Will Display the Confirm Receipt Signature and Date Line
                  </span>
                </span>
                <span class="col-sm-12">
                    <span class="pull-left"><input type="checkbox" name="" ng-model="leformdata.loanEstimateDocDetails.documentSignatureRequiredIndicator" ng-checked="leformdata.loanEstimateDocDetails.documentSignatureRequiredIndicator == false" ng-true-value="false" ng-false-value="true"></span>
                    <span class="col-sm-11 pull-left margin5tb">
                      Will Not Display the Confirm Receipt Signature and Date Line
                    </span>
                </span>
            </td>
          </tr>
        </table>
   </span>
</div>

  <div class="col-sm-12 margin10t">
      <span class="pull-left"><a class="btn btn-default" ng-click="changeTab('Comparison')">Back</a></span>
      
  </div>
</div>