<div class="col-sm-12">
	<h4>Loan Information</h4>
	<div class="col-sm-12">
		<h5 class="innerSectionHeader">Loan Period, Type and Position</h5>
		<div class="col-sm-12 row">
			<div class="col-sm-4">
				<div class="col-sm-5 fieldTitle margin5t">Loan Term:</div>
				<div class="col-sm-7 padding0">
					<div class="col-sm-12 padding0 paddingtop6">
						<div class="col-sm-7 padding0 paddingtop7">No. Years</div>
						<div class="col-sm-5 padding0">
							<actualize-input name="loanTermYears"
								ng-model="leformdata.loanInformation.loanTermYears"
								custommessage="Please enter a valid whole number" min-val="1" max-val="40"
								dependencies="only-digits min-max-value"> </actualize-input>
							<help-verbiage name="LE_LoanTermNoOfYears_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
					<div class="col-sm-12 padding0 margin5tb paddingtop11">
						<div class="col-sm-7 padding0 ">No. Months</div>
						<div class="col-sm-5 padding0 form-group">
							<actualize-input name="loanTermMonths"
								ng-model="leformdata.loanInformation.loanTermMonths"
								toolTipPos="top"
								custommessage="Please enter a valid whole number"
								dependencies="only-digits"> </actualize-input>
							<help-verbiage name="LE_LoanTermNoOfMonths_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="FieldGroup">
					<div class="col-sm-5 fieldTitle">
						Loan Type <span class="required">*</span>
					</div>
					<div class="col-sm-7 padding0">
						<select class="form-control"
							ng-model="leformdata.termsOfLoan.mortgageType"
							ng-change="termsOfLoanMortgagaTypeClear(loanType.value)">
							<option value="" selected>Select</option>
							<option ng-repeat="loanType in loanTypes"
								value="{{loanType.value}}">{{loanType.name}}</option>
						</select>
						<help-verbiage name="LE_LoanTermLoanType_help"
							title="leftTooltip_selectPadding"></help-verbiage>
					</div>
				</div>
				<div class="FieldGroup">
					<div class="col-sm-5 fieldTitle">Other Description</div>
					<div class="col-sm-7 padding0">
						<input type="text" class="form-control"
							id="loanTypeOtherDescription"
							ng-model="leformdata.termsOfLoan.mortgageTypeOtherDescription"
							ng-disabled="leformdata.termsOfLoan.mortgageType!='Other'">
						<help-verbiage name="LE_LoanTermLoanTypeDescription_help"
							title="help_tooltip_padding"></help-verbiage>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-sm-5 fieldTitle margin4t">Purpose</div>
				<div class="col-sm-7 padding0">
					<input type="text" class="form-control"
						style="text-transform: capitalize;"
						ng-model="leformdata.termsOfLoan.loanPurposeType"
						ng-disabled="true">
					<help-verbiage name="LE_LoanTermLoanTypePurpose_help"
						title="help_tooltip_padding_left"></help-verbiage>
				</div>
			</div>
			<div class="col-sm-4 margin8t">
				<div class="col-sm-5 fieldTitle margin4t">Lien Position</div>
				<div class="col-sm-7 padding0">
					<select class="form-control"
						ng-model="leformdata.termsOfLoan.lienPriorityType">
						<option value="" selected>Select</option>
						<option ng-repeat="lienPriorityType in lienPriorityTypes"
							value="{{lienPriorityType.value}}">{{lienPriorityType.name}}</option>
					</select>
					<help-verbiage name="LE_LienPosition_help"
						title="leftTooltip_selectPadding"></help-verbiage>
				</div>
			</div>

		</div>
		<div class="col-sm-12 row margin5tb">
			<div class="col-sm-4">
				<div class="col-sm-7 fieldTitle paddingtop0 margin5tb">
					Lender Loan Identifier <span class="required">*</span>
				</div>
				<div class="col-sm-5 padding0"
					ng-repeat="loanIdentifier in leformdata.loanInformation.loanIdentifiers"
					ng-if="loanIdentifier.loanIdentifierType=='LenderLoan'">
					<actualize-input name="lenderLoanIdentifier" ng-model="loanIdentifier.loanIdentifier" toolTipPos = "top" custommessage="Please enter a valid whole number" dependencies="require-field">
                			</actualize-input>

					<help-verbiage name="LE_LenderLoanIdentifier_help"
						title="help_tooltip_padding"></help-verbiage>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-sm-12 padding0">
					<div class="col-sm-5 padding0 fieldTitle paddingtop0 margin5tb">Rate
						Locked?</div>
					<div class="col-sm-3" style="padding-left: 0px;">
						<select class="form-control"
							ng-model="leformdata.loanInformation.rateLokerIndicator"
							ng-options="option.id as option.name for option in dropDownBooleanOptions"
							ng-change="rateLockChange()">
							<option value="" selected>Select</option>
						</select>
						<help-verbiage name="LE_RateLocked_help" title="leftTooltip_select"></help-verbiage>
					</div>
					<div class="col-sm-4 padding0 margin5tb"
						ng-if="leformdata.loanInformation.rateLokerIndicator == true">
						<div class="FieldGroup marginnegative9t">
							<span class="col-sm-10 padding0"> <input type="text"
								name="dateIssued" id="dateIssued"
								class="form-control calenderInput"
								uib-datepicker-popup="{{dateFormat}}"
								ng-model="leformdata.loanInformation.rateLokedDate"
								is-open="isDateIssued" datepicker-options="dateOptions"
								ng-required="true" close-text="Close"
								placeholder="Rate Locked Date" actualize-date />
							</span> <span class="input-group-btn col-sm-2 padding0">
								<button type="button" class="btn btn-default calenderBtn"
									ng-click="isDateIssued = !isDateIssued">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4 marginleft0"
				ng-show=" leformdata.loanInformation.rateLokerIndicator == true">
				<div class="col-sm-4">
					<select class="form-control"
						ng-model="leformdata.loanInformation.rateLokedTime"
						ng-change="timeClr()">
						<option value="" selected>Time</option>
						<option ng-repeat="time in rateLokedTime" value="{{time.id}}">{{time.period}}</option>
					</select>
				</div>
				<div class="col-sm-4">
					<select class="form-control"
						ng-model="leformdata.loanInformation.rateLockedTimePeriod"
						ng-change="timePeriodClr();">
						<option value="" selected>Select</option>
						<option ng-repeat="timePeriod in rateLockedTimePeriod"
							value="{{timePeriod}}">{{timePeriod}}</option>
					</select>
				</div>
				<div class="col-sm-4">
					<select class="form-control"
						ng-model="leformdata.loanInformation.rateLockedTimeZone">
						<option value="" selected>Select</option>
						<option ng-repeat="timeZone in rateLockedTimeZone"
							value="{{timeZone}}">{{timeZone}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<h5 class="innerSectionHeader" id="ProductDescriptionInfo">Product
				Description and Information</h5>
			<div class="col-sm-6">
				<div class="FieldGroup">
					<div class="col-sm-5 fieldTitle">
						Product Description <span class="required">*</span>
					</div>
					<div class="col-sm-7">
						<input type="text" class="form-control" name=""
							ng-model="leformdata.integratedDisclosureDetail.integratedDisclosureLoanProductDescription">
						<help-verbiage name="LE_ProductDescription_help"
							title="help_tooltip"></help-verbiage>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="FieldGroup">
					<div class="col-sm-5 fieldTitle">
						Amortization Type <span class="required">*</span>
					</div>
					<div class="col-sm-7">
						<select class="form-control"
							ng-model="leformdata.loanInformation.amortizationType"
							ng-change="amortizationChange()">
							<option value="" selected>Select</option>
							<option ng-repeat="amortizationType in amortizationTypes"
								value="{{amortizationType.value}}">{{amortizationType.name}}</option>
						</select>
						<help-verbiage name="LE_AmortizationType_help" title="leftTooltip_select">
						</help-verbiage>
					</div>
				</div>
			</div>
			<div class="col-sm-12"
				ng-show="leformdata.loanInformation.amortizationType!='Fixed'">
				<div class="col-sm-12 tableInsideHeader">Adjustment
					Information - Interest Adjustments</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of
							months for the fixed period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name="fixedPeriodMonths"
								ng-model="leformdata.interestRateAdjustment.firstRateChangeMonthsCount"
								only-digits maxlength="3">
							<help-verbiage name="LE_AIprovideNumberMonthsFixedPeriod_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-9 fieldTitle">Provide the life of loan
							Cap Rate</div>
						<div class="col-sm-3 padding0">
							<div class="input-group">
								<actualize-input name="loanCapRate"
									ng-model="leformdata.interestRateAdjustment.ceilingRatePercent"
									toolTipPos="top" custommessage="Please enter a valid percent"
									dependencies="percentage-format"> </actualize-input>
								<span class="input-group-addon input-default">%</span>
							</div>
							<help-verbiage name="LE_ProvideLineLoanCapRate_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of
							months first change period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control"
								name="firstChangePeriodMonths"
								ng-model="leformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount"
								only-digits maxlength="3">
							<help-verbiage
								name="LE_AIProvideNumberMonthsFirstChangePeriod_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-9 fieldTitle">Provide the first change
							interest rate limit</div>
						<div class="col-sm-3 padding0">
							<div class="input-group">
								<actualize-input name="firstChangeInterestRateLimit"
									ng-model="leformdata.interestRateAdjustment.firstPerChangeMaximumIncreaseRatePercent"
									toolTipPos="top" custommessage="Please enter a valid percent"
									dependencies="percentage-format"> </actualize-input>
								<span class="input-group-addon input-default">%</span>
							</div>
							<help-verbiage name="LE_ProvideFirstChangeInterestRateLimit_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the number of
							months subsequent change period</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control"
								name="subsequentChangePeriodMonths"
								ng-model="leformdata.interestRateAdjustment.subsequentPerChangeRateAdjustmentFrequencyMonthsCount"
								only-digits maxlength="3">
							<help-verbiage
								name="LE_ProvideNumberOfMonthsSubsequentChnagePeriod_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-9 fieldTitle">Provide the subsequent
							change interest rate limit</div>
						<div class="col-sm-3 padding0">
							<div class="input-group">
								<actualize-input name="subsequentChangeInterestRateLimit"
									ng-model="leformdata.interestRateAdjustment.subsequentPerChangeMaximumIncreaseRatePercent"
									toolTipPos="top" custommessage="Please enter a valid percent"
									dependencies="percentage-format"> </actualize-input>
								<span class="input-group-addon input-default">%</span>
							</div>
							<help-verbiage
								name="LE_AIProvideSubsequentChangeInterestRateLimit_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6"
					ng-show="leformdata.loanInformation.amortizationType == 'Step'">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If Amortization Type is
							Step, Provide the Total Step Count</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control"
								name="subsequentChangeInterestRateLimit"
								ng-model="leformdata.interestRateAdjustment.totalStepCount">
							<help-verbiage
								name="LE_AIAmortizationTypeIsStepProvideTotalStepCOunt_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6"
					ng-show="leformdata.loanInformation.amortizationType != 'Step'"></div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-9 fieldTitle">Provide the Floor Rate:</div>
						<div class="col-sm-3 padding0">
							<div class="input-group">
								<actualize-input name="loanCapRate"
									ng-model="leformdata.interestRateAdjustment.floorRatePercent"
									toolTipPos="top" custommessage="Please enter a valid percent"
									dependencies="percentage-format"> </actualize-input>
								<span class="input-group-addon input-default">%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12"
				ng-show="leformdata.loanInformation.amortizationType!='Fixed'">
				<div class="col-sm-12 tableInsideHeader">Adjustment
					Information - Principal and Interest Payment Adjustments</div>
				<div class="col-sm-12 padding0">
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">Provide the number of
								months for the fixed period</div>
							<div class="col-sm-2 padding0">
								<input type="text" class="form-control" name="fixedPeriodMonths"
									ng-model="
leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount"
									only-digits maxlength="3">
								<help-verbiage
									name="LE_AIAmortizationTypeIsStepProvideTotalStepCOunt_help"
									title="help_tooltip_padding"></help-verbiage>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 padding0">
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">Provide the number of
								months first change period:</div>
							<div class="col-sm-2 padding0">
								<input type="text" class="form-control"
									name="firstChangePeriodMonths"
									ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount"
									only-digits maxlength="3">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 padding0">
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">Provide the number of
								months subsequent change period:</div>
							<div class="col-sm-2 padding0">
								<input type="text" class="form-control"
									name="subsequentChangePeriodMonths"
									ng-model="leformdata.principalAndInterestPaymentAdjustment.subsequentPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount"
									only-digits maxlength="3">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12">
				<div class="col-sm-12 tableInsideHeader">Balloon Information</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does this transaction have
							a Balloon Feature</div>
						<div class="col-sm-2 padding0">
							<select class="form-control pull-left"
								ng-model="leformdata.loanDetail.balloonIndicator"
								style="width: 100px;"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="balloonIndicatorChange()">
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Provide the Amortization
							Period Type :</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.loanInformation.loanAmortizationPeriodType"
								ng-disabled="!leformdata.loanDetail.balloonIndicator">
								<option value="" selected>Select</option>
								<option ng-repeat="loanMaturityType in loanMaturityPeriodTypes"
									value="{{loanMaturityType.value}}">{{loanMaturityType.name}}</option>
							</select>
						</div>
					</div>
				</div>
				<span ng-show="leformdata.loanDetail.balloonIndicator">
					<div class="col-sm-6">
						<div class="FieldGroup"></div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">Provide the Amortization
								Period Count :</div>
							<div class="col-sm-2 padding0">
								<input type="text" class="form-control" name=""
									ng-model="leformdata.loanInformation.loanAmortizationPeriodCount"
									only-digits maxlength="3">
							</div>
						</div>
					</div>
				</span>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-12 tableInsideHeader">Construction Loan
					Information</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Is this transaction a construction loan? <span class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.loanDetail.constructionLoanIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="constructionChange()">
							</select>
							<help-verbiage name="LE_CLIConstuctionLoan_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-7 fieldTitle">What type of Construction
							Loan?</div>
						<div class="col-sm-5 padding0">
							<select class="form-control"
								ng-model="leformdata.construction.constructionLoanType"
								ng-disabled="leformdata.loanDetail.constructionLoanIndicator == false"
								ng-change="clChange()">
								<option value="" selected>Select</option>
								<option
									ng-repeat="constructionLoanType in constructionLoanTypes"
									value="{{constructionLoanType.value}}">{{constructionLoanType.name}}</option>
							</select>
							<help-verbiage name="LE_CLITypeConstuctionLoan_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
					</div>
				</div>
				<span
					ng-show="leformdata.loanDetail.constructionLoanIndicator == true && leformdata.construction.constructionLoanType != ''">
					<div class="col-sm-6">
						<div class="FieldGroup"></div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">What is the construction
								period in months?</div>
							<div class="col-sm-2 padding0">
								<actualize-input name="constructionPeriodNumberOfMonthsCount"
									ng-model="leformdata.construction.constructionPeriodNumberOfMonthsCount"
									toolTipPos="top"
									custommessage="Please enter a valid whole number"
									dependencies="only-digits" maxlength="3"> </actualize-input>
								<help-verbiage name="LE_CILCOntructionPeriodMonths_help"
									title="help_tooltip_padding_left"></help-verbiage>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup"></div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">What is the total number
								of months for this construction transaction (Includes both
								construction period and permanent financed period)</div>
							<div class="col-sm-2 padding0">
								<!-- <input type="text" class="form-control" name="" ng-model="leformdata.construction.constructionLoanTotalTermMonthsCount" only-digits maxlength="3"> -->
								<actualize-input name="constructionLoanTotalTermMonthsCount"
									ng-model="leformdata.construction.constructionLoanTotalTermMonthsCount"
									toolTipPos="top"
									custommessage="Please enter a valid whole number"
									dependencies="only-digits" maxlength="3"> </actualize-input>
								<help-verbiage
									name="LE_CLITotalNoOfConstructionTransaction_help"
									title="help_tooltip_padding_left"></help-verbiage>
							</div>
						</div>
					</div>
				</span>
			</div>
			<div class="col-sm-12"
				ng-show="loanBasicInfo.loanPurposeType !='purchase'">
				<div class="col-sm-12 tableInsideHeader">Home Equity Loan
					Information</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Is the Loan a Home Equity Loan? <span class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.integratedDisclosureDetail.integratedDisclosureHomeEquityLoanIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions" />
							<help-verbiage name="LE_HomeEquityLoanInformation_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>


					</div>
				</div>
				<div class="col-sm-6"></div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-12 tableInsideHeader">Mortgage Insurance</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Does this loan required mortgage insurance?: <span
								class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.loanDetail.miRequiredIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="updateProjectedPaymentsMI()" />
						</div>
					</div>
				</div>
				<div class="col-sm-6"
					ng-show="leformdata.loanDetail.miRequiredIndicator">
					<div class="col-sm-12 padding0 margin5tb">
						<span class="col-sm-7 padding0 fieldTitle"><b class="boldComma">.</b>
							Scheduled Termination Date</span> <span class="col-sm-5 pull-left">
							<span class="col-sm-10 padding0"> 
							
							<actualize-input name="ScheduledTermDate" id="ScheduledTermDate" dateFormat="{{dateFormat}}" ng-model="leformdata.projectedPayments.miSTDate" min-date="10/03/2015" max-date="12/31/2045" is-open="isScheduledTermDate" datepicker-options="dateOptions" ng-required="true" toolTipPos="top" custommessage="Please enter a vaild date." placeholder="MM/DD/YYYY" dependencies="actualize-date" type="date">
                			</actualize-input>
						</span> <span class="input-group-btn col-sm-2 padding0">
								<button type="button" class="btn btn-default calenderBtn"
									ng-click="isScheduledTermDate = !isScheduledTermDate">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
						</span>
						</span>

					</div>
					<div class="col-sm-12 padding0 margin5tb">
						<span class="col-sm-7 padding0 fieldTitle"><b class="boldComma">.</b>
							MI Monthly Amount</span> <span
							class="col-sm-5 input-group paddingleft13"> <span
							class="input-group-addon input-default">$</span>
							<actualize-input ng-model="leformdata.miDataDetail.miMonthlyAmount" name="miMonthlyAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount." dependencies="decimal-digits-with-number-format"></actualize-input>
						</span>
					</div>
					<div class="col-sm-12 padding0 margin5tb">
						<span class="col-sm-7 padding0 fieldTitle"><b class="boldComma">.</b>
							MI 1<sup>st</sup> Factor Percentage</span> <span
							class="col-sm-5 input-group paddingleft13"> <input
							type="text" class="form-control" name=""
							ng-model="leformdata.miDataDetail.miFirstFactorPercentage"
							percentage-format> <span
							class="input-group-addon input-default">%</span>
						</span>
					</div>
					<div class="col-sm-12 padding0 margin5tb">
						<span class="col-sm-7 padding0 fieldTitle"><b class="boldComma">.</b>
							MI 2<sup>nd</sup> Factor Percentage</span> <span
							class="col-sm-5 input-group paddingleft13"> <input
							type="text" class="form-control" name=""
							ng-model="leformdata.miDataDetail.miSecondFactorPercentage"
							percentage-format> <span
							class="input-group-addon input-default">%</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-12 tableInsideHeader">Interest Only
					Information</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Does this loan have an interest only feature? <span
								class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.loanDetail.interestOnlyIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="interestChange()" />
							<help-verbiage name="LE_InterestOnlyInformationFeature_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If Yes, what is the
							interest only period?</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control"
								ng-model="leformdata.interestOnly.interestOnlyTermMonthsCount"
								ng-disabled="leformdata.loanDetail.interestOnlyIndicator == false"
								only-digits maxlength="3" ng-keyup="interestOnlyTermMonthsCountChange()" 
								ng-blur="interestOnlyTermMonthsCountChange()">
							<help-verbiage name="LE_YesInterestOnlyPeriod_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-12 tableInsideHeader">Negative Amortization</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">Does this loan have a
							Negative Amortization Feature?</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.loanDetail.negativeAmortizationIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions" />
							<help-verbiage
								name="LE_NAIDoesLoanNegativeAmortizationFeature_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-7 fieldTitle">Indicate if neg am is
							scheduled or potential</div>
						<div class="col-sm-5 padding0">
							<select class="form-control"
								ng-model="leformdata.negativeAmortization.negativeAmortizationType"
								ng-disabled="leformdata.loanDetail.negativeAmortizationIndicator == false"
								ng-change="nATypeChange()">
								<option value="" selected>Select</option>
								<option
									ng-repeat="negativeAmortizationType in negativeAmortizationTypes"
									value="{{negativeAmortizationType.value}}">{{negativeAmortizationType.name}}</option>
							</select>
							<help-verbiage
								name="LE_IndicateNegativeAmortizationScheduledPotential_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
					</div>
				</div>
				<span
					ng-show="leformdata.loanDetail.negativeAmortizationIndicator == true && leformdata.negativeAmortization.negativeAmortizationType != ''">
					<div class="col-sm-6">
						<div class="FieldGroup"></div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-8 fieldTitle">What is the Maximum
								Negative Amortization Loan Balance?</div>
							<div class="col-sm-4 padding0">
								<div class="input-group">
									<span class="input-group-addon input-default">$</span> <input
										type="text" class="form-control" name=""
										ng-model="leformdata.negativeAmortization.negativeAmortizationMaximumLoanBalanceAmount"
										decimal-digits-with-number-format>
								</div>
								<help-verbiage
									name="LE_WhatmaximumNegativeAmortizationLoanBalance_help"
									title="help_tooltip_padding_left"></help-verbiage>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup"></div>
					</div>
					<div class="col-sm-6">
						<div class="FieldGroup">
							<div class="col-sm-10 fieldTitle">What is the negative
								amortization limit in months count?</div>
							<div class="col-sm-2 padding0">
								<input type="text" class="form-control" name=""
									ng-model="leformdata.negativeAmortization.negativeAmortizationLimitMonthsCount"
									only-digits maxlength="3" ng-blur="updateOptionalPaymentMonthsCount()">
								<help-verbiage
									name="LE_WhatNegativeAmortizationLimiinMonthsCount_help"
									title="help_tooltip_padding_left"></help-verbiage>
							</div>
						</div>
					</div>
				</span>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-12 tableInsideHeader">Other Loan Product
					Features</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Does the loan have a seasonal payment feature? <span
								class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.loanDetail.seasonalPaymentFeatureIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="seasonalChange()" />
							<help-verbiage name="LE_LoanhaveSeasonalPaymentFeature_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-6 fieldTitle">If yes, provide the start
							and end months</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-disabled="leformdata.loanDetail.seasonalPaymentFeatureIndicator == false"
								ng-model="leformdata.payment.paymentRule.seasonalPaymentPeriodStartMonth">
								<option value="" selected>Select</option>
								<option ng-repeat="calendarMonth in calendarMonths"
									value="{{calendarMonth.value}}">{{calendarMonth.name}}</option>
							</select>
							<help-verbiage name="LE_YesProvideStartAndEndMonths_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
						<div class="col-sm-2 fieldTitle" style="text-align: center;">to</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-disabled="leformdata.loanDetail.seasonalPaymentFeatureIndicator == false"
								ng-model="leformdata.payment.paymentRule.seasonalPaymentPeriodEndMonth">
								<option value="" selected>Select</option>
								<option ng-repeat="calendarMonth in calendarMonths"
									value="{{calendarMonth.value}}">{{calendarMonth.name}}</option>
							</select>
							<help-verbiage name="LE_YesProvideStartAndEndMonths_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Does the loan have a Step payment feature? <span class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control" ng-model="stepPaymentIndicatorValue"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="stepChange(stepPaymentIndicatorValue)" />
							<help-verbiage name="LE_DoesLoanhaveStepPaymentFeature_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If yes, provide the no. of
							months in which the Step feature will be in affect</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name=""
								ng-model="leformdata.payment.paymentRule.totalStepPaymentCount"
								only-digits maxlength="3"
								ng-disabled="!stepPaymentIndicatorValue">
							<help-verbiage
								name="LE_YesProvideNoOfMoonthsStepFeaturewillAffect_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">
							Does the loan have an optional payment feature? <span
								class="required">*</span>
						</div>
						<div class="col-sm-2 padding0">
							<select class="form-control"
								ng-model="leformdata.payment.paymentRule.paymentOptionIndicator"
								ng-options="option.id as option.name for option in dropDownBooleanOptions"
								ng-change="optionalChange()" />
							<help-verbiage
								name="LE_DoesLoanHaveOptionalPaymentFeaturesQuestions_help"
								title="help_tooltip_padding"></help-verbiage>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="FieldGroup">
						<div class="col-sm-10 fieldTitle">If yes, provide the no. of
							months in which the Optional payment will be in affect</div>
						<div class="col-sm-2 padding0">
							<input type="text" class="form-control" name=""
								ng-model="leformdata.payment.paymentRule.totalOptionalPaymentCount"
								ng-disabled="!leformdata.payment.paymentRule.paymentOptionIndicator"
								only-digits maxlength="3">
							<help-verbiage
								name="LE_YesProvideLoanHaveOptionalPaymentFeaturesQuestions_help"
								title="help_tooltip_padding_left"></help-verbiage>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 margin10t">
			<span class="pull-left"> <a class="btn btn-default"
				ng-click="changeTab('transInfo')">Back</a>
			</span> <span class="pull-right"> <a class="btn btn-primary"
				ng-click="changeTab('loanterms')">Next</a>
			</span>
		</div>
	</div>