 <div class="col-sm-12">
	<h4>Loan Terms </h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-4 innerSectionHeader" colspan="2">Loan Terms</th>
		        <th  class="col-sm-8 innerSectionHeader" colspan="2">
		        	<span>Does this change after closing?</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>Loan Amount<span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<input class="form-control" ng-model="leformdata.termsOfLoan.noteAmount" decimal-digits-with-number-format></input>
		        		<help-verbiage name="LE_LoanAmount_Help" title="help_tooltip_padding"></help-verbiage>
		        	</div>
		        </td>
		        <td class="col-sm-1">
		        	<select class="form-control pull-left" ng-model="leformdata.loanDetail.negativeAmortizationIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.negativeAmortizationIndicator">
		        		<li><span class="pull-left margin5tb col-sm-4"> Can go as high as </span> 
							<span class="col-sm-4 marginleft50n">
								<div class="input-group">
									<span class="input-group-addon input-default">$</span>
									<input type="text" class="form-control" name="" ng-model="leformdata.negativeAmortization.negativeAmortizationMaximumLoanBalanceAmount" decimal-digits-with-number-format >
								</div>
							</span>
						</li>
							
						<li> <span class="pull-left margin5tb col-sm-4"> Can increase until year </span> <span class="col-sm-4 marginleft30n"><input type="text" class="form-control" name="" value="{{leformdata.negativeAmortization.negativeAmortizationLimitMonthsCount/12 | ceil}}" ></span></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Interest Rate <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  							<input class="form-control" ng-model="leformdata.termsOfLoan.noteRatePercent" percentage-format>
  							<help-verbiage name="LE_InterestRate_Help" title="help_tooltip_padding"></help-verbiage>
  							<span class="input-group-addon input-default">%</span>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="leformdata.loanDetail.interestRateIncreaseIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList">
		        		<li ng-show="leformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-2 padding0">Adjusts every</span> 
		        			<span class="col-sm-2 marginleft10n">
		        				<input type="text" value="{{(leformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount/12) | round}}" class="form-control" name="" ng-disabled="true">
		        			</span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" value="{{(leformdata.interestRateAdjustment.firstRateChangeMonthsCount/12)+1 | ceil}}" name="" ng-disabled="true">
		        			</span>
		        		</li>
		        		<li ng-show="leformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-3 padding0">Can go as high as</span> 
		        			<span class="col-sm-3 marginleft7np">
							<div class="input-group">								
		        				<input type="text" ng-model="leformdata.interestRateAdjustment.ceilingRatePercent" class="form-control width58" name="" percentage-format>
								<span class="input-group-addon input-default">%</span>
							</div>
		        			</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="leformdata.interestRateAdjustment.ceilingRatePercentEarliestEffectiveMonthsCount" only-digits class="form-control" name="" maxlength="3">
		        			</span>
		        		</li>
		        		
		        	</ul>
		        </td>
		      </tr>
		      
		      <tr>
		        <td><label>Principal & Interest Payment Amount
            <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<input class="form-control" ng-model="leformdata.payment.paymentRule.initialPrincipalAndInterestPaymentAmount" decimal-digits-with-number-format>
		        		<help-verbiage name="LE_PrincipalInterestPaymentAmount_help" title="help_tooltip_padding"></help-verbiage>

		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="leformdata.loanDetail.paymentIncreaseIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>        	
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.paymentIncreaseIndicator == true">
		        		<li> <span class="pull-left margin5tb">Adjusts every</span> 
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount" only-digits maxlength="3"></span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount" only-digits maxlength="3"></span></li>
		        		<li><span class="pull-left margin5tb"> Can go as high as</span> 
		        			<span class="col-sm-3 marginleft7n">
		        			<div class="input-group">
								<span class="input-group-addon input-default">$</span>
								<input type="text" class="form-control width58" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmount" decimal-digits-with-number-format>
							</div>
							</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveMonthsCount" only-digits maxlength="3">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>	
		      <tr style="">
		        <td><label>Payment Frequency Type
 			 <span class="required">*</span></label></td>
		        <td>
		        <div class="input-group">
		        	<select class="form-control pull-left col-sm-7" ng-model="leformdata.payment.paymentRule.paymentFrequencyType" style="width:100px;">
			        	<option value="" selected>Select</option>
			        	<option ng-repeat="pFTyp in paymentFrequencyTypes" value="{{pFTyp.value}}">{{pFTyp.name}}</option>
		        	</select>
		        	<help-verbiage name="LE_PaymentFrequency_help" title="help_tooltip_padding"></help-verbiage>
		        </div>
		        </td>
		        <td>        	
		        </td>
		        <td>
		        </td>
		      </tr>		      
		      <tr> 
		        <td><label>Prepayment Penalty
 				<span class="required">*</span></label></td>
			        <td><label></label></td>
			        <td  style="padding-right: 0px;">
		        	<div class="input-group">
		        	<select class="form-control pull-left" ng-model="leformdata.loanDetail.prepaymentPenaltyIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        	<help-verbiage name="LE_PrepaymentPenalty_help" title="help_tooltip_padding"></help-verbiage>
		        	</div>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.prepaymentPenaltyIndicator == true">
		        		<li> <span class="pull-left margin5tb">As high as</span> 
		        			<span class="col-sm-3">
		        				<div class="input-group">
		        					<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="leformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyMaximumLifeOfLoanAmount" decimal-digits-with-number-format>
		        				</div>
		        				</span>
		        					<span class="pull-left margin5tb">if you pay off the loan  in the first</span>
		        					<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="leformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyExpirationMonthsCount" only-digits maxlength="3"></span>
		        				<span class="pull-left margin5tb">years</span>
		        		</li>
			         </ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Balloon Payment
 				<span class="required">*</span></label></td>
		        <td><label></label></td>
		        <td>
		        	<div class="input-group">
		        	<select class="form-control pull-left"  ng-model="leformdata.loanDetail.balloonIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        	<help-verbiage name="LE_BallonPayment_help" title="help_tooltip_padding"></help-verbiage>
		        	</div>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.balloonIndicator == true">
		        		<li> <span class="pull-left margin5tb">You will have to pay</span> 
		        			<span class="col-sm-3">
			        			<div class="input-group">
			        					<span class="input-group-addon input-default">$</span>
			        					<input type="text" class="form-control" name="" ng-model="leformdata.loanDetail.balloonPaymentAmount" decimal-digits-with-number-format>
			        			</div>
		        			</span>
		        			<span class="pull-left margin5tb">at the end of year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" ng-model="leformdata.maturityRule.loanMaturityPeriodCount" only-digits maxlength="3">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('loanInfo')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanCosts')">Next</a></span>
	</div>
</div>