<div class="col-sm-12">
	<h4> Loan Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2"> Section A. Origination Charge
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each Section in the Closing Cost Details is highlighted at the top of the section.</p>
				           	 <ul><li>The first section is called “Origination Charges”.
									Has a different row for Row 01 than the rest of the section</li></ul>
				          </span>
				 </span>

				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsLoanCosts.ocTotalAmount | number:2}}
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a record in either the Paid By Applicant At Closing or Before Closing columns</p>
				          </span>
				 </span></th>
				
			  </tr>
		     <tr>
		        <th class="innerSectionHeader FeeInfo" style="width: 10%;">Fee Label
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>A free-form text field that provides a human-readable, display-ready representation for the corresponding enumerated value.</p>
				           	 <ul><li>
				           	 		Typically, the name a lender calls a specific fee, the user would type that fee in this location.</li>
				           	 		<li>
									If YES, both the percentage of the Loan Amount must be disclosed in the label section

				           	 </li></ul>
				          </span>
				 </span></th>
		        <th class="innerSectionHeader FeePaid">Fee Type 
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Specify the general type of fees associated with a real estate finance transaction.</p>
				           	 <ul><li>
				           	 		Required to support the GSE xml file, even though a Fee Label Name is provided, the user must choose an enumerated value to associate to the label name.</li><li>
									If other is chosen, then the user will be provided another text box (see below).

				           	 </li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader BPatClosing">Amount
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a record in either the Paid By Applicant At Closing or Before Closing columns</p>
			          </span>
				</span>
				</th>
		        <th class="innerSectionHeader incInApr">Included in APR? 
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>For each record included must Indicate if the fee is included in the APR calculation.</p>
				           	 <ul><li>The annual percentage rate for the loan based on the accepted industry standard defined by Regulation Z (Section 12 	C.F.R. 1026.18(e)) used for Qualified Mortgages and general disclosure purposes; if questions regarding this regulation must see the CFPB website.</li>
				           	 <li>Format is a Boolean value, using a drop-down box with a Yes or No value</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader DeleteIcons">Delete
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>The Trash Can symbol at the end of the record will delete the entire row including all data.</p>
			          </span>
					 </span> / Clear
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>The Clear symbol at the end of the record will remove all the data but leave the row in tact if a user wants to remove the information in the cells all at once time.</p>
			          </span>
			 </span></th>
		      </tr>
		      <tr ng-repeat="originationCharge in leformdata.closingCostDetailsLoanCosts.originationCharges">		      	
		        <td ng-show="originationCharge.feeType == 'LoanDiscountPoints'">
		        	 <span class="input-group">
		        	 <input type="text" class="form-control" ng-model="originationCharge.feeTotalPercent" percentage-format ng-blur="loanDiscount($index)" ng-keyup="loanDiscount($index)">
		        	 <span class="input-group-addon input-default">% of Loan Amount (Points) 
					</span> 
					<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
					        <b></b>	
					         <span> 
					           	 <p>In every transaction, the line 01 item called Loan Amount (Points) is provided on the form.  The transaction may or may not have discount points.</p>
					           	 <p>The Label name “Loan Amount (Points)” is referred to as predefined text by the CFPB.</p>
					           	 <ul><li>If NO, “0” must be disclosed in the Label section.</li>
					           	 <li>If YES, both the percentage of the Loan Amount must be disclosed in the label section.</li></ul>
					          </span>
					 </span>
		        	</span>
		        </td>
		        <td ng-show="originationCharge.feeType != 'LoanDiscountPoints'">
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" name="" ng-model="originationCharge.displayLabel"/>
		        	</span>
		        </td> 
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="originationCharge.feeType" ng-change="updateSectionAfeeTypes(originationCharge.feeType, $index)" ng-disabled="originationCharge.feeType == 'LoanDiscountPoints'">
	              			<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionAfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		    </select> 
		        	</span>
		        	<span ng-hide="originationCharge.feeType!='Other'" class="col-sm-12 padding0">
			        	<span class="col-sm-12 margin5tb padding0">Description 
			        		<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
						        <b></b>	
						         <span> 
						           	 <p>This field is required to be filled-in if the Fee Type is Other.</p>
						           	 <ul><li>Text box for a String Value that allows a user to type in any characters to meet the need of the Fee Type.</li>
						           	 <li>Recommended to use as many enumerated values as possible when sending the record to the GSEs.</li></ul>
						          </span>
						 </span>


			        	</span>
			        	<span class="col-sm-12 padding0">
			        	  <input type="text" class="form-control padding0" ng-model="originationCharge.feeTypeOtherDescription">
			        	</span>
		        	</span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="originationCharge.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-show="$index > 2" ng-disabled="$index == 0" ng-click="deleteOC(originationCharge.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-click="clearOC(originationCharge.feeType,$index)"></span>

		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addOrganizationCharges()">
			<a>+ Add Additional Fees</a>
		</span>
		<span class="glyphicon glyphicon-question-sign helpIcon paddingTopLeft10 tooltip-msg" ng-mouseouver>
		        <b></b>	
		         <span> 
		           	 <p>To add more fees to the section the user may click on the link to add another row</p>
		          </span>
		 </span>

		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section B. Services Borrower Cannot Shop For
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each Section in the Closing Cost Details is highlighted at the top of the section.</p>
				           	 <ul><li>The first section is called “Services Applicant Did Not Shop For”</li></ul>
				          </span>
				 </span>
				</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsLoanCosts.sbDidNotShopTotalAmount | number:2}} 
					<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>This provides the user an ability to view the total amount of the section, this is automatically calculated once fees and amounts are input into the section.</p>
				          </span>
				 </span>

				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader FeeInfo">Fee Label
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>A free-form text field that provides a human-readable, display-ready representation for the corresponding enumerated value.</p>
			           	 <ul><li>Typically, the name a lender calls a specific fee, the user would type that fee in this location.</li></ul>
			           	 <p>Format is a String Value up to 150 characters.</p>
			          </span>
			 </span>
			</th>
		        <th class="innerSectionHeader FeePaid">Fee Type
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Specify the general type of fees associated with a real estate finance transaction.</p>
				           	 <ul><li>Required to support the GSE xml file, even though a Fee Label Name is provided, the user must choose an enumerated value to associate to the label name.</li>
				           	 <li>If other is chosen, then the user will be provided another text box (see below).</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader BPatClosing">Amount
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a record in either the Paid By Applicant At Closing or Before Closing columns</p>
			          </span>
				</span>
				</th>
		        <th class="innerSectionHeader incInApr">Included in APR?
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>For each record included must Indicate if the fee is included in the APR calculation.</p>
			           	 <ul><li>The annual percentage rate for the loan based on the accepted industry standard defined by Regulation Z (Section 12 	C.F.R. 1026.18(e)) used for Qualified Mortgages and general disclosure purposes; if questions regarding this regulation must see the CFPB website.</li></ul>
			           	 <p>Format is a Boolean value, using a drop-down box with a Yes or No value.</p>
			          </span>
			 </span>
			</th>
		        <th class="innerSectionHeader DeleteIcons">Delete
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>The Trash Can symbol at the end of the record will delete the entire row including all data.</p>
			          </span>
					 </span>
					 / Clear 
				 <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>The Clear symbol at the end of the record will remove all the data but leave the row in tact if a user wants to remove the information in the cells all at once time.</p>
			          </span>
			 </span>
			</th>
		      </tr>
		      <tr ng-repeat="sbDidNotShopFor in leformdata.closingCostDetailsLoanCosts.sbDidNotShopFors">
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="sbDidNotShopFor.displayLabel"> 
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="sbDidNotShopFor.feeType" ng-change="updateSectionBfeeTypes(sbDidNotShopFor.feeType, $index)">
	              			<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionBfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		    </select>
		        	</span>
		        	<span ng-show="sbDidNotShopFor.feeType=='Other'">
			        	<span class="col-sm-12 margin5tb padding0">Description
			        	<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
					        <b></b>	
					         <span> 
					           	 <p>This field is required to be filled-in if the Fee Type is Other.</p>
					           	 <ul><li>Text box for a String Value that allows a user to type in any characters to meet the need of the Fee Type.</li></ul>
					           	 <p>Recommended to use as many values as possible when sending the record to the GSEs.</p>
					          </span>
					 </span>
					</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control padding0" name="" ng-model="sbDidNotShopFor.feeTypeOtherDescription">
			        	</span>
			        </span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-click="deleteSDidNot(sbDidNotShopFor.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearSDidNot(sbDidNotShopFor.feeType,$index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidNotShopFor()">
			<a>+ Add Additional Fees</a>
		</span>
		<span class="glyphicon glyphicon-question-sign helpIcon paddingTopLeft10 tooltip-msg" ng-mouseouver>
		        <b></b>	
		         <span> 
		           	 <p>To add more fees to the section the user may click on the link to add another row.</p>
		          </span>
		 </span>

		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
		<!-- <span class="LeBackToTop" ng-click="backToTop()">
			<a>Back to Top</a>
		</span> -->
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section C. Services Borrower Can Shop For
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each Section in the Closing Cost Details is highlighted at the top of the section.
				           	 The first section is called “Services Applicant Did Shop For”.</p>
				          </span>
				 </span>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsLoanCosts.sbDidShopTotalAmount | number:2}}
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a row.</p>
				          </span>
				 </span>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader FeeInfo">Fee Label
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>A free-form text field that provides a human-readable, display-ready representation for the corresponding enumerated value.</p>
				           	 <ul><li>Typically, the name a lender calls a specific fee, the user would type that fee in this location.</li></ul>
				           	 <p>Format is a String Value up to 150 characters.</p>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader FeePaid">Fee Type
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Specify the general type of fees associated with a real estate finance transaction.</p>
				           	 <ul><li>Required to support the GSE xml file, even though a Fee Label Name is provided, the user must choose an enumerated value to associate to the label name.</li>
							<li>If other is chosen, then the user will be provided another text box (see below).
							</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader BPatClosing">Amount
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a record in either the Paid By Applicant At Closing or Before Closing columns</p>
			          </span>
				</span></th>
		        <th class="innerSectionHeader incInApr">Included in APR?
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>For each record included must Indicate if the fee is included in the APR calculation.</p>
			           	 <ul><li>The annual percentage rate for the loan based on the accepted industry standard defined by Regulation Z (Section 12 	C.F.R. 1026.18(e)) used for Qualified Mortgages and general disclosure purposes; if questions regarding this regulation must see the CFPB website.</li></ul>
			           	 <p>Format is a Boolean value, using a drop-down box with a Yes or No value.</p>
			          </span>
			 </span></th>
		        <th class="innerSectionHeader DeleteIcons">Delete
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>The Trash Can symbol at the end of the record will delete the entire row including all data.</p>
			          </span>
					 </span>
					 / Clear 
				 <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>The Clear symbol at the end of the record will remove all the data but leave the row in tact if a user wants to remove the information in the cells all at once time.</p>
			          </span>
			 </span>
			</th>
		      </tr>
		      <tr ng-repeat="sbDidShopFor in leformdata.closingCostDetailsLoanCosts.sbDidShopFors">
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="sbDidShopFor.displayLabel"> 
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="sbDidShopFor.feeType" ng-change="updateSectionCfeeTypes(sbDidShopFor.feeType, $index)">
              			<option value="" selected>Select</option>
             			<option ng-repeat="feeType in sectionCfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		</select> 
		        	</span>
		        	<span ng-show="sbDidShopFor.feeType=='Other'">
			        	<span class="col-sm-12 margin5tb padding0">Description
			        	<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
					        <b></b>	
					         <span> 
					           	 <p>This field is required to be filled-in if the Fee Type is Other.</p>
					           	 <ul><li>Text box for a String Value that allows a user to type in any characters to meet the need of the Fee Type.</li></ul>
					           	 <p>Recommended to use as many values as possible when sending the record to the GSEs.</p>
					          </span>
					 </span></span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control padding0" name="" ng-model="sbDidShopFor.feeTypeOtherDescription"> 
			        	</span>
		        	</span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        </div>
		        </td>
		       
		        <td>
		        	<select class="form-control padding0" ng-model="sbDidShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-click="deleteSDid(sbDidShopFor.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearSDid(sbDidShopFor.feeType,$index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidShopFor()">
			<a>+ Add Additional Fees</a>
		</span>
		<span class="glyphicon glyphicon-question-sign helpIcon paddingTopLeft10  tooltip-msg" ng-mouseouver>
		        <b></b>	
		         <span> 
		           	 <p>To add more fees to the section the user may click on the link to add another row.</p>
		          </span>
		 </span>

		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="1" style="width: 56%;">Section D. Total Loan Costs (A + B + C)
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Read Only on the User Interface that provides the Total Not able to edit this value</p>
				          </span>
				 </span>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1" style="width: 23%;">${{leformdata.closingCostDetailsLoanCosts.tlCostsTotalAmount | number:2}}
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>Read Only on the User Interface that provide the subtotal amount for each of the Applicant Paid columns.</p>
			           	 <ul><li>Not able to edit this value</li></ul>
			          </span>
			 </span>
			</th>
				<th colspan="3" style="border:none;"></th>
			  </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('loanterms')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('OtherCosts')">Next</a></span>
	</div>
</div>
 <script type="text/javascript">
  $(document).ready(function(){
	    $(".iconTooltip").tooltip();   
	    $(".helpIcon").tooltip();  
	});
  </script>
