<div class="col-sm-12">
	<h4>Loan Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2"> Section A. Origination Charge
				<help-verbiage name="LEClosingCostOriginationChargesSectionHeaderName" title="help_tooltip_text"></help-verbiage>

				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsLoanCosts.ocTotalAmount | round}}
				<help-verbiage name="LEClosingCostOriginationChargesSectionTotalAmount" title="help_tooltip_text"></help-verbiage>
				 </th>				
			  </tr>
		     <tr>
		        <th class="innerSectionHeader FeeInfo" style="width: 10%;">Fee Label
</th>
		        <th class="innerSectionHeader FeePaid">Fee Type
				</th>
		        <th class="innerSectionHeader BPatClosing">Amount
				</th>
		        <th class="innerSectionHeader incInApr">Included in APR?
				</th>
		        <th class="innerSectionHeader DeleteIcons">Delete/ Clear
				</th>
		      </tr>
		      <tr ng-repeat="originationCharge in leformdata.closingCostDetailsLoanCosts.originationCharges track by $index">		      	
		        <td ng-show="originationCharge.feeType == 'LoanDiscountPoints'">
		        	 <span class="input-group">
		        	 <input type="text" class="form-control" ng-model="originationCharge.feeTotalPercent" percentage-format ng-blur="loanDiscount($index)" ng-keyup="loanDiscount($index)">
		        	 <span class="input-group-addon input-default">% of Loan Amount (Points)
					</span>
					<help-verbiage name="LEClosingCostOriginationChargesLoanAmountPercent" title="help_tooltip_padding"></help-verbiage>
		        	</span>
		        </td>
		        <td ng-show="originationCharge.feeType != 'LoanDiscountPoints'">
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" name="" ng-model="originationCharge.displayLabel"/>
						<help-verbiage name="LEClosingCostOriginationChargesFeeLabelName" title="help_tooltip_padding"></help-verbiage>
		        	</span>
		        </td> 
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="originationCharge.feeType" ng-change="updateSectionAfeeTypes(originationCharge.feeType, $index)" ng-disabled="originationCharge.feeType == 'LoanDiscountPoints'">
	              			<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionAfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		    </select>
					<help-verbiage name="LEClosingCostOriginationChargesFeeType" title="help_tooltip_padding"></help-verbiage>						
		        	</span>
		        	<span ng-hide="originationCharge.feeType!='Other'" class="col-sm-12 padding0">
			        	<span class="col-sm-12 margin5tb padding0">Description 
			        		<help-verbiage name="LEClosingCostOriginationChargesFeeTypeOtherDescription" title="help_tooltip_padding"></help-verbiage>
							</span>
			        	<span class="col-sm-12 padding0">
			        	  <input type="text" class="form-control padding0" ng-model="originationCharge.feeTypeOtherDescription">
			        	</span>
		        	</span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="originationCharge.feeEstimatedTotalAmount" decimal-digits-with-number-format-round>
		        </div>
		        </td>
		        <td>
				<span class="col-sm-12 padding0">
		        	<select class="form-control padding0" ng-model="originationCharge.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
					</span>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-show="$index > 2" ng-disabled="$index == 0" ng-click="deleteOC(originationCharge.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-click="clearOC(originationCharge.feeType,$index)"></span>

		      	</td>
		      </tr>
		</table>
		
		<span class="AddSection" ng-click="addOrganizationCharges()">
			<a>+ Add Additional Fees</a>
			
		<help-verbiage name="LEClosingCostOriginationChargesAPR" title="help_tooltip_padding"></help-verbiage>
		</span>

		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section B. Services Borrower Cannot Shop For
					<help-verbiage name="LEBServicesApplicantDidNotShopForSectionHeaderNameHelp" title="help_tooltip_text"></help-verbiage>
				</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsLoanCosts.sbDidNotShopTotalAmount | round}} 
					<help-verbiage name="LEBServicesApplicantDidNotShopSectionTotalAmountApplicantPaidForHelp" title="help_tooltip_text"></help-verbiage>
					</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader FeeInfo">Fee Label</th>
		        <th class="innerSectionHeader FeePaid">Fee Type	</th>
		        <th class="innerSectionHeader BPatClosing">Amount</th>
		        <th class="innerSectionHeader incInApr">Included in APR	</th>
		        <th class="innerSectionHeader DeleteIcons">Delete/ Clear</th>
		      </tr>
		      <tr ng-repeat="sbDidNotShopFor in leformdata.closingCostDetailsLoanCosts.sbDidNotShopFors track by $index">
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="sbDidNotShopFor.displayLabel">
					<help-verbiage name="LEBServicesApplicantDidNotShopForFeeLabelNameHelp" title="help_tooltip_padding"></help-verbiage>						
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="sbDidNotShopFor.feeType" ng-change="updateSectionBfeeTypes(sbDidNotShopFor.feeType, $index)">
	              			<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionBfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		    </select>
					<help-verbiage name="LEBServicesApplicantDidNotShopForFeeTypeHelp" title="help_tooltip_padding"></help-verbiage>
		        	</span>
		        	<span ng-show="sbDidNotShopFor.feeType=='Other'">
			        	<span class="col-sm-12 margin5tb padding0">Description
					</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control padding0" name="" ng-model="sbDidNotShopFor.feeTypeOtherDescription">
							<help-verbiage name="LEBServicesApplicantDidNotShopForFeeTypeOtherDescriptionHelp" title="help_tooltip_padding"></help-verbiage>
			        	</span>
			        </span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidNotShopFor.feeEstimatedTotalAmount" decimal-digits-with-number-format-round>
		        </div>
		        </td>
		        <td><span class="col-sm-12 padding0">
		        	<select class="form-control padding0" ng-model="sbDidNotShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
					<help-verbiage name="LEBServicesApplicantDidNotShopForIncludeAPRCalculationHelp" title="help_tooltip_padding_left"></help-verbiage>
					</span>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-click="deleteSDidNot(sbDidNotShopFor.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearSDidNot(sbDidNotShopFor.feeType,$index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidNotShopFor()">
			<a>+ Add Additional Fees</a>

		<help-verbiage name="LEBServicesApplicantDidNotShopForAdditionalLinesaddedHelp" title="help_tooltip_padding"></help-verbiage>
		</span>

		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
		<!-- <span class="LeBackToTop" ng-click="backToTop()">
			<a>Back to Top</a>
		</span> -->
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section C. Services Borrower Can Shop For
				<help-verbiage name="LEServicesApplicantDidShopForSectionheaderNameHelp" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsLoanCosts.sbDidShopTotalAmount | round}}
				<help-verbiage name="LEServicesApplicantDidShopForSectionTotalAmountApplicantPaidHelp" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader FeeInfo">Fee Label
				</th>
		        <th class="innerSectionHeader FeePaid">Fee Type
				</th>
		        <th class="innerSectionHeader BPatClosing">Amount</th>
		        <th class="innerSectionHeader incInApr">Included in APR?
		        </th>
		        <th class="innerSectionHeader DeleteIcons">Delete / Clear
			</th>
		      </tr>
		      <tr ng-repeat="sbDidShopFor in leformdata.closingCostDetailsLoanCosts.sbDidShopFors track by $index">
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="sbDidShopFor.displayLabel"> 
						<help-verbiage name="LEServicesApplicantDidShopForFeelabelNameHelp" title="help_tooltip_padding"></help-verbiage>
		        	</span>
		        </td>
		        <td>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="sbDidShopFor.feeType" ng-change="updateSectionCfeeTypes(sbDidShopFor.feeType, $index)">
              			<option value="" selected>Select</option>
             			<option ng-repeat="feeType in sectionCfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		</select>
					<help-verbiage name="LEServicesApplicantDidShopForFeeTypeHelp" title="help_tooltip_padding"></help-verbiage>					
		        	</span>
		        	<span ng-show="sbDidShopFor.feeType=='Other'">
			        	<span class="col-sm-12 margin5tb padding0">Description
					</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control padding0" name="" ng-model="sbDidShopFor.feeTypeOtherDescription">
						<help-verbiage name="LEServicesApplicantDidShopForOtherDescriptionHelp" title="help_tooltip_padding"></help-verbiage>
			        	</span>
		        	</span>
		        </td>
		        <td>
		        <div class="input-group">
					<span class="input-group-addon input-default">$</span>
		        	<input type="text" class="form-control"  name="" ng-model="sbDidShopFor.feeEstimatedTotalAmount" decimal-digits-with-number-format-round>
		        </div>
		        </td>
		       
		        <td>
				<span class="col-sm-12 padding0">
		        	<select class="form-control padding0" ng-model="sbDidShopFor.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
					<help-verbiage name="LEServicesApplicantDidShopForAPRHelp" title="help_tooltip_padding_left"></help-verbiage>
					</span>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Delete" ng-click="deleteSDid(sbDidShopFor.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearSDid(sbDidShopFor.feeType,$index)"></span>
		      	</td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addsbDidShopFor()">
			<a>+ Add Additional Fees</a>
		<help-verbiage name="LEServicesApplicantDidShopForAdditionalLinesaddedHelp" title="help_tooltip_padding" ></help-verbiage>
		</span>						
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="1" style="width: 56%;">Section D. Total Loan Costs (A + B + C)
				<help-verbiage name="LETotalLoanCostTotalAmountHelp" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1" style="width: 23%;">${{leformdata.closingCostDetailsLoanCosts.tlCostsTotalAmount | round}}
				<help-verbiage name="LETotalLoanCostABCAmountHelp" title="help_tooltip_text"></help-verbiage>
			</th>
				<th colspan="3" style="border:none;"></th>
			  </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('loanterms')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('OtherCosts')">Next</a></span>
	</div>
</div>
 <script type="text/javascript">
  $(document).ready(function(){
	    $(".iconTooltip").tooltip();   
	    $(".helpIcon").tooltip();  
	});
  </script>
