 <div class="col-sm-12">
	<h4>Loan Terms</h4>
	<span class="col-sm-12 LoanTermsTable">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="col-sm-4 innerSectionHeader" colspan="2">Loan Terms</th>
		        <th  class="col-sm-8 innerSectionHeader" colspan="2">
		        	<span>Does this change after closing?</span>
		        </th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><label>Loan Amount<span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<actualize-input ng-model="leformdata.termsOfLoan.noteAmount" id="lenoteAmount" ng-blur="checkPrincipalInterest()" name="lenoteAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  min-val="1" dependencies="decimal-digits-with-number-format require-field min-max-value">
                		</actualize-input>
		        		<help-verbiage name="LE_LoanAmount_Help" title="help_tooltip_lg"></help-verbiage>
		        	</div>
		        </td>
		        <td class="col-sm-1">
		        	<select class="form-control pull-left" ng-model="leformdata.loanDetail.negativeAmortizationIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.negativeAmortizationIndicator">
		        		<li><span class="pull-left margin5tb col-sm-4" style="margin-left:-15px;"> Can go as high as </span> 
							<span class="col-sm-4" style="margin-left:-35px;">
								<div class="input-group">
									<span class="input-group-addon input-default">$</span>
									<input type="text" class="form-control" name="" ng-model="leformdata.negativeAmortization.negativeAmortizationMaximumLoanBalanceAmount" decimal-digits-with-number-format ng-disabled="true">
								</div>
							</span>
						</li>
							
						<li> <span class="pull-left margin5tb col-sm-4" style="margin-left:-15px;"> Can increase until year </span> 
						<span class="col-sm-4" style="margin-left:-35px; "><input type="text" class="form-control" name="" value="{{(leformdata.negativeAmortization.negativeAmortizationLimitMonthsCount ? leformdata.negativeAmortization.negativeAmortizationLimitMonthsCount/12 : '') | ceil | ceil}}" ng-disabled="true"></span></li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Interest Rate <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
						<input class="form-control" ng-model="leformdata.termsOfLoan.noteRatePercent" name="noteRatePercent" ng-disabled="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" ng-show="leformdata.loanInformation.amortizationType!='GraduatedPaymentARM' && leformdata.loanInformation.amortizationType!='AdjustableRate' && !leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" percentage-format>
	        			<span ng-show="leformdata.loanInformation.amortizationType=='GraduatedPaymentARM' || leformdata.loanInformation.amortizationType=='AdjustableRate'">
	        				<input class="form-control" ng-model="leformdata.termsOfLoan.disclosedFullyIndexedRatePercent" name="noteRatePercent" ng-disabled="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" ng-show=" !leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" percentage-format>
	    				</span>
	    				<input class="form-control" ng-model="leformdata.loanTerms.temporaryBuydown.buydownInitialEffectiveInterestRatePercent" name="noteRatePercent" ng-disabled="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" ng-show="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator" percentage-format>
						<help-verbiage name="LE_InterestRate_Help" title="help_tooltip_lg"></help-verbiage>
						<span class="input-group-addon input-default">%</span>
		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="leformdata.loanDetail.interestRateIncreaseIndicator" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        </td>
		        <td>
		        	<ul class="loanTermsList">
		        		<li ng-show="leformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left padding0 margin5t">Adjusts every</span> 
		        			<span class="col-sm-2" >
		        				<input type="text" value="{{(leformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount ? leformdata.interestRateAdjustment.firstPerChangeRateAdjustmentFrequencyMonthsCount/12 : '') | round}}" class="form-control" name="" ng-disabled="true">
		        			</span> 
		        			<span class="pull-left margin5tb" >years starting in year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" value="{{(leformdata.interestRateAdjustment.firstRateChangeMonthsCount ? (leformdata.interestRateAdjustment.firstRateChangeMonthsCount/12)+1 : '') | ceil}}" name="" ng-disabled="true">
		        			</span>
		        		</li>
		        		<li ng-show="leformdata.loanDetail.interestRateIncreaseIndicator">
		        			<span class="pull-left margin5tb col-sm-3 padding0">Can go as high as</span> 
		        			<span class="col-sm-3" style="margin-left:-35px;width:125px;">
							<div class="input-group">								
		        				<input type="text" ng-model="leformdata.interestRateAdjustment.ceilingRatePercent" class="form-control width58" name="" ng-disabled="true">
								<span class="input-group-addon input-default">%</span>
							</div>
		        			</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        				<input type="text" ng-model="leformdata.interestRateAdjustment.ceilingRatePercentEarliestEffectiveYearCount" only-digits class="form-control" name="" maxlength="3" ng-keyup="interestRateYearToMonthsAdjustment()" ng-blur="interestRateYearToMonthsAdjustment()">
		        			</span>
		        		</li>
		        		
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Temporary buydown
				     <span class="required">*
				     </span>
		       </label></td>
		        <td>
		        </td>
		        <td><span class="col-sm-12 padding0"><select class="form-control pull-left" ng-model="leformdata.loanDetail.buydownTemporarySubsidyFundingIndicator"  ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-change="temporaryChange()">
		        </select>
		        <help-verbiage name="LE_TemporaryBuydown_help" title="help_tooltip_lg"></help-verbiage>
		        </span>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.buydownTemporarySubsidyFundingIndicator == true">
		        		
		        		<li><span class="pull-left margin5tb">Is the buydown reflected on the Note</span> 
		        			<span class="col-sm-2">
		        			<select class="form-control pull-left" ng-model="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator"ng-change="temporaryBuydownChange()" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        			<option value="" selected="selected">Select</option>
			        	    </select>
			        	    </span> 
		        		</li>
		        		<li ng-show="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true">						    
							<span class="pull-left margin5tb">What is the Rate as reflected without the Buydown?</span> 
		        			<span class="col-sm-3">
								<div class="input-group">
									<actualize-input ng-model="leformdata.termsOfLoan.noteRatePercent" name="ceilingRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                				</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
		        		</li>
		        		<li ng-show="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the rate the borrower will pay after the buydown is applied</span> 
		        			<span class="col-sm-3 pull-right">
								<div class="input-group">
									<actualize-input ng-model="leformdata.loanTerms.temporaryBuydown.buydownInitialEffectiveInterestRatePercent" name="buydownInitialEffectiveInterestRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                					</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
						</li>
		        		<li ng-show="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the Time interval in months between the interest rate increases during the buydown period</span> 
		        			<span class="col-sm-3 pull-right"><input type="text" class="form-control" name="" ng-model="leformdata.loanTerms.temporaryBuydown.buydownChangeFrequencyMonthsCount" only-digits maxlength="3"></span> </li>
		        		<li ng-show="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the total number of months which the buydown is in affect</span> 
		        			<span class="col-sm-3 pull-right"><input type="text" class="form-control" name="" ng-model="leformdata.loanTerms.temporaryBuydown.buydownDurationMonthsCount" only-digits maxlength="3"></span> </li>
		        		<li ng-show="leformdata.loanTerms.temporaryBuydown.gseBuydownReflectedInNoteIndicator==true"><span class="pull-left margin5tb col-sm-9 padding0">Provide the amount by which the interest rate can increase at each adjustment within the buydown period</span> 
		        			<span class="col-sm-3 pull-right">
								<div class="input-group">
									
									<actualize-input ng-model="leformdata.loanTerms.temporaryBuydown.buydownIncreaseRatePercent" name="buydownIncreaseRatePercent" toolTipPos = "top" custommessage="Please enter a valid percent"  dependencies="percentage-format">
                					</actualize-input>
									<span class="input-group-addon input-default">%</span>
								</div>
							</span>
						</li>
		        	</ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Principal & Interest Payment Amount <span class="required">*</span></label></td>
		        <td>
		        	<div class="input-group">
  						<span class="input-group-addon input-default">$</span>
		        		<actualize-input ng-model="leformdata.payment.paymentRule.initialPrincipalAndInterestPaymentAmount" id="leinitialPrincipalAndInterestPaymentAmount" name="initialPrincipalAndInterestPaymentAmount" toolTipPos = "top" max-val="leformdata.termsOfLoan.noteAmount" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format min-and-max-check require-field">
                		</actualize-input>
		        		<help-verbiage name="LE_PrincipalInterestPaymentAmount_help" title="help_tooltip_lg"></help-verbiage>

		        	</div>
		        </td>
		        <td><select class="form-control pull-left" ng-model="leformdata.loanDetail.paymentIncreaseIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>        	
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.paymentIncreaseIndicator == true">
		        		<li ng-show="leformdata.loanInformation.amortizationType!='Fixed'"> 
		        		<span class="pull-left margin5tb">Adjusts every</span> 
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{leformdata.loanInformation.amortizationType!='Fixed' ? (leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount ? leformdata.principalAndInterestPaymentAdjustment.firstPerChangePrincipalAndInterestPaymentAdjustmentFrequencyMonthsCount/12 : '') : '' | round }}" maxlength="3" ng-disabled="true">
		        			</span> 
		        			<span class="pull-left margin5tb">years starting in year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{(leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount ? leformdata.principalAndInterestPaymentAdjustment.firstPrincipalAndInterestPaymentChangeMonthsCount/12 : '') | ceil}}" maxlength="3" ng-disabled="true">
		        			</span>
		        		</li>
		        		<li ng-show="leformdata.loanInformation.amortizationType!='Fixed'">
		        		<span class="pull-left margin5tb"> Can go as high as</span> 
		        			<span class="col-sm-2" style="width:120px;">
		        			<div class="input-group">
								<span class="input-group-addon input-default">$</span>
								<input type="text" class="form-control width58" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmount" decimal-digits-with-number-format>
							</div>
							</span> 
		        			<span class="pull-left margin5tb">in year</span> 
		        			<span class="col-sm-2">
		        			<input type="text" class="form-control" name="" ng-model="leformdata.principalAndInterestPaymentAdjustment.principalAndInterestPaymentMaximumAmountEarliestEffectiveYearCount" only-digits maxlength="2" ng-keyup="principleInterestRateYearToMonthsAdjustment()" ng-blur="principleInterestRateYearToMonthsAdjustment()">
		        			</span>
		        		</li>
	        			<li ng-show="leformdata.loanInformation.amortizationType=='Fixed' && leformdata.loanDetail.interestOnlyIndicator"> 
		        		    <span class="pull-left margin5tb">Includes <b>only interest</b> and <b>no principal</b> until year</span> 
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{leformdata.interestOnlyValue}}" maxlength="3" ng-disabled="true">
		        			</span> 
	        		    </li>
		        	</ul>
		        </td>
		      </tr>	
		      <tr style="">
		        <td><label>Payment Frequency Type
 			 <span class="required">*</span></label></td>
		        <td>
		        <div class="input-group">
		        	<select class="form-control pull-left col-sm-7" ng-model="leformdata.payment.paymentRule.paymentFrequencyType" style="width:100px;">
			        	<option value="" selected>Select</option>
			        	<option ng-repeat="pFTyp in paymentFrequencyTypes" value="{{pFTyp.value}}">{{pFTyp.name}}</option>
		        	</select>
		        	<help-verbiage name="LE_PaymentFrequency_help" title="help_tooltip_padding"></help-verbiage>
		        </div>
		        </td>
		        <td>        	
		        </td>
		        <td>
		        </td>
		      </tr>		      
		      <tr> 
		        <td><label>Prepayment Penalty
 				<span class="required">*</span></label></td>
			        <td><label></label></td>
			        <td  style="padding-right: 0px;">
		        	<div class="input-group">
		        	<select class="form-control pull-left" ng-model="leformdata.loanDetail.prepaymentPenaltyIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        	<help-verbiage name="LE_PrepaymentPenalty_help" title="topTooltip"></help-verbiage>
		        	</div>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.prepaymentPenaltyIndicator == true">
		        		<li> <span class="pull-left margin5tb">As high as</span> 
		        			<span class="col-sm-3">
		        				<div class="input-group">
		        					<span class="input-group-addon input-default">$</span>
		        					<input type="text" class="form-control" name="" ng-model="leformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyMaximumLifeOfLoanAmount" decimal-digits-with-number-format>
		        				</div>
		        				</span>
		        					<span class="pull-left margin5tb">if you pay off the loan  in the first</span>
		        					<span class="col-sm-2"><input type="text" class="form-control" name="" ng-model="leformdata.loanTerms.prepaymentPenalty.prepaymentPenaltyExpirationInYears" only-digits maxlength="3"></span>
		        				<span class="pull-left margin5tb">years</span>
		        		</li>
			         </ul>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Balloon Payment
 				<span class="required">*</span></label></td>
		        <td><label></label></td>
		        <td>
		        	<div class="input-group">
		        	<select class="form-control pull-left"  ng-model="leformdata.loanDetail.balloonIndicator" style="width:100px;" ng-options="option.id as option.name for option in dropDownBooleanOptions" ng-disabled="true">
		        	</select>
		        	<help-verbiage name="LE_BallonPayment_help" title="topTooltip"></help-verbiage>
		        	</div>
		        </td>
		        <td>
		        	<ul class="loanTermsList" ng-show="leformdata.loanDetail.balloonIndicator == true">
		        		<li> <span class="pull-left margin5tb">You will have to pay</span> 
		        			<span class="col-sm-3">
			        			<div class="input-group">
			        					<span class="input-group-addon input-default">$</span>
			        					<input type="text" class="form-control" name="" ng-model="leformdata.loanDetail.balloonPaymentAmount" decimal-digits-with-number-format>
			        			</div>
		        			</span>
		        			<span class="pull-left margin5tb">at the end of year</span>
		        			<span class="col-sm-2">
		        				<input type="text" class="form-control" name="" value="{{(leformdata.maturityRule.loanMaturityPeriodCount ? leformdata.maturityRule.loanMaturityPeriodCount/12 : '') | round}}" maxlength="3" ng-disabled="true">
		        			</span>
		        		</li>
		        	</ul>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</span>
<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('loanInfo')">Back</a></span>
			<span class="col-sm-10" style="text-align:center;"><a class="btn btn-success" ng-click="calculatePayments()">Calculate</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanCosts')">Next</a></span>
	</div>
</div>