<div class="col-sm-12">
	<h4> Other Costs</h4> 
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="1">Section E. Taxes and Other Government Fees 
				<help-verbiage name="LE_SectionESectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.tOGovtFeesTotalAmount | number:2}}
				<help-verbiage name="LE_SectionESectionTotalAmountApplicantPaid_help" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-7">Fee Label</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		        <th class="innerSectionHeader col-sm-1">Include in APR?
		        <help-verbiage name="LE_SectionEAPRCalculation_help" title="help_tooltip_text"></help-verbiage>
			</th>
		        <th class="innerSectionHeader col-sm-1">Delete
		        <help-verbiage name="LE_SectionETrashSymbol_help" title="help_tooltip_text"></help-verbiage> / Clear
		        <help-verbiage name="LE_SectionEClearSymbol_help" title="help_tooltip_text"></help-verbiage></th>
		      </tr>
		      <tr ng-repeat="tOGovtFee in leformdata.closingCostDetailsOtherCosts.tOGovtFeesList" ng-if="tOGovtFee.feeType == 'RecordingFeeTotal'">		      	
		        <td>
		        	<span class="col-sm-12 margin5tb padding0">Recording Fees and Other Taxes<help-verbiage name="LE_SectionERecordingFeeOtherTaxes_help" title="help_tooltip_text"></help-verbiage>
				</span>
		        </td> 
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feeEstimatedTotalAmount" decimal-digits-with-number-format>
			        </div>
		        </td>
		        <td>
		        <select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        </select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearRecordings()"></span>
		      	</td>
		      </tr>
		      <tr ng-repeat="tOGovtFee in leformdata.closingCostDetailsOtherCosts.tOGovtFeesList" ng-show="tOGovtFee.feeType!='RecordingFeeTotal' && tOGovtFee.feeType!='RecordingFee'">		         
		        <td>
		            <span class="col-sm-12 margin5tb padding0" ng-show="tOGovtFee.feeType =='TransferTaxTotal'">Transfer Taxes
		            <help-verbiage name="LE_SectionETransferTaxes_help" title="help_tooltip_text"></help-verbiage>
				</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-click="clearOGF($index)"></span>
		      	</td>
		      </tr>
		</table>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb InsuranceSection"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section F. Prepaids	
				<help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.prepaidsTotalAmount | number:2}}
				<help-verbiage name="LE_SectionFSectionTotalAmountPaid_help" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader  col-sm-3">Prepaid Item Label
		        <help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-2">Prepaid Type
		        <help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader  col-sm-2">No.of Months(Except for prepaid interest)</th>
		        <th class="innerSectionHeader  col-sm-2">Amount</th>
		        <th class="innerSectionHeader col-sm-1" >Include in APR?
		        <help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-1">Delete <help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
			  / Clear 
			  <help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='HomeownersInsurancePremium'">
		        <td>
		        	<span class="LabelValue col-sm-12 padding0">Homeowners Insurance Premium</span>
		        </td>
		        <td> <span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" only-digits maxlength="3" ng-blur="prepaidPerMonth(prepaidsList.prepaidItemType,$index)">
		        	</div>	
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='MortgageInsurancePremium'">
		        <td>
		        	<span class="LabelValue col-sm-12 padding0">Mortgage Insurance Premium</span>
		        </td>
		        <td><span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" maxlength="3" only-digits ng-blur="prepaidPerMonth(prepaidsList.prepaidItemType,$index)">
		        	</div>	
		        </td>
		         <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		      
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>

		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		     <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='PrepaidInterest'">
		        <td>
		        	<span class="LabelValue col-sm-12">Prepaid Interests</span>
		        </td>
		        <td> <span class="text-center paddingleft75">---</span></td>
		        <td>
		           <div class="col-sm-12 padding0">
                    <div class="col-sm-5 padding0">Per Diem Amount</div>
                    <div class="col-sm-1 padding0 input-group">
                    <span class="input-group-addon input-default">$</span>
                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.prepaidItemPerDiemAmount" ng-blur="perDiemCalc()" ng-keyup="perDiemCalc()">
                    </div>
                    </div>
                    <div class="row col-sm-12 paddingtop5">
                    <div class="col-sm-8 padding0 paddingtop5">Number of Days</div>
                    <div class="col-sm-4 padding0">

                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.prepaidItemNumberOfDaysCount" only-digits maxlength="3" ng-blur="perDiemCalc()" ng-keyup="perDiemCalc()">
                    </div>
                    </div>
                    <!-- <div class="col-sm-12 padding0 margin5t">
                    <div class="col-sm-5 padding0">Interest rate</div>
                    <div class="col-sm-1 padding0 input-group">
                    
                    <input type="text" class="form-control width50" name="" ng-model="leformdata.termsOfLoan.noteRatePercent" ng-disabled="true">
                    <span class="input-group-addon input-default">%</span>
                    </div>
                    </div> -->
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>

		        	<select class="form-control padding0" 
		        	    ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		            </select> 
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='CountyPropertyTax'">
		        <td>
		        	<span class="LabelValue col-sm-12">Property Taxes</span>
		        </td>
		        <td><span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" only-digits maxlength="3" ng-blur="prepaidPerMonth(prepaidsList.prepaidItemType,$index)">
		        	</div>	
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
              <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType!='HomeownersInsurancePremium' && prepaidsList.prepaidItemType!='MortgageInsurancePremium' && prepaidsList.prepaidItemType!='PrepaidInterest' && prepaidsList.prepaidItemType!='CountyPropertyTax'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
		        </td>
		        <td>
		            <select class="LabelValue form-control" ng-model="prepaidsList.prepaidItemType" ng-change="updateSectionFprepaidTypes(prepaidsList.prepaidItemType, $index)">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidType in prepaidItems" ng-disabled="prepaidType.disabled" value="{{prepaidType.value}}">{{prepaidType.name}}</option>
		        	</select>
		        	<span ng-show="prepaidsList.prepaidItemType =='Other'">
	              		<span class="margin10t padding5t col-sm-5 padding0">Description
	              		<help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
					</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
			        </span>
		        </td>
		        <td>
		        	<div class="input-group">
						
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" only-digits maxlength="3">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		           <span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deletePrepaidInfo(prepaidsList.prepaidItemType,$index)"></span>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidList(prepaidsList.prepaidItemType,$index)"></span>
		        </td>
		      </tr>
		</table>

		<span class="AddSection" ng-click="addprepaidsList()">
			<a>+ Add Additional Prepaid Items</a>
		</span>
		<help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="4" id="sectionG_Ecsrow">Section G. Initial Escrow Payment At Closing
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each Section in the Closing Cost Details is highlighted at the top of the section.</p>
				           	 <ul><li>The first section is called “Initial Escrow Payment At Closing”</li></ul>
				          </span>
				 </span>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.escrowItemsTotalAmount | number:2}}
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a record</p>
				          </span>
				 </span>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-3">Escrow Item Label
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>A label to ensure clear and concise messaging of the escrow item</p>
				           	 <ul><li>Predefined to support Homeowners Insurance, Mortgage Insurance and Property Taxes</li>
				           	 <li>These predefined are not editable</li></ul>
				           	 <p>Rows below the predefined are editable fields for the user to add additional items</p>
				           	 <ul><li>Format is a string value</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-2">Escrow Type
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>A list of enumerated values in which a user must choose to support the UCD xml file, the predefined lines will not get an escrow type as these are already set in the system
				           	 </p>
				           	 <ul><li>Format is a list of enumerated values</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-1">Amount Per Month
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each item must provide a value to indicate the monthly amount of the escrow item </p>
				           	 <ul><li>Format is an amount value 9.2</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-1">Number of Months
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each item must provide a value for the number of months that will support the cushion of the escrow.</p>
				           	 <ul><li>Format is numeric 3</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		        <th class="innerSectionHeader col-sm-1">Include in APR?
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>For each record included must Indicate if the fee is included in the APR calculation.</p>
				           	 <ul><li>The annual percentage rate for the loan based on the accepted industry standard defined by Regulation Z (Section 12 	C.F.R. 1026.18(e)) used for Qualified Mortgages and general disclosure purposes; if questions regarding this regulation must see the CFPB website.</li>
				           	 <li>Format is a Boolean value, using a drop-down box with a Yes or No value.</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-1">Delete 
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>The Trash Can symbol at the end of the record will delete the entire row including all data.</p>
				          </span>
				 </span>
				/ Clear <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>The Clear symbol at the end of the record will remove all the data but leave the row in tact if a user wants to remove the information in the cells all at once time.</p>
				          </span>
				 </span>
				</th>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType:'HomeownersInsurance'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Homeowners Insurance</span>
		        </td>
		        <td>
		            <span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" ng-blur="amountPerMonth('0')" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td >
		        	<div class="input-group">
						
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" ng-blur="amountPerMonth('0')" only-digits maxlength="3">
		        	</div>	
		        </td>
		        
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('0')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType:'MortgageInsurance'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Mortgage Insurance</span>
		        </td>
		       <td>
		            <span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format ng-blur="amountPerMonth('1')">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<input type="text" class="form-control padding0" name="" only-digits name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3" ng-blur="amountPerMonth('1')">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('1')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType: 'CountyPropertyTax'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Property Taxes</span>
		        </td>
		       <td><span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format ng-blur="amountPerMonth('2')">
		        	</div>
		        </td>
		        <td>
		        <div class="input-group">
					
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3" ng-blur="amountPerMonth('2')">
		        </div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('2')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList track by $index" ng-if="escrowItemsList.escrowItemType != 'HomeownersInsurance' && escrowItemsList.escrowItemType != 'MortgageInsurance' && escrowItemsList.escrowItemType != 'CountyPropertyTax'">
		        <td>
		            
		        	<span class="LabelValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.displayLabel">
		        	</span>
		        </td>
		         <td>
		            <!-- <span class="LabelText col-sm-10">Type</span> -->
		        	<select class="form-control padding0" ng-model="escrowItemsList.escrowItemType" ng-change="updateSectionGescrowTypes(escrowItemsList.escrowItemType,$index)">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes" ng-disabled="escrowItemType.disabled" value="{{escrowItemType.value}}">{{escrowItemType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format ng-blur="amountPerMonth($index)">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3" only-digits ng-blur="amountPerMonth($index)">
		        	</div>
		        </td>
		        
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteEscrowsList(escrowItemsList.escrowItemType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrowsList(escrowItemsList.escrowItemType,$index)"></span>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addescrowItemsList()">
			<a>+ Add Additional Escrow Items</a>
		</span>
		<span class="glyphicon glyphicon-question-sign helpIcon paddingTopLeft10 tooltip-msg" ng-mouseouver>
		        <b></b>	
		         <span> 
		           	 <p>To add more fees to the section the user may click on the link to add another row</p>
		          </span>
		 </span>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section H. Other	
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Each Section in the Closing Cost Details is highlighted at the top of the section.</p>
				           	 <ul><li>The first section is called “Other Costs”</li></ul>
				          </span>
				 </span>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.otherTotalAmount | number:2}}
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>This provides the user an ability to view the total amount of the section, this is automatically updated once you have entered in the values for a record </p>
				          </span>
				 </span>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-4">Fee Label
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>A free-form text field that provides a human-readable, display-ready representation for the corresponding enumerated value.</p>
				           	 <ul><li>Typically, the name a lender calls a specific fee, the user would type that fee in this location.</li>
				           	 <li>Format is a String Value up to 150 characters</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-3">Fee Type
		        <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>Specify the general type of fees associated with a real estate finance transaction.</p>
				           	 <ul><li>Required to support the GSE xml file, even though a Fee Label Name is provided, the user must choose an enumerated value to associate to the label name.</li>
				           	 <li>If other is chosen, then the user will be provided another text box (see below)</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
                <th class="innerSectionHeader col-sm-1">Include in APR?
                <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>For each record included must Indicate if the fee is included in the APR calculation.</p>
				           	 <ul><li>The annual percentage rate for the loan based on the accepted industry standard defined by Regulation Z (Section 12 	C.F.R. 1026.18(e)) used for Qualified Mortgages and general disclosure purposes; if questions regarding this regulation must see the CFPB website.</li>
				           	 <li>Format is a Boolean value, using a drop-down box with a Yes or No value.</li></ul>
				          </span>
				 </span>
				</th>
		        <th class="innerSectionHeader col-sm-1">Delete <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>The Trash Can symbol at the end of the record will delete the entire row including all data.</p>
				          </span>
				 </span>
				/ Clear <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>The Clear symbol at the end of the record will remove all the data but leave the row in tact if a user wants to remove the information in the cells all at once time.</p>
				          </span>
				 </span>
				</th>
		      </tr>
		      <tr ng-repeat="otherCostsList in leformdata.closingCostDetailsOtherCosts.otherCostsList">
		        <td>
		        	<span class="ValueValue col-sm-10">
			        	
			        	<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.displayLabel">
		        	</span>
		        </td>
		        <td>
		        	<span class="LabelValue col-sm-10" >
			        	<select class="form-control padding0" ng-model="otherCostsList.feeType" ng-change="updateSectionHfeeTypes(otherCostsList.feeType, $index)">
			        		<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionHfeeTypes" ng-disabled="feeType.disabled" value="{{feeType.value}}">{{feeType.name}}</option>
			        	</select>
		        	</span>
		        	<span ng-show="otherCostsList.feeType=='Other'">
	              		<span class="ValueText col-sm-10">Description
	              		<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
					        <b></b>	
					         <span> 
					           	 <p>This field is required to be filled-in if the Fee Type is Other</p>
					           	 <ul><li>Text box for a String Value that allows a user to type in any characters to meet the need of the Fee Type</li>
					           	 <li>Recommended to use as many enumerated values as possible when sending the record to the GSEs</li></ul>
					          </span>
					 </span>
					</span>
			        	<input type="text" class="form-control padding0" name="" name="otherCostsList.feeTypeOtherDescription">
		        	</span>
		        </td>
		        <td>
		       		<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		            <span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteOthers(otherCostsList.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearOthers(otherCostsList.feeType,$index)"></span>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addotherCostsList()">
			<a>+ Add Additional Fee</a>
		</span>
		<span class="glyphicon glyphicon-question-sign helpIcon paddingTopLeft10 tooltip-msg" ng-mouseouver>
		        <b></b>	
		         <span> 
		           	 <p>To add more fees to the section the user may click on the link to add another row</p>
		          </span>
		 </span>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>
	<span  class="col-sm-10 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" style="width:77%;">Section I. Total Other Costs (E + F + G + H) 
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
				        <b></b>	
				         <span> 
				           	 <p>This is combine of sections like E,F,G and H</p>
				          </span>
				 </span>
				</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center" >${{leformdata.closingCostDetailsOtherCosts.totalOtherCostsTotalAmount | number:2 }}
				<span class="pull-right glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
			        <b></b>	
			         <span> 
			           	 <p>This provides the user an ability to view the total amount of  Sections E+F+G+H Closing Costs</p>
			           	 <ul><li>Un-editable field.</li>
			           	 <li>Is a calculation within the system that sums for Sections(E+F+G+H) total amount</li></ul>
			          </span>
				 </span>
				</th>
			  </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('LoanCosts')">Back</a></span>
			<!-- <span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('EscrowAccount')">Next</a></span>  -->
			<span class="pull-right">
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==true" ng-click="changeTab('projectedPayments')">Next</a>
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator!=true" ng-click="changeTab('projectedPayments')">Next</a>
			</span>
	</div>
</div>