<div class="col-sm-12">
	<h4> Other Costs</h4> 
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="1">Section E. Taxes and Other Government Fees 
				<help-verbiage name="LE_SectionESectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.tOGovtFeesTotalAmount | number:2}}
				<help-verbiage name="LE_SectionESectionTotalAmountApplicantPaid_help" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-7">Fee Label</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		        <th class="innerSectionHeader col-sm-1">Include in APR?
		        <help-verbiage name="LE_SectionEAPRCalculation_help" title="help_tooltip_text"></help-verbiage>
			</th>
		        <th class="innerSectionHeader col-sm-1">Delete
		        <help-verbiage name="LE_SectionETrashSymbol_help" title="help_tooltip_text"></help-verbiage> / <br> Clear
		        <help-verbiage name="LE_SectionEClearSymbol_help" title="help_tooltip_text"></help-verbiage></th>
		      </tr>
		      <tr ng-repeat="tOGovtFee in leformdata.closingCostDetailsOtherCosts.tOGovtFeesList track by $index" ng-if="tOGovtFee.feeType == 'RecordingFeeTotal'">		      	
		        <td>
		        	<span class="col-sm-12 margin5tb padding0">Recording Fees and Other Taxes<help-verbiage name="LE_SectionERecordingFeeOtherTaxes_help" title="help_tooltip_text"></help-verbiage>
				</span>
		        </td> 
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feeEstimatedTotalAmount" decimal-digits-with-number-format>
			        </div>
		        </td>
		        <td>
		        <select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        </select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearRecordings()"></span>
		      	</td>
		      </tr>
		      <tr ng-repeat="tOGovtFee in leformdata.closingCostDetailsOtherCosts.tOGovtFeesList  track by $index" ng-show="tOGovtFee.feeType!='RecordingFeeTotal' && tOGovtFee.feeType!='RecordingFee'">		         
		        <td>
		            <span class="col-sm-12 margin5tb padding0" ng-show="tOGovtFee.feeType =='TransferTaxTotal'">Transfer Taxes
		            <help-verbiage name="LE_SectionETransferTaxes_help" title="help_tooltip_text"></help-verbiage>
				</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-click="clearOGF($index)"></span>
		      	</td>
		      </tr>
		</table>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb InsuranceSection"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="3">Section F. Prepaids	
				<help-verbiage name="LE_SectionFSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.prepaidsTotalAmount | number:2}}
				<help-verbiage name="LE_SectionFSectionTotalAmountPaid_help" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader  col-sm-3">Prepaid Item Label
		        <help-verbiage name="LE_SectionFPrepaidLabelName_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-2">Prepaid Type
		        <help-verbiage name="LE_SectionFPrepaidType_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader  col-sm-2">No.of Months(Except for prepaid interest)</th>
		        <th class="innerSectionHeader  col-sm-2">Amount</th>
		        <th class="innerSectionHeader col-sm-1" >Include in APR?
		        <help-verbiage name="LE_SectionFIncludeAPRCalculation_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-1">Delete <help-verbiage name="LE_SectionFTrashSymbol_help" title="help_tooltip_text"></help-verbiage>
			  / <br> Clear 
			  <help-verbiage name="LE_SectionFClearSymbol_help" title="help_tooltip_text"></help-verbiage>
				</th>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList track by $index" ng-if="prepaidsList.prepaidItemType =='HomeownersInsurancePremium'">
		        <td>
		        	<span class="LabelValue col-sm-12 padding0">Homeowners Insurance Premium</span>
		        </td>
		        <td> <span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" only-digits maxlength="3" ng-blur="prepaidPerMonth(prepaidsList.prepaidItemType,$index)">
		        	</div>	
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList track by $index" ng-if="prepaidsList.prepaidItemType =='MortgageInsurancePremium'">
		        <td>
		        	<span class="LabelValue col-sm-12 padding0">Mortgage Insurance Premium</span>
		        </td>
		        <td><span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" maxlength="3" only-digits ng-blur="prepaidPerMonth(prepaidsList.prepaidItemType,$index)">
		        	</div>	
		        </td>
		         <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		      
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>

		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		     <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList track by $index" ng-if="prepaidsList.prepaidItemType =='PrepaidInterest'">
		        <td>
		        	<span class="LabelValue col-sm-12">Prepaid Interests</span>
		        </td>
		        <td> <span class="text-center paddingleft75">---</span></td>
		        <td>
		           <div class="col-sm-12 padding0">
                    <div class="col-sm-5 padding0">Per Diem Amount</div>
                    <div class="col-sm-1 padding0 input-group">
                    <span class="input-group-addon input-default">$</span>
                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.prepaidItemPerDiemAmount" ng-blur="perDiemCalc()" ng-keyup="perDiemCalc()">
                    </div>
                    </div>
                    <div class="row col-sm-12 paddingtop5">
                    <div class="col-sm-8 padding0 paddingtop5">Number of Days</div>
                    <div class="col-sm-4 padding0">

                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.prepaidItemNumberOfDaysCount" only-digits maxlength="3" ng-blur="perDiemCalc()" ng-keyup="perDiemCalc()">
                    </div>
                    </div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>

		        	<select class="form-control padding0" 
		        	    ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		            </select> 
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList track by $index" ng-if="prepaidsList.prepaidItemType =='CountyPropertyTax'">
		        <td>
		        	<span class="LabelValue col-sm-12">Property Taxes</span>
		        </td>
		        <td><span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" only-digits maxlength="3" ng-blur="prepaidPerMonth(prepaidsList.prepaidItemType,$index)">
		        	</div>	
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
              <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList track by $index" ng-if="prepaidsList.prepaidItemType!='HomeownersInsurancePremium' && prepaidsList.prepaidItemType!='MortgageInsurancePremium' && prepaidsList.prepaidItemType!='PrepaidInterest' && prepaidsList.prepaidItemType!='CountyPropertyTax'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
		        </td>
		        <td>
		            <select class="LabelValue form-control" ng-model="prepaidsList.prepaidItemType" ng-change="updateSectionFprepaidTypes(prepaidsList.prepaidItemType, $index)">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidType in prepaidItems" ng-disabled="prepaidType.disabled" value="{{prepaidType.value}}">{{prepaidType.name}}</option>
		        	</select>
		        	<span ng-show="prepaidsList.prepaidItemType =='Other'">
	              		<span class="margin10t padding5t col-sm-5 padding0">Description
	              		<help-verbiage name="LE_SectionFPrepaidTypeOtherDescription_help" title="help_tooltip_text"></help-verbiage>
					</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
			        </span>
		        </td>
		        <td>
		        	<div class="input-group">
						
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemMonthsPaidCount" only-digits maxlength="3">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		           <span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deletePrepaidInfo(prepaidsList.prepaidItemType,$index)"></span>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidList(prepaidsList.prepaidItemType,$index)"></span>
		        </td>
		      </tr>
		</table>

		<span class="AddSection margintop0" ng-click="addprepaidsList()">
			<a>+ Add Additional Prepaid Items</a>
		</span>
		<help-verbiage name="LE_SectionFAdditionalLinesAdd_help" title="help_tooltip_text"></help-verbiage>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="4" id="sectionG_Ecsrow">Section G. Initial Escrow Payment At Closing
				<help-verbiage name="LE_SectionGSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.escrowItemsTotalAmount | number:2}}
				<help-verbiage name="LE_SectionGSectionTotalAmountPaid_help" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-3">Escrow Item Label
		        <help-verbiage name="LE_SectionGEscrowItemLabel_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-2">Escrow Type
		        <help-verbiage name="LE_SectionGEscrowType_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-1">Amount Per Month
		        <help-verbiage name="LE_SectionGAmountPerMonth_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-1">Number of Months
		        <help-verbiage name="LE_SectionGNoOfMonth_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		        <th class="innerSectionHeader col-sm-1">Include in APR?
		        <help-verbiage name="LE_SectionGIncludeAPRCalculation_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-1">Delete 
		        <help-verbiage name="LE_SectionGTrashSymbol_help" title="help_tooltip_text"></help-verbiage>
				/ <br> Clear <help-verbiage name="LE_SectionGTrashClear_help" title="help_tooltip_text"></help-verbiage>
				</th>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType:'HomeownersInsurance'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Homeowners Insurance</span>
		        </td>
		        <td>
		            <span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" ng-blur="amountPerMonth('0')" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td >
		        	<div class="input-group">
						
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" ng-blur="amountPerMonth('0')" only-digits maxlength="3">
		        	</div>	
		        </td>
		        
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('0')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType:'MortgageInsurance'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Mortgage Insurance</span>
		        </td>
		       <td>
		            <span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format ng-blur="amountPerMonth('1')">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<input type="text" class="form-control padding0" name="" only-digits name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3" ng-blur="amountPerMonth('1')">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('1')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType: 'CountyPropertyTax'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Property Taxes</span>
		        </td>
		       <td><span class="text-center paddingleft75">---</span>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format ng-blur="amountPerMonth('2')">
		        	</div>
		        </td>
		        <td>
		        <div class="input-group">
					
		        	<input type="text" class="form-control padding0" name="" only-digits ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3" ng-blur="amountPerMonth('2')">
		        </div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('2')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList track by $index" ng-if="escrowItemsList.escrowItemType != 'HomeownersInsurance' && escrowItemsList.escrowItemType != 'MortgageInsurance' && escrowItemsList.escrowItemType != 'CountyPropertyTax'">
		        <td>
		            
		        	<span class="LabelValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.displayLabel">
		        	</span>
		        </td>
		         <td>
		            <!-- <span class="LabelText col-sm-10">Type</span> -->
		        	<select class="form-control padding0" ng-model="escrowItemsList.escrowItemType" ng-change="updateSectionGescrowTypes(escrowItemsList.escrowItemType,$index)">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes" ng-disabled="escrowItemType.disabled" value="{{escrowItemType.value}}">{{escrowItemType.name}}</option>
		        	</select>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format ng-blur="amountPerMonth($index)">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3" only-digits ng-blur="amountPerMonth($index)">
		        	</div>
		        </td>
		        
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteEscrowsList(escrowItemsList.escrowItemType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrowsList(escrowItemsList.escrowItemType,$index)"></span>
		        </td>
		      </tr>
		</table>
		<span class="AddSection margintop0" ng-click="addescrowItemsList()">
			<a>+ Add Additional Escrow Items</a>
		</span>
		<help-verbiage name="LE_SectionGAdditionalLinesAdded_help" title="help_tooltip_text"></help-verbiage>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section H. Other	
				<help-verbiage name="LE_SectionHSectionHeaderName_help" title="help_tooltip_text"></help-verbiage>
				</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="1">${{leformdata.closingCostDetailsOtherCosts.otherTotalAmount | number:2}}
				<help-verbiage name="LE_SectionHSectionTotalAmountPaid_help" title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-4">Fee Label
		        <help-verbiage name="LE_SectionHSectionFeelabelName_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-3">Fee Type
		        <help-verbiage name="LE_SectionHSectionFeeType_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
                <th class="innerSectionHeader col-sm-1">Include in APR?
                <help-verbiage name="LE_SectionHSectionAPRCalculation_help" title="help_tooltip_text"></help-verbiage>
				</th>
		        <th class="innerSectionHeader col-sm-1">Delete <help-verbiage name="LE_SectionHSectionTrashSymbol_help" title="help_tooltip_text"></help-verbiage>
				/ <br> Clear <help-verbiage name="LE_SectionHSectionClearSymbol_help" title="help_tooltip_text"></help-verbiage>
				</th>
		      </tr>
		      <tr ng-repeat="otherCostsList in leformdata.closingCostDetailsOtherCosts.otherCostsList track by $index">
		        <td>
		        	<span class="ValueValue col-sm-10">
			        	
			        	<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.displayLabel">
		        	</span>
		        </td>
		        <td>
		        	<span class="LabelValue col-sm-10" >
			        	<select class="form-control padding0" ng-model="otherCostsList.feeType" ng-change="updateSectionHfeeTypes(otherCostsList.feeType, $index)">
			        		<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionHfeeTypes" ng-disabled="feeType.disabled" value="{{feeType.value}}">{{feeType.name}}</option>
			        	</select>
		        	</span>
		        	<span ng-show="otherCostsList.feeType=='Other'">
	              		<span class="ValueText col-sm-10">Description
	              		<help-verbiage name="LE_SectionHSectionFeeTypeOtherDescription_help" title="help_tooltip_text"></help-verbiage>
					</span>
			        	<input type="text" class="form-control padding0" name="" name="otherCostsList.feeTypeOtherDescription">
		        	</span>
		        </td>
		        <td>
		       		<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.feeEstimatedTotalAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		            <span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteOthers(otherCostsList.feeType,$index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearOthers(otherCostsList.feeType,$index)"></span>
		        </td>
		      </tr>
		</table>
		<span class="AddSection margintop0" ng-click="addotherCostsList()">
			<a>+ Add Additional Fee</a>
		</span>
		<help-verbiage name="LE_SectionHSectionAddLinesAdded_help" title="help_tooltip_text"></help-verbiage>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>
	<span  class="col-sm-10 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" style="width:77%;">Section I. Total Other Costs (E + F + G + H) 
				
				</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center" >${{leformdata.closingCostDetailsOtherCosts.totalOtherCostsTotalAmount | number:2 }}
				
				</th>
			  </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('LoanCosts')">Back</a></span>
			<!-- <span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('EscrowAccount')">Next</a></span>  -->
			<span class="pull-right">
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator==true" ng-click="changeTab('projectedPayments')">Next</a>
				<a class="btn btn-primary" ng-show="leformdata.loanDetail.interestRateIncreaseIndicator!=true" ng-click="changeTab('projectedPayments')">Next</a>
			</span>
	</div>
</div>