<div class="col-sm-12">
	<h4> Other Costs</h4>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="1">Section E. Taxes and Other Government Fees</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="3">${{leformdata.closingCostDetailsOtherCosts.tOGovtFeesTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label</th>
		        <th class="innerSectionHeader col-sm-2">Amount</th>
		        <!-- <th class="innerSectionHeader col-sm-1">Borrower Paid AT Closing</th>
		        <th class="innerSectionHeader  col-sm-1">Borrower Paid BEFORE Closing</th>
		        <th class="innerSectionHeader" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">Seller Paid AT Closing</th>
		        <th class="innerSectionHeader" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">Seller Paid BEFORE Closing</th>
		        <th class="innerSectionHeader">Paid By OTHER</th>
		        <th class="innerSectionHeader">Paid By Lender</th> -->
		        <th class="innerSectionHeader col-sm-2">Include in APR?</th>
		        <th class="innerSectionHeader col-sm-2">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="tOGovtFee in leformdata.closingCostDetailsOtherCosts.tOGovtFeesList" ng-if="tOGovtFee.feeType == 'RecordingFee'">		      	
		        <td>
		        	<span class="col-sm-12 margin5tb padding0">Recording Fees and Other Taxes</span>
		        </td> 
		        <!-- <td>
		        	<span class="col-sm-3 padding0 margin5tb">Type</span>
		        	<span class="col-sm-9">
		        		<select class="form-control padding0" ng-model="tOGovtFee.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	</span>
		        	<span ng-show="tOGovtFee.feePaidToType=='Other'">
		        	<span class="col-sm-12 margin5tb padding0">Description</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control" ng-model="tOGovtFee.feePaidToTypeOtherDescription"> 
			        	</span>
			        </span>
		        </td> -->
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.bpAtClosing" decimal-digits-with-number-format>
			        </div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.bpB4Closing" decimal-digits-with-number-format>
			        </div>
		        </td> -->
		        <!-- <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.spAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.spB4Closing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.paidByOthers" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="tOGovtFee.lenderStatus">
		        </td> -->
		        <td>
		        <select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        </select>
		        </td>
		        <td>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearRecordings()"></span>
		      	</td>
		      </tr>
		      <tr ng-repeat="tOGovtFee in leformdata.closingCostDetailsOtherCosts.tOGovtFeesList" ng-show="tOGovtFee.feeType !='RecordingFeeForDeed' && tOGovtFee.feeType!='RecordingFeeForMortgage' && tOGovtFee.feeType!='RecordingFeeTotal' && tOGovtFee.feeType!='RecordingFee'">		         
		        <td>
		            <span class="col-sm-12 margin5tb padding0" ng-show="tOGovtFee.feeType =='TransferTaxTotal'">Transfer Taxes</span>
		        	<!-- <span class="col-sm-12 margin5tb padding0" ng-show="tOGovtFee.feeType !='TransferTaxTotal'">Label Name</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control" ng-model="tOGovtFee.displayLabel"> 
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Valid Value</span>
		        	<span class="col-sm-12 padding0">
		        		<select class="form-control padding0" ng-model="tOGovtFee.feeType" ng-disabled="tOGovtFee.feeType == 'RecordingFeeTotal'" ng-change="updateSectionEfeeTypes(tOGovtFee.feeType, $index)">
	              		<option value="" selected>Select</option>
	             	    <option ng-repeat="feeType in sectionEfeeTypes track by $index" value="{{feeType.value}}" ng-disabled="feeType.disabled">{{feeType.name}}</option>
              		    </select>
		        	</span>
		        	<span ng-show="tOGovtFee.feeType == 'Other'">
			        	<span class="col-sm-12 margin5tb padding0">Description</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control" ng-model="tOGovtFee.feeTypeOtherDescription"> 
			        	</span>
		        	</span> -->
		        </td>
		        <!-- <td>
		        	<span class="col-sm-3 padding0 margin5tb">Type</span>
		        	<span class="col-sm-9">
		        		<select class="form-control padding0" ng-model="tOGovtFee.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	</span>
		        	<span ng-show="tOGovtFee.feePaidToType == 'Other'">
			        	<span class="col-sm-12 margin5tb padding0">Description</span>
			        	<span class="col-sm-12 padding0">
			        		<input type="text" class="form-control" ng-model="tOGovtFee.feePaidToTypeOtherDescription"> 
			        	</span>
		        	</span>
		        	<span class="col-sm-12 margin5tb padding0">Full Name</span>
		        	<span class="col-sm-12 padding0">
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.feePaidToFullName">
		        	</span>
		        </td> -->
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.bpAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.bpB4Closing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.spAtClosing" decimal-digits-with-number-format>
			        </div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.spB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        <td>
		            <div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        	    <input type="text" class="form-control padding0" name="" ng-model="tOGovtFee.paidByOthers" decimal-digits-with-number-format>
		        	</div>    
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="tOGovtFee.lenderStatus">
		        </td> -->
		        <td>
		        	<select class="form-control padding0" ng-model="tOGovtFee.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		            <span>
		      		<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteOGF($index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear"  ng-click="clearOGF($index)"></span>
		      		</span>
		      	</td>
		      </tr>
		</table>
		<!-- <span class="AddSection" ng-click="addtOGovtFeesList()">
			<a>+ Add Additional lines</a>
		</span> -->
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb InsuranceSection"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="4">Section F. Prepaids	</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="2">${{leformdata.closingCostDetailsOtherCosts.prepaidsTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader  col-sm-3">Prepaid Item Label</th>
		        <th class="innerSectionHeader col-sm-2">Prepaid Type</th>
		        <th class="innerSectionHeader  col-sm-2">No.of Months(Except for prepaid interest)</th>
		        <th class="innerSectionHeader  col-sm-2">Amount</th>
		        <!-- <th class="innerSectionHeader" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">Seller Paid AT Closing</th>
		        <th class="innerSectionHeader" ng-show="loanBasicInfo.loanPurposeType == 'purchase'">Seller Paid BEFORE Closing</th>
		        <th class="innerSectionHeader">Paid By OTHER</th>
		        <th class="innerSectionHeader">Paid By Lender</th> -->
		        <th class="innerSectionHeader col-sm-2" >Include in APR?</th>
		        <!-- <th class="innerSectionHeader">Included In Reg Z?</th> -->
		        <th class="innerSectionHeader col-sm-1">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='HomeownersInsurancePremium'">
		        <td>
		            <!-- <span class="col-sm-12 LabelText">Label:</span> -->
		        	<span class="LabelValue col-sm-12 padding0">
		        	   Homeowners Insurance Premium</span>
		        	<!-- <span class="col-sm-12 LabelValue">Homeowners Insurance</span><br>

		        	<span class="col-sm-12 ValueText">Valid Value:</span>
		        	<span class="col-sm-12 LabelValue">Homeowners Insurance Premium</span> -->
		        	<!-- <span clacss="col-sm-12 ValueValue" ng-repeat="prepaidItem in prepaidItems track by $index" ng-if="prepaidsList.prepaidItemType == prepaidItem">{{prepaidItem}}</span> -->
		        </td>
		        <td>
                    <!-- <span class="LabelText col-sm-10">Type:</span>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	<span ng-show="prepaidsList.feePaidToType =='Other'">
		        	<span class="col-sm-12 LabelText">Description:</span>
	              	     	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription">
			        </span>
                    <span class="LabelText col-sm-10">Full Name:</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName"> -->
		        </td>

		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpAtClosing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <!-- <td>
		         	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        	    <input type="text" class="form-control padding0" name="" ng-model="prepaidsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td> -->
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpB4Closing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='MortgageInsurancePremium'">
		        <td>
		            <!-- <span class="LabelText col-sm-12">Label:</span>
		        	<span class="LabelValue col-sm-12 padding0">Mortgage Insurance</span><br>

		        	<span class="ValueText col-sm-12 ">Valid Value:</span> -->
		        	<span class="LabelValue col-sm-12 padding0">Mortgage Insurance Premium</span>
		        	<!-- <span class="ValueValue col-sm-5 " ng-repeat="prepaidItem in prepaidItems track by $index" ng-if="prepaidsList.prepaidItemType == prepaidItem">{{prepaidItem}}</span> -->
		        </td>
		        <td>
                    <!-- <span class="LabelText col-sm-12">Type:</span>
		        	<select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	<span ng-show="prepaidsList.feePaidToType =='Other'">
	              		<span class="margin10t padding5t col-sm-5 padding0">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription">
			        </span>
                    <span class="LabelText col-sm-12">Full Name:</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName"> -->
		        </td>

		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpAtClosing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		         <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		       <!-- <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		            <div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        	    <input type="text" class="form-control padding0" name="" ng-model="prepaidsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>    
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td> -->
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <!-- <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.regulationZPointsAndFeesIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td> -->
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		     <!--  <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList"> -->
		     <tr >
		        <td>
		        	<!-- <span class="LabelText col-sm-12">Label:</span> -->
		        	<span class="LabelValue col-sm-12">Prepaid Interests</span>

		        	<!-- <span class="LabelText col-sm-10">Type:</span>
		        	<select class="form-control col-sm-12 padding0" ng-model="prepaidsList.prepaidItemType" ng-change="updateSectionFprepaidTypes(prepaidsList.prepaidItemType, $index)">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem.value}}" ng-disabled="prepaidItem.disabled">{{prepaidItem.name}}</option>
              		</select>
                    <span ng-show="prepaidsList.feeType =='Other'">
	              		<span class="LabelText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feeTypeOtherDescription">
			        </span> -->
		        </td>
		        <td></td>
		        <td>
		           <div class="row col-sm-12">
                    <div class="col-sm-8 padding0">Per Diem Amount</div>
                    <div class="col-sm-4">
                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.perDiemAmount">
                    </div>
                    </div>
                    <div class="row col-sm-12 paddingtop5">
                    <div class="col-sm-8 padding0 paddingtop5">Number of Days</div>
                    <div class="col-sm-4">
                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.numberOfDays">
                    </div>
                    </div>
                    <div class="row col-sm-12 paddingtop5">
                    <div class="col-sm-8 padding0 paddingtop5">Interest rate %</div>
                    <div class="col-sm-4">
                    <input type="text" class="form-control width50" name="" ng-model="prepaidsList.prepaidInterestRate">
                    </div>
                    </div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpAtClosing" decimal-digits-with-number-format>
		        	</div>	
		        </td> -->
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <!-- <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        	    <input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>    
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		            <div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td> -->
		        <td>
		        	<!-- <select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select> -->
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType =='CountyPropertyTax'">
		        <td>
		        	<!-- <span class="LabelText col-sm-12">Label:</span> -->
		        	<span class="LabelValue col-sm-12">Property Taxes</span>

		        	<!-- <span class="LabelText col-sm-10">Type:</span>
		        	<select class="form-control col-sm-12 padding0" ng-model="prepaidsList.prepaidItemType" ng-change="updateSectionFprepaidTypes(prepaidsList.prepaidItemType, $index)">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem.value}}" ng-disabled="prepaidItem.disabled">{{prepaidItem.name}}</option>
              		</select>
                    <span ng-show="prepaidsList.feeType =='Other'">
	              		<span class="LabelText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feeTypeOtherDescription">
			        </span> -->
		        </td>
		        <td>
                    <!-- <span class="margin5tb col-sm-10">Type:</span> -->
		        	<!-- <select class="form-control padding0" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
                    <span ng-show="prepaidsList.feePaidToType =='Other'">
	              		<span class="margin5tb col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
			        </span>
                    <span class="margin5tb col-sm-10">Full Name:</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName"> -->
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.ptAtClosing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <!-- <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        	    <input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>    
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spB4Closing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td>
		            <div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td> -->
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidInfo($index)"></span>
		        </td>
		      </tr>
              <tr ng-repeat="prepaidsList in leformdata.closingCostDetailsOtherCosts.prepaidsList" ng-if="prepaidsList.prepaidItemType!='HomeownersInsurancePremium' && prepaidsList.prepaidItemType!='MortgageInsurancePremium' && prepaidsList.prepaidItemType!='PrepaidInterest' && prepaidsList.prepaidItemType!='CountyPropertyTax'">
		        <td>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
		        	<!-- <span class="LabelValue col-sm-10"><input type="text" class="form-control padding0" name="" ng-model="prepaidsList.displayLabel"></span>

		        	<span class="ValueText col-sm-10">Type:</span>
              		<select class="form-control col-sm-12 padding0" ng-model="prepaidsList.prepaidItemType" ng-change="updateSectionFprepaidTypes(prepaidsList.prepaidItemType, $index)">
              		<option value="" selected>Select</option>
             			<option ng-repeat="prepaidItem in prepaidItems track by $index" value="{{prepaidItem.value}}" ng-disabled="prepaidItem.disabled">{{prepaidItem.name}}</option>
              		</select>
                    <span ng-show="prepaidsList.prepaidItemType =='Other'">
                    	<span class="margin10t padding5t col-sm-5 padding0">Description:</span>
	              		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidItemTypeOtherDescription" >
			        </span> -->
		        </td>
		        <td>
		            <select class="LabelValue form-control" ng-model="prepaidsList.prepaidItemType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in prepaidItems" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	<span ng-show="prepaidsList.prepaidItemType =='Other'">
	              		<span class="margin10t padding5t col-sm-5 padding0">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
			        </span>
                    <!-- <span class="LabelText col-sm-10">Type:</span>
		        	<select class="LabelValue form-control" ng-model="prepaidsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	<span ng-show="prepaidsList.feePaidToType =='Other'">
	              		<span class="margin10t padding5t col-sm-5 padding0">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.feePaidToTypeOtherDescription" >
			        </span>
                    <span class="ValueText col-sm-10">Full Name:</span>
		        	<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.prepaidPaidToFullName"> -->
		        </td>
		        <td>
		        	<div class="input-group">
						
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpAtClosingMonths" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpAtClosingAmount" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <!-- <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.bpB4Closing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		            <div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        	    <input type="text" class="form-control padding0" name="" ng-model="prepaidsList.spB4Closing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="prepaidsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td class="text-center">
		        	<input type="checkbox" name="" ng-model="prepaidsList.lenderStatus">
		        </td> -->
		        <td>
		        	<select class="form-control padding0" ng-model="prepaidsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		           <span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deletePrepaidInfo($index)"></span>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearPrepaidList($index)"></span>
		        </td>
		      </tr>
		</table>

		<span class="AddSection" ng-click="addprepaidsList()">
			<a>+ Add Additional Prepaid Items</a>
		</span>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>

	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2" id="sectionG_Ecsrow">Section G. Initial Escrow Payment At Closing</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="2">${{leformdata.closingCostDetailsOtherCosts.escrowItemsTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Escrow Item Label</th>
		        <th class="innerSectionHeader  col-sm-2">Escrow Type</th>
		        <th class="innerSectionHeader  col-sm-1">Amount Per Month</th>
		        <th class="innerSectionHeader  col-sm-1">Number of Months</th>
		        <th class="innerSectionHeader">Amount</th>
		        <th class="innerSectionHeader">Include in APR?</th>
		        <th class="innerSectionHeader">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType:'HomeownersInsurance'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Homeowners Insurance</span>
		        </td>
		        <td>
		            
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.hiAtClosingAmountPerMonth" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td >
		        	<div class="input-group">
						
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>	
		        </td>
		        
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		      	    <span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('0')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType:'MortgageInsurance'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Mortgage Insurance</span>
		        	
		        	<!-- <span class="ValueText col-sm-10">Amount Per Month</span>
		        	<span class="ValueValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format></span>
		        	<span class="ValueText col-sm-10">No. of Months</span>
		        	<span class="ValueValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" only-digits name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3"></span> -->
		        </td>
		       <td>
		            
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.miAtClosingAmountPerMonth" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	<div class="input-group">
						<input type="text" class="form-control padding0" name="" only-digits name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('1')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList | filter :{escrowItemType: 'CountyPropertyTax'}">
		        <td>
		        	<span class="LabelValue col-sm-10">Property Taxes</span>
		        	<!-- <span class="ValueText col-sm-10">Valid Value:</span>
		        	<span class="ValueValue col-sm-10">
			        	<select class="form-control" ng-model="escrowItemsList.escrowItemType" ng-change="updateSectionGescrowTypes(escrowItemsList.escrowItemType,$index)">
	              		    <option value="" selected>Select</option>
	             			<option ng-repeat="escrowItemType in escrowItemTypes track by $index" value="{{escrowItemType.value}}" ng-disabled="escrowItemType.disabled">{{escrowItemType.name}}</option>
	              		</select>
              		</span><br>
              		<span  ng-show="escrowItemsList.escrowItemType=='Other'">
	              		<span class="ValueText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemTypeOtherDescription">
		        	</span><br>
		        	<span class="ValueText col-sm-10">Amount Per Month</span>
		        	<span class="ValueValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format></span>
		        	<span class="ValueText col-sm-10">No. of Months</span>
		        	<span class="ValueValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" only-digits name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3"></span> -->
		        </td>
		       <td>
		            <!-- <span class="LabelText col-sm-10">Type</span>
		        	<select class="form-control LabelValue" ng-model="escrowItemsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	<span ng-show="escrowItemsList.feePaidToType =='Other'">
	              		<span class="LabelText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.feePaidToTypeOtherDescription">
			        </span> -->
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.ptAtClosingAmountPerMonth" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <!-- <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		            <div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td ng-show="loanBasicInfo.loanPurposeType == 'purchase'">
		        	
		        </td> -->
		        <td>
		        <div class="input-group">
					
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.ptpaidByOthers" decimal-digits-with-number-format>
		        </div>
		        </td>
		        <!-- <td class="text-center">
		        	<input type="checkbox" name="" ng-model="escrowItemsList.lenderStatus">
		        </td> -->
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.othersAtClosingAmountPerMonth" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrow('2')"></span>
		        </td>
		      </tr>
		      <tr ng-repeat="escrowItemsList in leformdata.closingCostDetailsOtherCosts.escrowItemsList track by $index" ng-if="escrowItemsList.escrowItemType != 'HomeownersInsurance' && escrowItemsList.escrowItemType != 'MortgageInsurance' && escrowItemsList.escrowItemType != 'CountyPropertyTax'">
		        <td>
		            
		        	<span class="LabelValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.displayLabel">
		        	</span>
		        	<!-- <span class="ValueText col-sm-10">Valid Value:</span>
		        	<span class="ValueValue col-sm-10">
			        	<select class="form-control" ng-model="escrowItemsList.escrowItemType" ng-change="updateSectionGescrowTypes(escrowItemsList.escrowItemType,$index)">
	              		    <option value="" selected>Select</option>
	             			<option ng-repeat="escrowItemType in escrowItemTypes track by $index" value="{{escrowItemType.value}}" ng-disabled="escrowItemType.disabled">{{escrowItemType.name}}</option>
	              		</select>
              		</span><br>
              		<span  ng-show="escrowItemsList.escrowItemType=='Other'">
	              		<span class="ValueText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowItemTypeOtherDescription">
		        	</span><br>
		        	<span class="ValueText col-sm-10">Amount Per Month</span>
		        	<span class="ValueValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.escrowMonthlyPaymentAmount" decimal-digits-with-number-format></span>
		        	<span class="ValueText col-sm-10">No. of Months</span>
		        	<span class="ValueValue col-sm-10">
		        	<input type="text" class="form-control padding0" name="" only-digits name="" ng-model="escrowItemsList.escrowCollectedNumberOfMonthsCount" maxlength="3"></span> -->
		        </td>
		         <td>
		            <!-- <span class="LabelText col-sm-10">Type</span> -->
		        	<select class="form-control padding0" ng-model="escrowItemsList.escrowItemType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="escrowItemType in escrowItemTypes" value="{{escrowItemType.value}}">{{escrowItemType.name}}</option>
		        	</select>
		        	<!-- <span ng-show="escrowItemsList.feePaidToType =='Other'">
	              		<span class="LabelText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.feePaidToTypeOtherDescription" >
			        </span> -->
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.bpAtClosingAmountPerMonth" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
		        	<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.spAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="escrowItemsList.paidByOthers" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        
		        <td>
		        	<span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteEscrowsList($index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearEscrowsList($index)"></span>
		        </td>
		      </tr>
		      <!-- <tr>
		        <td>
		            <input type="text" class="form-control padding0" name="">
		        </td>
		        <td>
		        	<div class="input-group">
						<select class="form-control padding0" ng-model="escrowItemsList.feePaidToType">
		        		<option value="" selected>Select</option>
             			<option ng-repeat="feePaidToType in feePaidToTypes" value="{{feePaidToType.value}}">{{feePaidToType.name}}</option>
		        	</select>
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
		        		<input type="text" class="form-control padding0" name="">
		        	</div>
		        </td>
		        <td>
		        	<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="">
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="escrowItemsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		      </tr> -->
		</table>
		<span class="AddSection" ng-click="addescrowItemsList()">
			<a>+ Add Additional Escrow Items</a>
		</span>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>
	<span  class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader" colspan="2">Section H. Other	</th>
				<th class="innerSectionHeader innerSectionMainHeader text-center border_left" colspan="2">${{leformdata.closingCostDetailsOtherCosts.otherTotalAmount | number:2}}</th>
			  </tr>
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Fee Label</th>
		        <th class="innerSectionHeader  col-sm-2">Fee Type</th>
		        <th class="innerSectionHeader  col-sm-1">Amount</th>
                <th class="innerSectionHeader">Include in APR?</th>
		        <th class="innerSectionHeader">Delete / Clear</th>
		      </tr>
		      <tr ng-repeat="otherCostsList in leformdata.closingCostDetailsOtherCosts.otherCostsList">
		        <td>
		        	<span class="ValueValue col-sm-10">
			        	
			        	<input type="text" class="form-control padding0" name="" name="otherCostsList.feeTypeLabelDescription">
		        	</span>
		        </td>
		        <td>
		        	<span class="LabelValue col-sm-10" style="width:132px;">
			        	<select class="form-control padding0" ng-model="otherCostsList.feeType">
			        		<option value="" selected>Select</option>
	             			<option ng-repeat="feeType in sectionHfeeTypes" value="{{feeType.value}}">{{feeType.name}}</option>
			        	</select>
		        	</span>
		        	<span ng-show="otherCostsList.feeType=='Other'">
	              		<span class="ValueText col-sm-10">Description:</span>
			        	<input type="text" class="form-control padding0" name="" name="otherCostsList.feeTypeOtherDescription">
		        	</span>
		        </td>
		        <td>
		       		<div class="input-group">
						<span class="input-group-addon input-default" style="padding: 3px 3px;">$</span>
		        		<input type="text" class="form-control padding0" name="" ng-model="otherCostsList.bpAtClosing" decimal-digits-with-number-format>
		        	</div>
		        </td>
		        <td>
		        	<select class="form-control padding0" ng-model="otherCostsList.paymentIncludedInAPRIndicator"
		        		ng-options="option.id as option.name for option in dropDownBooleanOptions">
		        	</select>
		        </td>
		        <td>
		            <span class="glyphicon glyphicon-trash iconTooltip red margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Close" ng-click="deleteOthers($index)"></span>
		      		<span class="glyphicon glyphicon-refresh iconTooltip margin5tb col-sm-12 padding0 text-center" data-toggle="tooltip" title="Clear" ng-click="clearOthers($index)"></span>
		        </td>
		      </tr>
		</table>
		<span class="AddSection" ng-click="addotherCostsList()">
			<a>+ Add Additional Fee</a>
		</span>
		<span class="LeBackToTop pull-right" ng-click="backToTop()">
			<a>Back to Top</a>
		</span>
	</span>
	<span  class="col-sm-6 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
			  <tr>	  	
				<th class="innerSectionHeader innerSectionMainHeader col-sm-8">Section I. Total Other Costs (Borrower Paid)</th>
				
				<th class="innerSectionHeader innerSectionMainHeader text-center col-sm-4" colspan="2">${{leformdata.closingCostDetailsOtherCosts.totalOtherCostsTotalAmount | number:2 }}</th>
			  </tr>
		      <tr>
		        <td>
		        	Other Costs Subtotal (E + F + G + H)
		        </td>
		        <td class="text-center">
		        	${{leformdata.closingCostDetailsOtherCosts.totalOtherCosts.bpAtClosing | number:2}}
		        </td>
		        <!-- <td class="text-center">
		        	${{leformdata.closingCostDetailsOtherCosts.totalOtherCosts.bpB4Closing  | number:2}}
		        </td> -->
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('LoanCosts')">Back</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('TotalClosingCosts')">Next</a></span>
	</div>
</div>