<div class="col-sm-12">
	<h4>Payoffs and Payments</h4>
	<span  class="col-sm-12 padding0">
        <table class="table LoanCostsSection table-bordered margin5tb"  style="border:0px;">
		      <tr>
		        <th class="innerSectionHeader col-sm-2">Indicate either "Liability" OR "Adjustment"</th>
		        <th class="innerSectionHeader col-sm-2">Item Description</th>
		        <th class="innerSectionHeader col-sm-2">Paid To/By Name </th>
		        <th class="innerSectionHeader">Amount</th>
		        <th class="innerSectionHeader">Liability Secured by the Subject Property?</th>
		        <th class="innerSectionHeader">Is the Liability a partial Payoff?</th>
		        <th class="innerSectionHeader">If Prepayment Penalty, provide  the amount</th>  
		        <th class="innerSectionHeader">Delete / Clear</th> 
		      </tr>
		      <tr ng-repeat="payoffsAndPayment in payoffsAndPaymentsList track by $index">
			        <td>
			        	<span class="col-sm-12 ">
				        	<select class="form-control padding0" ng-model="payoffsAndPayment.payOffType">
		              			<option value="" selected>Select</option>
		              			<option ng-repeat="liabilityOrAdjustment in liabilityOrAdjustments" value="{{liabilityOrAdjustment.value}}" ng-disabled="liabilityOrAdjustment.disabled">{{liabilityOrAdjustment.name}}</option>
		              		</select>
		              	</span>
			        </td>
			        <td>
			        	<span class="col-sm-12 ">
			        		<strong class="col-sm-12 padding0">Label :</strong>
			        		<input type="text" class="form-control" name="" ng-model="payoffsAndPayment.displayLabel">
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<strong class="col-sm-12 padding0">Type :</strong>
		              		<select class="form-control padding0" ng-model="payoffsAndPayment.itemType">
		              			<option value="" selected>Select</option>
		              			<option ng-repeat="lType in liabilityTypesPayoff" value="{{lType.value}}" ng-disabled="lType.disabled" ng-if="payoffsAndPayment.payOffType == 'Liability'">{{lType.name}}</option>
		              			<option ng-repeat="aType in otherCredits" value="{{aType.value}}" ng-disabled="aType.disabled" ng-if="payoffsAndPayment.payOffType == 'Adjustment'">{{aType.name}}</option>
		              		</select>
		              	</span>
		              	<span class="col-sm-12 " ng-show="payoffsAndPayment.itemType=='Other'">
			        		<strong class="col-sm-12 padding0">Description :</strong>
			        		<input type="text" class="form-control" name="" ng-model="payoffsAndPayment.otherDescription" >
		              	</span>
			        </td>
			        <td>
			        	<span class="col-sm-12 ">
			        		<strong class="col-sm-12 padding0">Paid TO Full Name :</strong>
			        		<input type="text" class="form-control padding0" name="" ng-model="payoffsAndPayment.paidToFullName">
		              	</span>
		              	<span class="col-sm-12 margin5tb">
		              		<strong class="col-sm-12 padding0">Paid BY Full Name :</strong>
		              		<input type="text" class="form-control padding0" name="" ng-model="payoffsAndPayment.paidByFullName" ng-disabled="payoffsAndPayment.payOffType=='Liability'">
		              	</span>
			        </td>
			        <td>
			        <div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="payoffsAndPayment.payoffAmount" decimal-digits-with-number-format-allow-negative>
			        </div>
			        </td>
			       <td>
			            <select class="form-control pull-left" ng-model="payoffsAndPayment.securedIndicator" ng-disabled="payoffsAndPayment.payOffType!='Liability'">
			            <option value="" selected>Select</option>
			        	<option  ng-repeat="option in dropDownBooleanOptions" value="{{option.id}}">{{option.name}}</option>
		        	    </select>
			        </td>
			        <td>
			        	<select class="form-control pull-left" ng-model="payoffsAndPayment.payoffPartialIndicator" ng-disabled="payoffsAndPayment.payOffType!='Liability'">
			        	<option value="" selected>Select</option>
			        	<option  ng-repeat="option in dropDownBooleanOptions" value="{{option.id}}">{{option.name}}</option>
		        	    </select>
			        </td>
			        <td>
			        <div class="input-group">
						<span class="input-group-addon input-default">$</span>
			        	<input type="text" class="form-control padding0" name="" ng-model="payoffsAndPayment.prepaymentPenaltyAmount" ng-disabled="payoffsAndPayment.payOffType!='Liability'" decimal-digits-with-number-format>
			        </div>
			        </td>
			        <td>
			            <span class="glyphicon glyphicon-trash iconTooltip red margin5tb" data-toggle="tooltip" title="Close" ng-click="deletePayoff($index)" ng-show="$index!=0"></span>
			        	<span class="glyphicon glyphicon-refresh iconTooltip margin5tb" data-toggle="tooltip" title="Clear" ng-click="clearPayoff($index)"></span>
			        </td>		        
		      </tr>

		</table>
		<span class="AddSection" ng-click="addPayOff()">
			<a>+ Add Additional lines</a>
		</span>		
		<table class="table col-sm-12">
		    <tbody>
		      <tr>
		        <td class="col-sm-5"><label>Total Payoffs and Payments</label></td>
		        <td class="col-sm-2"><label class="ng-binding" ng-model="payoffsAndPaymentsTotalAmount">${{payoffsAndPaymentsTotalAmount | number:2}}</label></td>
		        <td class="col-sm-5"></td>
		      </tr>
		    </tbody>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<!-- <span class="pull-left"><a class="btn btn-default" ng-click="changeTab('CalculatingCashtoClose')">Back</a>
			</span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('LoanDisclosures')">Next</a></span> -->
			<span class="pull-left">
			<a class="btn btn-default" ng-show="loanBasicInfo.loanFormType == 'alternate'" ng-click="changeTab('TotalClosingCosts')">Back</a>
			</span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('CalculatingCashtoClose')">Next</a></span>
	</div>
</div>