<div class="col-sm-12">
	<div class="row col-sm-12">
	    <div class="col-sm-6"><h4>Projected Payments</h4></div>
	    <div class="col-sm-2 margin10t" ><Span class="margin5lr">Lender ID: {{leformdata.loanInformation.loanIdentifiers[0].loanIdentifier}} </span>
	    </div>
	    <div class="col-sm-2 margin10t"><span class="margin5lr">Purpose Type: {{LoanType}} </span></div>

	    <div class="col-sm-2 margin10t padding0"><span class=""> Applicant Last Name: {{leformdata.transactionInformation.borrowerDetails[0].nameModel.lastName.capitalizeFirstLetter() }}</span></div>
  	</div> 
	<span class="col-sm-12 LoanTermsTable">
		<div class="margin5tb projectpaymentAddlink" ng-show="leformdata.projectedPayments.paymentCalculation.length<=3">
			<a class="pull-right cursor" ng-click="addProjectedPayments()">+ Add Additional Columns </a>
		</div>
		<help-verbiage ng-show="leformdata.projectedPayments.paymentCalculation.length<=3" name="LE_AddAdditionalColumnLink_help" title="help_tooltip_text"></help-verbiage>
		<table class="table" style="margin-top:15px;">
		      <tr>
		        <th class="col-sm-3 innerSectionHeader">Payment Calculations</th>
		        <th class="col-sm-2 innerSectionHeader" ng-class="{'col-sm-9': leformdata.projectedPayments.paymentCalculation.length == 1, 'col-sm-4': leformdata.projectedPayments.paymentCalculation.length == 2, 'col-sm-3': leformdata.projectedPayments.paymentCalculation.length == 3, 'col-sm-2': leformdata.projectedPayments.paymentCalculation.length == 4 }"
		        	ng-repeat="paymentCalculation in leformdata.projectedPayments.paymentCalculation track by $index">
		        	<span class="pull-left margin5tb width40" ng-show="paymentCalculation.projectedPaymentCalculationPeriodStartNumber!=paymentCalculation.projectedPaymentCalculationPeriodEndNumber">Year
		        	<help-verbiage name="LE_PPYears_help" title="help_tooltip_text"></help-verbiage></span>
		        	<span class="pull-left margin5tb width40" ng-show="paymentCalculation.projectedPaymentCalculationPeriodStartNumber==paymentCalculation.projectedPaymentCalculationPeriodEndNumber">Year
		        	<help-verbiage name="LE_PPYears_help" title="help_tooltip_text"></help-verbiage></span>
		        	<span class="col-sm-3" style="padding:0 5px;"><input type="text" class="form-control" name="" ng-model="paymentCalculation.projectedPaymentCalculationPeriodStartNumber" style="text-align: center"></span>
		        	<span class="pull-left" style="margin:5px;">-</span>
		        	<span class="col-sm-3" style="padding:0 5px;"><input type="text" class="form-control" name="" ng-model="paymentCalculation.projectedPaymentCalculationPeriodEndNumber" style="text-align: center"></span>
		        	<span class="glyphicon glyphicon-trash iconTooltip red margin5tb pull-right padding0 text-center" title="Delete" ng-show="$index != 0" ng-click="deleteProjectedPayments($index)"></span>
		        </th>
		      </tr>
		      <tr>
		        <td><label>Principal &amp; Interest Payment 
			</label><help-verbiage name="LE_PrincipalandInterestPayment_Help" title="help_tooltip_text"></help-verbiage></td>
		        <td ng-repeat="principalInterest in leformdata.projectedPayments.principalInterest track by $index">
		        	<div class="col-sm-6 padding0" style="padding-right:8px;">
		        			<div class="col-sm-12 text-center" style="position:relative;">Minimum	<span class="pull-right" style="right:-10px; position:absolute; top:-2px;">-</span>
							</div>
		        			<div class="input-group">
  								<span class="input-group-addon input-default" ng-style="{ 'padding' : leformdata.projectedPayments.paymentCalculation.length == 4 ? '3px 6px' : ''}">$</span>
		        				<actualize-input ng-model="principalInterest.projectedPaymentPrincipalAndInterestMinimumPaymentAmount" name="projectedPaymentPrincipalAndInterestMinimumPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                				</actualize-input>
		        			</div>
		        	</div>
		        	<div class="col-sm-6 padding0" style="padding-left: 8px;">
		        			<div class="col-sm-12 text-center">Maximum<span class="required" ng-show="$index==0">*</span></div>
		        			<div class="input-group">
  								<span class="input-group-addon input-default" ng-style="{ 'padding' : leformdata.projectedPayments.paymentCalculation.length == 4 ? '3px 6px' : ''}">$</span>
		        				<!-- <input class="form-control width50" ng-model="principalInterest.projectedPaymentPrincipalAndInterestMaximumPaymentAmount" decimal-digits-with-number-format> -->
		        				<actualize-input ng-model="principalInterest.projectedPaymentPrincipalAndInterestMaximumPaymentAmount" name="projectedPaymentPrincipalAndInterestMaximumPaymentAmount" toolTipPos = "top" custommessage="Please enter a valid dollar amount."  dependencies="decimal-digits-with-number-format">
                				</actualize-input>
		        			</div>
		        	</div>
		        	<div class="col-sm-12 text-center" style="padding:10px;" ng-show="principalInterest.interestOnlyStatus">Only Interest</div>
		        </td>
		      </tr>
		      <tr>
		        <td><label>Mortgage Insurance 
					</label><help-verbiage name="LE_MortagegeInsuranceIsRequired_Help" title="help_tooltip_text"></help-verbiage>
		        
			        <!-- <div class="col-sm-12 padding0 margin5tb">
			        	<span class="col-sm-6 padding0"><b class="boldComma">.</b>Is Required? <span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
					        <b></b>	
					         <span> 
					           	 <p>This information is required for every transaction, must identify if there is MI present in the transaction.</p>
					           	 <ul><li>If NO, then nothing else needs to be done</li>
					           	 <li>If Yes, provide the following information that is found under the Mortgage Insurance Label in the far-left column
					           	 <ul>
					           	 	<li>No. Months Duration?</li>
					           	 	<li>Scheduled Termination Date</li>
					           	 	<li>MI Company Name </li>
					           	 	<li>MI Company Name Description, if other</li>
					           	 </ul></li></ul>
					           	 <p>If yes, provide the amount of MI this will drive the need for additional columns due to displaying the amount per change period until the MI is no longer required</p>
					          </span>
					 </span>
					 <span class="required">*</span></span> 
			        	<span class="col-sm-4 pull-left">
			        		<select class="form-control" style="width: 80px;" 
			        		ng-model="leformdata.loanDetail.miRequiredIndicator"
		              		ng-options="option.id as option.name for option in dropDownBooleanOptions">
			        		</select>
			        	</span> 
			        </div>
			        
			        <div ng-show="leformdata.loanDetail.miRequiredIndicator">
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0"><b class="boldComma">.</b> Scheduled Termination Date</span> 
				        	<span class="col-sm-4 pull-left">
				        			<span class="col-sm-10 padding0">
				        				<input type="text" name="ScheduledTermDate" id="ScheduledTermDate" class="form-control calenderInput" uib-datepicker-popup="{{dateFormat}}" ng-model="leformdata.projectedPayments.miSTDate" is-open="isScheduledTermDate" datepicker-options="dateOptions" ng-required="true" min-date="leformdata.projectedPayments.miSTDate" close-text="Close" placeholder="MM/DD/YYYY" disabled/>
				        			</span>
				        			<span class="input-group-btn col-sm-2 padding0">
		      								<button type="button" class="btn btn-default calenderBtn" ng-click="isScheduledTermDate = !isScheduledTermDate"><i class="glyphicon glyphicon-calendar"></i></button>
		      						</span>
								</span>  
				        	 
				        </div>
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0"><b class="boldComma">.</b> MI Monthly Amount</span> 
				        	<span class="col-sm-4 input-group paddingleft13">
				        	<span class="input-group-addon input-default">$</span>
				        		<input type="text" class="form-control" name="" ng-model="leformdata.miDataDetail.miMonthlyAmount">
				        	</span> 
				        </div>
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0"><b class="boldComma">.</b> MI 1<sup>st</sup> Factor Percentage</span> 
				        	<span class="col-sm-4 input-group paddingleft13">
				        		<input type="text" class="form-control" name="" ng-model="leformdata.miDataDetail.miFirstFactorPercentage">
				        		<span class="input-group-addon input-default">%</span>
				        	</span> 
				        </div>
				        <div class="col-sm-12 padding0 margin5tb">
				        	<span class="col-sm-6 padding0"><b class="boldComma">.</b> MI 2<sup>nd</sup> Factor Percentage</span> 
				        	<span class="col-sm-4 input-group paddingleft13">
				        	<input type="text" class="form-control" name="" ng-model="leformdata.miDataDetail.miSecondFactorPercentage">
				        	<span class="input-group-addon input-default">%</span>
				        	</span> 
				        </div>
			        </div> -->
		        </td>
		        <td ng-repeat="mortgageInsurance in leformdata.projectedPayments.mortgageInsurance track by $index">
					<div class="input-group">
						<span class="input-group-addon input-default">$</span>
						<input type="text" class="form-control" name="" ng-model="mortgageInsurance.projectedPaymentMIPaymentAmount" decimal-digits-with-number-format>
					</div>
  				</td>
		      </tr>
		      <tr>
		        <td><label>Escrow Payment Amount
				</label> <help-verbiage name="LE_EscrowPaymentAmount_help" title="help_tooltip_text"></help-verbiage>
		        </td>
		        <td ng-repeat="estimatedEscrow in leformdata.projectedPayments.estimatedEscrow track by $index">
		        	<div class="input-group">
	  					<span class="input-group-addon input-default">$</span>
			        	<input class="form-control" ng-model="estimatedEscrow.projectedPaymentEstimatedEscrowPaymentAmount" decimal-digits-with-number-format>
			        </div>
		        </td>
		      </tr>
		      <tr>
		      <td>
		        	<label><span class="pull-left margin5tb">Estimated Total</span><help-verbiage name="Le_EstimatedTotalMonthlyPaymentAmount_help" title="help_tooltip_text"></help-verbiage>
			        		<!-- <select class="form-control"
			        		ng-model="leformdata.projectedPayments.paymentFrequencyType">
				        		<option value="" selected>Select</option>
			              		<option ng-repeat="frequency in paymentFrequencyTypes" value="{{frequency.value}}">{{frequency.name}}</option>
			        		</select> -->
			        		<select class="form-control" 
				        		ng-model="leformdata.projectedPayments.paymentFrequencyType" 
				        		ng-init=" leformdata.projectedPayments.paymentFrequencyType = paymentFrequencyTypes[3].name"  ng-options="frequency.value as frequency.name for frequency in paymentFrequencyTypes">
				        		</select>
			        	<span class="pull-left margin5tb">Payment Amount</span>
			        	
			        	</label>
		        </td>
		        <!-- <td>
		        	<label>Estimated Total  Payment Amount
		        	<span class="glyphicon glyphicon-question-sign helpIcon marginTop0 tooltip-msg" ng-mouseouver>
					        <b></b>	
					         <span>  
					           	 <p>Every Column will have a total for both the minimum amount and the maximum amount, this is not an editable field and the system provides the value to the user in the user interface.</p>
					          </span>
					 </span>
					</label> 
		        </td> -->
		        <td ng-repeat="estimatedTotal in leformdata.projectedPayments.estimatedTotal track by $index">
		        	<div class="col-sm-6">
		        			<div class="col-sm-12 text-center paddingleft2">Minimum</div>
		        			<div class="text-center" ng-show="estimatedTotal.projectedPaymentEstimatedTotalMinimumPaymentAmount!=''">
  							${{estimatedTotal.projectedPaymentEstimatedTotalMinimumPaymentAmount | number:2}}
		        			</div>
		        			<div class="text-center" ng-show="estimatedTotal.projectedPaymentEstimatedTotalMinimumPaymentAmount==''">
  								--
		        			</div>
		        	</div>
		        	<div class="col-sm-6">
		        			<div class="col-sm-12 text-center paddingleft2">Maximum<span class="required" ng-show="$index==0">*</span></div>
		        			<div class="text-center">
							${{estimatedTotal.projectedPaymentEstimatedTotalMaximumPaymentAmount | number:2}}
		        			</div>
		        	</div>	
		        </td>
		      </tr>
		</table>
	</span>
	<div class="col-sm-12 margin10t">
			<span class="pull-left"><a class="btn btn-default" ng-click="changeTab('OtherCosts')">Back</a></span>
			<span class="col-sm-10" style="text-align:center;"><a class="btn btn-success" ng-click="calculatePayments()">Calculate</a></span>
			<span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('ETIAssessments')">Next</a></span>
	</div>
</div>