 
<div class="col-sm-12 col-md-12 collg-12">
	<h4>Total Closing Costs</h4>
    <span class="col-sm-12 padding0">
		<table class="table LoanCostsSection table-bordered margin5tb" style="border:1px;">
			  <tbody>
              <tr>
                <th style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader" colspan="1"><strong>Section J. Total Closing Costs</strong>
                	<help-verbiage name="LE_SectionJHeaderName_help" 
                	title="help_tooltip_text"></help-verbiage>
                </th>	  	
				<th style="border:1px solid white;" class="innerSectionHeader innerSectionMainHeader" colspan="1"> ${{leformdata.closingCostsTotal.totalClosingCosts | number:2}}
				<help-verbiage name="LE_SectionJTotalAmount_help" 
                	title="help_tooltip_text"></help-verbiage>
				</th>
			  </tr>
               <tr>
                <td  class="  text-center"><strong>Closing Costs Subtotal (D + I)</strong> 
                <help-verbiage name="LE_SectionJSubSectionHeaderName_help" 
                	title="help_tooltip_text"></help-verbiage>
				</td>
				<td style="width: 12.5%;" class="text-center">${{leformdata.closingCostsTotal.closingCostsSubtotal.paidByOthers | number:2}}</td>
			  </tr>
              <tr>
                <td class="text-center"><strong>Lender Credits</strong>
				</td>	  	
				<td  class="text-center">
					<span class="margin5tb col-sm-12 padding0">
						<div class="input-group">
							<span class="input-group-addon input-default" style="color: red;">$ -</span>

							<input type="text" class="form-control padding0" name="" ng-model="leformdata.closingCostsTotal.lenderCredits" negative-digits >
							<help-verbiage name="LE_SectionJLenderCredits_help" title="help_tooltip_padding_left"></help-verbiage>
						</div>

					</span>
					
				</td>
              </tr>
		</tbody></table>		
	</span>

	<div class="col-sm-12 margin10t">
			<span class="pull-left">
	 		<a class="btn btn-default" ng-click="changeTab('ETIAssessments')">Back</a></span>
			<span class="pull-right">
			<a class="btn btn-primary" ng-show="loanBasicInfo.loanFormType == 'alternate'" ng-click="changeTab('PayoffsAndPayments')">Next</a>
			<a class="btn btn-primary" ng-show="loanBasicInfo.loanFormType == 'standard'" ng-click="changeTab('CalculatingCashtoClose')">Next</a>
			</span>
	</div>
</div>




