<div class="col-sm-12">
  <h4>Transaction Information</h4>
  <div class="">
  <div class="col-sm-12 padding0" ng-repeat= "borrower in leformdata.transactionInformation.borrowerDetails track by $index">
    <h5 class="innerSectionHeader">Applicant Information 
      <span style="margin: 0px 0px 0px 108px;" ng-show="$index != 0"><input type="checkbox" name="" ng-model="borrower.checkBorrower" ng-click="sameBorrower($index)"> Same as 1<sup>st</sup> Applicant Address</span>
      <span class="glyphicon glyphicon-trash pull-right red  RemoveSection" ng-click="removeBorrower($index)" ng-show="$index != 0">
     </span>
      <span class="pull-right backtotop" ng-show="$index != 0">
        <span class="glyphicon glyphicon-arrow-up margin5lr"></span>
        <a class = "white cursor" ng-click="backToTop()">Back-to-top</a>
      </span>
      
    </h5>
     <div class="col-sm-6">
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Applicant Classification</div>
            <div class="col-sm-7 radioGroup">
              <input type="radio" name="borrowertype_{{$index}}" ng-model="borrower.type" value="I" ng-click="applicantCheck($index)">
              <label>Individual</label>
              <input type="radio" name="borrowertype_{{$index}}" ng-model="borrower.type" value="O" ng-click="applicantCheck($index)">
              <label>Organization</label>
            </div>
          </div>
          <!-- <div class="row col-sm-12 margin5tb" ng-show="borrower.type=='I'">
            <div class="col-sm-5 fieldTitle">Applicant Type</div>
            <div class="col-sm-7">
                <select placeholder="Organization Name"  class="form-control" ng-model="borrower.partyRoleType">
                  <option value="" selected>Select</option>
                  <option ng-repeat="borrowerPartyRoleType in borrowerPartyRoleTypes" value="{{borrowerPartyRoleType.value}}">{{borrowerPartyRoleType.name}}</option>
                </select>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb" ng-show="borrower.type=='I' && borrower.partyRoleType == 'Other'">
            <div class="col-sm-5 fieldTitle">Applicant Type Other Description</div>
            <div class="col-sm-7">
                 <input type="text" class="form-control" ng-model="borrower.partyRoleOtherDescription">
            </div>
          </div> -->
          <div ng-show="borrower.type == 'I'">
            <div class="row col-sm-12 margin5tb">
              <div class="col-sm-5 fieldTitle">Applicant First Name
              </div>
              <div class="col-sm-7 form-group"><input type="text" placeholder="First Name"  class="form-control" ng-model="borrower.nameModel.firstName">
              <help-verbiage name="LE_ApplicantFirstName_help" title="help_tooltip"></help-verbiage>
              </div>
            </div>
            <div class="row col-sm-12 margin5tb">
              <div class="col-sm-5 fieldTitle">Applicant Middle Name</div>
              <div class="col-sm-7 form-group"><input type="text" placeholder="Middle Name"  class="form-control" ng-model="borrower.nameModel.middleName">
              <help-verbiage name="LE_ApplicantMiddleName_help" title="help_tooltip"></help-verbiage></div>
            </div>
            <div class="row col-sm-12 margin5tb">
              <div class="col-sm-5 fieldTitle">Applicant Last Name
                </div>
              <div class="col-sm-7 form-group"><input type="text" placeholder="Last Name"  class="form-control" ng-model="borrower.nameModel.lastName">
              <help-verbiage name="LE_ApplicantLastName_help" title="help_tooltip"></help-verbiage></div>
            </div>
            <div class="row col-sm-12 margin5tb">
              <div class="col-sm-5 fieldTitle">Applicant Suffix
                </div>
              <div class="col-sm-7"><input type="text" class="form-control" ng-model="borrower.nameModel.suffixName">
              <help-verbiage name="LE_ApplicantSuffixName_help" title="help_tooltip"></help-verbiage></div>
            </div>   
          </div>     
          <div ng-show="borrower.type == 'O'">
            <div class="row col-sm-12 margin5tb">
              <div class="col-sm-5 fieldTitle">Applicant Name
              </div>
              <div class="col-sm-7 form-group"><input type="text" class="form-control" placeholder="Applicant Name" ng-model="borrower.nameModel.fullName">
              <help-verbiage name="LE_ApplicantOrganisationName_help" title="help_tooltip"></help-verbiage></div>
            </div>  
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row col-sm-12 margin5tb">
              <div class="col-sm-5 fieldTitle">
              </div>
              <div class="col-sm-7">
                 <span style="margin: 0px 0px 0px 0px;" ><input type="checkbox" id="checkBorrowerpropertyInformation" name="checkBorrowerpropertyInformation" ng-model="leApplicantAddress.slectedPropertyStatus" ng-true-value="true" ng-false-value="false" ng-click="SameAsPropertyInformation()"> Same as Property Information Address </span>
              </div>
          </div> 
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Street Address (Mailing)
              </div>
            <div class="col-sm-7"><input type="text"  class="form-control" ng-model="borrower.address.addressLineText">
            <help-verbiage name="LE_ApplicantStreetAddress_help" title="leftTooltip"></help-verbiage></div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">City (Mailing)
            </div>
            <div class="col-sm-7"><input type="text"  class="form-control" ng-model="borrower.address.cityName">
            <help-verbiage name="LE_ApplicantCityName_help" title="leftTooltip"></help-verbiage></div>
          </div>

          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Country Code (Mailing)</div>
            <div class="col-sm-7">
              <select class="form-control" ng-model="borrower.address.countryCode" ng-change="bcountryChange($index)">
                <option value="" selected>Select</option>
                <option ng-repeat="country in countryCodes" value="{{country.code}}">{{country.code}}</option>
              </select>
              <help-verbiage name="LE_ApplicantCountryCode_help" title="leftTooltip"></help-verbiage>
            </div>
          </div>

          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">State (Mailing)</div>
            <div class="col-sm-7">
              <!-- <select ng-model="borrower.address.stateCode" class="form-control">
                  <option value="" selected>Select</option>
                  <option ng-repeat="state in stateCodes" value="{{state.code}}">{{state.code}}</option>
              </select> -->
              <select ng-model="borrower.address.stateCode" class="form-control">
                  <option value="" selected>Select</option>
                  <option ng-repeat="usstate in usstateCodes" value="{{usstate.code}}" ng-if="borrower.address.countryCode == 'US'">{{usstate.code}}</option>
                  <option ng-repeat="canadastate in canadaStateCodes" value="{{canadastate.code}}" ng-if="borrower.address.countryCode == 'CA'">{{canadastate.code}}</option>
              </select>
              <help-verbiage name="LE_ApplicantStateCode_help" title="leftTooltip"></help-verbiage>
            </div>
          </div>
          <div class="row col-sm-12 margin5tb">
            <div class="col-sm-5 fieldTitle">Postal Code (Mailing)</div>
            <div class="col-sm-7">
              <actualize-input   name="postalCode" ng-model="borrower.address.postalCode" toolTipPos = "top" custommessage="Must be a 5 or 9 digit value"  dependencies="zipcode-format"></actualize-input>
              <help-verbiage name="LE_ApplicantPostalCode_help" title="leftTooltip"></help-verbiage>
            </div>
          </div>
        </div>
  </div> 
   <div class="col-sm-12" ng-show="leformdata.transactionInformation.borrowerDetails.length<10">

       <span class="AddSection margintop0" ng-click="addBorrower()">
       <a>+ Add Additional Applicant </a></span> <help-verbiage name="LE_AddAdditionalApplicantslink_help" title="help_tooltip_text"></help-verbiage>
   </div>
 
</div>
  <div class="col-sm-12 margin10t">
      <span class="pull-left"><a class="btn btn-default" ng-click="changeTab('closingInfo')">Back</a></span>
      <span class="pull-right"><a class="btn btn-primary" ng-click="changeTab('loanInfo')">Next</a></span>
  </div>
</div>
<script type="text/javascript">
    $(".helpIcon").tooltip();
  </script>