<div class="bodySection col-sm-12 padding0" style="position: relative; ">
  
<div class="container">
  <h4>General Information</h4>
</div>

<div class="container"> 
    <button type="button" class="pull-left btn btn-info btn-block widthPercent90" data-toggle="collapse" data-target="#LE_DateIssued_Help"  ng-click="LE_DateIssued_Help = LE_DateIssued_Help + 1" ng-init="LE_DateIssued_Help=0" > Date Issued <span class="pull-right glyphicon glyphicon-chevron-right" ng-show="LE_DateIssued_Help%2==0" ></span>
  <span class="pull-right glyphicon glyphicon-chevron-down" ng-show="LE_DateIssued_Help%2==1"></span></button>
<div id="LE_DateIssued_Help" class="collapse widthPercent90">
  In any transaction, the subject property location must be made clear and concise on the Closing Disclosure, thus the user interface provides two options: <br>
    • Street Address <br>
    • Legal Description <br>
  The function requires that a radio button is chosen to indicate one or the other as this field is required.

  </div>
  
</div>
</div>

  