<div id="LoanInformationQ">
		          				<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">E. Taxes and Other Government Fees :</div>
			            			<div class="col-sm-6 fieldTitle">Are there fees for Section E. Taxes and Other Government Fees?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the amount for the recording of the Deed?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the amount for the recording of the Mortgage?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the Total Recording Fee Amount</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the payment being paid by, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>			            				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Are there Transfer Taxes?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Choose from the dropdown to add the type of transfer tax</div>
			            			<div class="col-sm-3 padding0">
				            				<select class="form-control pull-left">
											        		<option>mismo enums</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the label for the fee?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the amount of the fee?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the fee being paid to, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Investor </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Other </label></span>	
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdPartyProvider </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>BrokerAffiliate </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>LenderAffiliate </label></span>		            				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the Full Name of the organization</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the payment being paid by, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>		            				
			            			</div>
			            		</div> 
								<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this payment being paid outside of the closing?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb " style="margin-bottom:15px;">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"></div>
			            			<div class="col-sm-3 padding0 ">
			            				<span class="glyphicon glyphicon-plus"></span> <span style="cursor:pointer;">Add Another Origination Charge</span>
			            			</div>
			            		</div>

			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">F. Prepaids</div>
			            			<div class="col-sm-6 fieldTitle">Is the Homeowners Insurance required to be prepaid?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the number of prepaid months for the Homeowners Insurance</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Input the full name of the organization that is providing the Homeowners Insurance</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is the Mortgage Insurance required to be prepaid?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"> Provide the number of prepaid months for the Mortgage Insurance</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Input the full name of the organization that is providing the Mortgage  Insurance</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Are the Property Taxes required to be prepaid?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the Type of property Taxes, choose from one of the following checkboxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>BoroughPropertyTax</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>CityPropertyTax </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>CountyPropertyTax </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>DistrictPropertyTax </label></span>		
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>StatePropertyTax </label></span>	
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>TownPropertyTax </label></span>	            				
			            			</div>
			            		</div> 
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the number of months in which the Homeowners Insurance is prepaid</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Input the organization's name to which  the property taxes are being prepaid</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Are there other Prepaid Items?</div>
			            			<div class="col-sm-3 padding0">
				            			<select class="form-control pull-left">
											        		<option>list of enums incase</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the number of months in which the Homeowners Insurance is prepaid</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Input the organization's name to which  the property taxes are being prepaid</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb " style="margin-bottom:15px;">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"></div>
			            			<div class="col-sm-3 padding0 ">
			            				<span class="glyphicon glyphicon-plus"></span> <span style="cursor:pointer;">Additional Prepaid Items</span>
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"> G. Initial Escrow Payment At Closing</div>
			            			<div class="col-sm-6 fieldTitle">Is there an escrow account for this transaction?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">IF No, Provide the amount of the Escrow Waiver Fee</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is there "Homeowners Insurance"?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the monthly amount?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">How Many months will be in intial escrow account?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who will be paid the esccrow Payment choose one of the following</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Investor </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Other </label></span>		
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdPartyProvider </label></span>	
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender Affiliate </label></span>	 
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker Affiliate </label></span>	           				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"> Who is Paying the escrow payment?</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>           				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Are there other items Escrowed?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"> What is the monthly amount?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">How Many months will be in intial escrow account?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who will be paid the esccrow Payment choose one of the following</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Investor </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Other </label></span> 
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdPartyProvider </label></span> 
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender Affiliate </label></span> 
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker Affiliate </label></span>           				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is Paying the escrow payment?</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>         				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb " style="margin-bottom:15px;">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"></div>
			            			<div class="col-sm-3 padding0">
			            				<span class="glyphicon glyphicon-plus"></span> <span style="cursor:pointer;">Add Additional Escrows</span>
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">H. Other</div>
			            			<div class="col-sm-6 fieldTitle">Are there fees for Section H. Other?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the fee choose from the drop down.</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>mismo enums</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the label for the fee?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the amount of the fee?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the fee being paid to, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Broker</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Investor </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Other </label></span>  
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdPartyProvider </label></span>  
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>BrokerAffiliate </label></span>  
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>LenderAffiliate </label></span>         				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is the fee being paid to someone other than the Lender?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Provide the Full Name of the organization</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Who is the payment being paid by, choose one of the following check boxes</div>
			            			<div class="col-sm-4 checkboxGroup padding0">
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Buyer</label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Lender </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>Seller </label></span>
			            				<span class="col-sm-6 padding0"><input type="checkbox" name="lienPriority"> <label>ThirdParty </label></span>           				
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this payment being paid outside of the closing?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Is this fee included in the Regualtion Z Points and Fees calculation?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb " style="margin-bottom:15px;">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle"></div>
			            			<div class="col-sm-3 padding0">
			            				<span class="glyphicon glyphicon-plus"></span> <span style="cursor:pointer;">Add Another Other Charges </span>
			            			</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle">Lender Credits</div>
			            			<div class="col-sm-6 fieldTitle">Does this transaction have a Lender Credit?</div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">What is the amount of the Lender Credit?</div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">Does this amount include a Tolernace Cure amount?  </div>
			            			<div class="col-sm-2 padding0">
				            			<select class="form-control pull-left">
											        		<option>YES</option>
											        		<option>NO</option>
											        	</select>
				            		</div>
			            		</div>
			            		<div class="FieldGroup col-sm-12 margin5tb ">
			            			<div class="fontBold col-sm-2 fieldTitle"></div>
			            			<div class="col-sm-6 fieldTitle">IF Yes, provide </div>
			            			<div class="col-sm-3 padding0">
				            			<input type="text" class="form-control" name="">
				            		</div>
			            		</div>

		            		</div>






